In [1]:
import numpy as np 
import matplotlib.pyplot as plt 
import pandas as pd 
import random
import math
import time
from sklearn.model_selection import RandomizedSearchCV, train_test_split
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error, mean_absolute_error
import operator 
import matplotlib.dates as mdates
import matplotlib.ticker as ticker
import datetime
from datetime import date
import operator
from matplotlib import pyplot
#import rpy2 as r
#from tslearn.utils import to_time_series_dataset
#from tslearn.preprocessing import TimeSeriesScalerMinMax
from sklearn import model_selection
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from statsmodels.tsa.stattools import adfuller

In [2]:
#put the files in the same folder with code
confirmed_cases=pd.read_csv('confirmed_cases_total.csv')

In [3]:
deaths_cases=pd.read_csv('deaths_cases_total.csv')

In [4]:
recoveries_cases=pd.read_csv('recoveries_cases_total.csv')

In [5]:
colnames = confirmed_cases.columns.values

In [6]:
colonames = recoveries_cases.columns.values

In [7]:
confirmed = confirmed_cases.loc[:, colnames[4]:colnames[-1]]
deaths = deaths_cases.loc[:, colnames[4]:colnames[-1]]
recoveries = recoveries_cases.loc[:, colonames[4]:colonames[-1]]

In [8]:
time_date = confirmed.columns.values

In [9]:
all_days = np.array([i for i in range(len(time_date))]).reshape(-1, 1)

In [10]:
#pred_days_ahead = 2
#pred_days_ahead = 7
pred_days_ahead = 30
predictions_ahead = np.array([i for i in range(len(time_date)+pred_days_ahead)]).reshape(-1, 1)

predictions_ahead_plus_day = np.array([i for i in range(len(time_date)+pred_days_ahead+1)]).reshape(-1, 1)

In [11]:
start = datetime.datetime.strptime(colnames[4], "%m/%d/%y")
end = datetime.datetime.strptime(colnames[-1], "%m/%d/%y")
predictions_ahead_dates = [start + datetime.timedelta(days=d) for d in range(len(predictions_ahead_plus_day))]

In [12]:
countries=confirmed_cases['Country/Region'].tolist()
province=confirmed_cases['Province/State'].tolist()

In [13]:
confirmed_cases = confirmed_cases[~confirmed_cases['Country/Region'].isin(['Tajikistan', 'Comoros'])]

In [14]:
# def test_stationarity(timeseries):
    
#     #Determing rolling statistics
#     rolmean = timeseries.rolling(12).mean()     
#     rolstd = timeseries.rolling(12).std()
    
#     #Perform Dickey-Fuller test:
#     dftest = adfuller(timeseries, autolag='AIC')
#     dfoutput = pd.Series(dftest[0:4], index=['Test Statistic','p-value','#Lags Used','Number of Observations Used'])
#     for key,value in dftest[4].items():
#         dfoutput['Critical Value (%s)'%key] = value
#     return dfoutput

In [15]:
def inverse_difference(last_ob, value):
    return value + last_ob

In [16]:
# #input timeseries as a dataframe
# def make_stationary(timeseries):
#     #remove zeroes to find the optimal d
#     timeseries=timeseries[timeseries['cases'] != 0]
#     #find the optimal d 
#     diff=timeseries-timeseries.shift(1)
#     for d in range(1,10):
#         if (test_stationarity(diff.dropna())['p-value']<0.1):
#             break
#         else: 
#             d=d+1 
#             diff=diff-diff.shift(1)
#     return d

In [17]:
#df['diff'+str(i)]=df['diff']

In [18]:
def takensEmbedding (data, delay, dimension):
    "This function returns the Takens embedding of data with delay into dimension, delay*dimension must be < len(data)"
    if delay*dimension > len(data):
        raise NameError('Delay times dimension exceed length of data!')    
    embeddedData = np.array([data[0:len(data)-delay*dimension]])
    for i in range(1, dimension):
        embeddedData = np.append(embeddedData, [data[i*delay:len(data) - delay*(dimension - i)]], axis=0)
    return embeddedData;

In [19]:
def prepare_data (region, delay=1 , dimension=31):
    #create a dataframe for timeseries analysis
    date_rng = pd.date_range(start=colnames[4], end=colnames[-1], freq='D') #creates the days
    df = pd.DataFrame(date_rng, columns=['date'])
    df['cases']=np.transpose(region) #this is a dataframe with dates and cases.
#     df = df.set_index('date')
#     timeseries=df[df['cases'] != 0]
#     #find the optimal d 
#     diff=timeseries-timeseries.shift(1)
#     for d in range(1,10):
#         if (test_stationarity(diff.dropna())['p-value']<0.1):
#             break
#         else: 
#             d=d+1 
#             diff=diff-diff.shift(1)
#     for i in range (1,d):
#         i=i+1 
#         diff=diff-diff.shift(1)
#         df['diff'+str(i)]=diff
    #df['diff']=diff #column of the dataframe with the stationary timeseries, might contain Na's!
    df['diff']=df['cases']-df['cases'].shift(1)
    t_diff=(df['diff'].dropna()).to_numpy() 
    timeseries_embedded=np.transpose(takensEmbedding(t_diff,delay,dimension))
    Y_train=timeseries_embedded[:,-1]
    X_train=timeseries_embedded[:,:-1] #keep all apart from the last column
    X_test=t_diff[-(dimension-1):] #predict using as feature the last 'dimension' lags
    return X_train , Y_train, X_test , t_diff

In [20]:
# prepare_data(reg,1,31)

In [21]:
# X_train=prepare_data(reg,1,31)[0]
# Y_train=prepare_data(reg,1,31)[1]
# X_test=prepare_data(reg,1,31)[2]
# t_diff=prepare_data(reg,1,31)[3]

In [22]:
# np.shape(X_train)

In [23]:
# X_test=t_diff[-30:]
# X_test
# pred_days_ahead=2

In [24]:
# predictions=np.zeros(pred_days_ahead)
# for i in range(pred_days_ahead):
#     regressor = RandomForestRegressor(n_estimators = 500, random_state = 42)
#     r=regressor.fit(X_train, Y_train)
#     predictions[i] = regressor.predict(X_test.reshape(1, -1))
#     X_test=np.append(X_test[1:],predictions[i])
#     #in every iteration remove the first element of X_test and add prediction
# predictions

In [25]:
# together=np.append(t_diff,predictions)
# together

In [26]:
# together=np.cumsum(together)
# together

In [27]:
# for i in range(1,d):
#         together=np.cumsum(together)
# together

In [28]:
def predict_with_ML(region, pred_days_ahead, delay=1,dimension=30):
    predictions=np.zeros(pred_days_ahead)
    X_train = prepare_data(region, delay, dimension)[0] 
    Y_train = prepare_data(region, delay, dimension)[1]
    X_test = prepare_data(region, delay, dimension)[2]
    for i in range(pred_days_ahead):
        regressor = RandomForestRegressor(n_estimators = 500, random_state = 42)
        r=regressor.fit(X_train, Y_train)
        predictions[i] = regressor.predict(X_test.reshape(1, -1))
        X_test=np.append(X_test[1:],int(predictions[i])) 
        #in every iteration remove the first element of X_test and add prediction
    predictions #we have to go back to the original scale
    #d = prepare_data(region, delay, dimension)[3]
    t_diff = prepare_data(region, delay, dimension)[3]
    together=np.append(t_diff,predictions)
    #for i in range(1,d):
    together=np.cumsum(together)
    return together #returns an array with all the cases and the predictions (we want the last elements of it)

In [29]:
# x=predict_with_ML(reg,30,1,31)

In [30]:
# pred_days_ahead=30
# x[-pred_days_ahead+6]

In [31]:
# region = confirmed_cases.loc[(confirmed_cases['Country/Region'] == "US") & (pd.isnull(confirmed_cases['Province/State']))]
# reg =  np.array(region.loc[:, colnames[4]:colnames[-1]])
# len(reg[0])

In [32]:
# date_rng = pd.date_range(start=colnames[4], end=colnames[-1], freq='D') #creates the days
# df = pd.DataFrame(date_rng, columns=['date'])
# df['cases']=np.transpose(reg) #this is a dataframe with dates and cases.
# df = df.set_index('date')
# #df=df[df['cases'] != 0] #remove zeroes, they do not help for analysis.
# df

In [33]:
# df['diff']=df['cases']-df['cases'].shift(1)
# df

In [34]:
# def takensEmbedding (data, delay, dimension):
#     "This function returns the Takens embedding of data with delay into dimension, delay*dimension must be < len(data)"
#     if delay*dimension > len(data):
#         raise NameError('Delay times dimension exceed length of data!')    
#     embeddedData = np.array([data[0:len(data)-delay*dimension]])
#     for i in range(1, dimension):
#         embeddedData = np.append(embeddedData, [data[i*delay:len(data) - delay*(dimension - i)]], axis=0)
#     return embeddedData;

In [35]:
# t_diff=(df['diff'].dropna()).to_numpy() 
# np.shape(t_diff) #the function wants as input an array

In [36]:
# timeseries_embedded=np.transpose(takensEmbedding(t_diff,1,11))
# np.shape(timeseries_embedded)

In [37]:
# Y_train=timeseries_embedded[:,-1]
# Y_train

In [38]:
# X_train=timeseries_embedded[:,:-1] #keep all apart from the last column
# X_train

In [39]:
#np.transpose(reg)[-30:].reshape(1,-1)
#X_test=np.transpose(x)[0].reshape(1,-1)
#X_test=np.transpose(t_diff[-30:]).reshape(1,-1)
# X_test=t_diff[-10:]
# X_test

In [40]:
# #regressor = RandomForestRegressor(n_estimators = 500, random_state = 42) 
# regressor =  GradientBoostingRegressor(n_estimators=500, learning_rate=0.1,
#                                             max_depth=1, random_state=0, loss='huber')
# #regressor = SVR(kernel='rbf', C=1 )
# r=regressor.fit(X_train, Y_train)
# predictions = regressor.predict(X_test.reshape(1, -1))

In [41]:
# predictions
# #X_test

In [42]:
# X_test=np.append(X_test[1:],int(predictions))
# #len(X_test)
# X_test

In [43]:
# pred_days_ahead=2
# X_train
# #X_train[:-1,:]

In [44]:
# predictions=np.zeros(pred_days_ahead)
# for i in range(pred_days_ahead):
#     regressor = RandomForestRegressor(n_estimators = 500, random_state = 42)
#     r=regressor.fit(X_train, Y_train)
#     predictions[i] = regressor.predict(X_test.reshape(1, -1))
#     X_test=np.append(X_test[1:],int(predictions[i])) 
#     #in every iteration remove the first element of X_test and add prediction
# predictions

In [45]:
# predictions=np.zeros(pred_days_ahead)
# for i in range(pred_days_ahead):
#     regressor = RandomForestRegressor(n_estimators = 500, random_state = 42)
#     r=regressor.fit(X_train, Y_train)
#     predictions[i] = regressor.predict(X_test)
#     Y_train = Y_train[:-1] #remove the last element of Y_train
#     X_train=X_train[:-1,:] #remove the last row of X_train
# predictions

In [46]:
import operator
def subpopulation_Analysis(cases,country,province, all_days,subpopulation, pred_days_ahead=30):
    
    pred  = list()
    if pd.isnull(province):
        region = cases.loc[(cases['Country/Region'] == country) & (pd.isnull(cases['Province/State']))]
    else :
        region = cases.loc[(cases['Country/Region'] == country) & (cases['Province/State'] == province)]
    print(region)
    
    reg =  np.array(region.loc[:, colnames[4]:colnames[-1]])
    region =  np.array(region.loc[:, colnames[4]:colnames[-1]]).reshape(-1, 1)
        
    #train_x, test_x, train_y, test_y = model_selection.train_test_split(all_days,region,test_size = 0.04,random_state = 42,shuffle=False)
    
    #pred_svm =  SVM_regression(train_x, train_y.ravel(), test_x, test_y, predictions_ahead,subpopulation,all_days,region.ravel())
    #pred.append(pred_svm)
    
    #TODO: a for loop
    daily_increase_threshold1=np.absolute((reg[-1][-1]-reg[-1][-2])/reg[-1][-2])*100
    daily_increase_threshold2=np.absolute((reg[-1][-2]-reg[-1][-3])/reg[-1][-3])*100
    daily_increase_threshold3=np.absolute((reg[-1][-3]-reg[-1][-4])/reg[-1][-4])*100
    daily_increase_threshold4=np.absolute((reg[-1][-4]-reg[-1][-5])/reg[-1][-5])*100
    daily_increase_bound=1000
    daily_increase_threshold = max(daily_increase_threshold1,daily_increase_threshold2,daily_increase_threshold3,daily_increase_threshold4)
    
    if (daily_increase_threshold>daily_increase_bound):
        best_pred_ahead2 = 0 
        best_pred_ahead7 = 0 
        best_pred_ahead30 = 0 
        region = region
        best_pred = 0
        #best_conf_int = np.zeros(2)
        reject_country = 1
        return(best_pred_ahead2,best_pred_ahead7,best_pred_ahead30, region, best_pred, reject_country)
     
    
    pred_arima=predict_with_ML(reg, pred_days_ahead, delay=1,dimension=31)
    #pred.append(pred_svm)
    #pred_RF = RF_regression(train_x, train_y.ravel(), test_x, test_y, predictions_ahead,subpopulation,all_days,region.ravel())
    #pred.append(pred_RF)

    
   # pred_gb =  Grad_Boost_regression(train_x, train_y.ravel(), test_x, test_y, predictions_ahead,subpopulation,all_days,region.ravel())
   # pred.append(pred_gb)


    if (subpopulation == 'confirmed'): 
        if (len(pred_arima)==0):
            min_idx, (min_key, min_val) = min(enumerate(prediction_models_confirmed.items()), key=lambda x: x[1][1])
            best_pred = pred[min_idx]
            #conf_int=np.zeros(2)
        else:
            best_pred=pred_arima
            #conf_int=conf_int
    elif (subpopulation == 'deaths'):
        if (len(pred_arima)==0):
            min_idx, (min_key, min_val) = min(enumerate(prediction_models_deaths.items()), key=lambda x: x[1][1])
            best_pred = pred[min_idx]
            #conf_int=np.zeros(2)
        else:
            best_pred=pred_arima
            #conf_int=conf_int
    else :
        if (len(pred_arima)==0):
            min_idx, (min_key, min_val) = min(enumerate(prediction_models_recoveries.items()), key=lambda x: x[1][1])
            best_pred = pred[min_idx]
            #conf_int=np.zeros(2)
        else:
            best_pred=pred_arima
            #conf_int=conf_int
        
    #print(best_pred)
    #print(type(best_pred))
    best_pred_ahead2 = best_pred[-pred_days_ahead+1]
    #print("gntm2")
    #print(best_pred_ahead2)
    best_pred_ahead7= best_pred[-pred_days_ahead+6]
    #print("gntm7")
    #print(best_pred_ahead7)
    best_pred_ahead30= best_pred[-pred_days_ahead-1]
    #print("gntm30")
    #print(best_pred_ahead30)
    #best_conf_int=conf_int[-1]
   
    #best_conf_int[0]=max(reg[-1][-1], best_conf_int[0])
    #if (best_conf_int[0]>best_conf_int[1]):
        #best_conf_int[1]=2*reg[-1][-1]

    if(best_pred_ahead2<reg[-1][-1]):
        best_pred_ahead2= reg[-1][-1]+2
    
    if(best_pred_ahead7<reg[-1][-1]):
        best_pred_ahead7= reg[-1][-1]+7   
    
    if(best_pred_ahead7<reg[-1][-1]):
        best_pred_ahead7= reg[-1][-1]+30     
    
    reject_country = 0
    
    return best_pred_ahead2,best_pred_ahead7,best_pred_ahead30, region, best_pred, reject_country

In [47]:
pred_file2 = str(2)+"day_prediction_random_forest" +  date.today().strftime('%Y-%m-%d') + ".csv"
pred_file2

'2day_prediction_random_forest2020-05-09.csv'

In [48]:
pred_file7 = str(7)+"day_prediction_random_forest" + date.today().strftime('%Y-%m-%d') + ".csv"
pred_file7

'7day_prediction_random_forest2020-05-09.csv'

In [49]:
pred_file30 = str(30)+"day_prediction_random_forest" + date.today().strftime('%Y-%m-%d') + ".csv"
pred_file30

'30day_prediction_random_forest2020-05-09.csv'

In [51]:
columns = ['Province/State','Country','Target/Date','N','low95N','high95N',
          'R','low95R','high95R','D','low95D','high95D','T','low95T','high95T',
           'M','low95M','high95M','C','low95C','high95C']

            

k = 0
for co in range(len(countries)):
    
    ignore_recoveries = 0    
    
    total_predictions2 = pd.DataFrame(columns = columns)
    total_predictions7 = pd.DataFrame(columns = columns)
    total_predictions30 = pd.DataFrame(columns = columns)
    
    k = k + 1
   
       
    best_pred_confirmed2,best_pred_confirmed7,best_pred_confirmed30, region_con, best_pred_con, reject_country = subpopulation_Analysis(confirmed_cases,countries[co],province[co],
                                                 all_days,"confirmed",pred_days_ahead)
    
    if (reject_country==1):
        print('rejected_conf')
        continue
        
    best_pred_deaths2,best_pred_deaths7,best_pred_deaths30, region_d, best_pred_d, reject_country = subpopulation_Analysis(deaths_cases,countries[co],province[co],
                                              all_days,"deaths",pred_days_ahead)
    if (reject_country==1):
        print('rejected_d')
        continue
        
    if ((countries[co] == 'US' or countries[co] == 'Canada' ) & (pd.notnull(province[co]))):
        ignore_recoveries=1   
    else:
        best_pred_recoveries2,best_pred_recoveries7,best_pred_recoveries30, region_r, best_pred_r, reject_country = subpopulation_Analysis(recoveries_cases,countries[co],province[co],
                                                  all_days,"recoveries",pred_days_ahead)
    
    if (reject_country==1):
        print('rejected_r')
        continue
    
    # Mortality rate
    #if (conf_int_con[0]==0):
       # mort_pred=0
        #mort_pred_low=0
        #mort_pred_up=0
    #else:
    mort_pred2  = best_pred_deaths2/best_pred_confirmed2
    mort_pred7  = best_pred_deaths7/best_pred_confirmed7
    mort_pred30  = best_pred_deaths30/best_pred_confirmed30
        #mort_pred_low= conf_int_d[0]/conf_int_con[1]
        #mort_pred_up=conf_int_d[1]/conf_int_con[0]
    
    #fix province
    province_name=''
    if (pd.notnull(province[co])) :
        province_name=province[co]
    
    if (ignore_recoveries==0):
        R_value2=int(best_pred_recoveries2) 
        R_value7=int(best_pred_recoveries7) 
        R_value30=int(best_pred_recoveries30) 
        #low_R=int(conf_int_r[0])
        #high_R=int(conf_int_r[1])
    else:
        R_value2=''
        R_value7=''
        R_value30=''
        #low_R=''
        #high_R=''
        
    #Critical Cases:
    #Assume that 5% of all cases are critical and need hospitalization:
    serious_percentage=0.05
    critical2=serious_percentage*best_pred_confirmed2
    critical7=serious_percentage*best_pred_confirmed7
    critical30=serious_percentage*best_pred_confirmed30
    #low_critical=serious_percentage*conf_int_con[0]
    #high_critical=serious_percentage*conf_int_con[1]
    
    total_predictions2 = total_predictions2.append({'Province/State': province_name,
                                                'Country': countries[co],
                                                'Target/Date': predictions_ahead_dates[-1].strftime('%Y-%m-%d'), 
                                                'N': int(best_pred_confirmed2) ,
                                                'low95N':'',
                                                'high95N': '',
                                                'R': R_value2 ,
                                                'low95R' : '',
                                                'high95R' : '',
                                                'D': int(best_pred_deaths2) ,
                                                'low95D' : '',
                                                'high95D': '',
                                                'T': '',
                                                'low95T' : '' ,
                                                'high95T' : '',
                                                'M': mort_pred2,
                                                'low95M': '',
                                                'high95M': '' ,
                                                'C': int(critical2) ,
                                                'low95C':  '' ,
                                                'high95C': '' },ignore_index = True)
        
    total_predictions7 = total_predictions7.append({'Province/State': province_name,
                                                'Country': countries[co],
                                                'Target/Date': predictions_ahead_dates[-1].strftime('%Y-%m-%d'), 
                                                'N': int(best_pred_confirmed7) ,
                                                'low95N':'',
                                                'high95N': '',
                                                'R': R_value7 ,
                                                'low95R' : '',
                                                'high95R' : '',
                                                'D': int(best_pred_deaths7) ,
                                                'low95D' : '',
                                                'high95D': '',
                                                'T': '',
                                                'low95T' : '' ,
                                                'high95T' : '',
                                                'M': mort_pred7,
                                                'low95M': '',
                                                'high95M': '' ,
                                                'C': int(critical7) ,
                                                'low95C':  '' ,
                                                'high95C': '' },ignore_index = True)
            
    total_predictions30 = total_predictions30.append({'Province/State': province_name,
                                                'Country': countries[co],
                                                'Target/Date': predictions_ahead_dates[-1].strftime('%Y-%m-%d'), 
                                                'N': int(best_pred_confirmed30) ,
                                                'low95N':'',
                                                'high95N': '',
                                                'R': R_value30 ,
                                                'low95R' : '',
                                                'high95R' : '',
                                                'D': int(best_pred_deaths30) ,
                                                'low95D' : '',
                                                'high95D': '',
                                                'T': '',
                                                'low95T' : '' ,
                                                'high95T' : '',
                                                'M': mort_pred30,
                                                'low95M': '',
                                                'high95M': '' ,
                                                'C': int(critical30) ,
                                                'low95C':  '' ,
                                                'high95C': '' },ignore_index = True)
    
    if (k==1):
        header = True
    else:
        header = False
    
    total_predictions2.to_csv(pred_file2, sep=',',index = False,  mode='a', header = header)
    total_predictions7.to_csv(pred_file7, sep=',',index = False,  mode='a', header = header)
    total_predictions30.to_csv(pred_file30, sep=',',index = False,  mode='a', header = header)

  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
0            NaN    Afghanistan        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
0        0        0        0  ...     1939     2171    2335    2469    2704

   5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
0    2894    3224    3392    3563    3778

[1 rows x 110 columns]
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
0            NaN    Afghanistan        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
0        0        0        0  ...       60       64      68      72      85

   5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
0      90      95     104     106     109

[1 rows x 110 columns]
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
0            NaN    Afghanistan        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
0        0        0        0  ...      252      260     310     331     345

   5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
0     397     421     458     468     472

[1 rows x 110 columns]
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
1            NaN        Albania        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
1        0        0        0  ...      766      773     782     789     795

   5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
1     803     820     832     842     850

[1 rows x 110 columns]
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
1            NaN        Albania        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
1        0        0        0  ...       30       31      31      31      31

   5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
1      31      31      31      31      31

[1 rows x 110 columns]
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
1            NaN        Albania        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
1        0        0        0  ...      455      470     488     519     531

   5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
1     543     570     595     605     620

[1 rows x 110 columns]
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
2            NaN        Algeria        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
2        0        0        0  ...     3848     4006    4154    4295    4474

   5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
2    4648    4838    4997    5182    5369

[1 rows x 110 columns]
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
2            NaN        Algeria        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
2        0        0        0  ...      444      450     453     459     463

   5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
2     465     470     476     483     488

[1 rows x 110 columns]
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
2            NaN        Algeria        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
2        0        0        0  ...     1702     1779    1821    1872    1936

   5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
2    1998    2067    2197    2323    2467

[1 rows x 110 columns]
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
3            NaN        Andorra        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
3        0        0        0  ...      743      745     745     747     748

   5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
3     750     751     751     752     752

[1 rows x 110 columns]
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
3            NaN        Andorra        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
3        0        0        0  ...       42       42      43      44      45

   5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
3      45      46      46      47      47

[1 rows x 110 columns]
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
3            NaN        Andorra        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
3        0        0        0  ...      423      468     468     472     493

   5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
3     499     514     521     526     537

[1 rows x 110 columns]
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
4            NaN         Angola        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
4        0        0        0  ...       27       27      30      35      35

   5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
4      35      36      36      36      43

[1 rows x 110 columns]
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
4            NaN         Angola        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
4        0        0        0  ...        2        2       2       2       2

   5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
4       2       2       2       2       2

[1 rows x 110 columns]
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
4            NaN         Angola        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
4        0        0        0  ...        7        7      11      11      11

   5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
4      11      11      11      11      11

[1 rows x 110 columns]
  Province/State       Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
5            NaN  Antigua and Barbuda        0        0        0        0

   1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  \
5        0        0        0        0  ...       24       24      25      25

   5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
5      25      25      25      25      25      25

[1 rows x 110 columns]
  Province/State       Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
5            NaN  Antigua and Barbuda        0        0        0        0

   1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  \
5        0        0        0        0  ...        3        3       3       3

   5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
5       3       3       3       3       3       3

[1 rows x 110 columns]
  Province/State       Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
5            NaN  Antigua and Barbuda        0        0        0        0

   1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  \
5        0        0        0        0  ...       11       11      15      15

   5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
5      15      15      16      16      16      16

[1 rows x 110 columns]
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
6            NaN      Argentina        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
6        0        0        0  ...     4285     4428    4532    4681    4783

   5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
6    4887    5020    5208    5371    5611

[1 rows x 110 columns]

  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
6            NaN      Argentina        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
6        0        0        0  ...      214      218     225     237     246

   5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
6     260     264     273     282     293

[1 rows x 110 columns]
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
6            NaN      Argentina        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
6        0        0        0  ...     1192     1256    1292    1320    1354

   5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
6    1442    1472    1524    1601    1659

[1 rows x 110 columns]
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
7            NaN        Armenia        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
7        0        0        0  ...     1932     2066    2148    2273    2386

   5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
7    2507    2619    2782    2884    3029

[1 rows x 110 columns]
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
7            NaN        Armenia        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
7        0        0        0  ...       30       32      33      33      35

   5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
7      39      40      40      42      43

[1 rows x 110 columns]
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
7            NaN        Armenia        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
7        0        0        0  ...      900      929     977    1010    1035

   5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
7    1071    1111    1135    1185    1218

[1 rows x 110 columns]
                 Province/State Country/Region  1/22/20  1/23/20  1/24/20  \
8  Australian Capital Territory      Australia        0        0        0

   1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
8        0        0        0        0        0  ...      106      106     106

   5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
8     106     106     107     107     107     107     107

[1 rows x 110 columns]
                 Province/State Country/Region  1/22/20  1/23/20  1/24/20  \
8  Australian Capital Territory      Australia        0        0        0

   1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
8        0        0        0        0        0  ...        3        3       3

   5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
8       3       3       3       3       3       3       3

[1 rows x 110 columns]
                 Province/State Country/Region  1/22/20  1/23/20  1/24/20  \
8  Australian Capital Territory      Australia        0        0        0

   1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
8        0        0        0        0        0  ...      101      103     103

   5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
8     103     103     103     103     103     103     103

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
9  New South Wales      Australia        0        0        0        0

   1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  \
9        3        4        4        4  ...     3016     3025    3030    3035

   5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
9    3033    3035    3042    3044    3047    3051

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
9  New South Wales      Australia        0        0        0        0

   1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  \
9        0        0        0        0  ...       40       41      41      42

   5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
9      42      43      44      44      44      44

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
9  New South Wales      Australia        0        0        0        0

   1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  \
9        0        0        0        0  ...     2284     2293    2293    2306

   5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
9    2328    2349    2418    2463    2486    2504

[1 rows x 110 columns]
        Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
10  Northern Territory      Australia        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  \
10        0        0        0        0  ...       28       28      27      29

    5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
10      29      29      29      29      29      29

[1 rows x 110 columns]
        Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
10  Northern Territory      Australia        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  \
10        0        0        0        0  ...        0        0       0       0

    5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
10       0       0       0       0       0       0

[1 rows x 110 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: RuntimeWarning: invalid value encountered in long_scalars

        Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
10  Northern Territory      Australia        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  \
10        0        0        0        0  ...       25       25      24      24

    5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
10      24      24      26      27      27      27

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
11     Queensland      Australia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
11        0        0        1  ...     1033     1033    1034    1035    1038

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
11    1043    1043    1045    1045    1045

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
11     Queensland      Australia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
11        0        0        0  ...        6        6       6       6       6

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
11       6       6       6       6       6

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
11     Queensland      Australia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
11        0        0        0  ...      943      948     965     976     980

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
11     980     985     989     994    1019

[1 rows x 110 columns]
     Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
12  South Australia      Australia        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  \
12        0        0        0        0  ...      438      438     438     438

    5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
12     438     438     438     438     439     439

[1 rows x 110 columns]
     Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
12  South Australia      Australia        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  \
12        0        0        0        0  ...        4        4       4       4

    5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
12       4       4       4       4       4       4

[1 rows x 110 columns]
     Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
12  South Australia      Australia        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  \
12        0        0        0        0  ...      420      420     422     427

    5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
12     427     427     429     432     433     433

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
13       Tasmania      Australia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
13        0        0        0  ...      219      221     221     221     221

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
13     221     225     226     227     227

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
13       Tasmania      Australia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
13        0        0        0  ...       12       13      13      13      13

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
13      13      13      13      13      13

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
13       Tasmania      Australia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
13        0        0        0  ...      144      153     157     158     164

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
13     165     165     167     174     175

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
14       Victoria      Australia        0        0        0        0        1

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
14        1        1        1  ...     1361     1364    1371    1384    1406

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
14    1423    1440    1454    1467    1468

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
14       Victoria      Australia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
14        0        0        0  ...       18       18      18      18      18

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
14      18      18      18      18      18

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
14       Victoria      Australia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
14        0        0        0  ...     1291     1293    1300    1300    1300

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
14    1311    1321    1322    1327    1327

[1 rows x 110 columns]
       Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
15  Western Australia      Australia        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  \
15        0        0        0        0  ...      551      551     551     551

    5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
15     551     551     551     551     552     552

[1 rows x 110 columns]
       Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
15  Western Australia      Australia        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  \
15        0        0        0        0  ...        8        8       8       8

    5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
15       9       9       9       9       9       9

[1 rows x 110 columns]
       Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
15  Western Australia      Australia        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  \
15        0        0        0        0  ...      507      507     511     520

    5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
15     523     528     528     528     534     534

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
16            NaN        Austria        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
16        0        0        0  ...    15402    15452   15531   15558   15597

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
16   15621   15650   15684   15752   15774

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
16            NaN        Austria        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
16        0        0        0  ...      580      584     589     596     598

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
16     600     606     608     609     614

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
16            NaN        Austria        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
16        0        0        0  ...    12779    12907   13110   13180   13228

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
16   13316   13462   13639   13698   13836

[1 rows x 110 columns]

   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
17            NaN     Azerbaijan        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
17        0        0        0  ...     1766     1804    1854    1894    1932

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
17    1984    2060    2127    2204    2279

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
17            NaN     Azerbaijan        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
17        0        0        0  ...       23       24      25      25      25

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
17      26      26      28      28      28

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
17            NaN     Azerbaijan        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
17        0        0        0  ...     1267     1325    1365    1411    1441

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
17    1480    1508    1536    1551    1576

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
18            NaN        Bahamas        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
18        0        0        0  ...       80       81      81      83      83

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
18      83      89      92      92      92

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
18            NaN        Bahamas        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
18        0        0        0  ...       11       11      11      11      11

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
18      11      11      11      11      11

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
18            NaN        Bahamas        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
18        0        0        0  ...       23       25      24      24      24

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
18      25      26      26      26      31

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
19            NaN        Bahrain        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
19        0        0        0  ...     2921     3040    3170    3284    3383

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
19    3533    3720    3934    4199    4444

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
19            NaN        Bahrain        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
19        0        0        0  ...        8        8       8       8       8

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
19       8       8       8       8       8

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
19            NaN        Bahrain        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
19        0        0        0  ...     1455     1500    1555    1568    1718

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
19    1744    1762    1860    2000    2028

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
20            NaN     Bangladesh        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
20        0        0        0  ...     7103     7667    8238    8790    9455

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
20   10143   10929   11719   12425   13134

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
20            NaN     Bangladesh        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
20        0        0        0  ...      163      168     170     175     177

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
20     182     183     186     199     206

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
20            NaN     Bangladesh        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
20        0        0        0  ...      150      160     174     177    1063

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
20    1209    1403    1403    1910    2101

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
21            NaN       Barbados        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
21        0        0        0  ...       80       81      81      81      82

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
21      82      82      82      82      83

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
21            NaN       Barbados        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
21        0        0        0  ...        7        7       7       7       7

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
21       7       7       7       7       7

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
21            NaN       Barbados        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
21        0        0        0  ...       39       39      39      44      44

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
21      46      47      47      53      53

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
22            NaN        Belarus        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
22        0        0        0  ...    13181    14027   14917   15828   16705

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
22   17489   18350   19255   20168   21101

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
22            NaN        Belarus        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
22        0        0        0  ...       84       89      93      97      99

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
22     103     107     112     116     121

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
22            NaN        Belarus        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
22        0        0        0  ...     2072     2386    2918    3117    3196

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
22    3259    3771    4388    5067    5484

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
23            NaN        Belgium        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
23        0        0        0  ...    47859    48519   49032   49517   49906

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
23   50267   50509   50781   51420   52011

[1 rows x 110 columns]

   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
23            NaN        Belgium        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
23        0        0        0  ...     7501     7594    7703    7765    7844

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
23    7924    8016    8339    8415    8521

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
23            NaN        Belgium        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
23        0        0        0  ...    11283    11576   11892   12211   12309

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
23   12378   12441   12731   12980   13201

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
24            NaN          Benin        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
24        0        0        0  ...       64       64      90      90      90

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
24      96      96      96     140     242

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
24            NaN          Benin        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
24        0        0        0  ...        1        1       2       2       2

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
24       2       2       2       2       2

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
25            NaN          Benin        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
25        0        0        0  ...       33       33      42      42      42

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
25      50      50      50      53      62

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
25            NaN         Bhutan        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
25        0        0        0  ...        7        7       7       7       7

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
25       7       7       7       7       7

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
25            NaN         Bhutan        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
25        0        0        0  ...        0        0       0       0       0

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
25       0       0       0       0       0

[1 rows x 110 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: RuntimeWarning: invalid value encountered in long_scalars

   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
26            NaN         Bhutan        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
26        0        0        0  ...        5        5       5       5       5

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
26       5       5       5       5       5

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
26            NaN        Bolivia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
26        0        0        0  ...     1110     1167    1229    1470    1594

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
26    1681    1802    1886    2081    2266

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
26            NaN        Bolivia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
26        0        0        0  ...       59       62      66      71      76

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
26      82      86      91     102     106

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
27            NaN        Bolivia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
27        0        0        0  ...      117      132     134     159     166

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
27     174     187     198     219     237

[1 rows x 110 columns]
   Province/State          Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
27            NaN  Bosnia and Herzegovina        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  \
27        0        0        0        0  ...     1677     1757    1781    1839

    5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
27    1857    1926    1946    1987    2027    2070

[1 rows x 110 columns]
   Province/State          Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
27            NaN  Bosnia and Herzegovina        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  \
27        0        0        0        0  ...       65       69      70      72

    5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
27      77      78      79      86      90      98

[1 rows x 110 columns]
   Province/State          Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
28            NaN  Bosnia and Herzegovina        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  \
28        0        0        0        0  ...      710      727     755     779

    5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
28     825     855     911     928     954     960

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
28            NaN         Brazil        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
28        0        0        0  ...    79685    87187   92202   97100  101826

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
28  108620  115455  126611  135773  146894

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
28            NaN         Brazil        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
28        0        0        0  ...     5513     6006    6412    6761    7051

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
28    7367    7938    8588    9190   10017

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
29            NaN         Brazil        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
29        0        0        0  ...    34132    35935   38039   40937   42991

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
29   45815   48221   51370   55350   59297

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
29            NaN         Brunei        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
29        0        0        0  ...      138      138     138     138     138

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
29     138     138     139     141     141

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
29            NaN         Brunei        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
29        0        0        0  ...        1        1       1       1       1

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
29       1       1       1       1       1

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
30            NaN         Brunei        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
30        0        0        0  ...      124      124     124     126     128

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
30     130     131     131     131     132

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
30            NaN       Bulgaria        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
30        0        0        0  ...     1447     1506    1555    1594    1618

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
30    1652    1704    1778    1829    1872

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
30            NaN       Bulgaria        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
30        0        0        0  ...       64       66      68      72      73

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
30      78      80      84      84      86

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
31            NaN       Bulgaria        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
31        0        0        0  ...      243      266     276     287     308

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
31     321     342     360     384     401

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
31            NaN   Burkina Faso        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
31        0        0        0  ...      641      645     649     652     662

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
31     672     688     729     736     744

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
31            NaN   Burkina Faso        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
31        0        0        0  ...       43       43      44      44      45

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
31      46      48      48      48      48

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
32            NaN   Burkina Faso        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
32        0        0        0  ...      498      506     517     535     540

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
32     545     548     555     562     566

[1 rows x 110 columns]

   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
32            NaN     Cabo Verde        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
32        0        0        0  ...      114      121     122     152     165

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
32     175     186     191     218     230

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
32            NaN     Cabo Verde        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
32        0        0        0  ...        1        1       1       2       2

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
32       2       2       2       2       2

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
33            NaN     Cabo Verde        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
33        0        0        0  ...        2        4      18      18      33

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
33      37      37      38      38      44

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
33            NaN       Cambodia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
33        1        1        1  ...      122      122     122     122     122

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
33     122     122     122     122     122

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
33            NaN       Cambodia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
33        0        0        0  ...        0        0       0       0       0

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
33       0       0       0       0       0

[1 rows x 110 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: RuntimeWarning: invalid value encountered in long_scalars

   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
34            NaN       Cambodia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
34        0        0        0  ...      119      119     120     120     120

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
34     120     120     120     120     120

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
34            NaN       Cameroon        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
34        0        0        0  ...     1832     1832    1832    2077    2077

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
34    2104    2104    2265    2267    2267

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
34            NaN       Cameroon        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
34        0        0        0  ...       61       61      61      64      64

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
34      64      64     108     108     108

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
35            NaN       Cameroon        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
35        0        0        0  ...      934      934     934     953     953

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
35     953     953    1000    1002    1002

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
35        Alberta         Canada        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
35        0        0        0  ...     5165     5355    5573    5670    5766

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
35    5836    5893    5963    6017    6098

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
35        Alberta         Canada        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
35        0        0        0  ...       87       90      92      94      95

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
35     104     106     112     114     115

[1 rows x 110 columns]
      Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
36  British Columbia         Canada        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  \
36        0        0        1        1  ...     2087     2112    2145    2171

    5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
36    2171    2224    2232    2255    2288    2315

[1 rows x 110 columns]
      Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
36  British Columbia         Canada        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  \
36        0        0        0        0  ...      109      111     112     114

    5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
36     114     117     121     124     126     127

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
37  Grand Princess         Canada        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  \
37        0        0        0        0  ...       13       13      13      13

    5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
37      13      13      13      13      13      13

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
37  Grand Princess         Canada        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  \
37        0        0        0        0  ...        0        0       0       0

    5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
37       0       0       0       0       0       0

[1 rows x 110 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: RuntimeWarning: invalid value encountered in long_scalars

   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
38       Manitoba         Canada        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
38        0        0        0  ...      275      277     281     282     282

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
38     283     284     286     283     284

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
38       Manitoba         Canada        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
38        0        0        0  ...        6        6       6       6       6

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
38       6       7       7       7       7

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
39  New Brunswick         Canada        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
39        0        0        0  ...      118      118     118     118     118

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
39     118     119     120     120     120

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
39  New Brunswick         Canada        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
39        0        0        0  ...        0        0       0       0       0

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
39       0       0       0       0       0

[1 rows x 110 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: RuntimeWarning: invalid value encountered in long_scalars

               Province/State Country/Region  1/22/20  1/23/20  1/24/20  \
40  Newfoundland and Labrador         Canada        0        0        0

    1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  \
40        0        0        0        0        0  ...      258      258

    5/1/20  5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
40     259     259     259     259     259     259     261     261

[1 rows x 110 columns]
               Province/State Country/Region  1/22/20  1/23/20  1/24/20  \
40  Newfoundland and Labrador         Canada        0        0        0

    1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  \
40        0        0        0        0        0  ...        3        3

    5/1/20  5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
40       3       3       3       3       3       3       3       3

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
41    Nova Scotia         Canada        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
41        0        0        0  ...      935      947     959     963     971

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
41     985     991     998    1007    1008

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
41    Nova Scotia         Canada        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
41        0        0        0  ...       28       28      29      31      37

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
41      38      41      41      44      46

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
42        Ontario         Canada        0        0        0        0        1

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
42        1        1        1  ...    16978    17395   17880   18321   18574

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
42   19097   19468   19910   20388   20826

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
42        Ontario         Canada        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
42        0        0        0  ...     1153     1205    1265    1292    1326

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
42    1446    1505    1560    1607    1665

[1 rows x 110 columns]
          Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
43  Prince Edward Island         Canada        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  \
43        0        0        0        0  ...       27       27      27      27

    5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
43      27      27      27      27      27      27

[1 rows x 110 columns]
          Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
43  Prince Edward Island         Canada        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  \
43        0        0        0        0  ...        0        0       0       0

    5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
43       0       0       0       0       0       0

[1 rows x 110 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: RuntimeWarning: invalid value encountered in long_scalars

   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
44         Quebec         Canada        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
44        0        0        0  ...    26610    27550   28656   29664   31873

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
44   32631   33425   34334   35249   36161

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
44         Quebec         Canada        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
44        0        0        0  ...     1762     1859    2022    2136    2206

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
44    2281    2399    2511    2632    2726

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
45   Saskatchewan         Canada        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
45        0        0        0  ...      383      389     415     421     433

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
45     467     487     512     531     544

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
45   Saskatchewan         Canada        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
45        0        0        0  ...        6        7       7       7       7

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
45       7       7       7       7       7

[1 rows x 110 columns]
   Province/State            Country/Region  1/22/20  1/23/20  1/24/20  \
46            NaN  Central African Republic        0        0        0

    1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  \
46        0        0        0        0        0  ...       50       50

    5/1/20  5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
46      72      72      72      85      85      94      94     143

[1 rows x 110 columns]
   Province/State            Country/Region  1/22/20  1/23/20  1/24/20  \
46            NaN  Central African Republic        0        0        0

    1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  \
46        0        0        0        0        0  ...        0        0

    5/1/20  5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
46       0       0       0       0       0       0       0       0

[1 rows x 110 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: RuntimeWarning: invalid value encountered in long_scalars

   Province/State            Country/Region  1/22/20  1/23/20  1/24/20  \
37            NaN  Central African Republic        0        0        0

    1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  \
37        0        0        0        0        0  ...       10       10

    5/1/20  5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
37      10      10      10      10      10      10      10      10

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
47            NaN           Chad        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
47        0        0        0  ...       52       73      73     117     117

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
47     117     170     170     253     260

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
47            NaN           Chad        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
47        0        0        0  ...        2        5       5      10      10

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
47      10      17      17      27      28

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
38            NaN           Chad        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
38        0        0        0  ...       19       33      33      39      39

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
38      39      43      43      50      50

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
48            NaN          Chile        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
48        0        0        0  ...    14885    16023   17008   18435   19663

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
48   20643   22016   23048   24581   25972

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
48            NaN          Chile        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
48        0        0        0  ...      216      227     234     247     260

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
48     270     275     281     285     294

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
39            NaN          Chile        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
39        0        0        0  ...     8057     8580    9018    9572   10041

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
39   10415   10710   11189   11664   12160

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
49          Anhui          China        1        9       15       39       60

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
49       70      106      152  ...      991      991     991     991     991

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
49     991     991     991     991     991

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
49          Anhui          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
49        0        0        0  ...        6        6       6       6       6

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
49       6       6       6       6       6

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
40          Anhui          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
40        0        0        2  ...      985      985     985     985     985

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
40     985     985     985     985     985

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
50        Beijing          China       14       22       36       41       68

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
50       80       91      111  ...      593      593     593     593     593

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
50     593     593     593     593     593

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
50        Beijing          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
50        1        1        1  ...        9        9       9       9       9

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
50       9       9       9       9       9

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
41        Beijing          China        0        0        1        2        2

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
41        2        4        4  ...      542      547     547     547     553

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
41     554     555     557     560     560

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
51      Chongqing          China        6        9       27       57       75

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
51      110      132      147  ...      579      579     579     579     579

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
51     579     579     579     579     579

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
51      Chongqing          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
51        0        0        0  ...        6        6       6       6       6

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
51       6       6       6       6       6

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
42      Chongqing          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
42        0        0        1  ...      573      573     573     573     573

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
42     573     573     573     573     573

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
52         Fujian          China        1        5       10       18       35

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
52       59       80       84  ...      355      356     356     356     356

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
52     356     356     356     356     356

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
52         Fujian          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
52        0        0        0  ...        1        1       1       1       1

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
52       1       1       1       1       1

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
43         Fujian          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
43        0        0        0  ...      353      353     353     353     353

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
43     353     353     354     354     354

[1 rows x 110 columns]

   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
53          Gansu          China        0        2        2        4        7

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
53       14       19       24  ...      139      139     139     139     139

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
53     139     139     139     139     139

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
53          Gansu          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
53        0        0        0  ...        2        2       2       2       2

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
53       2       2       2       2       2

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
44          Gansu          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
44        0        0        0  ...      137      137     137     137     137

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
44     137     137     137     137     137

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
54      Guangdong          China       26       32       53       78      111

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
54      151      207      277  ...     1588     1588    1588    1588    1588

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
54    1588    1588    1589    1589    1589

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
54      Guangdong          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
54        0        0        0  ...        8        8       8       8       8

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
54       8       8       8       8       8

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
45      Guangdong          China        0        2        2        2        2

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
45        4        4        5  ...     1557     1565    1565    1567    1569

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
45    1571    1575    1575    1575    1575

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
55        Guangxi          China        2        5       23       23       36

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
55       46       51       58  ...      254      254     254     254     254

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
55     254     254     254     254     254

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
55        Guangxi          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
55        0        0        0  ...        2        2       2       2       2

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
55       2       2       2       2       2

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
46        Guangxi          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
46        0        2        2  ...      252      252     252     252     252

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
46     252     252     252     252     252

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
56        Guizhou          China        1        3        3        4        5

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
56        7        9        9  ...      147      147     147     147     147

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
56     147     147     147     147     147

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
56        Guizhou          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
56        0        0        0  ...        2        2       2       2       2

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
56       2       2       2       2       2

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
47        Guizhou          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
47        0        0        1  ...      145      145     145     145     145

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
47     145     145     145     145     145

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
57         Hainan          China        4        5        8       19       22

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
57       33       40       43  ...      168      168     168     168     168

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
57     168     168     168     168     168

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
57         Hainan          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
57        1        1        1  ...        6        6       6       6       6

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
57       6       6       6       6       6

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
48         Hainan          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
48        0        0        0  ...      162      162     162     162     162

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
48     162     162     162     162     162

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
58          Hebei          China        1        1        2        8       13

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
58       18       33       48  ...      328      328     328     328     328

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
58     328     328     328     328     328

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
58          Hebei          China        0        1        1        1        1

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
58        1        1        1  ...        6        6       6       6       6

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
58       6       6       6       6       6

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
49          Hebei          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
49        0        0        0  ...      318      318     318     318     318

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
49     320     320     320     320     320

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
59   Heilongjiang          China        0        2        4        9       15

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
59       21       33       38  ...      939      944     944     944     944

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
59     944     944     944     944     944

[1 rows x 110 columns]

   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
59   Heilongjiang          China        0        0        1        1        1

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
59        1        1        1  ...       13       13      13      13      13

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
59      13      13      13      13      13

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
50   Heilongjiang          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
50        0        0        0  ...      587      587     605     604     657

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
50     719     758     793     815     815

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
60          Henan          China        5        5        9       32       83

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
60      128      168      206  ...     1276     1276    1276    1276    1276

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
60    1276    1276    1276    1276    1276

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
60          Henan          China        0        0        0        0        1

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
60        1        1        2  ...       22       22      22      22      22

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
60      22      22      22      22      22

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
51          Henan          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
51        0        0        1  ...     1254     1254    1254    1254    1254

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
51    1254    1254    1254    1254    1254

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
61      Hong Kong          China        0        2        2        5        8

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
61        8        8       10  ...     1037     1037    1039    1039    1039

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
61    1040    1040    1040    1044    1044

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
61      Hong Kong          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
61        0        0        0  ...        4        4       4       4       4

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
61       4       4       4       4       4

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
52      Hong Kong          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
52        0        0        0  ...      830      846     859     864     879

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
52     900     920     932     944     960

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
62          Hubei          China      444      444      549      761     1058

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
62     1423     3554     3554  ...    68128    68128   68128   68128   68128

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
62   68128   68128   68128   68128   68128

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
62          Hubei          China       17       17       24       40       52

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
62       76      125      125  ...     4512     4512    4512    4512    4512

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
62    4512    4512    4512    4512    4512

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
53          Hubei          China       28       28       31       32       42

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
53       45       80       88  ...    63616    63616   63616   63616   63616

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
53   63616   63616   63616   63616   63616

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
63          Hunan          China        4        9       24       43       69

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
63      100      143      221  ...     1019     1019    1019    1019    1019

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
63    1019    1019    1019    1019    1019

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
63          Hunan          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
63        0        0        0  ...        4        4       4       4       4

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
63       4       4       4       4       4

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
54          Hunan          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
54        0        0        0  ...     1015     1015    1015    1015    1015

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
54    1015    1015    1015    1015    1015

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
64  Inner Mongolia          China        0        0        1        7

    1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  \
64        7       11       15       16  ...      200      201     201     201

    5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
64     201     201     201     201     201     201

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
64  Inner Mongolia          China        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  \
64        0        0        0        0  ...        1        1       1       1

    5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
64       1       1       1       1       1       1

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
55  Inner Mongolia          China        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  \
55        0        0        0        0  ...      150      152     154     154

    5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
55     156     160     167     171     172     172

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
65        Jiangsu          China        1        5        9       18       33

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
65       47       70       99  ...      653      653     653     653     653

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
65     653     653     653     653     653

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
65        Jiangsu          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
65        0        0        0  ...        0        0       0       0       0

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
65       0       0       0       0       0

[1 rows x 110 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: RuntimeWarning: invalid value encountered in long_scalars

   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
56        Jiangsu          China        0        0        0        1        1

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
56        1        1        1  ...      648      650     650     650     650

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
56     650     650     651     652     652

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
66        Jiangxi          China        2        7       18       18       36

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
66       72      109      109  ...      937      937     937     937     937

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
66     937     937     937     937     937

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
66        Jiangxi          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
66        0        0        0  ...        1        1       1       1       1

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
66       1       1       1       1       1

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
57        Jiangxi          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
57        2        3        3  ...      936      936     936     936     936

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
57     936     936     936     936     936

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
67          Jilin          China        0        1        3        4        4

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
67        6        8        9  ...      111      111     112     112     112

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
67     112     112     112     113     113

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
67          Jilin          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
67        0        0        0  ...        1        1       1       1       1

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
67       1       1       1       1       1

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
58          Jilin          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
58        0        0        0  ...       99      101     102     102     103

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
58     103     103     103     104     104

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
68       Liaoning          China        2        3        4       17       21

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
68       27       34       39  ...      146      146     146     146     146

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
68     146     146     146     146     146

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
68       Liaoning          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
68        0        0        0  ...        2        2       2       2       2

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
68       2       2       2       2       2

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
59       Liaoning          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
59        0        0        1  ...      143      143     144     144     144

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
59     144     144     144     144     144

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
69          Macau          China        1        2        2        2        5

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
69        6        7        7  ...       45       45      45      45      45

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
69      45      45      45      45      45

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
69          Macau          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
69        0        0        0  ...        0        0       0       0       0

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
69       0       0       0       0       0

[1 rows x 110 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: RuntimeWarning: invalid value encountered in long_scalars

   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
60          Macau          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
60        0        0        0  ...       34       35      35      37      39

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
60      39      39      40      40      40

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
70        Ningxia          China        1        1        2        3        4

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
70        7       11       12  ...       75       75      75      75      75

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
70      75      75      75      75      75

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
70        Ningxia          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
70        0        0        0  ...        0        0       0       0       0

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
70       0       0       0       0       0

[1 rows x 110 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: RuntimeWarning: invalid value encountered in long_scalars

   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
61        Ningxia          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
61        0        0        0  ...       75       75      75      75      75

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
61      75      75      75      75      75

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
71        Qinghai          China        0        0        0        1        1

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
71        6        6        6  ...       18       18      18      18      18

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
71      18      18      18      18      18

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
71        Qinghai          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
71        0        0        0  ...        0        0       0       0       0

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
71       0       0       0       0       0

[1 rows x 110 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: RuntimeWarning: invalid value encountered in long_scalars

   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
62        Qinghai          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
62        0        0        0  ...       18       18      18      18      18

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
62      18      18      18      18      18

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
72        Shaanxi          China        0        3        5       15       22

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
72       35       46       56  ...      306      306     306     306     306

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
72     306     308     308     308     308

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
72        Shaanxi          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
72        0        0        0  ...        3        3       3       3       3

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
72       3       3       3       3       3

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
63        Shaanxi          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
63        0        0        0  ...      253      254     254     255     263

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
63     263     264     266     268     268

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
73       Shandong          China        2        6       15       27       46

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
73       75       95      130  ...      787      787     787     787     788

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
73     788     788     788     788     788

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
73       Shandong          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
73        0        0        0  ...        7        7       7       7       7

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
73       7       7       7       7       7

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
64       Shandong          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
64        0        0        1  ...      772      772     772     772     773

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
64     773     775     775     776     776

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
74       Shanghai          China        9       16       20       33       40

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
74       53       66       96  ...      647      652     652     652     655

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
74     656     656     657     657     657

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
74       Shanghai          China        0        0        0        0        1

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
74        1        1        1  ...        7        7       7       7       7

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
74       7       7       7       7       7

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
65       Shanghai          China        0        0        1        1        1

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
65        3        4        5  ...      597      599     612     612     615

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
65     619     620     620     623     623

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
75         Shanxi          China        1        1        1        6        9

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
75       13       27       27  ...      197      197     197     197     198

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
75     198     198     198     198     198

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
75         Shanxi          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
75        0        0        0  ...        0        0       0       0       0

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
75       0       0       0       0       0

[1 rows x 110 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: RuntimeWarning: invalid value encountered in long_scalars

   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
66         Shanxi          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
66        0        0        1  ...      164      172     172     176     180

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
66     190     193     194     195     195

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
76        Sichuan          China        5        8       15       28       44

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
76       69       90      108  ...      561      561     561     561     561

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
76     561     561     561     561     561

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
76        Sichuan          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
76        0        0        1  ...        3        3       3       3       3

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
76       3       3       3       3       3

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
67        Sichuan          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
67        0        0        1  ...      558      558     558     558     558

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
67     558     558     558     558     558

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
77        Tianjin          China        4        4        8       10       14

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
77       23       24       27  ...      190      190     190     190     190

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
77     190     190     190     190     191

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
77        Tianjin          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
77        0        0        0  ...        3        3       3       3       3

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
77       3       3       3       3       3

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
68        Tianjin          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
68        0        0        0  ...      183      184     185     185     186

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
68     186     186     186     186     186

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
78          Tibet          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
78        0        0        0  ...        1        1       1       1       1

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
78       1       1       1       1       1

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
78          Tibet          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
78        0        0        0  ...        0        0       0       0       0

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
78       0       0       0       0       0

[1 rows x 110 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: RuntimeWarning: invalid value encountered in long_scalars

   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
69          Tibet          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
69        0        0        0  ...        1        1       1       1       1

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
69       1       1       1       1       1

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
79       Xinjiang          China        0        2        2        3        4

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
79        5       10       13  ...       76       76      76      76      76

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
79      76      76      76      76      76

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
79       Xinjiang          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
79        0        0        0  ...        3        3       3       3       3

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
79       3       3       3       3       3

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
70       Xinjiang          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
70        0        0        0  ...       73       73      73      73      73

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
70      73      73      73      73      73

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
80         Yunnan          China        1        2        5       11       16

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
80       26       44       55  ...      185      185     185     185     185

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
80     185     185     185     185     185

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
80         Yunnan          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
80        0        0        0  ...        2        2       2       2       2

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
80       2       2       2       2       2

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
71         Yunnan          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
71        0        0        0  ...      181      181     181     181     181

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
71     181     181     181     182     182

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
81       Zhejiang          China       10       27       43       62      104

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
81      128      173      296  ...     1268     1268    1268    1268    1268

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
81    1268    1268    1268    1268    1268

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
81       Zhejiang          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
81        0        0        0  ...        1        1       1       1       1

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
81       1       1       1       1       1

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
72       Zhejiang          China        0        0        1        1        1

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
72        1        3        3  ...     1263     1264    1265    1265    1265

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
72    1267    1267    1267    1267    1267

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
82            NaN       Colombia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
82        0        0        0  ...     6207     6507    7006    7285    7668

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
82    7973    8613    8959    9456   10051

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
82            NaN       Colombia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
82        0        0        0  ...      278      293     314     324     340

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
82     358     378     397     407     428

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
73            NaN       Colombia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
73        0        0        0  ...     1411     1439    1551    1666    1722

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
73    1807    2013    2148    2300    2424

[1 rows x 110 columns]
   Province/State       Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
83            NaN  Congo (Brazzaville)        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  \
83        0        0        0        0  ...      207      220     229     229

    5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
83     229     236     236     264     264     274

[1 rows x 110 columns]
   Province/State       Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
83            NaN  Congo (Brazzaville)        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  \
83        0        0        0        0  ...        8        9       9       9

    5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
83       9      10      10      10      10      10

[1 rows x 110 columns]
   Province/State       Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
74            NaN  Congo (Brazzaville)        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  \
74        0        0        0        0  ...       19       19      25      25

    5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
74      25      26      26      30      30      33

[1 rows x 110 columns]
   Province/State    Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
84            NaN  Congo (Kinshasa)        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  \
84        0        0        0        0  ...      491      572     604     674

    5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
84     674     682     705     797     863     937

[1 rows x 110 columns]
   Province/State    Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
84            NaN  Congo (Kinshasa)        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  \
84        0        0        0        0  ...       30       31      32      33

    5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
84      33      34      34      35      36      39

[1 rows x 110 columns]
   Province/State    Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
75            NaN  Congo (Kinshasa)        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  \
75        0        0        0        0  ...       59       73      75      75

    5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
75      75      80      90      92     103     130

[1 rows x 110 columns]

   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
85            NaN     Costa Rica        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
85        0        0        0  ...      713      719     725     733     739

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
85     742     755     761     765     773

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
85            NaN     Costa Rica        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
85        0        0        0  ...        6        6       6       6       6

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
85       6       6       6       6       6

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
76            NaN     Costa Rica        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
76        0        0        0  ...      323      338     355     372     386

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
76     399     413     428     445     461

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
86            NaN  Cote d'Ivoire        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
86        0        0        0  ...     1238     1275    1333    1362    1398

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
86    1432    1464    1516    1571    1602

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
86            NaN  Cote d'Ivoire        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
86        0        0        0  ...       14       14      15      15      17

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
86      17      18      18      20      20

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
77            NaN  Cote d'Ivoire        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
77        0        0        0  ...      557      574     597     622     653

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
77     693     701     721     742     754

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
87            NaN        Croatia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
87        0        0        0  ...     2062     2076    2085    2088    2096

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
87    2101    2112    2119    2125    2161

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
87            NaN        Croatia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
87        0        0        0  ...       67       69      75      77      79

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
87      80      83      85      86      86

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
78            NaN        Croatia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
78        0        0        0  ...     1288     1348    1421    1463    1489

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
78    1522    1560    1601    1641    1689

[1 rows x 110 columns]
   Province/State    Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
88            NaN  Diamond Princess        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  \
88        0        0        0        0  ...      712      712     712     712

    5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
88     712     712     712     712     712     712

[1 rows x 110 columns]
   Province/State    Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
88            NaN  Diamond Princess        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  \
88        0        0        0        0  ...       13       13      13      13

    5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
88      13      13      13      13      13      13

[1 rows x 110 columns]
   Province/State    Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
79            NaN  Diamond Princess        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  \
79        0        0        0        0  ...      645      645     645     645

    5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
79     645     645     645     645     645     645

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
89            NaN           Cuba        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
89        0        0        0  ...     1467     1501    1537    1611    1649

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
89    1668    1685    1703    1729    1741

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
89            NaN           Cuba        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
89        0        0        0  ...       58       61      64      66      67

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
89      69      69      69      73      74

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
80            NaN           Cuba        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
80        0        0        0  ...      617      681     714     765     827

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
80     876     954    1001    1031    1078

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
90            NaN         Cyprus        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
90        0        0        0  ...      843      850     857     864     872

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
90     874     878     883     889     891

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
90            NaN         Cyprus        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
90        0        0        0  ...       15       15      15      15      15

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
90      15      15      15      15      15

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
81            NaN         Cyprus        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
81        0        0        0  ...      148      296     296     296     296

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
81     296     296     296     400     400

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
91            NaN        Czechia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
91        0        0        0  ...     7579     7682    7737    7755    7781

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
91    7819    7896    7974    8031    8077

[1 rows x 110 columns]

   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
91            NaN        Czechia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
91        0        0        0  ...      227      236     240     245     248

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
91     252     257     262     270     273

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
82            NaN        Czechia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
82        0        0        0  ...     3108     3314    3372    3461    3587

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
82    3807    4006    4205    4371    4413

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
92  Faroe Islands        Denmark        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
92        0        0        0  ...      187      187     187     187     187

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
92     187     187     187     187     187

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
92  Faroe Islands        Denmark        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
92        0        0        0  ...        0        0       0       0       0

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
92       0       0       0       0       0

[1 rows x 110 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: RuntimeWarning: invalid value encountered in long_scalars

   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
83  Faroe Islands        Denmark        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
83        0        0        0  ...      181      184     184     184     185

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
83     185     185     185     185     187

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
93      Greenland        Denmark        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
93        0        0        0  ...       11       11      11      11      11

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
93      11      11      11      11      11

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
93      Greenland        Denmark        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
93        0        0        0  ...        0        0       0       0       0

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
93       0       0       0       0       0

[1 rows x 110 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: RuntimeWarning: invalid value encountered in long_scalars

   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
84      Greenland        Denmark        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
84        0        0        0  ...       11       11      11      11      11

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
84      11      11      11      11      11

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
94            NaN        Denmark        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
94        0        0        0  ...     9008     9158    9311    9407    9523

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
94    9670    9821    9938   10083   10218

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
94            NaN        Denmark        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
94        0        0        0  ...      443      452     460     475     484

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
94     493     503     506     514     522

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
85            NaN        Denmark        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
85        0        0        0  ...     6366     6546    6729    6889    6987

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
85    7088    7296    7493    7711    7927

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
95            NaN       Djibouti        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
95        0        0        0  ...     1077     1089    1097    1112    1112

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
95    1116    1120    1124    1133    1135

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
95            NaN       Djibouti        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
95        0        0        0  ...        2        2       2       2       2

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
95       2       2       3       3       3

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
86            NaN       Djibouti        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
86        0        0        0  ...      599      642     672     686     686

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
86     713     745     755     799     824

[1 rows x 110 columns]
   Province/State      Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
96            NaN  Dominican Republic        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  \
96        0        0        0        0  ...     6652     6972    7288    7578

    5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
96    7954    8235    8480    8807    9095    9376

[1 rows x 110 columns]
   Province/State      Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
96            NaN  Dominican Republic        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  \
96        0        0        0        0  ...      293      301     313     326

    5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
96     333     346     354     362     373     380

[1 rows x 110 columns]
   Province/State      Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
88            NaN  Dominican Republic        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  \
88        0        0        0        0  ...     1228     1301    1387    1481

    5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
88    1606    1771    1905    1960    2064    2286

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
97            NaN        Ecuador        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
97        0        0        0  ...    24675    24934   26336   27464   29538

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
97   31881   31881   31881   30298   28818

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
97            NaN        Ecuador        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
97        0        0        0  ...      883      900    1063    1371    1564

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
97    1569    1569    1618    1654    1704

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
89            NaN        Ecuador        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
89        0        0        0  ...     1557     1558    1913    2132    3300

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
89    3433    3433    3433    3433    3433

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
98            NaN          Egypt        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
98        0        0        0  ...     5268     5537    5895    6193    6465

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
98    6813    7201    7588    7981    8476

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
98            NaN          Egypt        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
98        0        0        0  ...      380      392     406     415     429

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
98     436     452     469     482     503

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
90            NaN          Egypt        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
90        0        0        0  ...     1335     1381    1460    1522    1562

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
90    1632    1730    1815    1887    1945

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
99            NaN    El Salvador        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
99        0        0        0  ...      377      395     424     446     490

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
99     555     587     633     695     742

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
99            NaN    El Salvador        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
99        0        0        0  ...        9       10      10      11      11

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
99      13      14      15      15      16

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
91            NaN    El Salvador        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
91        0        0        0  ...      106      119     124     141     154

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
91     180     205     219     252     257

[1 rows x 110 columns]

    Province/State     Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
100            NaN  Equatorial Guinea        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
100        0        0        0        0  ...      315      315     315

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
100     315     315     315     315     439     439     439

[1 rows x 110 columns]
    Province/State     Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
100            NaN  Equatorial Guinea        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
100        0        0        0        0  ...        1        1       1

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
100       1       1       3       3       4       4       4

[1 rows x 110 columns]
   Province/State     Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
92            NaN  Equatorial Guinea        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  \
92        0        0        0        0  ...        9        9       9       9

    5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
92       9      13      13      13      13      13

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
101            NaN        Eritrea        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
101        0        0        0        0  ...       39       39      39

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
101      39      39      39      39      39      39      39

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
101            NaN        Eritrea        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
101        0        0        0        0  ...        0        0       0

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
101       0       0       0       0       0       0       0

[1 rows x 110 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: RuntimeWarning: invalid value encountered in long_scalars

   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
93            NaN        Eritrea        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
93        0        0        0  ...       19       26      26      26      26

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
93      26      30      30      30      37

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
102            NaN        Estonia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
102        0        0        0        0  ...     1666     1689    1694

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
102    1699    1700    1703    1711    1713    1720    1725

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
102            NaN        Estonia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
102        0        0        0        0  ...       50       52      52

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
102      53      55      55      55      55      56      56

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
94            NaN        Estonia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
94        0        0        0  ...      236      249     253     256     259

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
94     259     261     264     273     704

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
103            NaN       Eswatini        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
103        0        0        0        0  ...       91      100     106

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
103     108     112     116     119     123     153     159

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
103            NaN       Eswatini        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
103        0        0        0        0  ...        1        1       1

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
103       1       1       1       1       2       2       2

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
95            NaN       Eswatini        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
95        0        0        0  ...       10       12      12      12      12

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
95      12      12      12      12      12

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
104            NaN       Ethiopia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
104        0        0        0        0  ...      130      131     133

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
104     133     135     140     145     162     191     194

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
104            NaN       Ethiopia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
104        0        0        0        0  ...        3        3       3

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
104       3       3       3       4       4       4       4

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
96            NaN       Ethiopia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
96        0        0        0  ...       58       59      66      69      75

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
96      75      91      93      93      95

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
105            NaN           Fiji        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
105        0        0        0        0  ...       18       18      18

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
105      18      18      18      18      18      18      18

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
105            NaN           Fiji        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
105        0        0        0        0  ...        0        0       0

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
105       0       0       0       0       0       0       0

[1 rows x 110 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: RuntimeWarning: invalid value encountered in long_scalars

   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
97            NaN           Fiji        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
97        0        0        0  ...       12       12      12      14      14

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
97      14      14      14      14      14

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
106            NaN        Finland        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
106        0        0        0        1  ...     4906     4995    5051

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
106    5176    5254    5327    5412    5573    5673    5738

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
106            NaN        Finland        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
106        0        0        0        0  ...      206      211     218

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
106     220     230     240     246     252     255     260

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
98            NaN        Finland        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
98        0        0        0  ...     2800     3000    3000    3000    3000

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
98    3500    3500    3500    3500    4000

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
107  French Guiana         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
107        0        0        0        0  ...      125      126     128

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
107     128     128     133     133     138     138     141

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
107  French Guiana         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
107        0        0        0        0  ...        1        1       1

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
107       1       1       1       1       1       1       1

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
99  French Guiana         France        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
99        0        0        0  ...       93       94      98      98      98

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
99     100     100     111     112     119

[1 rows x 110 columns]
       Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
108  French Polynesia         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
108        0        0        0        0  ...       58       58      58

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
108      58      58      58      60      60      60      60

[1 rows x 110 columns]
       Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
108  French Polynesia         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
108        0        0        0        0  ...        0        0       0

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
108       0       0       0       0       0       0       0

[1 rows x 110 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: RuntimeWarning: invalid value encountered in long_scalars

       Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
100  French Polynesia         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
100        0        0        0        0  ...       50       50      51

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
100      51      51      53      54      54      56      56

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
109     Guadeloupe         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
109        0        0        0        0  ...      149      151     152

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
109     152     152     152     152     152     153     154

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
109     Guadeloupe         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
109        0        0        0        0  ...       12       12      12

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
109      12      12      12      12      13      13      13

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
101     Guadeloupe         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
101        0        0        0        0  ...       82       95      95

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
101      95      95      98      98     104     104     104

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
110        Mayotte         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
110        0        0        0        0  ...      460      539     539

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
110     539     650     686     739     739     854     854

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
110        Mayotte         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
110        0        0        0        0  ...        4        4       4

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
110       4       6       6       9       9      10      10

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
103        Mayotte         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
103        0        0        0        0  ...      235      235     235

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
103     235     235     352     352     352     352     352

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
111  New Caledonia         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
111        0        0        0        0  ...       18       18      18

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
111      18      18      18      18      18      18      18

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
111  New Caledonia         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
111        0        0        0        0  ...        0        0       0

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
111       0       0       0       0       0       0       0

[1 rows x 110 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: RuntimeWarning: invalid value encountered in long_scalars

    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
104  New Caledonia         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
104        0        0        0        0  ...       17       17      17

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
104      17      17      17      17      18      18      18

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
112        Reunion         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
112        0        0        0        0  ...      420      420     422

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
112     423     423     424     424     425     427     426

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
112        Reunion         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
112        0        0        0        0  ...        0        0       0

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
112       0       0       0       0       0       0       0

[1 rows x 110 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: RuntimeWarning: invalid value encountered in long_scalars

    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
105        Reunion         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
105        0        0        0        0  ...      300      300     300

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
105     300     300     300     300     300     354     354

[1 rows x 110 columns]
       Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
113  Saint Barthelemy         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
113        0        0        0        0  ...        6        6       6

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
113       6       6       6       6       6       6       6

[1 rows x 110 columns]
       Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
113  Saint Barthelemy         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
113        0        0        0        0  ...        0        0       0

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
113       0       0       0       0       0       0       0

[1 rows x 110 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: RuntimeWarning: invalid value encountered in long_scalars

       Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
106  Saint Barthelemy         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
106        0        0        0        0  ...        6        6       6

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
106       6       6       6       6       6       6       6

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
114      St Martin         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
114        0        0        0        0  ...       38       38      38

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
114      38      38      38      38      38      38      38

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
114      St Martin         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
114        0        0        0        0  ...        3        3       3

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
114       3       3       3       3       3       3       3

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
107      St Martin         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
107        0        0        0        0  ...       24       24      27

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
107      27      27      29      29      29      30      30

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
115     Martinique         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
115        0        0        0        0  ...      175      178     179

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
115     179     179     181     181     182     183     186

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
115     Martinique         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
115        0        0        0        0  ...       14       14      14

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
115      14      14      14      14      14      14      14

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
102     Martinique         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
102        0        0        0        0  ...       83       83      83

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
102      83      83      83      83      83      83      83

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
116            NaN         France        0        0        2        3

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
116        3        3        4        5  ...   165093   165764  165764

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
116  166976  167272  167886  168935  172465  173040  174318

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
116            NaN         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
116        0        0        0        0  ...    24056    24345   24563

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
116   24729   24864   25168   25498   25772   25949   26192

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
108            NaN         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
108        0        0        0        0  ...    47338    48572   49300

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
108   49751   49973   50438   51803   53022   54076   54770

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
117            NaN          Gabon        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
117        0        0        0        0  ...      276      276     276

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
117     335     335     367     397     397     504     620

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
117            NaN          Gabon        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
117        0        0        0        0  ...        3        3       3

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
117       5       5       6       6       6       8       8

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
109            NaN          Gabon        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
109        0        0        0        0  ...       67       67      67

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
109      85      85      93      93      93     110     110

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
118            NaN         Gambia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
118        0        0        0        0  ...       10       11      12

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
118      17      17      17      17      17      18      20

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
118            NaN         Gambia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
118        0        0        0        0  ...        1        1       1

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
118       1       1       1       1       1       1       1

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
110            NaN         Gambia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
110        0        0        0        0  ...        8        8       8

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
110       9       9       9       9       9       9       9

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
119            NaN        Georgia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
119        0        0        0        0  ...      517      539     566

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
119     582     589     593     604     610     615     623

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
119            NaN        Georgia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
119        0        0        0        0  ...        6        6       7

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
119       8       9       9       9       9       9      10

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
111            NaN        Georgia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
111        0        0        0        0  ...      178      184     207

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
111     207     223     223     240     269     275     288

[1 rows x 110 columns]

    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
120            NaN        Germany        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
120        0        1        4        4  ...   161539   163009  164077

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
120  164967  165664  166152  167007  168162  169430  170588

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
120            NaN        Germany        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
120        0        0        0        0  ...     6467     6623    6736

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
120    6812    6866    6993    6993    7275    7392    7510

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
112            NaN        Germany        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
112        0        0        0        0  ...   120400   123500  126900

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
112  129000  130600  132700  135100  139900  141700  141700

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
121            NaN          Ghana        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
121        0        0        0        0  ...     1671     2074    2074

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
121    2169    2169    2719    2719    3091    3091    4012

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
121            NaN          Ghana        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
121        0        0        0        0  ...       16       17      17

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
121      18      18      18      18      18      18      18

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
113            NaN          Ghana        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
113        0        0        0        0  ...      188      212     212

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
113     229     229     294     294     294     303     323

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
122            NaN         Greece        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
122        0        0        0        0  ...     2576     2591    2612

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
122    2620    2626    2632    2642    2663    2678    2691

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
122            NaN         Greece        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
122        0        0        0        0  ...      139      140     140

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
122     143     144     146     146     147     148     150

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
115            NaN         Greece        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
115        0        0        0        0  ...      577     1374    1374

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
115    1374    1374    1374    1374    1374    1374    1374

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
123            NaN      Guatemala        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
123        0        0        0        0  ...      557      599     644

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
123     688     703     730     763     798     832     900

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
123            NaN      Guatemala        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
123        0        0        0        0  ...       16       16      16

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
123      17      17      19      19      21      23      24

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
116            NaN      Guatemala        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
116        0        0        0        0  ...       62       66      72

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
116      72      72      79      79      86      90     101

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
124            NaN         Guinea        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
124        0        0        0        0  ...     1351     1495    1537

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
124    1586    1586    1710    1811    1856    1927    2009

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
124            NaN         Guinea        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
124        0        0        0        0  ...        7        7       7

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
124       7       7       9      10      11      11      11

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
117            NaN         Guinea        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
117        0        0        0        0  ...      313      329     342

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
117     405     405     450     498     597     629     663

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
125            NaN         Guyana        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
125        0        0        0        0  ...       78       82      82

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
125      82      82      92      93      93      93      94

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
125            NaN         Guyana        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
125        0        0        0        0  ...        8        9       9

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
125       9       9       9      10      10      10      10

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
119            NaN         Guyana        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
119        0        0        0        0  ...       18       22      22

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
119      22      22      27      27      27      27      35

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
126            NaN          Haiti        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
126        0        0        0        0  ...       76       81      85

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
126      85      88     100     101     101     129     146

[1 rows x 110 columns]

    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
126            NaN          Haiti        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
126        0        0        0        0  ...        6        8       8

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
126       8       9      11      12      12      12      12

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
120            NaN          Haiti        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
120        0        0        0        0  ...        8        8      10

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
120      10      10      10      10      10      16      17

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
127            NaN       Holy See        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
127        0        0        0        0  ...       10       11      11

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
127      11      11      11      11      12      12      12

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
127            NaN       Holy See        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
127        0        0        0        0  ...        0        0       0

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
127       0       0       0       0       0       0       0

[1 rows x 110 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: RuntimeWarning: invalid value encountered in long_scalars

    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
121            NaN       Holy See        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
121        0        0        0        0  ...        2        2       2

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
121       2       2       2       2       2       2       2

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
128            NaN       Honduras        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
128        0        0        0        0  ...      738      771     804

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
128    1010    1055    1178    1270    1461    1685    1771

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
128            NaN       Honduras        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
128        0        0        0        0  ...       66       71      75

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
128      76      82      83      93      99     105     107

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
122            NaN       Honduras        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
122        0        0        0        0  ...       73       79     112

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
122     116     118     122     122     132     154     192

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
129            NaN        Hungary        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
129        0        0        0        0  ...     2727     2775    2863

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
129    2942    2998    3035    3065    3111    3150    3178

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
129            NaN        Hungary        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
129        0        0        0        0  ...      300      312     323

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
129     335     340     351     363     373     383     392

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
123            NaN        Hungary        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
123        0        0        0        0  ...      536      581     609

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
123     625     629     630     709     759     801     865

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
130            NaN        Iceland        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
130        0        0        0        0  ...     1797     1797    1798

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
130    1798    1799    1799    1799    1799    1801    1801

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
130            NaN        Iceland        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
130        0        0        0        0  ...       10       10      10

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
130      10      10      10      10      10      10      10

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
124            NaN        Iceland        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
124        0        0        0        0  ...     1656     1670    1689

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
124    1706    1717    1723    1733    1750    1755    1765

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
131            NaN          India        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
131        0        0        0        0  ...    33062    34863   37257

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
131   39699   42505   46437   49400   52987   56351   59695

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
131            NaN          India        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
131        0        0        0        0  ...     1079     1154    1223

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
131    1323    1391    1566    1693    1785    1889    1985

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
125            NaN          India        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
125        0        0        0        0  ...     8437     9068   10007

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
125   10819   11775   12847   14142   15331   16776   17887

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
132            NaN      Indonesia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
132        0        0        0        0  ...     9771    10118   10551

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
132   10843   11192   11587   12071   12438   12776   13112

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
132            NaN      Indonesia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
132        0        0        0        0  ...      784      792     800

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
132     831     845     864     872     895     930     943

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
126            NaN      Indonesia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
126        0        0        0        0  ...     1391     1522    1591

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
126    1665    1876    1954    2197    2317    2381    2494

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
133            NaN           Iran        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
133        0        0        0        0  ...    93657    94640   95646

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
133   96448   97424   98647   99970  101650  103135  104691

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
133            NaN           Iran        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
133        0        0        0        0  ...     5957     6028    6091

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
133    6156    6203    6277    6340    6418    6486    6541

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
127            NaN           Iran        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
127        0        0        0        0  ...    73791    75103   76318

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
127   77350   78422   79379   80475   81587   82744   83837

[1 rows x 110 columns]

    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
134            NaN           Iraq        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
134        0        0        0        0  ...     2003     2085    2153

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
134    2219    2296    2346    2431    2480    2543    2603

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
134            NaN           Iraq        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
134        0        0        0        0  ...       92       93      94

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
134      95      97      98     102     102     102     104

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
128            NaN           Iraq        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
128        0        0        0        0  ...     1346     1375    1414

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
128    1473    1490    1544    1571    1602    1626    1661

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
135            NaN        Ireland        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
135        0        0        0        0  ...    20253    20612   20833

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
135   21176   21506   21772   21983   22248   22385   22541

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
135            NaN        Ireland        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
135        0        0        0        0  ...     1190     1232    1265

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
135    1286    1303    1319    1339    1375    1403    1429

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
129            NaN        Ireland        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
129        0        0        0        0  ...    13386    13386   13386

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
129   13386   13386   13386   13386   17110   17110   17110

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
136            NaN         Israel        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
136        0        0        0        0  ...    15834    15946   16101

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
136   16185   16208   16246   16289   16310   16381   16436

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
136            NaN         Israel        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
136        0        0        0        0  ...      215      222     225

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
136     229     232     235     238     239     240     245

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
130            NaN         Israel        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
130        0        0        0        0  ...     8233     8561    9156

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
130    9593    9749   10064   10465   10637   10873   11229

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
137            NaN          Italy        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
137        0        0        0        0  ...   203591   205463  207428

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
137  209328  210717  211938  213013  214457  215858  217185

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
137            NaN          Italy        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
137        0        0        0        0  ...    27682    27967   28236

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
137   28710   28884   29079   29315   29684   29958   30201

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
131            NaN          Italy        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
131        0        0        0        0  ...    71252    75945   78249

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
131   79914   81654   82879   85231   93245   96276   99023

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
138            NaN        Jamaica        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
138        0        0        0        0  ...      396      422     432

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
138     463     469     471     473     478     488     490

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
138            NaN        Jamaica        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
138        0        0        0        0  ...        7        8       8

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
138       8       9       9       9       9       9       9

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
132            NaN        Jamaica        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
132        0        0        0        0  ...       29       29      31

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
132      33      38      38      56      57      58      62

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
139            NaN          Japan        2        2        2        2

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
139        4        4        7        7  ...    13895    14088   14305

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
139   14571   14877   15078   15253   15253   15477   15575

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
139            NaN          Japan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
139        0        0        0        0  ...      413      430     455

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
139     474     487     536     556     556     577     590

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
133            NaN          Japan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
133        1        1        1        1  ...     2368     2460    2975

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
133    3205    3981    4156    4496    4496    4918    5146

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
140            NaN         Jordan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
140        0        0        0        0  ...      451      453     459

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
140     460     461     465     471     473     494     508

[1 rows x 110 columns]

    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
140            NaN         Jordan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
140        0        0        0        0  ...        8        8       8

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
140       9       9       9       9       9       9       9

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
134            NaN         Jordan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
134        0        0        0        0  ...      356      362     364

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
134     367     367     370     375     377     381     385

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
141            NaN     Kazakhstan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
141        0        0        0        0  ...     3138     3402    3597

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
141    3857    3920    4049    4205    4422    4578    4834

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
141            NaN     Kazakhstan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
141        0        0        0        0  ...       25       25      25

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
141      25      27      29      29      30      30      31

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
135            NaN     Kazakhstan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
135        0        0        0        0  ...      819      866     922

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
135     985    1084    1173    1279    1408    1518    1631

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
142            NaN          Kenya        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
142        0        0        0        0  ...      384      396     411

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
142     435     465     490     535     582     607     621

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
142            NaN          Kenya        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
142        0        0        0        0  ...       15       17      21

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
142      22      24      24      24      26      29      29

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
136            NaN          Kenya        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
136        0        0        0        0  ...      129      144     150

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
136     152     167     173     182     190     197     202

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
143            NaN   Korea, South        1        1        2        2

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
143        3        4        4        4  ...    10765    10774   10780

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
143   10793   10801   10804   10806   10810   10822   10840

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
143            NaN   Korea, South        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
143        0        0        0        0  ...      247      248     250

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
143     250     252     254     255     256     256     256

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
137            NaN   Korea, South        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
137        0        0        0        0  ...     9059     9072    9123

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
137    9183    9217    9283    9333    9419    9484    9568

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
144            NaN         Kuwait        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
144        0        0        0        0  ...     3740     4024    4377

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
144    4619    4983    5278    5804    6289    6567    7208

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
144            NaN         Kuwait        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
144        0        0        0        0  ...       24       26      30

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
144      33      38      40      40      42      44      47

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
138            NaN         Kuwait        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
138        0        0        0        0  ...     1389     1539    1602

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
138    1703    1776    1947    2032    2219    2381    2466

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
145            NaN     Kyrgyzstan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
145        0        0        0        0  ...      729      746     756

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
145     769     795     830     843     871     895     906

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
145            NaN     Kyrgyzstan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
145        0        0        0        0  ...        8        8       8

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
145       8      10      10      11      12      12      12

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
139            NaN     Kyrgyzstan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
139        0        0        0        0  ...      437      462     504

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
139     527     564     575     600     614     637     650

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
146            NaN         Latvia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
146        0        0        0        0  ...      849      858     870

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
146     871     879     896     896     900     909     928

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
146            NaN         Latvia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
146        0        0        0        0  ...       15       15      16

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
146      16      16      16      17      17      18      18

[1 rows x 110 columns]

    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
140            NaN         Latvia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
140        0        0        0        0  ...      348      348     348

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
140     348     348     348     348     464     464     464

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
147            NaN        Lebanon        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
147        0        0        0        0  ...      721      725     729

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
147     733     737     740     741     750     784     796

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
147            NaN        Lebanon        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
147        0        0        0        0  ...       24       24      24

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
147      25      25      25      25      25      25      26

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
141            NaN        Lebanon        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
141        0        0        0        0  ...      150      150     192

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
141     197     200     200     206     206     220     223

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
148            NaN        Liberia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
148        0        0        0        0  ...      141      141     152

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
148     154     158     166     170     178     189     199

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
148            NaN        Liberia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
148        0        0        0        0  ...       16       16      18

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
148      18      18      18      20      20      20      20

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
142            NaN        Liberia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
142        0        0        0        0  ...       45       45      45

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
142      48      58      58      58      75      79      79

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
149            NaN  Liechtenstein        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
149        0        0        0        0  ...       82       82      82

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
149      82      82      82      82      82      82      82

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
149            NaN  Liechtenstein        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
149        0        0        0        0  ...        1        1       1

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
149       1       1       1       1       1       1       1

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
144            NaN  Liechtenstein        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
144        0        0        0        0  ...       55       55      55

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
144      55      55      55      55      55      55      55

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
150            NaN      Lithuania        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
150        0        0        0        0  ...     1375     1385    1399

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
150    1406    1410    1419    1423    1428    1433    1436

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
150            NaN      Lithuania        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
150        0        0        0        0  ...       45       45      45

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
150      46      46      46      46      48      49      49

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
145            NaN      Lithuania        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
145        0        0        0        0  ...      563      589     594

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
145     632     635     638     678     718     739     765

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
151            NaN     Luxembourg        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
151        0        0        0        0  ...     3769     3784    3802

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
151    3812    3824    3828    3840    3851    3859    3871

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
151            NaN     Luxembourg        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
151        0        0        0        0  ...       89       90      92

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
151      92      96      96      96      98     100     100

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
146            NaN     Luxembourg        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
146        0        0        0        0  ...     3134     3213    3213

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
146    3318    3379    3405    3412    3452    3505    3526

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
152            NaN     Madagascar        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
152        0        0        0        0  ...      128      128     132

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
152     135     149     149     151     158     193     193

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
152            NaN     Madagascar        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
152        0        0        0        0  ...        0        0       0

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
152       0       0       0       0       0       0       0

[1 rows x 110 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: RuntimeWarning: invalid value encountered in long_scalars

    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
147            NaN     Madagascar        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
147        0        0        0        0  ...       90       92      94

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
147      97      98      99     101     101     101     101

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
153            NaN       Malaysia        0        0        0        3

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
153        4        4        4        7  ...     5945     6002    6071

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
153    6176    6298    6353    6383    6428    6467    6535

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
153            NaN       Malaysia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
153        0        0        0        0  ...      100      102     103

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
153     103     105     105     106     107     107     107

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
148            NaN       Malaysia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
148        0        0        0        0  ...     4087     4171    4210

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
148    4326    4413    4484    4567    4702    4776    4864

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
154            NaN       Maldives        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
154        0        0        0        0  ...      278      468     491

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
154     519     527     541     573     617     648     744

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
154            NaN       Maldives        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
154        0        0        0        0  ...        1        1       1

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
154       1       1       1       2       2       3       3

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
149            NaN       Maldives        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
149        0        0        0        0  ...       17       17      17

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
149      18      18      18      20      20      20      20

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
155            NaN          Malta        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
155        0        0        0        0  ...      463      465     467

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
155     468     477     480     482     484     486     489

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
155            NaN          Malta        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
155        0        0        0        0  ...        4        4       4

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
155       4       4       4       5       5       5       5

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
151            NaN          Malta        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
151        0        0        0        0  ...      339      351     383

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
151     379     392     399     403     407     413     419

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
156            NaN     Mauritania        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
156        0        0        0        0  ...        8        8       8

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
156       8       8       8       8       8       8       8

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
156            NaN     Mauritania        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
156        0        0        0        0  ...        1        1       1

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
156       1       1       1       1       1       1       1

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
152            NaN     Mauritania        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
152        0        0        0        0  ...        6        6       6

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
152       6       6       6       6       6       6       6

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
157            NaN      Mauritius        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
157        0        0        0        0  ...      332      332     332

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
157     332     332     332     332     332     332     332

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
157            NaN      Mauritius        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
157        0        0        0        0  ...       10       10      10

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
157      10      10      10      10      10      10      10

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
153            NaN      Mauritius        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
153        0        0        0        0  ...      306      310     312

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
153     314     315     316     319     320     320     320

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
158            NaN         Mexico        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
158        0        0        0        0  ...    17799    19224   20739

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
158   22088   23471   24905   26025   27634   29616   31522

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
158            NaN         Mexico        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
158        0        0        0        0  ...     1732     1859    1972

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
158    2061    2154    2271    2507    2704    2961    3160

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
154            NaN         Mexico        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
154        0        0        0        0  ...    11423    11423   12377

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
154   12377   13447   13447   16810   17781   17781   20314

[1 rows x 110 columns]

    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
159            NaN        Moldova        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
159        0        0        0        0  ...     3771     3897    3980

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
159    4052    4121    4248    4363    4476    4605    4728

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
159            NaN        Moldova        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
159        0        0        0        0  ...      111      116     122

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
159     124     125     132     136     143     145     150

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
155            NaN        Moldova        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
155        0        0        0        0  ...     1114     1182    1272

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
155    1334    1382    1423    1544    1658    1747    1826

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
160            NaN         Monaco        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
160        0        0        0        0  ...       95       95      95

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
160      95      95      95      95      95      95      95

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
160            NaN         Monaco        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
160        0        0        0        0  ...        4        4       4

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
160       4       4       4       4       4       4       4

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
156            NaN         Monaco        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
156        0        0        0        0  ...       58       64      73

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
156      78      78      78      81      82      82      82

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
161            NaN       Mongolia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
161        0        0        0        0  ...       38       38      38

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
161      39      39      40      41      41      41      42

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
161            NaN       Mongolia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
161        0        0        0        0  ...        0        0       0

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
161       0       0       0       0       0       0       0

[1 rows x 110 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: RuntimeWarning: invalid value encountered in long_scalars

    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
157            NaN       Mongolia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
157        0        0        0        0  ...       10       10      10

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
157      10      10      12      13      13      13      13

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
162            NaN     Montenegro        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
162        0        0        0        0  ...      322      322     322

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
162     322     322     323     324     324     324     324

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
162            NaN     Montenegro        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
162        0        0        0        0  ...        7        7       7

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
162       8       8       8       8       8       8       8

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
158            NaN     Montenegro        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
158        0        0        0        0  ...      203      214     233

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
158     245     249     253     253     261     265     267

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
163            NaN        Morocco        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
163        0        0        0        0  ...     4321     4423    4569

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
163    4729    4903    5053    5219    5408    5548    5711

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
163            NaN        Morocco        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
163        0        0        0        0  ...      168      170     171

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
163     173     174     179     181     183     183     186

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
159            NaN        Morocco        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
159        0        0        0        0  ...      928      984    1083

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
159    1256    1438    1653    1838    2017    2179    2324

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
164            NaN        Namibia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
164        0        0        0        0  ...       16       16      16

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
164      16      16      16      16      16      16      16

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
164            NaN        Namibia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
164        0        0        0        0  ...        0        0       0

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
164       0       0       0       0       0       0       0

[1 rows x 110 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: RuntimeWarning: invalid value encountered in long_scalars

    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
161            NaN        Namibia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
161        0        0        0        0  ...        8        8       8

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
161       8       8       8       8       8       9       9

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
165            NaN          Nepal        0        0        0        1

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
165        1        1        1        1  ...       57       57      59

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
165      59      75      75      82      99     101     102

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
165            NaN          Nepal        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
165        0        0        0        0  ...        0        0       0

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
165       0       0       0       0       0       0       0

[1 rows x 110 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: RuntimeWarning: invalid value encountered in long_scalars

    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
162            NaN          Nepal        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
162        0        0        0        0  ...       16       16      16

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
162      16      16      16      16      22      22      31

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
166          Aruba    Netherlands        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
166        0        0        0        0  ...      100      100     100

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
166     100     100     100     101     101     101     101

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
166          Aruba    Netherlands        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
166        0        0        0        0  ...        2        2       2

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
166       2       2       2       2       2       3       3

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
163          Aruba    Netherlands        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
163        0        0        0        0  ...       73       79      81

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
163      81      81      81      82      89      89      89

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
167        Curacao    Netherlands        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
167        0        0        0        0  ...       16       16      16

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
167      16      16      16      16      16      16      16

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
167        Curacao    Netherlands        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
167        0        0        0        0  ...        1        1       1

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
167       1       1       1       1       1       1       1

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
164        Curacao    Netherlands        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
164        0        0        0        0  ...       13       13      13

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
164      13      13      13      13      13      14      14

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
168   Sint Maarten    Netherlands        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
168        0        0        0        0  ...       75       75      76

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
168      76      76      76      76      76      76      76

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
168   Sint Maarten    Netherlands        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
168        0        0        0        0  ...       13       13      13

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
168      13      13      13      14      14      14      14

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
165   Sint Maarten    Netherlands        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
165        0        0        0        0  ...       33       33      44

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
165      44      44      44      44      44      44      44

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
169            NaN    Netherlands        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
169        0        0        0        0  ...    38802    39316   39791

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
169   40236   40571   40770   41087   41319   41774   42093

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
169            NaN    Netherlands        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
169        0        0        0        0  ...     4711     4795    4893

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
169    4987    5056    5082    5168    5204    5288    5359

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
166            NaN    Netherlands        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
166        0        0        0        0  ...        0        0       0

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
166       0       0       0       0       0       0       0

[1 rows x 110 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: RuntimeWarning: invalid value encountered in long_scalars

    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
170            NaN    New Zealand        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
170        0        0        0        0  ...     1476     1479    1485

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
170    1487    1487    1486    1488    1489    1490    1492

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
170            NaN    New Zealand        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
170        0        0        0        0  ...       19       19      20

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
170      20      20      20      21      21      21      21

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
167            NaN    New Zealand        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
167        0        0        0        0  ...     1241     1252    1263

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
167    1266    1276    1302    1316    1332    1347    1368

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
171            NaN      Nicaragua        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
171        0        0        0        0  ...       13       14      14

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
171      14      15      15      16      16      16      16

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
171            NaN      Nicaragua        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
171        0        0        0        0  ...        3        3       3

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
171       3       5       5       5       5       5       5

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
168            NaN      Nicaragua        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
168        0        0        0        0  ...        7        7       7

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
168       7       7       7       7       7       7       7

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
172            NaN          Niger        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
172        0        0        0        0  ...      713      719     728

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
172     736     750     755     763     770     781     795

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
172            NaN          Niger        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
172        0        0        0        0  ...       32       32      33

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
172      35      36      37      38      38      42      44

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
169            NaN          Niger        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
169        0        0        0        0  ...      435      452     478

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
169     507     518     534     543     561     586     600

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
173            NaN        Nigeria        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
173        0        0        0        0  ...     1728     1932    2170

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
173    2388    2558    2802    2950    3145    3526    3912

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
173            NaN        Nigeria        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
173        0        0        0        0  ...       51       58      68

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
173      85      87      93      98     103     107     117

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
170            NaN        Nigeria        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
170        0        0        0        0  ...      307      319     351

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
170     351     400     417     481     534     601     679

[1 rows x 110 columns]
    Province/State   Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
174            NaN  North Macedonia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
174        0        0        0        0  ...     1442     1465    1494

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
174    1506    1511    1518    1526    1539    1572    1586

[1 rows x 110 columns]
    Province/State   Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
174            NaN  North Macedonia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
174        0        0        0        0  ...       73       77      81

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
174      82      84      85      86      88      89      90

[1 rows x 110 columns]
    Province/State   Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
171            NaN  North Macedonia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
171        0        0        0        0  ...      627      738     807

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
171     852     945     992    1013    1057    1079    1099

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
175            NaN         Norway        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
175        0        0        0        0  ...     7710     7738    7783

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
175    7809    7847    7904    7955    7996    8034    8070

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
175            NaN         Norway        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
175        0        0        0        0  ...      207      210     210

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
175     211     211     214     215     216     217     218

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
172            NaN         Norway        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
172        0        0        0        0  ...       32       32      32

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
172      32      32      32      32      32      32      32

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
176            NaN           Oman        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
176        0        0        0        0  ...     2274     2348    2447

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
176    2483    2568    2637    2735    2903    2958    3112

[1 rows x 110 columns]

    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
176            NaN           Oman        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
176        0        0        0        0  ...       10       11      11

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
176      12      12      12      13      13      15      16

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
173            NaN           Oman        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
173        0        0        0        0  ...      364      495     495

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
173     750     750     816     858     888     980    1025

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
177            NaN       Pakistan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
177        0        0        0        0  ...    15525    16817   18114

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
177   19103   20084   20941   22049   24073   24644   26435

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
177            NaN       Pakistan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
177        0        0        0        0  ...      343      385     417

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
177     440     457     476     514     564     585     599

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
174            NaN       Pakistan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
174        0        0        0        0  ...     3425     4315    4715

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
174    4817    5114    5635    5801    6464    6464    7530

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
178            NaN         Panama        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
178        0        0        0        0  ...     6378     6532    6720

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
178    7090    7090    7197    7523    7731    7868    8070

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
178            NaN         Panama        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
178        0        0        0        0  ...      178      188     192

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
178     197     197     200     210     218     225     231

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
175            NaN         Panama        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
175        0        0        0        0  ...      527      576     622

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
175     641     641     641     823     859     886     886

[1 rows x 110 columns]
    Province/State    Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
179            NaN  Papua New Guinea        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
179        0        0        0        0  ...        8        8       8

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
179       8       8       8       8       8       8       8

[1 rows x 110 columns]
    Province/State    Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
179            NaN  Papua New Guinea        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
179        0        0        0        0  ...        0        0       0

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
179       0       0       0       0       0       0       0

[1 rows x 110 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: RuntimeWarning: invalid value encountered in long_scalars

    Province/State    Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
176            NaN  Papua New Guinea        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
176        0        0        0        0  ...        0        0       0

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
176       0       0       8       8       8       8       8

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
180            NaN       Paraguay        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
180        0        0        0        0  ...      239      266     333

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
180     370     396     415     431     440     462     563

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
180            NaN       Paraguay        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
180        0        0        0        0  ...        9       10      10

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
180      10      10      10      10      10      10      10

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
177            NaN       Paraguay        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
177        0        0        0        0  ...      102      113     115

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
177     119     126     130     135     142     148     152

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
181            NaN           Peru        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
181        0        0        0        0  ...    33931    36976   40459

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
181   42534   45928   47372   51189   54817   58526   61847

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
181            NaN           Peru        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
181        0        0        0        0  ...      943     1051    1124

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
181    1200    1286    1344    1444    1533    1627    1714

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
178            NaN           Peru        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
178        0        0        0        0  ...    10037    10405   11129

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
178   12434   13550   14427   15413   17527   18388   19012

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
182            NaN    Philippines        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
182        0        0        0        0  ...     8212     8488    8772

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
182    8928    9223    9485    9684   10004   10343   10463

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
182            NaN    Philippines        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
182        0        0        0        0  ...      558      568     579

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
182     603     607     623     637     658     685     696

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
179            NaN    Philippines        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
179        0        0        0        0  ...     1023     1043    1084

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
179    1124    1214    1315    1408    1506    1618    1734

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
183            NaN         Poland        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
183        0        0        0        0  ...    12640    12877   13105

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
183   13375   13693   14006   14431   14740   15047   15366

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
183            NaN         Poland        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
183        0        0        0        0  ...      624      644     651

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
183     664     678     698     716     733     755     776

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
180            NaN         Poland        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
180        0        0        0        0  ...     3025     3236    3491

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
180    3762    3945    4095    4280    4655    4862    5184

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
184            NaN       Portugal        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
184        0        0        0        0  ...    24505    25045   25351

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
184   25190   25282   25524   25702   26182   26715   27268

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
184            NaN       Portugal        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
184        0        0        0        0  ...      973      989    1007

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
184    1023    1043    1063    1074    1089    1105    1114

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
181            NaN       Portugal        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
181        0        0        0        0  ...     1470     1519    1647

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
181    1671    1689    1712    1743    2076    2258    2422

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
185            NaN          Qatar        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
185        0        0        0        0  ...    12564    13409   14096

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
185   14872   15551   16191   17142   17972   18890   20201

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
185            NaN          Qatar        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
185        0        0        0        0  ...       10       10      12

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
185      12      12      12      12      12      12      12

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
182            NaN          Qatar        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
182        0        0        0        0  ...     1243     1372    1436

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
182    1534    1664    1810    1924    2070    2286    2370

[1 rows x 110 columns]

    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
186            NaN        Romania        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
186        0        0        0        0  ...    11978    12240   12567

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
186   12732   13163   13512   13837   14107   14499   14811

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
186            NaN        Romania        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
186        0        0        0        0  ...      693      717     744

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
186     771     790     818     841     864     888     923

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
183            NaN        Romania        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
183        0        0        0        0  ...     3569     4017    4328

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
183    4547    4869    5269    5454    5788    6144    6423

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
187            NaN         Russia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
187        0        0        0        0  ...    99399   106498  114431

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
187  124054  134687  145268  155370  165929  177160  187859

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
187            NaN         Russia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
187        0        0        0        0  ...      972     1073    1169

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
187    1222    1280    1356    1451    1537    1625    1723

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
184            NaN         Russia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
184        0        0        0        0  ...    10286    11619   13220

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
184   15013   16639   18095   19865   21327   23803   26608

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
188            NaN         Rwanda        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
188        0        0        0        0  ...      225      243     249

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
188     255     259     261     261     268     271     273

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
188            NaN         Rwanda        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
188        0        0        0        0  ...        0        0       0

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
188       0       0       0       0       0       0       0

[1 rows x 110 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: RuntimeWarning: invalid value encountered in long_scalars

    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
185            NaN         Rwanda        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
185        0        0        0        0  ...       98      104     109

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
185     120     124     128     129     130     133     136

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
189            NaN    Saint Lucia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
189        0        0        0        0  ...       17       17      17

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
189      17      18      18      18      18      18      18

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
189            NaN    Saint Lucia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
189        0        0        0        0  ...        0        0       0

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
189       0       0       0       0       0       0       0

[1 rows x 110 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: RuntimeWarning: invalid value encountered in long_scalars

    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
187            NaN    Saint Lucia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
187        0        0        0        0  ...       15       15      15

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
187      15      15      15      15      15      17      17

[1 rows x 110 columns]
    Province/State                    Country/Region  1/22/20  1/23/20  \
190            NaN  Saint Vincent and the Grenadines        0        0

     1/24/20  1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  \
190        0        0        0        0        0        0  ...       16

     4/30/20  5/1/20  5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
190       16      16      16      16      17      17      17      17      17

[1 rows x 110 columns]
    Province/State                    Country/Region  1/22/20  1/23/20  \
190            NaN  Saint Vincent and the Grenadines        0        0

     1/24/20  1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  \
190        0        0        0        0        0        0  ...        0

     4/30/20  5/1/20  5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
190        0       0       0       0       0       0       0       0       0

[1 rows x 110 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: RuntimeWarning: invalid value encountered in long_scalars

    Province/State                    Country/Region  1/22/20  1/23/20  \
188            NaN  Saint Vincent and the Grenadines        0        0

     1/24/20  1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  \
188        0        0        0        0        0        0  ...        8

     4/30/20  5/1/20  5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
188        8       8       8       8       9       9       9       9       9

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
191            NaN     San Marino        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
191        0        0        0        0  ...      563      569     580

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
191     580     582     582     589     608     622     623

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
191            NaN     San Marino        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
191        0        0        0        0  ...       41       41      41

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
191      41      41      41      41      41      41      41

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
189            NaN     San Marino        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
189        0        0        0        0  ...       69       78      82

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
189      83      86      86      92      97     106     114

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
192            NaN   Saudi Arabia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
192        0        0        0        0  ...    21402    22753   24097

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
192   25459   27011   28656   30251   31938   33731   35432

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
192            NaN   Saudi Arabia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
192        0        0        0        0  ...      157      162     169

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
192     176     184     191     200     209     219     229

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
190            NaN   Saudi Arabia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
190        0        0        0        0  ...     2953     3163    3555

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
190    3765    4134    4476    5431    6783    7798    9120

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
193            NaN        Senegal        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
193        0        0        0        0  ...      882      933    1024

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
193    1115    1182    1271    1329    1433    1492    1551

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
193            NaN        Senegal        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
193        0        0        0        0  ...        9        9       9

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
193       9       9      10      11      12      13      13

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
191            NaN        Senegal        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
191        0        0        0        0  ...      315      334     356

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
191     368     372     415     470     493     562     611

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
194            NaN         Serbia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
194        0        0        0        0  ...     8724     9009    9009

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
194    9362    9464    9557    9677    9791    9848    9943

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
194            NaN         Serbia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
194        0        0        0        0  ...      173      179     179

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
194     189     193     197     200     203     206     209

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
192            NaN         Serbia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
192        0        0        0        0  ...     1292     1343    1343

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
192    1426    1551    1574    1723    1971    2160    2453

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
195            NaN     Seychelles        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
195        0        0        0        0  ...       11       11      11

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
195      11      11      11      11      11      11      11

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
195            NaN     Seychelles        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
195        0        0        0        0  ...        0        0       0

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
195       0       0       0       0       0       0       0

[1 rows x 110 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: RuntimeWarning: invalid value encountered in long_scalars

    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
193            NaN     Seychelles        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
193        0        0        0        0  ...        6        6       6

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
193       6       6       6       8       8       8       8

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
196            NaN      Singapore        0        1        3        3

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
196        4        5        7        7  ...    15641    16169   17101

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
196   17548   18205   18778   19410   20198   20939   21707

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
196            NaN      Singapore        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
196        0        0        0        0  ...       14       15      16

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
196      17      18      18      18      20      20      20

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
194            NaN      Singapore        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
194        0        0        0        0  ...     1188     1244    1268

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
194    1347    1408    1457    1519    1634    1712    2040

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
197            NaN       Slovakia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
197        0        0        0        0  ...     1391     1396    1403

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
197    1407    1408    1413    1421    1429    1445    1455

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
197            NaN       Slovakia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
197        0        0        0        0  ...       22       23      23

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
197      24      24      25      25      25      26      26

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
195            NaN       Slovakia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
195        0        0        0        0  ...      484      524     558

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
195     608     619     643     741     762     806     905

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
198            NaN       Slovenia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
198        0        0        0        0  ...     1418     1429    1434

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
198    1439    1439    1439    1445    1448    1449    1450

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
198            NaN       Slovenia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
198        0        0        0        0  ...       89       91      92

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
198      94      96      97      98      99      99     100

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
196            NaN       Slovenia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
196        0        0        0        0  ...      230      233     233

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
196     239     241     241     244     246     247     252

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
199            NaN        Somalia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
199        0        0        0        0  ...      582      601     601

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
199     671     722     756     835     873     928     928

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
199            NaN        Somalia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
199        0        0        0        0  ...       28       28      28

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
199      31      32      35      38      39      44      44

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
197            NaN        Somalia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
197        0        0        0        0  ...       20       31      31

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
197      34      44      61      75      87     106     106

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
200            NaN   South Africa        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
200        0        0        0        0  ...     5350     5647    5951

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
200    6336    6783    7220    7572    7808    8232    8895

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
200            NaN   South Africa        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
200        0        0        0        0  ...      103      103     116

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
200     123     131     138     148     153     161     178

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
198            NaN   South Africa        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
198        0        0        0        0  ...     2073     2073    2382

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
198    2549    2549    2746    2746    3153    3153    3153

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
201            NaN          Spain        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
201        0        0        0        0  ...   212917   213435  213435

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
201  216582  217466  218011  219329  220325  221447  222857

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
201            NaN          Spain        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
201        0        0        0        0  ...    24275    24543   24543

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
201   25100   25264   25428   25613   25857   26070   26299

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
199            NaN          Spain        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
199        0        0        0        0  ...   108947   112050  112050

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
199  117248  118902  121343  123486  126002  128511  131148

[1 rows x 110 columns]

    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
202            NaN      Sri Lanka        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
202        0        1        1        1  ...      649      663     690

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
202     705     718     751     771     797     824     835

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
202            NaN      Sri Lanka        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
202        0        0        0        0  ...        7        7       7

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
202       7       7       8       9       9       9       9

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
200            NaN      Sri Lanka        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
200        0        0        0        0  ...      136      154     162

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
200     172     184     194     213     215     232     240

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
203            NaN          Sudan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
203        0        0        0        0  ...      375      442     533

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
203     592     592     678     778     852     930    1111

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
203            NaN          Sudan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
203        0        0        0        0  ...       28       31      36

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
203      41      41      41      45      49      52      59

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
201            NaN          Sudan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
201        0        0        0        0  ...       32       39      46

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
201      52      52      61      70      80      92     102

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
204            NaN       Suriname        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
204        0        0        0        0  ...       10       10      10

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
204      10      10      10      10      10      10      10

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
204            NaN       Suriname        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
204        0        0        0        0  ...        1        1       1

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
204       1       1       1       1       1       1       1

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
202            NaN       Suriname        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
202        0        0        0        0  ...        8        8       8

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
202       8       9       9       9       9       9       9

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
205            NaN         Sweden        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
205        0        0        0        0  ...    20302    21092   21520

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
205   22082   22317   22721   23216   23918   24623   25265

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
205            NaN         Sweden        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
205        0        0        0        0  ...     2462     2586    2653

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
205    2669    2679    2769    2854    2941    3040    3175

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
203            NaN         Sweden        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
203        0        0        0        0  ...     1005     1005    1005

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
203    1005    1005    4074    4074    4074    4971    4971

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
206            NaN    Switzerland        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
206        0        0        0        0  ...    29407    29586   29705

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
206   29817   29905   29981   30009   30060   30126   30207

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
206            NaN    Switzerland        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
206        0        0        0        0  ...     1716     1737    1754

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
206    1762    1762    1784    1795    1805    1810    1823

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
204            NaN    Switzerland        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
204        0        0        0        0  ...    22600    23400   23900

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
204   24200   24500   25200   25400   25700   25900   26100

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
207            NaN        Taiwan*        1        1        3        3

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
207        4        5        8        8  ...      429      429     429

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
207     432     436     438     438     439     440     440

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
207            NaN        Taiwan*        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
207        0        0        0        0  ...        6        6       6

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
207       6       6       6       6       6       6       6

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
206            NaN        Taiwan*        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
206        0        0        0        0  ...      311      322     324

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
206     324     332     334     334     339     347     355

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
208            NaN       Tanzania        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
208        0        0        0        0  ...      480      480     480

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
208     480     480     480     480     480     480     509

[1 rows x 110 columns]

    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
208            NaN       Tanzania        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
208        0        0        0        0  ...       16       16      16

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
208      16      16      16      16      16      16      21

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
207            NaN       Tanzania        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
207        0        0        0        0  ...      167      167     167

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
207     167     167     167     167     167     167     183

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
209            NaN       Thailand        2        3        5        7

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
209        8        8       14       14  ...     2947     2954    2960

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
209    2966    2969    2987    2988    2989    2992    3000

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
209            NaN       Thailand        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
209        0        0        0        0  ...       54       54      54

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
209      54      54      54      54      55      55      55

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
208            NaN       Thailand        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
208        2        2        5        5  ...     2665     2684    2719

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
208    2732    2739    2740    2747    2761    2772    2784

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
210            NaN           Togo        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
210        0        0        0        0  ...      109      116     123

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
210     123     124     126     128     128     135     145

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
210            NaN           Togo        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
210        0        0        0        0  ...        7        9       9

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
210       9       9       9       9       9       9      10

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
210            NaN           Togo        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
210        0        0        0        0  ...       64       65      66

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
210      66      67      74      74      77      85      85

[1 rows x 110 columns]
    Province/State       Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
211            NaN  Trinidad and Tobago        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
211        0        0        0        0  ...      116      116     116

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
211     116     116     116     116     116     116     116

[1 rows x 110 columns]
    Province/State       Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
211            NaN  Trinidad and Tobago        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
211        0        0        0        0  ...        8        8       8

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
211       8       8       8       8       8       8       8

[1 rows x 110 columns]
    Province/State       Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
211            NaN  Trinidad and Tobago        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
211        0        0        0        0  ...       71       72      83

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
211      88      93      99     103     103     103     103

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
212            NaN        Tunisia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
212        0        0        0        0  ...      980      994     998

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
212    1009    1013    1018    1022    1025    1026    1030

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
212            NaN        Tunisia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
212        0        0        0        0  ...       40       41      41

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
212      42      42      43      43      43      44      45

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
212            NaN        Tunisia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
212        0        0        0        0  ...      294      305     316

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
212     323     328     406     482     591     600     638

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
213            NaN         Turkey        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
213        0        0        0        0  ...   117589   120204  122392

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
213  124375  126045  127659  129491  131744  133721  135569

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
213            NaN         Turkey        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
213        0        0        0        0  ...     3081     3174    3258

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
213    3336    3397    3461    3520    3584    3641    3689

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
213            NaN         Turkey        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
213        0        0        0        0  ...    44040    48886   53808

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
213   58259   63151   68166   73285   78202   82984   86396

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
214            NaN         Uganda        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
214        0        0        0        0  ...       81       83      85

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
214      88      89      97      98     100     101     101

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
214            NaN         Uganda        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
214        0        0        0        0  ...        0        0       0

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
214       0       0       0       0       0       0       0

[1 rows x 110 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: RuntimeWarning: invalid value encountered in long_scalars

    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
214            NaN         Uganda        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
214        0        0        0        0  ...       52       52      52

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
214      52      52      55      55      55      55      55

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
215            NaN        Ukraine        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
215        0        0        0        0  ...     9866    10406   10861

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
215   11411   11913   12331   12697   13184   13691   14195

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
215            NaN        Ukraine        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
215        0        0        0        0  ...      250      261     272

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
215     279     288     303     316     327     340     361

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
215            NaN        Ukraine        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
215        0        0        0        0  ...     1103     1238    1413

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
215    1498    1548    1619    1875    2097    2396    2706

[1 rows x 110 columns]
    Province/State        Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
216            NaN  United Arab Emirates        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
216        0        0        0        4  ...    11929    12481   13038

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
216   13599   14163   14730   15192   15738   16240   16793

[1 rows x 110 columns]
    Province/State        Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
216            NaN  United Arab Emirates        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
216        0        0        0        0  ...       98      105     111

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
216     119     126     137     146     157     165     174

[1 rows x 110 columns]
    Province/State        Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
216            NaN  United Arab Emirates        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
216        0        0        0        0  ...     2329     2429    2543

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
216    2664    2763    2966    3153    3359    3572    3837

[1 rows x 110 columns]
    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
217        Bermuda  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
217        0        0        0        0  ...      111      114     114

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
217     114     115     115     115     118     118     118

[1 rows x 110 columns]
    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
217        Bermuda  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
217        0        0        0        0  ...        6        6       6

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
217       7       7       7       7       7       7       7

[1 rows x 110 columns]
    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
217        Bermuda  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
217        0        0        0        0  ...       48       48      48

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
217      51      51      54      54      59      61      61

[1 rows x 110 columns]
     Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
218  Cayman Islands  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
218        0        0        0        0  ...       73       73      74

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
218      74      74      75      78      78      80      81

[1 rows x 110 columns]
     Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
218  Cayman Islands  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
218        0        0        0        0  ...        1        1       1

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
218       1       1       1       1       1       1       1

[1 rows x 110 columns]
     Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
218  Cayman Islands  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
218        0        0        0        0  ...       10       10      10

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
218      10      10      14      30      30      35      41

[1 rows x 110 columns]
      Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
219  Channel Islands  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
219        0        0        0        0  ...      537      537     538

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
219     543     544     544     545     545     545     545

[1 rows x 110 columns]
      Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
219  Channel Islands  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
219        0        0        0        0  ...       38       40      41

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
219      41      41      41      40      40      40      41

[1 rows x 110 columns]
      Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
219  Channel Islands  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
219        0        0        0        0  ...      386      386     406

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
219     406     406     406     406     406     430     447

[1 rows x 110 columns]
    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
220      Gibraltar  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
220        0        0        0        0  ...      141      144     144

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
220     144     144     144     144     144     144     146

[1 rows x 110 columns]
    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
220      Gibraltar  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
220        0        0        0        0  ...        0        0       0

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
220       0       0       0       0       0       0       0

[1 rows x 110 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: RuntimeWarning: invalid value encountered in long_scalars

    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
220      Gibraltar  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
220        0        0        0        0  ...      131      131     131

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
220     132     132     133     133     136     141     142

[1 rows x 110 columns]
    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
221    Isle of Man  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
221        0        0        0        0  ...      313      315     316

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
221     320     321     325     326     327     329     329

[1 rows x 110 columns]
    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
221    Isle of Man  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
221        0        0        0        0  ...       21       21      22

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
221      22      22      23      23      23      23      23

[1 rows x 110 columns]
    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
221    Isle of Man  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
221        0        0        0        0  ...      258      260     271

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
221     271     271     271     271     271     271     271

[1 rows x 110 columns]
    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
222     Montserrat  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
222        0        0        0        0  ...       11       11      11

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
222      11      11      11      11      11      11      11

[1 rows x 110 columns]
    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
222     Montserrat  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
222        0        0        0        0  ...        1        1       1

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
222       1       1       1       1       1       1       1

[1 rows x 110 columns]
    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
222     Montserrat  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
222        0        0        0        0  ...        2        2       2

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
222       2       7       7       7       7       7       8

[1 rows x 110 columns]
    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
223            NaN  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
223        0        0        0        0  ...   165221   171253  177454

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
223  182260  186599  190584  194990  201101  206715  211364

[1 rows x 110 columns]
    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
223            NaN  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
223        0        0        0        0  ...    26097    26771   27510

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
223   28131   28446   28734   29427   30076   30615   31241

[1 rows x 110 columns]
    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
223            NaN  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
223        0        0        0        0  ...        0        0       0

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
223       0       0       0       0       0       0       0

[1 rows x 110 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: RuntimeWarning: invalid value encountered in long_scalars

    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
224            NaN        Uruguay        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
224        0        0        0        0  ...      630      643     648

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
224     652     655     657     670     673     684     694

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
224            NaN        Uruguay        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
224        0        0        0        0  ...       15       17      17

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
224      17      17      17      17      17      17      18

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
224            NaN        Uruguay        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
224        0        0        0        0  ...      412      417     435

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
224     440     442     447     468     486     492     506

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
225            NaN             US        1        1        2        2

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20   5/1/20  \
225        5        5        5        5  ...  1039909  1069424  1103461

      5/2/20   5/3/20   5/4/20   5/5/20   5/6/20   5/7/20   5/8/20
225  1132539  1158040  1180375  1204351  1228603  1257023  1283929

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
225            NaN             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
225        0        0        0        0  ...    60967    62996   64943

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
225   66369   67682   68922   71064   73431   75662   77180

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
225            NaN             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
225        0        0        0        0  ...   120720   153947  164015

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
225  175382  180152  187180  189791  189910  195036  198993

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
226            NaN     Uzbekistan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
226        0        0        0        0  ...     2002     2039    2086

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
226    2118    2149    2189    2207    2233    2298    2325

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
226            NaN     Uzbekistan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
226        0        0        0        0  ...        9        9       9

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
226       9      10      10      10      10      10      10

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
226            NaN     Uzbekistan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
226        0        0        0        0  ...     1096     1133    1212

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
226    1271    1319    1405    1501    1577    1656    1775

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
227            NaN      Venezuela        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
227        0        0        0        0  ...      331      333     335

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
227     345     357     357     361     379     381     388

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
227            NaN      Venezuela        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
227        0        0        0        0  ...       10       16      10

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
227      10      10      10      10      10      10      10

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
227            NaN      Venezuela        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
227        0        0        0        0  ...      142      142     148

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
227     148     158     158     158     176     185     190

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
228            NaN        Vietnam        0        2        2        2

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
228        2        2        2        2  ...      270      270     270

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
228     270     271     271     271     271     288     288

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
228            NaN        Vietnam        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
228        0        0        0        0  ...        0        0       0

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
228       0       0       0       0       0       0       0

[1 rows x 110 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: RuntimeWarning: invalid value encountered in long_scalars

    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
228            NaN        Vietnam        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
228        0        0        0        0  ...      222      219     219

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
228     219     219     219     232     232     233     241

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
229            NaN         Zambia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
229        0        0        0        0  ...       97      106     109

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
229     119     124     137     138     146     153     167

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
229            NaN         Zambia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
229        0        0        0        0  ...        3        3       3

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
229       3       3       3       3       4       4       4

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
229            NaN         Zambia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
229        0        0        0        0  ...       54       55      74

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
229      75      78      78      92     101     103     111

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
230            NaN       Zimbabwe        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
230        0        0        0        0  ...       32       40      40

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
230      34      34      34      34      34      34      34

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
230            NaN       Zimbabwe        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
230        0        0        0        0  ...        4        4       4

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
230       4       4       4       4       4       4       4

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
230            NaN       Zimbabwe        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
230        0        0        0        0  ...        5        5       5

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
230       5       5       5       5       5       5       9

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
231            NaN       Dominica        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
231        0        0        0        0  ...       16       16      16

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
231      16      16      16      16      16      16      16

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
231            NaN       Dominica        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
231        0        0        0        0  ...        0        0       0

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
231       0       0       0       0       0       0       0

[1 rows x 110 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: RuntimeWarning: invalid value encountered in long_scalars

   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
87            NaN       Dominica        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
87        0        0        0  ...       13       13      13      13      13

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
87      13      14      14      14      14

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
232            NaN        Grenada        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
232        0        0        0        0  ...       20       20      20

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
232      21      21      21      21      21      21      21

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
232            NaN        Grenada        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
232        0        0        0        0  ...        0        0       0

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
232       0       0       0       0       0       0       0

[1 rows x 110 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: RuntimeWarning: invalid value encountered in long_scalars

    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
114            NaN        Grenada        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
114        0        0        0        0  ...       13       13      13

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
114      13      13      13      13      13      13      13

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
233            NaN     Mozambique        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
233        0        0        0        0  ...       76       76      79

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
233      79      80      80      81      81      81      82

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
233            NaN     Mozambique        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
233        0        0        0        0  ...        0        0       0

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
233       0       0       0       0       0       0       0

[1 rows x 110 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: RuntimeWarning: invalid value encountered in long_scalars

    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
160            NaN     Mozambique        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
160        0        0        0        0  ...       12       12      12

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
160      18      19      19      19      21      24      27

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
234            NaN          Syria        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
234        0        0        0        0  ...       43       43      44

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
234      44      44      44      44      45      45      47

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
234            NaN          Syria        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
234        0        0        0        0  ...        3        3       3

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
234       3       3       3       3       3       3       3

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
205            NaN          Syria        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
205        0        0        0        0  ...       21       21      27

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
205      27      27      27      27      27      27      29

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
235            NaN    Timor-Leste        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
235        0        0        0        0  ...       24       24      24

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
235      24      24      24      24      24      24      24

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
235            NaN    Timor-Leste        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
235        0        0        0        0  ...        0        0       0

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
235       0       0       0       0       0       0       0

[1 rows x 110 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: RuntimeWarning: invalid value encountered in long_scalars

    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
209            NaN    Timor-Leste        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
209        0        0        0        0  ...        6       16      16

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
209      16      16      20      20      20      21      21

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
236            NaN         Belize        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
236        0        0        0        0  ...       18       18      18

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
236      18      18      18      18      18      18      18

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
236            NaN         Belize        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
236        0        0        0        0  ...        2        2       2

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
236       2       2       2       2       2       2       2

[1 rows x 110 columns]
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
24            NaN         Belize        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  5/2/20  5/3/20  \
24        0        0        0  ...        9        9      13      13      13

    5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
24      14      16      16      16      16

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
237            NaN           Laos        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
237        0        0        0        0  ...       19       19      19

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
237      19      19      19      19      19      19      19

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
237            NaN           Laos        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
237        0        0        0        0  ...        0        0       0

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
237       0       0       0       0       0       0       0

[1 rows x 110 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: RuntimeWarning: invalid value encountered in long_scalars

    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
232            NaN           Laos        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
232        0        0        0        0  ...        7        8       8

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
232       9       9       9       9      10       9       9

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
238            NaN          Libya        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
238        0        0        0        0  ...       61       61      63

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
238      63      63      63      63      64      64      64

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
238            NaN          Libya        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
238        0        0        0        0  ...        2        3       3

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
238       3       3       3       3       3       3       3

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
143            NaN          Libya        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
143        0        0        0        0  ...       18       18      18

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
143      22      22      23      23      24      24      24

[1 rows x 110 columns]
    Province/State      Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
239            NaN  West Bank and Gaza        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
239        0        0        0        0  ...      344      344     353

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
239     353     353     362     371     374     375     375

[1 rows x 110 columns]
    Province/State      Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
239            NaN  West Bank and Gaza        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
239        0        0        0        0  ...        2        2       2

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
239       2       2       2       2       2       2       2

[1 rows x 110 columns]
    Province/State      Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
231            NaN  West Bank and Gaza        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
231        0        0        0        0  ...       71       76      76

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
231      76      77     102     127     174     176     228

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
240            NaN  Guinea-Bissau        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
240        0        0        0        0  ...      205      205     257

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
240     257     257     413     413     475     564     594

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
240            NaN  Guinea-Bissau        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
240        0        0        0        0  ...        1        1       1

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
240       1       1       1       1       2       2       2

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
118            NaN  Guinea-Bissau        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
118        0        0        0        0  ...       19       19      19

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
118      19      19      19      19      24      25      25

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
241            NaN           Mali        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
241        0        0        0        0  ...      482      490     508

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
241     544     563     580     612     631     650     668

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
241            NaN           Mali        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
241        0        0        0        0  ...       25       26      26

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
241      26      27      29      32      32      32      35

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
150            NaN           Mali        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
150        0        0        0        0  ...      129      135     196

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
150     206     213     223     228     261     271     285

[1 rows x 110 columns]
    Province/State         Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
242            NaN  Saint Kitts and Nevis        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
242        0        0        0        0  ...       15       15      15

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
242      15      15      15      15      15      15      15

[1 rows x 110 columns]
    Province/State         Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
242            NaN  Saint Kitts and Nevis        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
242        0        0        0        0  ...        0        0       0

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
242       0       0       0       0       0       0       0

[1 rows x 110 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: RuntimeWarning: invalid value encountered in long_scalars

    Province/State         Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
186            NaN  Saint Kitts and Nevis        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
186        0        0        0        0  ...        4        6       8

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
186       8       8       8      12      12      12      13

[1 rows x 110 columns]
            Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
243  Northwest Territories         Canada        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
243        0        0        0        0  ...        5        5       5

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
243       5       5       5       5       5       5       5

[1 rows x 110 columns]
            Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
243  Northwest Territories         Canada        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
243        0        0        0        0  ...        0        0       0

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
243       0       0       0       0       0       0       0

[1 rows x 110 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: RuntimeWarning: invalid value encountered in long_scalars

    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
244          Yukon         Canada        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
244        0        0        0        0  ...       11       11      11

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
244      11      11      11      11      11      11      11

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
244          Yukon         Canada        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
244        0        0        0        0  ...        0        0       0

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
244       0       0       0       0       0       0       0

[1 rows x 110 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: RuntimeWarning: invalid value encountered in long_scalars

    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
245            NaN         Kosovo        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
245        0        0        0        0  ...      799      806     806

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
245     823     851     855     856     856     861     861

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
245            NaN         Kosovo        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
245        0        0        0        0  ...       22       22      22

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
245      22      22      26      26      26      27      27

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
233            NaN         Kosovo        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
233        0        0        0        0  ...      249      271     271

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
233     336     381     403     490     490     562     562

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
246            NaN          Burma        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
246        0        0        0        0  ...      150      151     151

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
246     151     155     161     161     161     176     177

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
246            NaN          Burma        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
246        0        0        0        0  ...        6        6       6

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
246       6       6       6       6       6       6       6

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
234            NaN          Burma        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
234        0        0        0        0  ...       27       27      31

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
234      37      43      49      49      50      62      67

[1 rows x 110 columns]
    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
247       Anguilla  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
247        0        0        0        0  ...        3        3       3

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
247       3       3       3       3       3       3       3

[1 rows x 110 columns]
    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
247       Anguilla  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
247        0        0        0        0  ...        0        0       0

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
247       0       0       0       0       0       0       0

[1 rows x 110 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: RuntimeWarning: invalid value encountered in long_scalars

    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
235       Anguilla  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
235        0        0        0        0  ...        3        3       3

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
235       3       3       3       3       3       3       3

[1 rows x 110 columns]
             Province/State  Country/Region  1/22/20  1/23/20  1/24/20  \
248  British Virgin Islands  United Kingdom        0        0        0

     1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  \
248        0        0        0        0        0  ...        6        6

     5/1/20  5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
248       6       6       6       6       6       7       7       7

[1 rows x 110 columns]
             Province/State  Country/Region  1/22/20  1/23/20  1/24/20  \
248  British Virgin Islands  United Kingdom        0        0        0

     1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  \
248        0        0        0        0        0  ...        1        1

     5/1/20  5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
248       1       1       1       1       1       1       1       1

[1 rows x 110 columns]
             Province/State  Country/Region  1/22/20  1/23/20  1/24/20  \
236  British Virgin Islands  United Kingdom        0        0        0

     1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  \
236        0        0        0        0        0  ...        3        3

     5/1/20  5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
236       3       3       3       3       3       3       3       3

[1 rows x 110 columns]
               Province/State  Country/Region  1/22/20  1/23/20  1/24/20  \
249  Turks and Caicos Islands  United Kingdom        0        0        0

     1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  \
249        0        0        0        0        0  ...       12       12

     5/1/20  5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
249      12      12      12      12      12      12      12      12

[1 rows x 110 columns]
               Province/State  Country/Region  1/22/20  1/23/20  1/24/20  \
249  Turks and Caicos Islands  United Kingdom        0        0        0

     1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  \
249        0        0        0        0        0  ...        1        1

     5/1/20  5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
249       1       1       1       1       1       1       1       1

[1 rows x 110 columns]
               Province/State  Country/Region  1/22/20  1/23/20  1/24/20  \
237  Turks and Caicos Islands  United Kingdom        0        0        0

     1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  \
237        0        0        0        0        0  ...        5        5

     5/1/20  5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
237       5       5       5       6       6       6       6       8

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
250            NaN     MS Zaandam        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
250        0        0        0        0  ...        9        9       9

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
250       9       9       9       9       9       9       9

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
250            NaN     MS Zaandam        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
250        0        0        0        0  ...        2        2       2

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
250       2       2       2       2       2       2       2

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
238            NaN     MS Zaandam        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
238        0        0        0        0  ...        0        0       0

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
238       0       0       0       0       0       0       0

[1 rows x 110 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: RuntimeWarning: invalid value encountered in long_scalars

    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
251            NaN       Botswana        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
251        0        0        0        0  ...       23       23      23

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
251      23      23      23      23      23      23      23

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
251            NaN       Botswana        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
251        0        0        0        0  ...        1        1       1

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
251       1       1       1       1       1       1       1

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
239            NaN       Botswana        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
239        0        0        0        0  ...        5        5       8

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
239       8       8       8       8       8       9       9

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
252            NaN        Burundi        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
252        0        0        0        0  ...       11       11      11

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
252      15      15      15      15      15      15      15

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
252            NaN        Burundi        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
252        0        0        0        0  ...        1        1       1

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
252       1       1       1       1       1       1       1

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
240            NaN        Burundi        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
240        0        0        0        0  ...        4        4       4

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
240       7       7       7       7       7       7       7

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
253            NaN   Sierra Leone        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
253        0        0        0        0  ...      104      124     136

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
253     155     166     178     199     225     231     257

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
253            NaN   Sierra Leone        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
253        0        0        0        0  ...        4        7       7

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
253       8       8       9      11      14      16      17

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
241            NaN   Sierra Leone        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
241        0        0        0        0  ...       12       21      21

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
241      21      29      37      43      54      54      54

[1 rows x 110 columns]
                       Province/State Country/Region  1/22/20  1/23/20  \
254  Bonaire, Sint Eustatius and Saba    Netherlands        0        0

     1/24/20  1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  \
254        0        0        0        0        0        0  ...        5

     4/30/20  5/1/20  5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
254        5       6       6       6       6       6       6       6       6

[1 rows x 110 columns]
                       Province/State Country/Region  1/22/20  1/23/20  \
254  Bonaire, Sint Eustatius and Saba    Netherlands        0        0

     1/24/20  1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  \
254        0        0        0        0        0        0  ...        0

     4/30/20  5/1/20  5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
254        0       0       0       0       0       0       0       0       0

[1 rows x 110 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: RuntimeWarning: invalid value encountered in long_scalars

                       Province/State Country/Region  1/22/20  1/23/20  \
242  Bonaire, Sint Eustatius and Saba    Netherlands        0        0

     1/24/20  1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  \
242        0        0        0        0        0        0  ...        0

     4/30/20  5/1/20  5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
242        0       0       0       0       0       0       0       0       0

[1 rows x 110 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: RuntimeWarning: invalid value encountered in long_scalars

    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
255            NaN         Malawi        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
255        0        0        0        0  ...       36       37      37

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
255      38      39      41      41      43      43      43

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
255            NaN         Malawi        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
255        0        0        0        0  ...        3        3       3

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
255       3       3       3       3       3       3       3

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
243            NaN         Malawi        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
243        0        0        0        0  ...        7        7       9

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
243       9       9       9       9       9      14      14

[1 rows x 110 columns]
                  Province/State  Country/Region  1/22/20  1/23/20  1/24/20  \
256  Falkland Islands (Malvinas)  United Kingdom        0        0        0

     1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  \
256        0        0        0        0        0  ...       13       13

     5/1/20  5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
256      13      13      13      13      13      13      13      13

[1 rows x 110 columns]
                  Province/State  Country/Region  1/22/20  1/23/20  1/24/20  \
256  Falkland Islands (Malvinas)  United Kingdom        0        0        0

     1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  \
256        0        0        0        0        0  ...        0        0

     5/1/20  5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
256       0       0       0       0       0       0       0       0

[1 rows x 110 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: RuntimeWarning: invalid value encountered in long_scalars

                  Province/State  Country/Region  1/22/20  1/23/20  1/24/20  \
244  Falkland Islands (Malvinas)  United Kingdom        0        0        0

     1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  \
244        0        0        0        0        0  ...       11       11

     5/1/20  5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
244      13      13      13      13      13      13      13      13

[1 rows x 110 columns]
                Province/State Country/Region  1/22/20  1/23/20  1/24/20  \
257  Saint Pierre and Miquelon         France        0        0        0

     1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  \
257        0        0        0        0        0  ...        1        1

     5/1/20  5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
257       1       1       1       1       1       1       1       1

[1 rows x 110 columns]
                Province/State Country/Region  1/22/20  1/23/20  1/24/20  \
257  Saint Pierre and Miquelon         France        0        0        0

     1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  \
257        0        0        0        0        0  ...        0        0

     5/1/20  5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
257       0       0       0       0       0       0       0       0

[1 rows x 110 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: RuntimeWarning: invalid value encountered in long_scalars

                Province/State Country/Region  1/22/20  1/23/20  1/24/20  \
245  Saint Pierre and Miquelon         France        0        0        0

     1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  \
245        0        0        0        0        0  ...        0        0

     5/1/20  5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
245       0       0       0       0       0       0       0       0

[1 rows x 110 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: RuntimeWarning: invalid value encountered in long_scalars

    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
258            NaN    South Sudan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
258        0        0        0        0  ...       34       35      45

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
258      45      46      46      52      58      74     120

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
258            NaN    South Sudan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
258        0        0        0        0  ...        0        0       0

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
258       0       0       0       0       0       0       0

[1 rows x 110 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: RuntimeWarning: invalid value encountered in long_scalars

    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
246            NaN    South Sudan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
246        0        0        0        0  ...        0        0       0

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
246       0       0       0       0       0       0       2

[1 rows x 110 columns]
rejected_r
    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
259            NaN  Western Sahara        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
259        0        0        0        0  ...        6        6       6

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
259       6       6       6       6       6       6       6

[1 rows x 110 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: RuntimeWarning: divide by zero encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: RuntimeWarning: invalid value encountered in long_scalars

    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
259            NaN  Western Sahara        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
259        0        0        0        0  ...        0        0       0

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
259       0       0       0       0       0       0       0

[1 rows x 110 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: RuntimeWarning: invalid value encountered in long_scalars

    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
247            NaN  Western Sahara        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
247        0        0        0        0  ...        5        5       5

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
247       5       5       5       5       5       5       5

[1 rows x 110 columns]
    Province/State         Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
260            NaN  Sao Tome and Principe        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
260        0        0        0        0  ...        8       14      16

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
260      16      16      23     174     174     187     208

[1 rows x 110 columns]
    Province/State         Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
260            NaN  Sao Tome and Principe        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
260        0        0        0        0  ...        0        0       1

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
260       1       1       3       3       3       4       5

[1 rows x 110 columns]
    Province/State         Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
248            NaN  Sao Tome and Principe        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
248        0        0        0        0  ...        4        4       4

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
248       4       4       4       4       4       4       4

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
261            NaN          Yemen        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
261        0        0        0        0  ...        6        6       7

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
261      10      10      12      22      25      25      34

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
261            NaN          Yemen        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
261        0        0        0        0  ...        0        2       2

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
261       2       2       2       4       5       5       7

[1 rows x 110 columns]
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
249            NaN          Yemen        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  4/29/20  4/30/20  5/1/20  \
249        0        0        0        0  ...        1        1       1

     5/2/20  5/3/20  5/4/20  5/5/20  5/6/20  5/7/20  5/8/20
249       1       1       1       1       1       1       1

[1 rows x 110 columns]
Empty DataFrame
Columns: [Province/State, Country/Region, 1/22/20, 1/23/20, 1/24/20, 1/25/20, 1/26/20, 1/27/20, 1/28/20, 1/29/20, 1/30/20, 1/31/20, 2/1/20, 2/2/20, 2/3/20, 2/4/20, 2/5/20, 2/6/20, 2/7/20, 2/8/20, 2/9/20, 2/10/20, 2/11/20, 2/12/20, 2/13/20, 2/14/20, 2/15/20, 2/16/20, 2/17/20, 2/18/20, 2/19/20, 2/20/20, 2/21/20, 2/22/20, 2/23/20, 2/24/20, 2/25/20, 2/26/20, 2/27/20, 2/28/20, 2/29/20, 3/1/20, 3/2/20, 3/3/20, 3/4/20, 3/5/20, 3/6/20, 3/7/20, 3/8/20, 3/9/20, 3/10/20, 3/11/20, 3/12/20, 3/13/20, 3/14/20, 3/15/20, 3/16/20, 3/17/20, 3/18/20, 3/19/20, 3/20/20, 3/21/20, 3/22/20, 3/23/20, 3/24/20, 3/25/20, 3/26/20, 3/27/20, 3/28/20, 3/29/20, 3/30/20, 3/31/20, 4/1/20, 4/2/20, 4/3/20, 4/4/20, 4/5/20, 4/6/20, 4/7/20, 4/8/20, 4/9/20, 4/10/20, 4/11/20, 4/12/20, 4/13/20, 4/14/20, 4/15/20, 4/16/20, 4/17/20, 4/18/20, 4/19/20, 4/20/20, 4/21/20, 4/22/20, 4/23/20, 4/24/20, 4/25/20, 4/26/20, 4/27/20, 4/28/20, ...]
Index: []

[0 rows x 110 columns]

IndexError: index -1 is out of bounds for axis 0 with size 0