In [1]:
import numpy as np 
import matplotlib.pyplot as plt 
import pandas as pd 
import random
import math
import time
from sklearn.model_selection import RandomizedSearchCV, train_test_split
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error, mean_absolute_error
import operator 
import matplotlib.dates as mdates
import matplotlib.ticker as ticker
import datetime
from datetime import date
import operator
from matplotlib import pyplot
#import rpy2 as r
#from tslearn.utils import to_time_series_dataset
#from tslearn.preprocessing import TimeSeriesScalerMinMax
from sklearn import model_selection
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from statsmodels.tsa.stattools import adfuller

In [2]:
#put the files in the same folder with code
confirmed_cases=pd.read_csv('confirmed_cases_total.csv')

In [3]:
deaths_cases=pd.read_csv('deaths_cases_total.csv')

In [4]:
recoveries_cases=pd.read_csv('recoveries_cases_total.csv')

In [5]:
colnames = confirmed_cases.columns.values

In [6]:
colonames = recoveries_cases.columns.values

In [7]:
confirmed = confirmed_cases.loc[:, colnames[4]:colnames[-1]]
deaths = deaths_cases.loc[:, colnames[4]:colnames[-1]]
recoveries = recoveries_cases.loc[:, colonames[4]:colonames[-1]]

In [8]:
time_date = confirmed.columns.values

In [9]:
all_days = np.array([i for i in range(len(time_date))]).reshape(-1, 1)

In [10]:
#pred_days_ahead = 2
#pred_days_ahead = 7
#pred_days_ahead = 30
#predictions_ahead = np.array([i for i in range(len(time_date)+pred_days_ahead)]).reshape(-1, 1)

#predictions_ahead_plus_day = np.array([i for i in range(len(time_date)+pred_days_ahead+1)]).reshape(-1, 1)

In [11]:
pred_days_ahead = 30
predictions_ahead = np.array([i for i in range(len(time_date)+pred_days_ahead)]).reshape(-1, 1)

predictions_ahead_plus_day2 = np.array([i for i in range(len(time_date)+2+1)]).reshape(-1, 1)
predictions_ahead_plus_day7 = np.array([i for i in range(len(time_date)+7+1)]).reshape(-1, 1)
predictions_ahead_plus_day30 = np.array([i for i in range(len(time_date)+30+1)]).reshape(-1, 1)

In [12]:
#start = datetime.datetime.strptime(colnames[4], "%m/%d/%y")
#end = datetime.datetime.strptime(colnames[-1], "%m/%d/%y")
#predictions_ahead_dates = [start + datetime.timedelta(days=d) for d in range(len(predictions_ahead_plus_day))]

start = datetime.datetime.strptime(colnames[4], "%m/%d/%y")
end = datetime.datetime.strptime(colnames[-1], "%m/%d/%y")
predictions_ahead_dates2 = [start + datetime.timedelta(days=d) for d in range(len(predictions_ahead_plus_day2))]
predictions_ahead_dates7 = [start + datetime.timedelta(days=d) for d in range(len(predictions_ahead_plus_day7))]
predictions_ahead_dates30 = [start + datetime.timedelta(days=d) for d in range(len(predictions_ahead_plus_day30))]

In [13]:
confirmed_cases = confirmed_cases[~confirmed_cases['Country/Region'].isin(['Tajikistan', 'Comoros'])]

In [14]:
countries=confirmed_cases['Country/Region'].tolist()
province=confirmed_cases['Province/State'].tolist()

In [15]:
#country = countries[264:-1]
#provinces = province[264:-1]

In [16]:
# def test_stationarity(timeseries):
    
#     #Determing rolling statistics
#     rolmean = timeseries.rolling(12).mean()     
#     rolstd = timeseries.rolling(12).std()
    
#     #Perform Dickey-Fuller test:
#     dftest = adfuller(timeseries, autolag='AIC')
#     dfoutput = pd.Series(dftest[0:4], index=['Test Statistic','p-value','#Lags Used','Number of Observations Used'])
#     for key,value in dftest[4].items():
#         dfoutput['Critical Value (%s)'%key] = value
#     return dfoutput

In [17]:
#deaths_cases.tail()

In [18]:
def inverse_difference(last_ob, value):
    return value + last_ob

In [19]:
# #input timeseries as a dataframe
# def make_stationary(timeseries):
#     #remove zeroes to find the optimal d
#     timeseries=timeseries[timeseries['cases'] != 0]
#     #find the optimal d 
#     diff=timeseries-timeseries.shift(1)
#     for d in range(1,10):
#         if (test_stationarity(diff.dropna())['p-value']<0.1):
#             break
#         else: 
#             d=d+1 
#             diff=diff-diff.shift(1)
#     return d

In [20]:
#df['diff'+str(i)]=df['diff']

In [21]:
def takensEmbedding (data, delay, dimension):
    "This function returns the Takens embedding of data with delay into dimension, delay*dimension must be < len(data)"
    if delay*dimension > len(data):
        raise NameError('Delay times dimension exceed length of data!')    
    embeddedData = np.array([data[0:len(data)-delay*dimension]])
    for i in range(1, dimension):
        embeddedData = np.append(embeddedData, [data[i*delay:len(data) - delay*(dimension - i)]], axis=0)
    return embeddedData;

In [22]:
def prepare_data (region, delay=1 , dimension=31):
    #create a dataframe for timeseries analysis
    date_rng = pd.date_range(start=colnames[4], end=colnames[-1], freq='D') #creates the days
    df = pd.DataFrame(date_rng, columns=['date'])
    df['cases']=np.transpose(region) #this is a dataframe with dates and cases.
#     df = df.set_index('date')
#     timeseries=df[df['cases'] != 0]
#     #find the optimal d 
#     diff=timeseries-timeseries.shift(1)
#     for d in range(1,10):
#         if (test_stationarity(diff.dropna())['p-value']<0.1):
#             break
#         else: 
#             d=d+1 
#             diff=diff-diff.shift(1)
#     for i in range (1,d):
#         i=i+1 
#         diff=diff-diff.shift(1)
#         df['diff'+str(i)]=diff
    #df['diff']=diff #column of the dataframe with the stationary timeseries, might contain Na's!
    df['diff']=df['cases']-df['cases'].shift(1)
    t_diff=(df['diff'].dropna()).to_numpy() 
    timeseries_embedded=np.transpose(takensEmbedding(t_diff,delay,dimension))
    Y_train=timeseries_embedded[:,-1]
    X_train=timeseries_embedded[:,:-1] #keep all apart from the last column
    X_test=t_diff[-(dimension-1):] #predict using as feature the last 'dimension' lags
    return X_train , Y_train, X_test , t_diff

In [23]:
# prepare_data(reg,1,31)

In [24]:
# X_train=prepare_data(reg,1,31)[0]
# Y_train=prepare_data(reg,1,31)[1]
# X_test=prepare_data(reg,1,31)[2]
# t_diff=prepare_data(reg,1,31)[3]

In [25]:
# np.shape(X_train)

In [26]:
# X_test=t_diff[-30:]
# X_test
# pred_days_ahead=2

In [27]:
# predictions=np.zeros(pred_days_ahead)
# for i in range(pred_days_ahead):
#     regressor = RandomForestRegressor(n_estimators = 500, random_state = 42)
#     r=regressor.fit(X_train, Y_train)
#     predictions[i] = regressor.predict(X_test.reshape(1, -1))
#     X_test=np.append(X_test[1:],predictions[i])
#     #in every iteration remove the first element of X_test and add prediction
# predictions

In [28]:
# together=np.append(t_diff,predictions)
# together

In [29]:
# together=np.cumsum(together)
# together

In [30]:
# for i in range(1,d):
#         together=np.cumsum(together)
# together

In [31]:
def predict_with_ML(region, pred_days_ahead, delay=1,dimension=30):
    predictions=np.zeros(pred_days_ahead)
    X_train = prepare_data(region, delay, dimension)[0] 
    Y_train = prepare_data(region, delay, dimension)[1]
    X_test = prepare_data(region, delay, dimension)[2]
    for i in range(pred_days_ahead):
        regressor = RandomForestRegressor(n_estimators = 500, random_state = 42)
        r=regressor.fit(X_train, Y_train)
        predictions[i] = regressor.predict(X_test.reshape(1, -1))
        X_test=np.append(X_test[1:],int(predictions[i])) 
        #in every iteration remove the first element of X_test and add prediction
    predictions #we have to go back to the original scale
    #d = prepare_data(region, delay, dimension)[3]
    t_diff = prepare_data(region, delay, dimension)[3]
    together=np.append(t_diff,predictions)
    #for i in range(1,d):
    together=np.cumsum(together)
    return together #returns an array with all the cases and the predictions (we want the last elements of it)

In [32]:
# x=predict_with_ML(reg,30,1,31)

In [33]:
# pred_days_ahead=30
# x[-pred_days_ahead+6]

In [34]:
# region = confirmed_cases.loc[(confirmed_cases['Country/Region'] == "US") & (pd.isnull(confirmed_cases['Province/State']))]
# reg =  np.array(region.loc[:, colnames[4]:colnames[-1]])
# len(reg[0])

In [35]:
# date_rng = pd.date_range(start=colnames[4], end=colnames[-1], freq='D') #creates the days
# df = pd.DataFrame(date_rng, columns=['date'])
# df['cases']=np.transpose(reg) #this is a dataframe with dates and cases.
# df = df.set_index('date')
# #df=df[df['cases'] != 0] #remove zeroes, they do not help for analysis.
# df

In [36]:
# df['diff']=df['cases']-df['cases'].shift(1)
# df

In [37]:
# def takensEmbedding (data, delay, dimension):
#     "This function returns the Takens embedding of data with delay into dimension, delay*dimension must be < len(data)"
#     if delay*dimension > len(data):
#         raise NameError('Delay times dimension exceed length of data!')    
#     embeddedData = np.array([data[0:len(data)-delay*dimension]])
#     for i in range(1, dimension):
#         embeddedData = np.append(embeddedData, [data[i*delay:len(data) - delay*(dimension - i)]], axis=0)
#     return embeddedData;

In [38]:
# t_diff=(df['diff'].dropna()).to_numpy() 
# np.shape(t_diff) #the function wants as input an array

In [39]:
# timeseries_embedded=np.transpose(takensEmbedding(t_diff,1,11))
# np.shape(timeseries_embedded)

In [40]:
# Y_train=timeseries_embedded[:,-1]
# Y_train

In [41]:
# X_train=timeseries_embedded[:,:-1] #keep all apart from the last column
# X_train

In [42]:
#np.transpose(reg)[-30:].reshape(1,-1)
#X_test=np.transpose(x)[0].reshape(1,-1)
#X_test=np.transpose(t_diff[-30:]).reshape(1,-1)
# X_test=t_diff[-10:]
# X_test

In [43]:
# #regressor = RandomForestRegressor(n_estimators = 500, random_state = 42) 
# regressor =  GradientBoostingRegressor(n_estimators=500, learning_rate=0.1,
#                                             max_depth=1, random_state=0, loss='huber')
# #regressor = SVR(kernel='rbf', C=1 )
# r=regressor.fit(X_train, Y_train)
# predictions = regressor.predict(X_test.reshape(1, -1))

In [44]:
# predictions
# #X_test

In [45]:
# X_test=np.append(X_test[1:],int(predictions))
# #len(X_test)
# X_test

In [46]:
# pred_days_ahead=2
# X_train
# #X_train[:-1,:]

In [47]:
# predictions=np.zeros(pred_days_ahead)
# for i in range(pred_days_ahead):
#     regressor = RandomForestRegressor(n_estimators = 500, random_state = 42)
#     r=regressor.fit(X_train, Y_train)
#     predictions[i] = regressor.predict(X_test.reshape(1, -1))
#     X_test=np.append(X_test[1:],int(predictions[i])) 
#     #in every iteration remove the first element of X_test and add prediction
# predictions

In [48]:
# predictions=np.zeros(pred_days_ahead)
# for i in range(pred_days_ahead):
#     regressor = RandomForestRegressor(n_estimators = 500, random_state = 42)
#     r=regressor.fit(X_train, Y_train)
#     predictions[i] = regressor.predict(X_test)
#     Y_train = Y_train[:-1] #remove the last element of Y_train
#     X_train=X_train[:-1,:] #remove the last row of X_train
# predictions

In [49]:
import operator
def subpopulation_Analysis(cases,country,province, all_days,subpopulation, pred_days_ahead=30):
    
    pred  = list()
    if pd.isnull(province):
        region = cases.loc[(cases['Country/Region'] == country) & (pd.isnull(cases['Province/State']))]
    else:
        print("Hi")
        print(country)
        print(province)
        region = cases.loc[(cases['Country/Region'] == country)& (cases['Province/State'] == province)]
    print("Region")
    print(region)
    
    reg =  np.array(region.loc[:, colnames[4]:colnames[-1]])
    region =  np.array(region.loc[:, colnames[4]:colnames[-1]]).reshape(-1, 1)
        
    #train_x, test_x, train_y, test_y = model_selection.train_test_split(all_days,region,test_size = 0.04,random_state = 42,shuffle=False)
    
    #pred_svm =  SVM_regression(train_x, train_y.ravel(), test_x, test_y, predictions_ahead,subpopulation,all_days,region.ravel())
    #pred.append(pred_svm)
    
    #TODO: a for loop
    daily_increase_threshold1=np.absolute((reg[-1][-1]-reg[-1][-2])/reg[-1][-2])*100
    daily_increase_threshold2=np.absolute((reg[-1][-2]-reg[-1][-3])/reg[-1][-3])*100
    daily_increase_threshold3=np.absolute((reg[-1][-3]-reg[-1][-4])/reg[-1][-4])*100
    daily_increase_threshold4=np.absolute((reg[-1][-4]-reg[-1][-5])/reg[-1][-5])*100
    daily_increase_bound=1000
    daily_increase_threshold = max(daily_increase_threshold1,daily_increase_threshold2,daily_increase_threshold3,daily_increase_threshold4)
    
    if (daily_increase_threshold>daily_increase_bound):
        best_pred_ahead2 = 0 
        best_pred_ahead7 = 0 
        best_pred_ahead30 = 0 
        region = region
        best_pred = 0
        #best_conf_int = np.zeros(2)
        reject_country = 1
        return(best_pred_ahead2,best_pred_ahead7,best_pred_ahead30, region, best_pred, reject_country)
     
    
    pred_arima=predict_with_ML(reg, pred_days_ahead, delay=1,dimension=31)
    #pred.append(pred_svm)
    #pred_RF = RF_regression(train_x, train_y.ravel(), test_x, test_y, predictions_ahead,subpopulation,all_days,region.ravel())
    #pred.append(pred_RF)

    
   # pred_gb =  Grad_Boost_regression(train_x, train_y.ravel(), test_x, test_y, predictions_ahead,subpopulation,all_days,region.ravel())
   # pred.append(pred_gb)


    if (subpopulation == 'confirmed'): 
        if (len(pred_arima)==0):
            min_idx, (min_key, min_val) = min(enumerate(prediction_models_confirmed.items()), key=lambda x: x[1][1])
            best_pred = pred[min_idx]
            #conf_int=np.zeros(2)
        else:
            best_pred=pred_arima
            #conf_int=conf_int
    elif (subpopulation == 'deaths'):
        if (len(pred_arima)==0):
            min_idx, (min_key, min_val) = min(enumerate(prediction_models_deaths.items()), key=lambda x: x[1][1])
            best_pred = pred[min_idx]
            #conf_int=np.zeros(2)
        else:
            best_pred=pred_arima
            #conf_int=conf_int
    else :
        if (len(pred_arima)==0):
            min_idx, (min_key, min_val) = min(enumerate(prediction_models_recoveries.items()), key=lambda x: x[1][1])
            best_pred = pred[min_idx]
            #conf_int=np.zeros(2)
        else:
            best_pred=pred_arima
            #conf_int=conf_int
        
    #print(best_pred)
    #print(type(best_pred))
    best_pred_ahead2 = best_pred[-pred_days_ahead+1]
    #print("gntm2")
    #print(best_pred_ahead2)
    best_pred_ahead7= best_pred[-pred_days_ahead+6]
    #print("gntm7")
    #print(best_pred_ahead7)
    best_pred_ahead30= best_pred[-pred_days_ahead-1]
    #print("gntm30")
    #print(best_pred_ahead30)
    #best_conf_int=conf_int[-1]
   
    #best_conf_int[0]=max(reg[-1][-1], best_conf_int[0])
    #if (best_conf_int[0]>best_conf_int[1]):
        #best_conf_int[1]=2*reg[-1][-1]

    if(best_pred_ahead2<reg[-1][-1]):
        best_pred_ahead2= reg[-1][-1]+2
    
    if(best_pred_ahead7<reg[-1][-1]):
        best_pred_ahead7= reg[-1][-1]+7   
    
    if(best_pred_ahead7<reg[-1][-1]):
        best_pred_ahead7= reg[-1][-1]+30     
    
    reject_country = 0
    
    return best_pred_ahead2,best_pred_ahead7,best_pred_ahead30, region, best_pred, reject_country

In [50]:
pred_file2 = str(2)+"day_prediction_random_forest" +  date.today().strftime('%Y-%m-%d') + ".csv"
pred_file2

'2day_prediction_random_forest2020-05-23.csv'

In [51]:
pred_file7 = str(7)+"day_prediction_random_forest" + date.today().strftime('%Y-%m-%d') + ".csv"
pred_file7

'7day_prediction_random_forest2020-05-23.csv'

In [52]:
pred_file30 = str(30)+"day_prediction_random_forest" + date.today().strftime('%Y-%m-%d') + ".csv"
pred_file30

'30day_prediction_random_forest2020-05-23.csv'

In [53]:
columns = ['Province/State','Country','Target/Date','N','low95N','high95N',
          'R','low95R','high95R','D','low95D','high95D','T','low95T','high95T',
           'M','low95M','high95M','C','low95C','high95C']

            

k = 0

for co in range(len(countries)):
    
    ignore_recoveries = 0    
    
    total_predictions2 = pd.DataFrame(columns = columns)
    total_predictions7 = pd.DataFrame(columns = columns)
    total_predictions30 = pd.DataFrame(columns = columns)
    
    k = k + 1
    

    best_pred_confirmed2,best_pred_confirmed7,best_pred_confirmed30, region_con, best_pred_con, reject_country = subpopulation_Analysis(confirmed_cases,countries[co],province[co],
                                                 all_days,"confirmed",pred_days_ahead)
    
    if (reject_country==1):
        print('rejected_conf')
        continue
        
    best_pred_deaths2,best_pred_deaths7,best_pred_deaths30, region_d, best_pred_d, reject_country = subpopulation_Analysis(deaths_cases,countries[co],province[co],
                                              all_days,"deaths",pred_days_ahead)
    if (reject_country==1):
        print('rejected_d')
        continue
        
    if ((countries[co] == 'US' or countries[co] == 'Canada' ) & (pd.notnull(province[co]))):
        ignore_recoveries=1   
    else:
        best_pred_recoveries2,best_pred_recoveries7,best_pred_recoveries30, region_r, best_pred_r, reject_country = subpopulation_Analysis(recoveries_cases,countries[co],province[co],
                                                  all_days,"recoveries",pred_days_ahead)
    
    if (reject_country==1):
        print('rejected_r')
        continue
    
    # Mortality rate
    #if (conf_int_con[0]==0):
       # mort_pred=0
        #mort_pred_low=0
        #mort_pred_up=0
    #else:
    mort_pred2  = best_pred_deaths2/best_pred_confirmed2
    mort_pred7  = best_pred_deaths7/best_pred_confirmed7
    mort_pred30  = best_pred_deaths30/best_pred_confirmed30
        #mort_pred_low= conf_int_d[0]/conf_int_con[1]
        #mort_pred_up=conf_int_d[1]/conf_int_con[0]
    
    #fix province
    province_name=''
    if (pd.notnull(province[co])) :
        province_name=province[co]
    
    if (ignore_recoveries==0):
        R_value2=int(best_pred_recoveries2) 
        R_value7=int(best_pred_recoveries7) 
        R_value30=int(best_pred_recoveries30) 
        #low_R=int(conf_int_r[0])
        #high_R=int(conf_int_r[1])
    else:
        R_value2=''
        R_value7=''
        R_value30=''
        #low_R=''
        #high_R=''
        
    #Critical Cases:
    #Assume that 5% of all cases are critical and need hospitalization:
    serious_percentage=0.05
    critical2=serious_percentage*best_pred_confirmed2
    critical7=serious_percentage*best_pred_confirmed7
    critical30=serious_percentage*best_pred_confirmed30
    #low_critical=serious_percentage*conf_int_con[0]
    #high_critical=serious_percentage*conf_int_con[1]
    
    total_predictions2 = total_predictions2.append({'Province/State': province_name,
                                                'Country': countries[co],
                                                'Target/Date': predictions_ahead_dates2[-1].strftime('%Y-%m-%d'), 
                                                'N': int(best_pred_confirmed2) ,
                                                'low95N':'',
                                                'high95N': '',
                                                'R': R_value2 ,
                                                'low95R' : '',
                                                'high95R' : '',
                                                'D': int(best_pred_deaths2) ,
                                                'low95D' : '',
                                                'high95D': '',
                                                'T': '',
                                                'low95T' : '' ,
                                                'high95T' : '',
                                                'M': mort_pred2,
                                                'low95M': '',
                                                'high95M': '' ,
                                                'C': int(critical2) ,
                                                'low95C':  '' ,
                                                'high95C': '' },ignore_index = True)
        
    total_predictions7 = total_predictions7.append({'Province/State': province_name,
                                                'Country': countries[co],
                                                'Target/Date': predictions_ahead_dates7[-1].strftime('%Y-%m-%d'), 
                                                'N': int(best_pred_confirmed7) ,
                                                'low95N':'',
                                                'high95N': '',
                                                'R': R_value7 ,
                                                'low95R' : '',
                                                'high95R' : '',
                                                'D': int(best_pred_deaths7) ,
                                                'low95D' : '',
                                                'high95D': '',
                                                'T': '',
                                                'low95T' : '' ,
                                                'high95T' : '',
                                                'M': mort_pred7,
                                                'low95M': '',
                                                'high95M': '' ,
                                                'C': int(critical7) ,
                                                'low95C':  '' ,
                                                'high95C': '' },ignore_index = True)
            
    total_predictions30 = total_predictions30.append({'Province/State': province_name,
                                                'Country': countries[co],
                                                'Target/Date': predictions_ahead_dates30[-1].strftime('%Y-%m-%d'), 
                                                'N': int(best_pred_confirmed30) ,
                                                'low95N':'',
                                                'high95N': '',
                                                'R': R_value30 ,
                                                'low95R' : '',
                                                'high95R' : '',
                                                'D': int(best_pred_deaths30) ,
                                                'low95D' : '',
                                                'high95D': '',
                                                'T': '',
                                                'low95T' : '' ,
                                                'high95T' : '',
                                                'M': mort_pred30,
                                                'low95M': '',
                                                'high95M': '' ,
                                                'C': int(critical30) ,
                                                'low95C':  '' ,
                                                'high95C': '' },ignore_index = True)
    
    if (k==1):
        header = True
    else:
        header = False
    
    total_predictions2.to_csv(pred_file2, sep=',',index = False,  mode='a', header = header)
    total_predictions7.to_csv(pred_file7, sep=',',index = False,  mode='a', header = header)
    total_predictions30.to_csv(pred_file30, sep=',',index = False,  mode='a', header = header)

Region
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
0            NaN    Afghanistan        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
0        0        0        0  ...     5226     5639     6053     6402

   5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
0     6664     7072     7653     8145     8676     9216

[1 rows x 124 columns]
Region
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
0            NaN    Afghanistan        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
0        0        0        0  ...      132      136      153      168

   5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
0      169      173      178      187      193      205

[1 rows x 124 columns]
Region
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
0            NaN    Afghanistan        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
0        0        0        0  ...      648      691      745      745

   5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
0      778      801      850      930      938      996

[1 rows x 124 columns]
Region
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
1            NaN        Albania        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
1        0        0        0  ...      880      898      916      933

   5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
1      946      948      949      964      969      981

[1 rows x 124 columns]
Region
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
1            NaN        Albania        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
1        0        0        0  ...       31       31       31       31

   5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
1       31       31       31       31       31       31

[1 rows x 124 columns]
Region
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
1            NaN        Albania        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
1        0        0        0  ...      688      694      705      714

   5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
1      715      727      742      758      771      777

[1 rows x 124 columns]
Region
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
2            NaN        Algeria        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
2        0        0        0  ...     6253     6442     6629     6821

   5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
2     7019     7201     7377     7542     7728     7918

[1 rows x 124 columns]
Region
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
2            NaN        Algeria        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
2        0        0        0  ...      522      529      536      542

   5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
2      548      555      561      568      575      582

[1 rows x 124 columns]
Region
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
2            NaN        Algeria        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
2        0        0        0  ...     3058     3158     3271     3409

   5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
2     3507     3625     3746     3968     4062     4256

[1 rows x 124 columns]
Region
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
3            NaN        Andorra        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
3        0        0        0  ...      760      761      761      761

   5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
3      761      761      761      762      762      762

[1 rows x 124 columns]
Region
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
3            NaN        Andorra        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
3        0        0        0  ...       49       49       49       51

   5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
3       51       51       51       51       51       51

[1 rows x 124 columns]
Region
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
3            NaN        Andorra        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
3        0        0        0  ...      576      596      604      615

   5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
3      617      624      628      639      639      652

[1 rows x 124 columns]
Region
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
4            NaN         Angola        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
4        0        0        0  ...       45       48       48       48

   5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
4       48       50       52       52       58       60

[1 rows x 124 columns]
Region
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
4            NaN         Angola        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
4        0        0        0  ...        2        2        2        2

   5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
4        2        3        3        3        3        3

[1 rows x 124 columns]
Region
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
4            NaN         Angola        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
4        0        0        0  ...       14       14       17       17

   5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
4       17       17       17       17       17       17

[1 rows x 124 columns]
Region
  Province/State       Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
5            NaN  Antigua and Barbuda        0        0        0        0

   1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
5        0        0        0        0  ...       25       25       25

   5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
5       25       25       25       25       25       25       25

[1 rows x 124 columns]
Region
  Province/State       Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
5            NaN  Antigua and Barbuda        0        0        0        0

   1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
5        0        0        0        0  ...        3        3        3

   5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
5        3        3        3        3        3        3        3

[1 rows x 124 columns]
Region
  Province/State       Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
5            NaN  Antigua and Barbuda        0        0        0        0

   1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
5        0        0        0        0  ...       19       19       19

   5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
5       19       19       19       19       19       19       19

[1 rows x 124 columns]

Region
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
6            NaN      Argentina        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
6        0        0        0  ...     6879     7134     7479     7805

   5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
6     8068     8371     8809     9283     9931    10649

[1 rows x 124 columns]
Region
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
6            NaN      Argentina        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
6        0        0        0  ...      329      353      356      363

   5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
6      373      382      393      403      416      433

[1 rows x 124 columns]
Region
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
6            NaN      Argentina        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
6        0        0        0  ...     2266     2385     2497     2534

   5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
6     2569     2625     2872     2933     3032     3062

[1 rows x 124 columns]
Region
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
7            NaN        Armenia        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
7        0        0        0  ...     3718     3860     4044     4283

   5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
7     4472     4823     5041     5271     5606     5928

[1 rows x 124 columns]
Region
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
7            NaN        Armenia        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
7        0        0        0  ...       48       49       52       55

   5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
7       60       61       64       67       70       74

[1 rows x 124 columns]
Region
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
7            NaN        Armenia        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
7        0        0        0  ...     1500     1572     1666     1791

   5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
7     1925     2019     2164     2419     2581     2874

[1 rows x 124 columns]
Hi
Australia
Australian Capital Territory
Region
                 Province/State Country/Region  1/22/20  1/23/20  1/24/20  \
8  Australian Capital Territory      Australia        0        0        0

   1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  \
8        0        0        0        0        0  ...      107      107

   5/15/20  5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
8      107      107      107      107      107      107      107      107

[1 rows x 124 columns]
Hi
Australia
Australian Capital Territory
Region
                 Province/State Country/Region  1/22/20  1/23/20  1/24/20  \
8  Australian Capital Territory      Australia        0        0        0

   1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  \
8        0        0        0        0        0  ...        3        3

   5/15/20  5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
8        3        3        3        3        3        3        3        3

[1 rows x 124 columns]
Hi
Australia
Australian Capital Territory
Region
                 Province/State Country/Region  1/22/20  1/23/20  1/24/20  \
8  Australian Capital Territory      Australia        0        0        0

   1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  \
8        0        0        0        0        0  ...      104      104

   5/15/20  5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
8      104      104      104      104      104      104      104      104

[1 rows x 124 columns]
Hi
Australia
New South Wales
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
9  New South Wales      Australia        0        0        0        0

   1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
9        3        4        4        4  ...     3063     3071     3074

   5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
9     3075     3076     3078     3081     3082     3084     3086

[1 rows x 124 columns]
Hi
Australia
New South Wales
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
9  New South Wales      Australia        0        0        0        0

   1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
9        0        0        0        0  ...       45       45       45

   5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
9       45       46       46       47       47       48       48

[1 rows x 124 columns]
Hi
Australia
New South Wales
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
9  New South Wales      Australia        0        0        0        0

   1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
9        0        0        0        0  ...     2595     2605     2611

   5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
9     2611     2612     2614     2631     2648     2648     2653

[1 rows x 124 columns]
Hi
Australia
Northern Territory
Region
        Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
10  Northern Territory      Australia        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
10        0        0        0        0  ...       29       29       29

    5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
10       29       29       29       29       29       29       29

[1 rows x 124 columns]
Hi
Australia
Northern Territory
Region
        Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
10  Northern Territory      Australia        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
10        0        0        0        0  ...        0        0        0

    5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
10        0        0        0        0        0        0        0

[1 rows x 124 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Hi
Australia
Northern Territory
Region
        Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
10  Northern Territory      Australia        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
10        0        0        0        0  ...       27       27       27

    5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
10       27       27       27       27       29       29       29

[1 rows x 124 columns]
Hi
Australia
Queensland
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
11     Queensland      Australia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
11        0        0        1  ...     1051     1054     1055     1055

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
11     1057     1057     1058     1058     1058     1060

[1 rows x 124 columns]
Hi
Australia
Queensland
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
11     Queensland      Australia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
11        0        0        0  ...        6        6        6        6

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
11        6        6        6        6        6        6

[1 rows x 124 columns]
Hi
Australia
Queensland
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
11     Queensland      Australia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
11        0        0        0  ...     1030     1031     1036     1037

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
11     1038     1039     1040     1040     1040     1041

[1 rows x 124 columns]
Hi
Australia
South Australia
Region
     Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
12  South Australia      Australia        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
12        0        0        0        0  ...      439      439      439

    5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
12      439      439      439      439      439      439      439

[1 rows x 124 columns]
Hi
Australia
South Australia
Region
     Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
12  South Australia      Australia        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
12        0        0        0        0  ...        4        4        4

    5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
12        4        4        4        4        4        4        4

[1 rows x 124 columns]
Hi
Australia
South Australia
Region
     Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
12  South Australia      Australia        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
12        0        0        0        0  ...      434      434      435

    5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
12      435      435      435      435      435      435      435

[1 rows x 124 columns]
Hi
Australia
Tasmania
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
13       Tasmania      Australia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
13        0        0        0  ...      227      227      228      228

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
13      228      228      228      228      228      228

[1 rows x 124 columns]
Hi
Australia
Tasmania
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
13       Tasmania      Australia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
13        0        0        0  ...       13       13       13       13

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
13       13       13       13       13       13       13

[1 rows x 124 columns]
Hi
Australia
Tasmania
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
13       Tasmania      Australia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
13        0        0        0  ...      184      188      191      192

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
13      194      195      195      196      198      199

[1 rows x 124 columns]
Hi
Australia
Victoria
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
14       Victoria      Australia        0        0        0        0        1

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
14        1        1        1  ...     1521     1540     1551     1558

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
14     1564     1573     1573     1581     1593     1593

[1 rows x 124 columns]
Hi
Australia
Victoria
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
14       Victoria      Australia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
14        0        0        0  ...       18       18       18       18

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
14       18       18       18       18       18       18

[1 rows x 124 columns]
Hi
Australia
Victoria
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
14       Victoria      Australia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
14        0        0        0  ...     1385     1407     1417     1417

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
14     1439     1454     1454     1473     1479     1479

[1 rows x 124 columns]
Hi
Australia
Western Australia
Region
       Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
15  Western Australia      Australia        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
15        0        0        0        0  ...      552      552      552

    5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
15      553      554      557      557      557      557      557

[1 rows x 124 columns]
Hi
Australia
Western Australia
Region
       Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
15  Western Australia      Australia        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
15        0        0        0        0  ...        9        9        9

    5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
15        9        9        9        9        9        9        9

[1 rows x 124 columns]
Hi
Australia
Western Australia
Region
       Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
15  Western Australia      Australia        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
15        0        0        0        0  ...      538      538      538

    5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
15      541      543      545      545      545      545      545

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
16            NaN        Austria        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
16        0        0        0  ...    15997    16058    16109    16201

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
16    16242    16269    16321    16353    16404    16436

[1 rows x 124 columns]

Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
16            NaN        Austria        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
16        0        0        0  ...      624      626      628      629

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
16      629      629      632      633      633      635

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
16            NaN        Austria        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
16        0        0        0  ...    14304    14405    14471    14524

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
16    14563    14614    14678    14882    14951    15005

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
17            NaN     Azerbaijan        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
17        0        0        0  ...     2758     2879     2980     3138

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
17     3274     3387     3518     3631     3749     3855

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
17            NaN     Azerbaijan        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
17        0        0        0  ...       35       35       36       36

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
17       39       40       41       43       44       46

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
17            NaN     Azerbaijan        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
17        0        0        0  ...     1789     1833     1886     1944

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
17     2015     2055     2198     2253     2340     2399

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
18            NaN        Bahamas        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
18        0        0        0  ...       94       96       96       96

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
18       96       96       96       97       97       97

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
18            NaN        Bahamas        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
18        0        0        0  ...       11       11       11       11

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
18       11       11       11       11       11       11

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
18            NaN        Bahamas        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
18        0        0        0  ...       41       41       41       42

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
18       42       43       43       43       44       44

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
19            NaN        Bahrain        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
19        0        0        0  ...     5816     6198     6583     6747

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
19     6956     7184     7532     7888     8174     8414

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
19            NaN        Bahrain        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
19        0        0        0  ...       10       10       12       12

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
19       12       12       12       12       12       12

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
19            NaN        Bahrain        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
19        0        0        0  ...     2205     2353     2640     2762

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
19     2910     2931     2952     3568     3873     4096

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
20            NaN     Bangladesh        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
20        0        0        0  ...    17822    18863    20065    20995

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
20    22268    23870    25121    26738    28511    30205

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
20            NaN     Bangladesh        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
20        0        0        0  ...      269      283      298      314

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
20      328      349      370      386      408      432

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
20            NaN     Bangladesh        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
20        0        0        0  ...     3361     3361     3882     4117

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
20     4373     4585     4993     5207     5602     6190

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
21            NaN       Barbados        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
21        0        0        0  ...       85       85       85       86

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
21       88       88       90       90       90       90

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
21            NaN       Barbados        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
21        0        0        0  ...        7        7        7        7

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
21        7        7        7        7        7        7

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
21            NaN       Barbados        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
21        0        0        0  ...       65       65       65       67

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
21       68       68       68       70       70       70

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
22            NaN        Belarus        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
22        0        0        0  ...    25825    26772    27730    28681

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
22    29650    30572    31508    32426    33371    34303

[1 rows x 124 columns]

Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
22            NaN        Belarus        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
22        0        0        0  ...      146      151      156      160

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
22      165      171      175      179      185      190

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
22            NaN        Belarus        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
22        0        0        0  ...     7711     8168     8807     9498

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
22     9932    10130    10620    11415    12057    12833

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
23            NaN        Belgium        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
23        0        0        0  ...    53981    54288    54644    54989

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
23    55280    55559    55791    55983    56235    56511

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
23            NaN        Belgium        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
23        0        0        0  ...     8843     8903     8959     9005

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
23     9052     9080     9108     9150     9186     9212

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
23            NaN        Belgium        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
23        0        0        0  ...    13937    14111    14301    14460

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
23    14630    14657    14687    14847    14988    15123

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
24            NaN          Benin        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
24        0        0        0  ...      327      339      339      339

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
24      339      339      130      130      135      135

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
24            NaN          Benin        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
24        0        0        0  ...        2        2        2        2

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
24        2        2        2        2        3        3

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
25            NaN          Benin        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
25        0        0        0  ...       83       83       83       83

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
25       83       83       83       57       61       61

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
25            NaN         Bhutan        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
25        0        0        0  ...       15       20       21       21

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
25       21       21       21       21       21       21

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
25            NaN         Bhutan        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
25        0        0        0  ...        0        0        0        0

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
25        0        0        0        0        0        0

[1 rows x 124 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
26            NaN         Bhutan        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
26        0        0        0  ...        5        5        5        5

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
26        5        5        5        5        6        6

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
26            NaN        Bolivia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
26        0        0        0  ...     3148     3372     3577     3826

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
26     4088     4263     4481     4919     5187     5579

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
26            NaN        Bolivia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
26        0        0        0  ...      142      152      164      165

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
26      169      174      189      199      215      230

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
27            NaN        Bolivia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
27        0        0        0  ...      339      356      434      473

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
27      493      503      533      553      561      575

[1 rows x 124 columns]
Region
   Province/State          Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
27            NaN  Bosnia and Herzegovina        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
27        0        0        0        0  ...     2181     2218     2236

    5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
27     2267     2290     2304     2321     2338     2350     2372

[1 rows x 124 columns]
Region
   Province/State          Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
27            NaN  Bosnia and Herzegovina        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
27        0        0        0        0  ...      120      122      128

    5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
27      129      133      133      134      136      140      141

[1 rows x 124 columns]
Region
   Province/State          Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
28            NaN  Bosnia and Herzegovina        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
28        0        0        0        0  ...     1228     1272     1336

    5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
28     1355     1436     1464     1522     1557     1596     1614

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
28            NaN         Brazil        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
28        0        0        0  ...   190137   203165   220291   233511

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
28   241080   255368   271885   291579   310087   330890

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
28            NaN         Brazil        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
28        0        0        0  ...    13240    13999    14962    15662

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
28    16118    16853    17983    18859    20047    21048

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
29            NaN         Brazil        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
29        0        0        0  ...    78424    79479    84970    89672

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
29    94122   100459   106794   116683   125960   135430

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
29            NaN         Brunei        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
29        0        0        0  ...      141      141      141      141

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
29      141      141      141      141      141      141

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
29            NaN         Brunei        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
29        0        0        0  ...        1        1        1        1

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
29        1        1        1        1        1        1

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
30            NaN         Brunei        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
30        0        0        0  ...      134      134      135      136

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
30      136      136      136      136      136      136

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
30            NaN       Bulgaria        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
30        0        0        0  ...     2069     2100     2138     2175

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
30     2211     2235     2259     2292     2331     2372

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
30            NaN       Bulgaria        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
30        0        0        0  ...       96       99      102      105

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
30      108      110      112      116      120      125

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
31            NaN       Bulgaria        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
31        0        0        0  ...      499      531      545      573

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
31      598      612      646      684      727      769

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
31            NaN   Burkina Faso        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
31        0        0        0  ...      773      773      780      782

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
31      796      796      796      809      812      814

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
31            NaN   Burkina Faso        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
31        0        0        0  ...       51       51       51       51

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
31       51       51       51       52       52       52

[1 rows x 124 columns]

Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
32            NaN   Burkina Faso        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
32        0        0        0  ...      592      592      595      604

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
32      644      652      652      661      669      672

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
32            NaN     Cabo Verde        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
32        0        0        0  ...      289      315      326      328

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
32      328      328      335      349      356      362

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
32            NaN     Cabo Verde        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
32        0        0        0  ...        2        2        2        3

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
32        3        3        3        3        3        3

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
33            NaN     Cabo Verde        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
33        0        0        0  ...       61       67       67       84

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
33       84       85       85       85       95       95

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
33            NaN       Cambodia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
33        1        1        1  ...      122      122      122      122

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
33      122      122      122      122      123      123

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
33            NaN       Cambodia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
33        0        0        0  ...        0        0        0        0

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
33        0        0        0        0        0        0

[1 rows x 124 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
34            NaN       Cambodia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
34        0        0        0  ...      121      121      122      122

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
34      122      122      122      122      122      122

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
34            NaN       Cameroon        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
34        0        0        0  ...     2800     2954     3105     3105

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
34     3105     3529     3529     3733     4288     4400

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
34            NaN       Cameroon        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
34        0        0        0  ...      136      139      140      140

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
34      140      140      140      146      156      159

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
35            NaN       Cameroon        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
35        0        0        0  ...     1543     1553     1567     1567

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
35     1567     1567     1567     1595     1808     1822

[1 rows x 124 columns]
Hi
Canada
Alberta
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
35        Alberta         Canada        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
35        0        0        0  ...     6407     6457     6515     6587

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
35     6644     6683     6716     6735     6768     6800

[1 rows x 124 columns]
Hi
Canada
Alberta
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
35        Alberta         Canada        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
35        0        0        0  ...      120      121      125      126

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
35      127      128      128      128      132      134

[1 rows x 124 columns]
Hi
Canada
British Columbia
Region
      Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
36  British Columbia         Canada        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
36        0        0        1        1  ...     2376     2392     2407

    5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
36     2428     2428     2444     2446     2467     2479     2507

[1 rows x 124 columns]
Hi
Canada
British Columbia
Region
      Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
36  British Columbia         Canada        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
36        0        0        0        0  ...      132      135      140

    5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
36      141      141      143      146      149      152      155

[1 rows x 124 columns]
Hi
Canada
Grand Princess
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
37  Grand Princess         Canada        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
37        0        0        0        0  ...       13       13       13

    5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
37       13       13       13       13       13       13       13

[1 rows x 124 columns]
Hi
Canada
Grand Princess
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
37  Grand Princess         Canada        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
37        0        0        0        0  ...        0        0        0

    5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
37        0        0        0        0        0        0        0

[1 rows x 124 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Hi
Canada
Manitoba
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
38       Manitoba         Canada        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
38        0        0        0  ...      290      289      289      289

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
38      289      290      290      290      290      292

[1 rows x 124 columns]
Hi
Canada
Manitoba
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
38       Manitoba         Canada        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
38        0        0        0  ...        7        7        7        7

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
38        7        7        7        7        7        7

[1 rows x 124 columns]
Hi
Canada
New Brunswick
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
39  New Brunswick         Canada        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
39        0        0        0  ...      120      120      120      120

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
39      120      120      120      120      121      121

[1 rows x 124 columns]
Hi
Canada
New Brunswick
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
39  New Brunswick         Canada        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
39        0        0        0  ...        0        0        0        0

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
39        0        0        0        0        0        0

[1 rows x 124 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Hi
Canada
Newfoundland and Labrador
Region
               Province/State Country/Region  1/22/20  1/23/20  1/24/20  \
40  Newfoundland and Labrador         Canada        0        0        0

    1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  \
40        0        0        0        0        0  ...      261      261

    5/15/20  5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
40      260      260      260      260      260      260      260      260

[1 rows x 124 columns]
Hi
Canada
Newfoundland and Labrador
Region
               Province/State Country/Region  1/22/20  1/23/20  1/24/20  \
40  Newfoundland and Labrador         Canada        0        0        0

    1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  \
40        0        0        0        0        0  ...        3        3

    5/15/20  5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
40        3        3        3        3        3        3        3        3

[1 rows x 124 columns]
Hi
Canada
Nova Scotia
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
41    Nova Scotia         Canada        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
41        0        0        0  ...     1024     1026     1034     1037

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
41     1040     1043     1044     1045     1046     1048

[1 rows x 124 columns]
Hi
Canada
Nova Scotia
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
41    Nova Scotia         Canada        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
41        0        0        0  ...       51       51       55       55

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
41       55       55       56       57       58       58

[1 rows x 124 columns]
Hi
Canada
Ontario
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
42        Ontario         Canada        0        0        0        0        1

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
42        1        1        1  ...    22516    22865    23258    23645

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
42    23974    24286    24755    25197    25595    26085

[1 rows x 124 columns]
Hi
Canada
Ontario
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
42        Ontario         Canada        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
42        0        0        0  ...     1883     1915     1939     1976

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
42     1999     2019     2032     2079     2106     2129

[1 rows x 124 columns]
Hi
Canada
Prince Edward Island
Region
          Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
43  Prince Edward Island         Canada        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
43        0        0        0        0  ...       27       27       27

    5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
43       27       27       27       27       27       27       27

[1 rows x 124 columns]
Hi
Canada
Prince Edward Island
Region
          Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
43  Prince Edward Island         Canada        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
43        0        0        0        0  ...        0        0        0

    5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
43        0        0        0        0        0        0        0

[1 rows x 124 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Hi
Canada
Quebec
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
44         Quebec         Canada        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
44        0        0        0  ...    39940    40732    41429    42192

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
44    42928    43636    44206    44784    45504    46150

[1 rows x 124 columns]
Hi
Canada
Quebec
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
44         Quebec         Canada        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
44        0        0        0  ...     3221     3352     3402     3484

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
44     3563     3597     3648     3719     3801     3866

[1 rows x 124 columns]
Hi
Canada
Saskatchewan
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
45   Saskatchewan         Canada        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
45        0        0        0  ...      577      582      590      591

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
45      592      592      599      620      622      627

[1 rows x 124 columns]
Hi
Canada
Saskatchewan
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
45   Saskatchewan         Canada        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
45        0        0        0  ...        7        7        7        7

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
45        7        7        7        7        7        7

[1 rows x 124 columns]
Region
   Province/State            Country/Region  1/22/20  1/23/20  1/24/20  \
46            NaN  Central African Republic        0        0        0

    1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  \
46        0        0        0        0        0  ...      143      143

    5/15/20  5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
46      301      327      327      327      366      418      436      479

[1 rows x 124 columns]
Region
   Province/State            Country/Region  1/22/20  1/23/20  1/24/20  \
46            NaN  Central African Republic        0        0        0

    1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  \
46        0        0        0        0        0  ...        0        0

    5/15/20  5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
46        0        0        0        0        0        0        0        0

[1 rows x 124 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Region
   Province/State            Country/Region  1/22/20  1/23/20  1/24/20  \
37            NaN  Central African Republic        0        0        0

    1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  \
37        0        0        0        0        0  ...       10       10

    5/15/20  5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
37       13       13       13       13       18       18       18       18

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
47            NaN           Chad        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
47        0        0        0  ...      372      399      428      474

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
47      503      519      545      565      588      611

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
47            NaN           Chad        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
47        0        0        0  ...       42       46       48       50

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
47       53       53       56       57       58       58

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
38            NaN           Chad        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
38        0        0        0  ...       78       83       88      111

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
38      117      117      139      177      186      196

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
48            NaN          Chile        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
48        0        0        0  ...    34381    37040    39542    41428

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
48    43781    46059    49579    53617    57581    61857

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
48            NaN          Chile        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
48        0        0        0  ...      346      368      394      421

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
48      450      478      509      544      589      630

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
39            NaN          Chile        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
39        0        0        0  ...    14865    15655    16614    18014

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
39    19213    20165    21507    22504    23992    25342

[1 rows x 124 columns]
Hi
China
Anhui
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
49          Anhui          China        1        9       15       39       60

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
49       70      106      152  ...      991      991      991      991

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
49      991      991      991      991      991      991

[1 rows x 124 columns]
Hi
China
Anhui
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
49          Anhui          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
49        0        0        0  ...        6        6        6        6

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
49        6        6        6        6        6        6

[1 rows x 124 columns]
Hi
China
Anhui
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
40          Anhui          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
40        0        0        2  ...      985      985      985      985

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
40      985      985      985      985      985      985

[1 rows x 124 columns]
Hi
China
Beijing
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
50        Beijing          China       14       22       36       41       68

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
50       80       91      111  ...      593      593      593      593

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
50      593      593      593      593      593      593

[1 rows x 124 columns]
Hi
China
Beijing
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
50        Beijing          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
50        1        1        1  ...        9        9        9        9

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
50        9        9        9        9        9        9

[1 rows x 124 columns]
Hi
China
Beijing
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
41        Beijing          China        0        0        1        2        2

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
41        2        4        4  ...      574      574      576      577

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
41      578      578      578      578      578      579

[1 rows x 124 columns]
Hi
China
Chongqing
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
51      Chongqing          China        6        9       27       57       75

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
51      110      132      147  ...      579      579      579      579

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
51      579      579      579      579      579      579

[1 rows x 124 columns]
Hi
China
Chongqing
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
51      Chongqing          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
51        0        0        0  ...        6        6        6        6

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
51        6        6        6        6        6        6

[1 rows x 124 columns]
Hi
China
Chongqing
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
42      Chongqing          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
42        0        0        1  ...      573      573      573      573

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
42      573      573      573      573      573      573

[1 rows x 124 columns]
Hi
China
Fujian
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
52         Fujian          China        1        5       10       18       35

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
52       59       80       84  ...      356      356      356      356

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
52      356      356      356      356      356      356

[1 rows x 124 columns]
Hi
China
Fujian
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
52         Fujian          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
52        0        0        0  ...        1        1        1        1

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
52        1        1        1        1        1        1

[1 rows x 124 columns]

Hi
China
Fujian
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
43         Fujian          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
43        0        0        0  ...      354      355      355      355

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
43      355      355      355      355      355      355

[1 rows x 124 columns]
Hi
China
Gansu
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
53          Gansu          China        0        2        2        4        7

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
53       14       19       24  ...      139      139      139      139

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
53      139      139      139      139      139      139

[1 rows x 124 columns]
Hi
China
Gansu
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
53          Gansu          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
53        0        0        0  ...        2        2        2        2

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
53        2        2        2        2        2        2

[1 rows x 124 columns]
Hi
China
Gansu
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
44          Gansu          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
44        0        0        0  ...      137      137      137      137

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
44      137      137      137      137      137      137

[1 rows x 124 columns]
Hi
China
Guangdong
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
54      Guangdong          China       26       32       53       78      111

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
54      151      207      277  ...     1589     1589     1589     1590

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
54     1590     1590     1590     1590     1590     1591

[1 rows x 124 columns]
Hi
China
Guangdong
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
54      Guangdong          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
54        0        0        0  ...        8        8        8        8

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
54        8        8        8        8        8        8

[1 rows x 124 columns]
Hi
China
Guangdong
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
45      Guangdong          China        0        2        2        2        2

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
45        4        4        5  ...     1579     1579     1579     1579

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
45     1579     1579     1579     1579     1579     1580

[1 rows x 124 columns]
Hi
China
Guangxi
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
55        Guangxi          China        2        5       23       23       36

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
55       46       51       58  ...      254      254      254      254

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
55      254      254      254      254      254      254

[1 rows x 124 columns]
Hi
China
Guangxi
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
55        Guangxi          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
55        0        0        0  ...        2        2        2        2

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
55        2        2        2        2        2        2

[1 rows x 124 columns]
Hi
China
Guangxi
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
46        Guangxi          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
46        0        2        2  ...      252      252      252      252

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
46      252      252      252      252      252      252

[1 rows x 124 columns]
Hi
China
Guizhou
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
56        Guizhou          China        1        3        3        4        5

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
56        7        9        9  ...      147      147      147      147

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
56      147      147      147      147      147      147

[1 rows x 124 columns]
Hi
China
Guizhou
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
56        Guizhou          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
56        0        0        0  ...        2        2        2        2

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
56        2        2        2        2        2        2

[1 rows x 124 columns]
Hi
China
Guizhou
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
47        Guizhou          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
47        0        0        1  ...      145      145      145      145

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
47      145      145      145      145      145      145

[1 rows x 124 columns]
Hi
China
Hainan
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
57         Hainan          China        4        5        8       19       22

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
57       33       40       43  ...      168      168      169      169

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
57      169      169      169      169      169      169

[1 rows x 124 columns]
Hi
China
Hainan
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
57         Hainan          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
57        1        1        1  ...        6        6        6        6

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
57        6        6        6        6        6        6

[1 rows x 124 columns]
Hi
China
Hainan
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
48         Hainan          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
48        0        0        0  ...      162      162      162      162

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
48      162      162      162      162      162      162

[1 rows x 124 columns]
Hi
China
Hebei
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
58          Hebei          China        1        1        2        8       13

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
58       18       33       48  ...      328      328      328      328

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
58      328      328      328      328      328      328

[1 rows x 124 columns]
Hi
China
Hebei
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
58          Hebei          China        0        1        1        1        1

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
58        1        1        1  ...        6        6        6        6

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
58        6        6        6        6        6        6

[1 rows x 124 columns]

Hi
China
Hebei
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
49          Hebei          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
49        0        0        0  ...      321      321      321      321

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
49      322      322      322      322      322      322

[1 rows x 124 columns]
Hi
China
Heilongjiang
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
59   Heilongjiang          China        0        2        4        9       15

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
59       21       33       38  ...      945      945      945      945

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
59      945      945      945      945      945      945

[1 rows x 124 columns]
Hi
China
Heilongjiang
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
59   Heilongjiang          China        0        0        1        1        1

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
59        1        1        1  ...       13       13       13       13

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
59       13       13       13       13       13       13

[1 rows x 124 columns]
Hi
China
Heilongjiang
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
50   Heilongjiang          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
50        0        0        0  ...      930      930      931      932

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
50      932      932      932      932      932      932

[1 rows x 124 columns]
Hi
China
Henan
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
60          Henan          China        5        5        9       32       83

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
60      128      168      206  ...     1276     1276     1276     1276

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
60     1276     1276     1276     1276     1276     1276

[1 rows x 124 columns]
Hi
China
Henan
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
60          Henan          China        0        0        0        0        1

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
60        1        1        2  ...       22       22       22       22

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
60       22       22       22       22       22       22

[1 rows x 124 columns]
Hi
China
Henan
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
51          Henan          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
51        0        0        1  ...     1254     1254     1254     1254

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
51     1254     1254     1254     1254     1254     1254

[1 rows x 124 columns]
Hi
China
Hong Kong
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
61      Hong Kong          China        0        2        2        5        8

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
61        8        8       10  ...     1050     1051     1052     1052

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
61     1055     1055     1055     1055     1055     1065

[1 rows x 124 columns]
Hi
China
Hong Kong
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
61      Hong Kong          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
61        0        0        0  ...        4        4        4        4

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
61        4        4        4        4        4        4

[1 rows x 124 columns]
Hi
China
Hong Kong
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
52      Hong Kong          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
52        0        0        0  ...     1008     1009     1019     1022

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
52     1024     1025     1025     1025     1025     1029

[1 rows x 124 columns]
Hi
China
Hubei
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
62          Hubei          China      444      444      549      761     1058

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
62     1423     3554     3554  ...    68134    68134    68134    68134

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
62    68134    68135    68135    68135    68135    68135

[1 rows x 124 columns]
Hi
China
Hubei
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
62          Hubei          China       17       17       24       40       52

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
62       76      125      125  ...     4512     4512     4512     4512

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
62     4512     4512     4512     4512     4512     4512

[1 rows x 124 columns]
Hi
China
Hubei
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
53          Hubei          China       28       28       31       32       42

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
53       45       80       88  ...    63616    63616    63616    63616

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
53    63616    63616    63616    63616    63616    63616

[1 rows x 124 columns]
Hi
China
Hunan
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
63          Hunan          China        4        9       24       43       69

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
63      100      143      221  ...     1019     1019     1019     1019

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
63     1019     1019     1019     1019     1019     1019

[1 rows x 124 columns]
Hi
China
Hunan
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
63          Hunan          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
63        0        0        0  ...        4        4        4        4

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
63        4        4        4        4        4        4

[1 rows x 124 columns]
Hi
China
Hunan
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
54          Hunan          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
54        0        0        0  ...     1015     1015     1015     1015

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
54     1015     1015     1015     1015     1015     1015

[1 rows x 124 columns]
Hi
China
Inner Mongolia
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
64  Inner Mongolia          China        0        0        1        7

    1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
64        7       11       15       16  ...      209      209      209

    5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
64      209      213      216      216      216      216      217

[1 rows x 124 columns]
Hi
China
Inner Mongolia
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
64  Inner Mongolia          China        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
64        0        0        0        0  ...        1        1        1

    5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
64        1        1        1        1        1        1        1

[1 rows x 124 columns]

Hi
China
Inner Mongolia
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
55  Inner Mongolia          China        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
55        0        0        0        0  ...      190      194      196

    5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
55      196      196      196      196      196      196      199

[1 rows x 124 columns]
Hi
China
Jiangsu
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
65        Jiangsu          China        1        5        9       18       33

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
65       47       70       99  ...      653      653      653      653

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
65      653      653      653      653      653      653

[1 rows x 124 columns]
Hi
China
Jiangsu
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
65        Jiangsu          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
65        0        0        0  ...        0        0        0        0

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
65        0        0        0        0        0        0

[1 rows x 124 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Hi
China
Jiangsu
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
56        Jiangsu          China        0        0        0        1        1

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
56        1        1        1  ...      653      653      653      653

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
56      653      653      653      653      653      653

[1 rows x 124 columns]
Hi
China
Jiangxi
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
66        Jiangxi          China        2        7       18       18       36

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
66       72      109      109  ...      937      937      937      937

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
66      937      937      937      937      937      937

[1 rows x 124 columns]
Hi
China
Jiangxi
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
66        Jiangxi          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
66        0        0        0  ...        1        1        1        1

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
66        1        1        1        1        1        1

[1 rows x 124 columns]
Hi
China
Jiangxi
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
57        Jiangxi          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
57        2        3        3  ...      936      936      936      936

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
57      936      936      936      936      936      936

[1 rows x 124 columns]
Hi
China
Jilin
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
67          Jilin          China        0        1        3        4        4

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
67        6        8        9  ...      134      138      140      144

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
67      146      151      151      151      151      154

[1 rows x 124 columns]
Hi
China
Jilin
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
67          Jilin          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
67        0        0        0  ...        1        1        1        2

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
67        2        2        2        2        2        2

[1 rows x 124 columns]
Hi
China
Jilin
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
58          Jilin          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
58        0        0        0  ...      108      108      108      113

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
58      122      123      123      123      123      128

[1 rows x 124 columns]
Hi
China
Liaoning
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
68       Liaoning          China        2        3        4       17       21

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
68       27       34       39  ...      149      149      149      149

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
68      149      149      149      149      149      149

[1 rows x 124 columns]
Hi
China
Liaoning
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
68       Liaoning          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
68        0        0        0  ...        2        2        2        2

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
68        2        2        2        2        2        2

[1 rows x 124 columns]
Hi
China
Liaoning
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
59       Liaoning          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
59        0        0        1  ...      144      144      144      144

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
59      144      144      144      144      144      144

[1 rows x 124 columns]
Hi
China
Macau
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
69          Macau          China        1        2        2        2        5

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
69        6        7        7  ...       45       45       45       45

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
69       45       45       45       45       45       45

[1 rows x 124 columns]
Hi
China
Macau
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
69          Macau          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
69        0        0        0  ...        0        0        0        0

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
69        0        0        0        0        0        0

[1 rows x 124 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Hi
China
Macau
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
60          Macau          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
60        0        0        0  ...       43       43       43       44

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
60       44       44       44       44       44       45

[1 rows x 124 columns]
Hi
China
Ningxia
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
70        Ningxia          China        1        1        2        3        4

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
70        7       11       12  ...       75       75       75       75

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
70       75       75       75       75       75       75

[1 rows x 124 columns]
Hi
China
Ningxia
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
70        Ningxia          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
70        0        0        0  ...        0        0        0        0

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
70        0        0        0        0        0        0

[1 rows x 124 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Hi
China
Ningxia
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
61        Ningxia          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
61        0        0        0  ...       75       75       75       75

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
61       75       75       75       75       75       75

[1 rows x 124 columns]
Hi
China
Qinghai
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
71        Qinghai          China        0        0        0        1        1

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
71        6        6        6  ...       18       18       18       18

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
71       18       18       18       18       18       18

[1 rows x 124 columns]
Hi
China
Qinghai
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
71        Qinghai          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
71        0        0        0  ...        0        0        0        0

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
71        0        0        0        0        0        0

[1 rows x 124 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Hi
China
Qinghai
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
62        Qinghai          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
62        0        0        0  ...       18       18       18       18

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
62       18       18       18       18       18       18

[1 rows x 124 columns]
Hi
China
Shaanxi
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
72        Shaanxi          China        0        3        5       15       22

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
72       35       46       56  ...      308      308      308      308

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
72      308      308      308      308      308      308

[1 rows x 124 columns]
Hi
China
Shaanxi
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
72        Shaanxi          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
72        0        0        0  ...        3        3        3        3

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
72        3        3        3        3        3        3

[1 rows x 124 columns]
Hi
China
Shaanxi
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
63        Shaanxi          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
63        0        0        0  ...      297      300      301      301

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
63      301      303      303      303      303      304

[1 rows x 124 columns]
Hi
China
Shandong
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
73       Shandong          China        2        6       15       27       46

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
73       75       95      130  ...      788      788      788      788

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
73      788      788      788      788      788      788

[1 rows x 124 columns]
Hi
China
Shandong
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
73       Shandong          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
73        0        0        0  ...        7        7        7        7

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
73        7        7        7        7        7        7

[1 rows x 124 columns]
Hi
China
Shandong
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
64       Shandong          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
64        0        0        1  ...      777      778      780      780

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
64      780      780      780      780      780      780

[1 rows x 124 columns]
Hi
China
Shanghai
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
74       Shanghai          China        9       16       20       33       40

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
74       53       66       96  ...      660      660      665      665

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
74      666      666      666      666      666      667

[1 rows x 124 columns]
Hi
China
Shanghai
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
74       Shanghai          China        0        0        0        0        1

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
74        1        1        1  ...        7        7        7        7

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
74        7        7        7        7        7        7

[1 rows x 124 columns]
Hi
China
Shanghai
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
65       Shanghai          China        0        0        1        1        1

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
65        3        4        5  ...      633      638      640      641

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
65      641      641      641      641      641      647

[1 rows x 124 columns]
Hi
China
Shanxi
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
75         Shanxi          China        1        1        1        6        9

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
75       13       27       27  ...      198      198      198      198

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
75      198      198      198      198      198      198

[1 rows x 124 columns]
Hi
China
Shanxi
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
75         Shanxi          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
75        0        0        0  ...        0        0        0        0

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
75        0        0        0        0        0        0

[1 rows x 124 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Hi
China
Shanxi
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
66         Shanxi          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
66        0        0        1  ...      198      198      198      198

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
66      198      198      198      198      198      198

[1 rows x 124 columns]
Hi
China
Sichuan
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
76        Sichuan          China        5        8       15       28       44

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
76       69       90      108  ...      561      561      561      561

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
76      561      561      561      561      561      563

[1 rows x 124 columns]
Hi
China
Sichuan
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
76        Sichuan          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
76        0        0        1  ...        3        3        3        3

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
76        3        3        3        3        3        3

[1 rows x 124 columns]
Hi
China
Sichuan
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
67        Sichuan          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
67        0        0        1  ...      558      558      558      558

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
67      558      558      558      558      558      558

[1 rows x 124 columns]
Hi
China
Tianjin
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
77        Tianjin          China        4        4        8       10       14

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
77       23       24       27  ...      191      191      191      192

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
77      192      192      192      192      192      192

[1 rows x 124 columns]
Hi
China
Tianjin
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
77        Tianjin          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
77        0        0        0  ...        3        3        3        3

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
77        3        3        3        3        3        3

[1 rows x 124 columns]
Hi
China
Tianjin
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
68        Tianjin          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
68        0        0        0  ...      187      187      187      187

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
68      187      187      187      187      187      187

[1 rows x 124 columns]
Hi
China
Tibet
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
78          Tibet          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
78        0        0        0  ...        1        1        1        1

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
78        1        1        1        1        1        1

[1 rows x 124 columns]
Hi
China
Tibet
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
78          Tibet          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
78        0        0        0  ...        0        0        0        0

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
78        0        0        0        0        0        0

[1 rows x 124 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Hi
China
Tibet
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
69          Tibet          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
69        0        0        0  ...        1        1        1        1

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
69        1        1        1        1        1        1

[1 rows x 124 columns]
Hi
China
Xinjiang
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
79       Xinjiang          China        0        2        2        3        4

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
79        5       10       13  ...       76       76       76       76

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
79       76       76       76       76       76       76

[1 rows x 124 columns]
Hi
China
Xinjiang
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
79       Xinjiang          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
79        0        0        0  ...        3        3        3        3

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
79        3        3        3        3        3        3

[1 rows x 124 columns]
Hi
China
Xinjiang
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
70       Xinjiang          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
70        0        0        0  ...       73       73       73       73

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
70       73       73       73       73       73       73

[1 rows x 124 columns]
Hi
China
Yunnan
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
80         Yunnan          China        1        2        5       11       16

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
80       26       44       55  ...      185      185      185      185

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
80      185      185      185      185      185      185

[1 rows x 124 columns]
Hi
China
Yunnan
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
80         Yunnan          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
80        0        0        0  ...        2        2        2        2

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
80        2        2        2        2        2        2

[1 rows x 124 columns]
Hi
China
Yunnan
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
71         Yunnan          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
71        0        0        0  ...      183      183      183      183

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
71      183      183      183      183      183      183

[1 rows x 124 columns]
Hi
China
Zhejiang
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
81       Zhejiang          China       10       27       43       62      104

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
81      128      173      296  ...     1268     1268     1268     1268

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
81     1268     1268     1268     1268     1268     1268

[1 rows x 124 columns]
Hi
China
Zhejiang
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
81       Zhejiang          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
81        0        0        0  ...        1        1        1        1

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
81        1        1        1        1        1        1

[1 rows x 124 columns]
Hi
China
Zhejiang
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
72       Zhejiang          China        0        0        1        1        1

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
72        1        3        3  ...     1267     1267     1267     1267

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
72     1267     1267     1267     1267     1267     1267

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
82            NaN       Colombia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
82        0        0        0  ...    12930    13610    14216    14939

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
82    15574    16295    16935    17687    18330    19131

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
82            NaN       Colombia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
82        0        0        0  ...      509      525      546      562

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
82      574      592      613      630      652      682

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
73            NaN       Colombia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
73        0        0        0  ...     3133     3358     3460     3587

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
73     3751     3903     4050     4256     4431     4575

[1 rows x 124 columns]
Region
   Province/State       Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
83            NaN  Congo (Brazzaville)        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
83        0        0        0        0  ...      333      391      391

    5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
83      391      391      412      420      420      469      469

[1 rows x 124 columns]
Region
   Province/State       Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
83            NaN  Congo (Brazzaville)        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
83        0        0        0        0  ...       11       15       15

    5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
83       15       15       15       15       15       16       16

[1 rows x 124 columns]
Region
   Province/State       Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
74            NaN  Congo (Brazzaville)        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
74        0        0        0        0  ...       53       87       87

    5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
74       87       87      110      132      132      137      137

[1 rows x 124 columns]
Region
   Province/State    Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
84            NaN  Congo (Kinshasa)        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
84        0        0        0        0  ...     1169     1242     1298

    5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
84     1455     1455     1538     1629     1731     1835     1945

[1 rows x 124 columns]
Region
   Province/State    Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
84            NaN  Congo (Kinshasa)        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
84        0        0        0        0  ...       50       50       50

    5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
84       61       61       61       61       61       61       63

[1 rows x 124 columns]

Region
   Province/State    Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
75            NaN  Congo (Kinshasa)        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
75        0        0        0        0  ...      148      157      212

    5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
75      270      270      272      290      302      303      312

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
85            NaN     Costa Rica        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
85        0        0        0  ...      815      830      843      853

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
85      863      866      882      897      903      911

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
85            NaN     Costa Rica        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
85        0        0        0  ...        8        8        9       10

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
85       10       10       10       10       10       10

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
76            NaN     Costa Rica        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
76        0        0        0  ...      527      535      542      551

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
76      565      575      577      582      592      600

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
86            NaN  Cote d'Ivoire        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
86        0        0        0  ...     1912     1971     2017     2061

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
86     2109     2119     2153     2231     2301     2341

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
86            NaN  Cote d'Ivoire        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
86        0        0        0  ...       24       24       24       25

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
86       27       28       28       29       29       29

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
77            NaN  Cote d'Ivoire        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
77        0        0        0  ...      902      930      942      987

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
77     1004     1040     1050     1083     1100     1146

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
87            NaN        Croatia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
87        0        0        0  ...     2213     2221     2222     2224

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
87     2226     2228     2232     2234     2237     2243

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
87            NaN        Croatia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
87        0        0        0  ...       94       94       95       95

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
87       95       95       96       96       97       99

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
78            NaN        Croatia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
78        0        0        0  ...     1834     1850     1869     1913

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
78     1936     1946     1967     1978     1978     2011

[1 rows x 124 columns]
Region
   Province/State    Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
88            NaN  Diamond Princess        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
88        0        0        0        0  ...      712      712      712

    5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
88      712      712      712      712      712      712      712

[1 rows x 124 columns]
Region
   Province/State    Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
88            NaN  Diamond Princess        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
88        0        0        0        0  ...       13       13       13

    5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
88       13       13       13       13       13       13       13

[1 rows x 124 columns]
Region
   Province/State    Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
79            NaN  Diamond Princess        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
79        0        0        0        0  ...      651      651      651

    5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
79      651      651      651      651      651      651      651

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
89            NaN           Cuba        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
89        0        0        0  ...     1810     1830     1840     1862

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
89     1872     1881     1887     1900     1908     1916

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
89            NaN           Cuba        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
89        0        0        0  ...       79       79       79       79

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
89       79       79       79       79       80       81

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
80            NaN           Cuba        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
80        0        0        0  ...     1326     1383     1425     1460

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
80     1495     1505     1538     1573     1603     1631

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
90            NaN         Cyprus        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
90        0        0        0  ...      905      907      910      914

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
90      916      917      918      922      923      927

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
90            NaN         Cyprus        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
90        0        0        0  ...       17       17       17       17

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
90       17       17       17       17       17       17

[1 rows x 124 columns]

Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
81            NaN         Cyprus        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
81        0        0        0  ...      449      481      481      515

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
81      515      515      515      516      561      561

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
91            NaN        Czechia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
91        0        0        0  ...     8269     8351     8406     8455

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
91     8475     8586     8647     8721     8754     8813

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
91            NaN        Czechia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
91        0        0        0  ...      290      293      295      296

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
91      298      297      302      304      306      312

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
82            NaN        Czechia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
82        0        0        0  ...     5047     5241     5381     5422

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
82     5462     5641     5726     5830     5926     6025

[1 rows x 124 columns]
Hi
Denmark
Faroe Islands
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
92  Faroe Islands        Denmark        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
92        0        0        0  ...      187      187      187      187

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
92      187      187      187      187      187      187

[1 rows x 124 columns]
Hi
Denmark
Faroe Islands
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
92  Faroe Islands        Denmark        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
92        0        0        0  ...        0        0        0        0

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
92        0        0        0        0        0        0

[1 rows x 124 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Hi
Denmark
Faroe Islands
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
83  Faroe Islands        Denmark        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
83        0        0        0  ...      187      187      187      187

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
83      187      187      187      187      187      187

[1 rows x 124 columns]
Hi
Denmark
Greenland
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
93      Greenland        Denmark        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
93        0        0        0  ...       11       11       11       11

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
93       11       11       11       11       11       11

[1 rows x 124 columns]
Hi
Denmark
Greenland
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
93      Greenland        Denmark        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
93        0        0        0  ...        0        0        0        0

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
93        0        0        0        0        0        0

[1 rows x 124 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Hi
Denmark
Greenland
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
84      Greenland        Denmark        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
84        0        0        0  ...       11       11       11       11

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
84       11       11       11       11       11       11

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
94            NaN        Denmark        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
94        0        0        0  ...    10667    10713    10791    10858

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
94    10927    10968    11044    11117    11182    11230

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
94            NaN        Denmark        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
94        0        0        0  ...      533      537      537      543

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
94      547      548      551      554      561      561

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
85            NaN        Denmark        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
85        0        0        0  ...     8663     8805     8959     9107

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
85     9227     9301     9416     9536     9643     9764

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
95            NaN       Djibouti        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
95        0        0        0  ...     1268     1284     1309     1331

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
95     1401     1518     1618     1828     2047     2270

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
95            NaN       Djibouti        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
95        0        0        0  ...        3        3        4        4

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
95        4        7        7        9       10       10

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
86            NaN       Djibouti        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
86        0        0        0  ...      900      905      935      950

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
86      972     1018     1033     1052     1055     1064

[1 rows x 124 columns]
Region
   Province/State      Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
96            NaN  Dominican Republic        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
96        0        0        0        0  ...    11196    11320    11739

    5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
96    12110    12314    12725    13223    13477    13657    13989

[1 rows x 124 columns]
Region
   Province/State      Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
96            NaN  Dominican Republic        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
96        0        0        0        0  ...      409      422      424

    5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
96      428      428      434      441      446      448      456

[1 rows x 124 columns]
Region
   Province/State      Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
88            NaN  Dominican Republic        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
88        0        0        0        0  ...     3221     3351     3557

    5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
88     3726     5847     6613     6613     7142     7366     7572

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
97            NaN        Ecuador        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
97        0        0        0  ...    30486    30502    31467    32763

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
97    33182    33582    34151    34854    35306    35828

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
97            NaN        Ecuador        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
97        0        0        0  ...     2334     2338     2594     2688

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
97     2736     2799     2839     2888     2939     3056

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
89            NaN        Ecuador        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
89        0        0        0  ...     3433     3433     3433     3433

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
89     3433     3433     3457     3557     3557     3557

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
98            NaN          Egypt        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
98        0        0        0  ...    10431    10829    11228    11719

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
98    12229    12764    13484    14229    15003    15786

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
98            NaN          Egypt        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
98        0        0        0  ...      556      571      592      612

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
98      630      645      659      680      696      707

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
90            NaN          Egypt        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
90        0        0        0  ...     2486     2626     2799     2950

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
90     3172     3440     3742     3994     4217     4374

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
99            NaN    El Salvador        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
99        0        0        0  ...     1037     1112     1210     1265

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
99     1338     1413     1498     1571     1640     1725

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
99            NaN    El Salvador        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
99        0        0        0  ...       20       23       25       26

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
99       30       30       30       31       33       33

[1 rows x 124 columns]

Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
91            NaN    El Salvador        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
91        0        0        0  ...      374      405      417      441

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
91      464      474      502      537      544      570

[1 rows x 124 columns]
Region
    Province/State     Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
100            NaN  Equatorial Guinea        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
100        0        0        0        0  ...      522      583      594

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
100      594      594      719      825      890      903      960

[1 rows x 124 columns]
Region
    Province/State     Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
100            NaN  Equatorial Guinea        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
100        0        0        0        0  ...        6        7        7

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
100        7        7        7        7        7       10       11

[1 rows x 124 columns]
Region
   Province/State     Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
92            NaN  Equatorial Guinea        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
92        0        0        0        0  ...       13       13       22

    5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
92       22       22       22       22       22       22      165

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
101            NaN        Eritrea        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
101        0        0        0        0  ...       39       39       39

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
101       39       39       39       39       39       39       39

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
101            NaN        Eritrea        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
101        0        0        0        0  ...        0        0        0

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
101        0        0        0        0        0        0        0

[1 rows x 124 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
93            NaN        Eritrea        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
93        0        0        0  ...       38       38       39       39

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
93       39       39       39       39       39       39

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
102            NaN        Estonia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
102        0        0        0        0  ...     1751     1758     1766

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
102     1770     1774     1784     1791     1794     1800     1807

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
102            NaN        Estonia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
102        0        0        0        0  ...       61       62       63

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
102       63       63       64       64       64       64       64

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
94            NaN        Estonia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
94        0        0        0  ...      777      909      923      934

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
94      938      938      938      956     1488     1508

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
103            NaN       Eswatini        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
103        0        0        0        0  ...      187      187      190

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
103      202      203      205      208      217      220      225

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
103            NaN       Eswatini        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
103        0        0        0        0  ...        2        2        2

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
103        2        2        2        2        2        2        2

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
95            NaN       Eswatini        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
95        0        0        0  ...       48       51       66       72

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
95       73       78       87       97      112      119

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
104            NaN       Ethiopia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
104        0        0        0        0  ...      263      272      287

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
104      306      317      352      365      389      399      433

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
104            NaN       Ethiopia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
104        0        0        0        0  ...        5        5        5

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
104        5        5        5        5        5        5        5

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
96            NaN       Ethiopia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
96        0        0        0  ...      108      108      112      113

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
96      113      116      120      122      123      128

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
105            NaN           Fiji        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
105        0        0        0        0  ...       18       18       18

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
105       18       18       18       18       18       18       18

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
105            NaN           Fiji        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
105        0        0        0        0  ...        0        0        0

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
105        0        0        0        0        0        0        0

[1 rows x 124 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
97            NaN           Fiji        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
97        0        0        0  ...       14       14       15       15

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
97       15       15       15       15       15       15

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
106            NaN        Finland        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
106        0        0        0        1  ...     6054     6145     6228

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
106     6286     6347     6380     6399     6443     6493     6537

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
106            NaN        Finland        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
106        0        0        0        0  ...      284      287      293

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
106      297      298      300      301      304      306      306

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
98            NaN        Finland        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
98        0        0        0  ...     4300     4300     5000     5000

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
98     5000     5000     5000     4800     4800     4800

[1 rows x 124 columns]
Hi
France
French Guiana
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
107  French Guiana         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
107        0        0        0        0  ...      153      164      189

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
107      197      197      210      218      237      249      261

[1 rows x 124 columns]
Hi
France
French Guiana
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
107  French Guiana         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
107        0        0        0        0  ...        1        1        1

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
107        1        1        1        1        1        1        1

[1 rows x 124 columns]
Hi
France
French Guiana
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
99  French Guiana         France        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
99        0        0        0  ...      124      124      124      125

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
99      125      131      136      136      137      141

[1 rows x 124 columns]
Hi
France
French Polynesia
Region
       Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
108  French Polynesia         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
108        0        0        0        0  ...       60       60       60

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
108       60       60       60       60       60       60       60

[1 rows x 124 columns]
Hi
France
French Polynesia
Region
       Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
108  French Polynesia         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
108        0        0        0        0  ...        0        0        0

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
108        0        0        0        0        0        0        0

[1 rows x 124 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Hi
France
French Polynesia
Region
       Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
100  French Polynesia         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
100        0        0        0        0  ...       58       59       59

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
100       59       59       60       60       60       60       60

[1 rows x 124 columns]
Hi
France
Guadeloupe
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
109     Guadeloupe         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
109        0        0        0        0  ...      155      155      155

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
109      155      155      155      155      155      155      156

[1 rows x 124 columns]
Hi
France
Guadeloupe
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
109     Guadeloupe         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
109        0        0        0        0  ...       13       13       13

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
109       13       13       13       13       13       13       13

[1 rows x 124 columns]
Hi
France
Guadeloupe
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
101     Guadeloupe         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
101        0        0        0        0  ...      109      109      109

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
101      109      109      109      109      109      109      115

[1 rows x 124 columns]
Hi
France
Mayotte
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
110        Mayotte         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
110        0        0        0        0  ...     1143     1210     1210

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
110     1312     1342     1370     1370     1475     1475     1521

[1 rows x 124 columns]
Hi
France
Mayotte
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
110        Mayotte         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
110        0        0        0        0  ...       14       16       16

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
110       18       18       18       18       19       19       19

[1 rows x 124 columns]
Hi
France
Mayotte
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
103        Mayotte         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
103        0        0        0        0  ...      627      627      627

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
103      627      627      627      627      894      894      894

[1 rows x 124 columns]
Hi
France
New Caledonia
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
111  New Caledonia         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
111        0        0        0        0  ...       18       18       18

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
111       18       18       18       18       18       18       18

[1 rows x 124 columns]
Hi
France
New Caledonia
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
111  New Caledonia         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
111        0        0        0        0  ...        0        0        0

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
111        0        0        0        0        0        0        0

[1 rows x 124 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Hi
France
New Caledonia
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
104  New Caledonia         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
104        0        0        0        0  ...       18       18       18

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
104       18       18       18       18       18       18       18

[1 rows x 124 columns]
Hi
France
Reunion
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
112        Reunion         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
112        0        0        0        0  ...      439      440      441

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
112      443      443      446      446      447      449      449

[1 rows x 124 columns]
Hi
France
Reunion
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
112        Reunion         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
112        0        0        0        0  ...        0        0        0

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
112        0        0        0        0        1        1        1

[1 rows x 124 columns]
rejected_d
Hi
France
Saint Barthelemy
Region
       Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
113  Saint Barthelemy         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
113        0        0        0        0  ...        6        6        6

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
113        6        6        6        6        6        6        6

[1 rows x 124 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: divide by zero encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Hi
France
Saint Barthelemy
Region
       Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
113  Saint Barthelemy         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
113        0        0        0        0  ...        0        0        0

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
113        0        0        0        0        0        0        0

[1 rows x 124 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Hi
France
Saint Barthelemy
Region
       Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
106  Saint Barthelemy         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
106        0        0        0        0  ...        6        6        6

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
106        6        6        6        6        6        6        6

[1 rows x 124 columns]
Hi
France
St Martin
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
114      St Martin         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
114        0        0        0        0  ...       39       39       39

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
114       39       39       39       39       40       40       40

[1 rows x 124 columns]
Hi
France
St Martin
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
114      St Martin         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
114        0        0        0        0  ...        3        3        3

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
114        3        3        3        3        3        3        3

[1 rows x 124 columns]
Hi
France
St Martin
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
107      St Martin         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
107        0        0        0        0  ...       30       30       30

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
107       30       30       30       30       33       33       33

[1 rows x 124 columns]
Hi
France
Martinique
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
115     Martinique         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
115        0        0        0        0  ...      189      189      192

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
115      192      192      192      192      192      192      197

[1 rows x 124 columns]
Hi
France
Martinique
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
115     Martinique         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
115        0        0        0        0  ...       14       14       14

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
115       14       14       14       14       14       14       14

[1 rows x 124 columns]
Hi
France
Martinique
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
102     Martinique         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
102        0        0        0        0  ...       91       91       91

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
102       91       91       91       91       91       91       91

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
116            NaN         France        0        0        2        3

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
116        3        3        4        5  ...   175981   176712   177319

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
116   177207   177240   177554   178428   179069   179306   179306

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
116            NaN         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
116        0        0        0        0  ...    27032    27381    27485

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
116    27483    28062    28193    27976    28084    28167    28167

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
108            NaN         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
108        0        0        0        0  ...    57368    58300    59143

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
108    59142    59907    60416    61246    61713    62216    62216

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
117            NaN          Gabon        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
117        0        0        0        0  ...     1004     1104     1209

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
117     1320     1320     1432     1502     1567     1567     1728

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
117            NaN          Gabon        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
117        0        0        0        0  ...        9       10       10

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
117       11       11       11       12       12       12       12

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
109            NaN          Gabon        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
109        0        0        0        0  ...      152      182      219

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
109      244      244      301      318      365      365      402

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
118            NaN         Gambia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
118        0        0        0        0  ...       23       23       23

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
118       23       23       24       24       24       24       25

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
118            NaN         Gambia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
118        0        0        0        0  ...        1        1        1

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
118        1        1        1        1        1        1        1

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
110            NaN         Gambia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
110        0        0        0        0  ...       10       10       10

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
110       12       12       13       13       13       13       13

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
119            NaN        Georgia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
119        0        0        0        0  ...      647      667      671

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
119      683      695      701      707      713      721      723

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
119            NaN        Georgia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
119        0        0        0        0  ...       11       12       12

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
119       12       12       12       12       12       12       12

[1 rows x 124 columns]

Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
111            NaN        Georgia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
111        0        0        0        0  ...      372      383      393

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
111      419      425      432      456      475      485      495

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
120            NaN        Germany        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
120        0        1        4        4  ...   174098   174478   175233

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
120   175752   176369   176551   177778   178473   179021   179710

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
120            NaN        Germany        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
120        0        0        0        0  ...     7861     7884     7897

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
120     7938     7962     8003     8081     8144     8203     8228

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
112            NaN        Germany        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
112        0        0        0        0  ...   148700   150300   151597

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
112   152600   154011   155041   155681   156966   158087   159064

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
121            NaN          Ghana        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
121        0        0        0        0  ...     5408     5530     5638

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
121     5735     5735     5735     6096     6269     6269     6486

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
121            NaN          Ghana        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
121        0        0        0        0  ...       24       24       28

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
121       29       29       29       31       31       31       31

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
113            NaN          Ghana        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
113        0        0        0        0  ...      514      674     1460

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
113     1754     1754     1754     1773     1898     1898     1951

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
122            NaN         Greece        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
122        0        0        0        0  ...     2760     2770     2810

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
122     2819     2834     2836     2840     2850     2853     2874

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
122            NaN         Greece        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
122        0        0        0        0  ...      155      156      160

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
122      162      163      165      165      166      168      169

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
115            NaN         Greece        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
115        0        0        0        0  ...     1374     1374     1374

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
115     1374     1374     1374     1374     1374     1374     1374

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
123            NaN      Guatemala        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
123        0        0        0        0  ...     1342     1518     1643

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
123     1763     1763     1912     2133     2265     2512     2743

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
123            NaN      Guatemala        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
123        0        0        0        0  ...       29       29       30

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
123       33       33       35       43       45       48       51

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
116            NaN      Guatemala        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
116        0        0        0        0  ...      121      129      135

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
116      138      138      138      155      159      222      222

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
124            NaN         Guinea        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
124        0        0        0        0  ...     2374     2473     2473

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
124     2658     2658     2796     2863     2863     3067     3067

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
124            NaN         Guinea        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
124        0        0        0        0  ...       14       15       15

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
124       16       16       16       18       18       18       19

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
117            NaN         Guinea        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
117        0        0        0        0  ...      856      895      895

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
117     1133     1133     1263     1525     1525     1575     1575

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
125            NaN         Guyana        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
125        0        0        0        0  ...      113      113      116

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
125      117      117      124      125      125      127      127

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
125            NaN         Guyana        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
125        0        0        0        0  ...       10       10       10

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
125       10       10       10       10       10       10       10

[1 rows x 124 columns]

Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
119            NaN         Guyana        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
119        0        0        0        0  ...       41       42       43

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
119       43       43       44       46       47       57       57

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
126            NaN          Haiti        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
126        0        0        0        0  ...      234      273      310

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
126      358      456      533      533      596      734      812

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
126            NaN          Haiti        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
126        0        0        0        0  ...       18       20       20

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
126       20       20       21       21       22       25       25

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
120            NaN          Haiti        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
120        0        0        0        0  ...       17       18       29

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
120       29       21       21       21       21       21       22

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
127            NaN       Holy See        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
127        0        0        0        0  ...       12       12       12

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
127       12       12       12       12       12       12       12

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
127            NaN       Holy See        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
127        0        0        0        0  ...        0        0        0

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
127        0        0        0        0        0        0        0

[1 rows x 124 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
121            NaN       Holy See        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
121        0        0        0        0  ...        2        2        2

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
121        2        2        2        2        2        2        2

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
128            NaN       Honduras        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
128        0        0        0        0  ...     2255     2318     2460

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
128     2565     2646     2798     2955     2955     3204     3477

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
128            NaN       Honduras        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
128        0        0        0        0  ...      123      133      134

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
128      138      142      146      147      147      156      167

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
122            NaN       Honduras        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
122        0        0        0        0  ...      237      253      264

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
122      278      319      340      349      349      397      439

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
129            NaN        Hungary        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
129        0        0        0        0  ...     3341     3380     3417

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
129     3473     3509     3535     3556     3598     3641     3678

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
129            NaN        Hungary        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
129        0        0        0        0  ...      430      436      442

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
129      448      451      462      467      470      473      476

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
123            NaN        Hungary        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
123        0        0        0        0  ...     1102     1169     1287

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
123     1371     1396     1400     1412     1454     1509     1587

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
130            NaN        Iceland        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
130        0        0        0        0  ...     1802     1802     1802

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
130     1802     1802     1802     1802     1803     1803     1803

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
130            NaN        Iceland        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
130        0        0        0        0  ...       10       10       10

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
130       10       10       10       10       10       10       10

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
124            NaN        Iceland        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
124        0        0        0        0  ...     1780     1780     1782

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
124     1786     1786     1786     1789     1789     1790     1791

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
131            NaN          India        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
131        0        0        0        0  ...    78055    81997    85784

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
131    90648    95698   100328   106475   112028   118226   124794

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
131            NaN          India        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
131        0        0        0        0  ...     2551     2649     2753

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
131     2871     3025     3156     3302     3434     3584     3726

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
125            NaN          India        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
125        0        0        0        0  ...    26400    27969    30258

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
125    34224    36795    39233    42309    45422    48553    51824

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
132            NaN      Indonesia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
132        0        0        0        0  ...    15438    16006    16496

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
132    17025    17514    18010    18496    19189    20162    20796

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
132            NaN      Indonesia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
132        0        0        0        0  ...     1028     1043     1076

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
132     1089     1148     1191     1221     1242     1278     1326

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
126            NaN      Indonesia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
126        0        0        0        0  ...     3287     3518     3803

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
126     3911     4129     4324     4467     4575     4838     5057

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
133            NaN           Iran        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
133        0        0        0        0  ...   112725   114533   116635

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
133   118392   120198   122492   124603   126949   129341   131652

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
133            NaN           Iran        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
133        0        0        0        0  ...     6783     6854     6902

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
133     6937     6988     7057     7119     7183     7249     7300

[1 rows x 124 columns]

Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
127            NaN           Iran        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
127        0        0        0        0  ...    89428    90539    91836

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
127    93147    94464    95661    97173    98808   100564   102276

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
134            NaN           Iraq        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
134        0        0        0        0  ...     3032     3143     3193

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
134     3260     3404     3554     3611     3724     3877     3964

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
134            NaN           Iraq        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
134        0        0        0        0  ...      115      115      117

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
134      121      123      127      131      134      140      147

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
128            NaN           Iraq        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
128        0        0        0        0  ...     1966     2028     2089

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
128     2126     2218     2310     2366     2438     2483     2532

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
135            NaN        Ireland        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
135        0        0        0        0  ...    23401    23827    23956

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
135    24048    24112    24200    24251    24315    24391    24506

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
135            NaN        Ireland        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
135        0        0        0        0  ...     1497     1506     1518

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
135     1533     1543     1547     1561     1571     1583     1592

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
129            NaN        Ireland        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
129        0        0        0        0  ...    19470    19470    19470

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
129    19470    19470    19470    19470    21060    21060    21060

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
136            NaN         Israel        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
136        0        0        0        0  ...    16548    16579    16589

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
136    16608    16617    16643    16659    16667    16683    16690

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
136            NaN         Israel        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
136        0        0        0        0  ...      264      265      266

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
136      268      272      276      278      279      279      279

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
130            NaN         Israel        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
130        0        0        0        0  ...    12232    12521    12587

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
130    12855    12942    13253    13435    13504    13724    13915

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
137            NaN          Italy        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
137        0        0        0        0  ...   222104   223096   223885

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
137   224760   225435   225886   226699   227364   228006   228658

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
137            NaN          Italy        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
137        0        0        0        0  ...    31106    31368    31610

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
137    31763    31908    32007    32169    32330    32486    32616

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
131            NaN          Italy        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
131        0        0        0        0  ...   112541   115288   120205

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
131   122810   125176   127326   129401   132282   134560   136720

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
138            NaN        Jamaica        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
138        0        0        0        0  ...      509      509      511

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
138      517      520      520      520      529      534      544

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
138            NaN        Jamaica        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
138        0        0        0        0  ...        9        9        9

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
138        9        9        9        9        9        9        9

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
132            NaN        Jamaica        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
132        0        0        0        0  ...      113      118      121

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
132      121      127      131      145      171      181      191

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
139            NaN          Japan        2        2        2        2

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
139        4        4        7        7  ...    16049    16120    16203

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
139    16237    16285    16305    16367    16367    16424    16513

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
139            NaN          Japan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
139        0        0        0        0  ...      678      697      713

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
139      725      744      749      768      768      777      796

[1 rows x 124 columns]

Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
133            NaN          Japan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
133        1        1        1        1  ...     8920     9868    10338

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
133    10338    11153    11564    11564    11564    12672    13005

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
140            NaN         Jordan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
140        0        0        0        0  ...      582      586      596

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
140      607      613      629      649      672      684      700

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
140            NaN         Jordan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
140        0        0        0        0  ...        9        9        9

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
140        9        9        9        9        9        9        9

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
134            NaN         Jordan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
134        0        0        0        0  ...      392      393      401

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
134      404      408      413      417      446      457      461

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
141            NaN     Kazakhstan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
141        0        0        0        0  ...     5417     5571     5689

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
141     5850     6157     6751     6751     6969     7234     7919

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
141            NaN     Kazakhstan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
141        0        0        0        0  ...       32       32       34

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
141       34       34       35       35       35       35       35

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
135            NaN     Kazakhstan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
135        0        0        0        0  ...     2408     2531     2707

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
135     2980     3256     3469     3598     3734     3843     4096

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
142            NaN          Kenya        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
142        0        0        0        0  ...      737      758      781

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
142      830      887      912      963     1029     1109     1161

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
142            NaN          Kenya        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
142        0        0        0        0  ...       40       42       45

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
142       50       50       50       50       50       50       50

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
136            NaN          Kenya        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
136        0        0        0        0  ...      281      284      284

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
136      301      313      336      358      366      375      380

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
143            NaN   Korea, South        1        1        2        2

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
143        3        4        4        4  ...    10991    11018    11037

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
143    11050    11065    11078    11110    11122    11142    11165

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
143            NaN   Korea, South        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
143        0        0        0        0  ...      260      260      262

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
143      262      263      263      263      264      264      266

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
137            NaN   Korea, South        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
137        0        0        0        0  ...     9762     9821     9851

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
137     9888     9904     9938    10066    10135    10162    10194

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
144            NaN         Kuwait        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
144        0        0        0        0  ...    11028    11975    12860

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
144    13802    14850    15691    16764    17568    18609    19564

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
144            NaN         Kuwait        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
144        0        0        0        0  ...       82       88       96

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
144      107      112      118      121      124      129      138

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
138            NaN         Kuwait        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
138        0        0        0        0  ...     3263     3451     3640

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
138     3843     4093     4339     4681     4885     5205     5515

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
145            NaN     Kyrgyzstan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
145        0        0        0        0  ...     1044     1082     1111

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
145     1117     1138     1216     1243     1270     1313     1350

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
145            NaN     Kyrgyzstan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
145        0        0        0        0  ...       12       12       14

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
145       14       14       14       14       14       14       14

[1 rows x 124 columns]

Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
139            NaN     Kyrgyzstan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
139        0        0        0        0  ...      726      735      745

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
139      783      804      827      898      910      923      939

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
146            NaN         Latvia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
146        0        0        0        0  ...      951      962      970

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
146      997     1008     1009     1012     1016     1025     1030

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
146            NaN         Latvia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
146        0        0        0        0  ...       19       19       19

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
146       19       19       19       21       21       22       22

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
140            NaN         Latvia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
140        0        0        0        0  ...      627      627      662

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
140      662      662      662      694      694      694      712

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
147            NaN        Lebanon        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
147        0        0        0        0  ...      878      886      891

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
147      902      911      931      954      961     1024     1086

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
147            NaN        Lebanon        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
147        0        0        0        0  ...       26       26       26

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
147       26       26       26       26       26       26       26

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
141            NaN        Lebanon        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
141        0        0        0        0  ...      236      236      246

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
141      247      247      251      251      251      663      663

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
148            NaN        Liberia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
148        0        0        0        0  ...      213      215      219

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
148      223      226      229      233      238      240      249

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
148            NaN        Liberia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
148        0        0        0        0  ...       20       20       20

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
148       20       21       22       23       23       23       24

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
142            NaN        Liberia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
142        0        0        0        0  ...      101      105      108

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
142      116      120      123      125      128      131      136

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
149            NaN  Liechtenstein        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
149        0        0        0        0  ...       82       82       82

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
149       82       82       82       82       82       82       82

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
149            NaN  Liechtenstein        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
149        0        0        0        0  ...        1        1        1

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
149        1        1        1        1        1        1        1

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
144            NaN  Liechtenstein        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
144        0        0        0        0  ...       55       55       55

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
144       55       55       55       55       55       55       55

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
150            NaN      Lithuania        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
150        0        0        0        0  ...     1505     1511     1523

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
150     1534     1541     1547     1562     1577     1593     1604

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
150            NaN      Lithuania        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
150        0        0        0        0  ...       54       54       54

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
150       55       56       59       60       60       61       61

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
145            NaN      Lithuania        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
145        0        0        0        0  ...      908      934      965

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
145      988      997      997     1025     1049     1049     1111

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
151            NaN     Luxembourg        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
151        0        0        0        0  ...     3904     3915     3923

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
151     3930     3945     3947     3958     3971     3980     3981

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
151            NaN     Luxembourg        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
151        0        0        0        0  ...      103      103      104

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
151      104      107      107      109      109      109      109

[1 rows x 124 columns]

Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
146            NaN     Luxembourg        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
146        0        0        0        0  ...     3629     3665     3682

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
146     3699     3702     3715     3718     3728     3741     3748

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
152            NaN     Madagascar        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
152        0        0        0        0  ...      212      230      238

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
152      283      304      322      326      371      405      448

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
152            NaN     Madagascar        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
152        0        0        0        0  ...        0        0        0

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
152        0        1        1        2        2        2        2

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
147            NaN     Madagascar        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
147        0        0        0        0  ...      107      108      112

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
147      114      114      119      119      131      131      135

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
153            NaN       Malaysia        0        0        0        3

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
153        4        4        4        7  ...     6779     6819     6855

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
153     6872     6894     6941     6978     7009     7059     7137

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
153            NaN       Malaysia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
153        0        0        0        0  ...      111      112      112

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
153      113      113      113      114      114      114      115

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
148            NaN       Malaysia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
148        0        0        0        0  ...     5281     5351     5439

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
148     5512     5571     5615     5646     5706     5796     5859

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
154            NaN       Maldives        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
154        0        0        0        0  ...      955      982     1031

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
154     1078     1094     1106     1143     1186     1216     1274

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
154            NaN       Maldives        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
154        0        0        0        0  ...        4        4        4

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
154        4        4        4        4        4        4        4

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
149            NaN       Maldives        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
149        0        0        0        0  ...       40       45       49

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
149       58       58       58       91       91       91      109

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
155            NaN          Malta        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
155        0        0        0        0  ...      508      522      532

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
155      546      553      558      569      584      599      600

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
155            NaN          Malta        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
155        0        0        0        0  ...        6        6        6

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
155        6        6        6        6        6        6        6

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
151            NaN          Malta        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
151        0        0        0        0  ...      436      443      458

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
151      450      454      456      460      465      468      469

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
156            NaN     Mauritania        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
156        0        0        0        0  ...       15       20       29

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
156       40       62       81      131      141      173      200

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
156            NaN     Mauritania        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
156        0        0        0        0  ...        2        2        3

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
156        4        4        4        4        4        5        6

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
152            NaN     Mauritania        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
152        0        0        0        0  ...        6        7        7

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
152        7        7        7        7        7        7        7

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
157            NaN      Mauritius        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
157        0        0        0        0  ...      332      332      332

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
157      332      332      332      332      332      332      332

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
157            NaN      Mauritius        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
157        0        0        0        0  ...       10       10       10

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
157       10       10       10       10       10       10       10

[1 rows x 124 columns]

Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
153            NaN      Mauritius        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
153        0        0        0        0  ...      322      322      322

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
153      322      322      322      322      322      322      322

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
158            NaN         Mexico        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
158        0        0        0        0  ...    40186    42595    45032

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
158    47144    49219    51633    54346    56594    59567    62527

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
158            NaN         Mexico        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
158        0        0        0        0  ...     4220     4477     4767

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
158     5045     5177     5332     5666     6090     6510     6989

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
154            NaN         Mexico        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
154        0        0        0        0  ...    26990    28475    30451

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
154    31848    33329    35388    37325    38419    40152    42191

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
159            NaN        Moldova        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
159        0        0        0        0  ...     5406     5553     5745

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
159     5934     6060     6138     6340     6553     6704     6847

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
159            NaN        Moldova        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
159        0        0        0        0  ...      185      194      202

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
159      207      211      217      221      228      233      237

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
155            NaN        Moldova        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
155        0        0        0        0  ...     2176     2228     2228

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
155     2344     2344     2425     2508     2953     2953     3369

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
160            NaN         Monaco        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
160        0        0        0        0  ...       96       96       96

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
160       96       96       97       97       97       97       97

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
160            NaN         Monaco        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
160        0        0        0        0  ...        4        4        4

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
160        4        4        4        4        4        4        4

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
156            NaN         Monaco        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
156        0        0        0        0  ...       87       87       87

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
156       87       87       87       87       90       90       90

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
161            NaN       Mongolia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
161        0        0        0        0  ...       42       98       98

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
161      135      136      140      140      140      140      141

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
161            NaN       Mongolia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
161        0        0        0        0  ...        0        0        0

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
161        0        0        0        0        0        0        0

[1 rows x 124 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
157            NaN       Mongolia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
157        0        0        0        0  ...       15       15       20

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
157       20       21       24       26       26       26       28

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
162            NaN     Montenegro        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
162        0        0        0        0  ...      324      324      324

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
162      324      324      324      324      324      324      324

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
162            NaN     Montenegro        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
162        0        0        0        0  ...        9        9        9

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
162        9        9        9        9        9        9        9

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
158            NaN     Montenegro        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
158        0        0        0        0  ...      307      309      311

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
158      311      311      311      312      312      314      314

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
163            NaN        Morocco        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
163        0        0        0        0  ...     6512     6607     6652

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
163     6741     6870     6952     7023     7133     7211     7332

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
163            NaN        Morocco        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
163        0        0        0        0  ...      188      190      190

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
163      192      192      192      193      194      196      197

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
159            NaN        Morocco        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
159        0        0        0        0  ...     3131     3310     3400

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
159     3487     3660     3758     3901     4098     4280     4377

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
164            NaN        Namibia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
164        0        0        0        0  ...       16       16       16

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
164       16       16       16       16       16       18       19

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
164            NaN        Namibia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
164        0        0        0        0  ...        0        0        0

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
164        0        0        0        0        0        0        0

[1 rows x 124 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
161            NaN        Namibia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
161        0        0        0        0  ...       11       12       13

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
161       13       13       13       13       14       14       14

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
165            NaN          Nepal        0        0        0        1

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
165        1        1        1        1  ...      250      249      267

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
165      291      295      375      402      427      457      516

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
165            NaN          Nepal        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
165        0        0        0        0  ...        0        0        0

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
165        1        2        2        2        2        3        3

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
162            NaN          Nepal        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
162        0        0        0        0  ...       35       35       36

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
162       36       36       36       37       45       49       70

[1 rows x 124 columns]
Hi
Netherlands
Aruba
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
166          Aruba    Netherlands        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
166        0        0        0        0  ...      101      101      101

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
166      101      101      101      101      101      101      101

[1 rows x 124 columns]
Hi
Netherlands
Aruba
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
166          Aruba    Netherlands        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
166        0        0        0        0  ...        3        3        3

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
166        3        3        3        3        3        3        3

[1 rows x 124 columns]
Hi
Netherlands
Aruba
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
163          Aruba    Netherlands        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
163        0        0        0        0  ...       91       93       93

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
163       93       93       93       93       95       95       95

[1 rows x 124 columns]
Hi
Netherlands
Curacao
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
167        Curacao    Netherlands        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
167        0        0        0        0  ...       16       16       16

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
167       16       16       16       16       16       16       16

[1 rows x 124 columns]
Hi
Netherlands
Curacao
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
167        Curacao    Netherlands        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
167        0        0        0        0  ...        1        1        1

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
167        1        1        1        1        1        1        1

[1 rows x 124 columns]
Hi
Netherlands
Curacao
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
164        Curacao    Netherlands        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
164        0        0        0        0  ...       14       14       14

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
164       14       14       14       14       14       14       14

[1 rows x 124 columns]
Hi
Netherlands
Sint Maarten
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
168   Sint Maarten    Netherlands        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
168        0        0        0        0  ...       76       76       76

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
168       77       77       77       77       77       77       77

[1 rows x 124 columns]
Hi
Netherlands
Sint Maarten
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
168   Sint Maarten    Netherlands        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
168        0        0        0        0  ...       15       15       15

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
168       15       15       15       15       15       15       15

[1 rows x 124 columns]
Hi
Netherlands
Sint Maarten
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
165   Sint Maarten    Netherlands        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
165        0        0        0        0  ...       46       46       46

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
165       54       54       54       54       54       54       59

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
169            NaN    Netherlands        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
169        0        0        0        0  ...    43211    43481    43681

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
169    43870    43995    44141    44249    44447    44700    44888

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
169            NaN    Netherlands        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
169        0        0        0        0  ...     5562     5590     5643

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
169     5670     5680     5694     5715     5748     5775     5788

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
166            NaN    Netherlands        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
166        0        0        0        0  ...        0        0        0

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
166        0        0        0        0        0        0        0

[1 rows x 124 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
170            NaN    New Zealand        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
170        0        0        0        0  ...     1497     1498     1498

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
170     1499     1499     1499     1503     1503     1504     1504

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
170            NaN    New Zealand        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
170        0        0        0        0  ...       21       21       21

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
170       21       21       21       21       21       21       21

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
167            NaN    New Zealand        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
167        0        0        0        0  ...     1411     1421     1428

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
167     1433     1433     1433     1447     1452     1455     1455

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
171            NaN      Nicaragua        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
171        0        0        0        0  ...       25       25       25

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
171       25       25       25      254      254      279      279

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
171            NaN      Nicaragua        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
171        0        0        0        0  ...        8        8        8

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
171        8        8        8       17       17       17       17

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
168            NaN      Nicaragua        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
168        0        0        0        0  ...        7        7        7

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
168        7        7        7      199      199      199      199

[1 rows x 124 columns]
rejected_r
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
172            NaN          Niger        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
172        0        0        0        0  ...      860      876      885

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
172      889      904      909      914      920      924      937

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
172            NaN          Niger        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
172        0        0        0        0  ...       49       50       51

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
172       51       54       55       55       58       60       60

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
169            NaN          Niger        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
169        0        0        0        0  ...      658      677      684

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
169      689      698      714      734      738      753      764

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
173            NaN        Nigeria        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
173        0        0        0        0  ...     4971     5162     5450

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
173     5621     5959     6175     6401     6677     7016     7261

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
173            NaN        Nigeria        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
173        0        0        0        0  ...      164      167      171

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
173      176      182      191      192      200      211      221

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
170            NaN        Nigeria        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
170        0        0        0        0  ...     1070     1180     1320

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
170     1472     1594     1644     1734     1840     1907     2007

[1 rows x 124 columns]
Region
    Province/State   Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
174            NaN  North Macedonia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
174        0        0        0        0  ...     1694     1723     1740

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
174     1762     1792     1817     1839     1858     1898     1921

[1 rows x 124 columns]
Region
    Province/State   Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
174            NaN  North Macedonia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
174        0        0        0        0  ...       95       95       97

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
174       98      101      104      106      110      111      112

[1 rows x 124 columns]
Region
    Province/State   Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
171            NaN  North Macedonia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
171        0        0        0        0  ...     1229     1235     1251

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
171     1267     1293     1301     1351     1367     1378     1387

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
175            NaN         Norway        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
175        0        0        0        0  ...     8175     8196     8219

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
175     8237     8249     8257     8267     8281     8309     8332

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
175            NaN         Norway        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
175        0        0        0        0  ...      229      232      232

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
175      232      232      233      233      234      235      235

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
172            NaN         Norway        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
172        0        0        0        0  ...       32       32       32

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
172       32       32       32       32       32       32     7727

[1 rows x 124 columns]
rejected_r
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
176            NaN           Oman        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
176        0        0        0        0  ...     4019     4341     4625

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
176     5029     5186     5379     5671     6043     6370     6794

[1 rows x 124 columns]

Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
176            NaN           Oman        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
176        0        0        0        0  ...       17       18       20

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
176       21       22       25       27       30       31       34

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
173            NaN           Oman        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
173        0        0        0        0  ...     1289     1303     1350

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
173     1436     1465     1496     1574     1661     1821     1821

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
177            NaN       Pakistan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
177        0        0        0        0  ...    35298    35788    38799

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
177    38799    40151    42125    43966    45898    48091    50694

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
177            NaN       Pakistan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
177        0        0        0        0  ...      761      770      834

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
177      834      873      903      939      985     1017     1067

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
174            NaN       Pakistan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
174        0        0        0        0  ...     8899     9695    10880

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
174    10880    11341    11922    12489    13101    14155    15201

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
178            NaN         Panama        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
178        0        0        0        0  ...     8944     9118     9268

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
178     9449     9606     9726     9867     9977    10116    10267

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
178            NaN         Panama        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
178        0        0        0        0  ...      256      260      266

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
178      269      275      279      281      287      291      295

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
175            NaN         Panama        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
175        0        0        0        0  ...     6067     6080     6080

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
175     6080     6081     6081     6194     6194     6245     6275

[1 rows x 124 columns]
Region
    Province/State    Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
179            NaN  Papua New Guinea        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
179        0        0        0        0  ...        8        8        8

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
179        8        8        8        8        8        8        8

[1 rows x 124 columns]
Region
    Province/State    Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
179            NaN  Papua New Guinea        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
179        0        0        0        0  ...        0        0        0

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
179        0        0        0        0        0        0        0

[1 rows x 124 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Region
    Province/State    Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
176            NaN  Papua New Guinea        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
176        0        0        0        0  ...        8        8        8

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
176        8        8        8        8        8        8        8

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
180            NaN       Paraguay        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
180        0        0        0        0  ...      740      754      759

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
180      778      786      788      829      833      836      838

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
180            NaN       Paraguay        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
180        0        0        0        0  ...       11       11       11

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
180       11       11       11       11       11       11       11

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
177            NaN       Paraguay        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
177        0        0        0        0  ...      182      184      193

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
177      198      202      219      230      242      256      264

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
181            NaN           Peru        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
181        0        0        0        0  ...    76306    80604    84495

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
181    88541    92273    94933    99483   104020   108769   111698

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
181            NaN           Peru        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
181        0        0        0        0  ...     2169     2267     2392

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
181     2523     2648     2789     2914     3024     3148     3244

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
178            NaN           Peru        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
178        0        0        0        0  ...    24324    25151    27147

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
178    28272    28621    30306    36524    41968    43587    44848

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
182            NaN    Philippines        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
182        0        0        0        0  ...    11618    11876    12091

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
182    12305    12513    12718    12942    13221    13434    13597

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
182            NaN    Philippines        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
182        0        0        0        0  ...      772      790      806

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
182      817      824      831      837      842      846      857

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
179            NaN    Philippines        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
179        0        0        0        0  ...     2251     2337     2460

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
179     2561     2635     2729     2843     2932     3000     3092

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
183            NaN         Poland        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
183        0        0        0        0  ...    17204    17615    18016

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
183    18257    18529    18885    19268    19739    20143    20619

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
183            NaN         Poland        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
183        0        0        0        0  ...      861      883      907

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
183      915      925      936      948      962      972      982

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
180            NaN         Poland        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
180        0        0        0        0  ...     6410     6696     6918

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
180     7175     7451     7628     7903     8183     8452     8731

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
184            NaN       Portugal        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
184        0        0        0        0  ...    28132    28319    28583

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
184    28810    29036    29209    29432    29660    29912    30200

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
184            NaN       Portugal        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
184        0        0        0        0  ...     1175     1184     1190

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
184     1203     1218     1231     1247     1263     1277     1289

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
181            NaN       Portugal        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
181        0        0        0        0  ...     3182     3198     3328

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
181     3822     4636     6430     6431     6452     6452     7590

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
185            NaN          Qatar        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
185        0        0        0        0  ...    26539    28272    29425

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
185    30972    32604    33969    35606    37097    38651    40481

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
185            NaN          Qatar        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
185        0        0        0        0  ...       14       14       14

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
185       15       15       15       15       16       17       19

[1 rows x 124 columns]

Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
182            NaN          Qatar        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
182        0        0        0        0  ...     3143     3356     3546

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
182     3788     4370     4899     5634     6600     7288     7893

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
186            NaN        Romania        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
186        0        0        0        0  ...    16002    16247    16437

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
186    16704    16871    17036    17191    17387    17585    17712

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
186            NaN        Romania        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
186        0        0        0        0  ...     1036     1053     1070

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
186     1094     1107     1120     1137     1147     1156     1166

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
183            NaN        Romania        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
183        0        0        0        0  ...     7961     9053     9370

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
183     9574     9890     9930    10166    10356    10581    10777

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
187            NaN         Russia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
187        0        0        0        0  ...   242271   252245   262843

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
187   272043   281752   290678   299941   308705   317554   326448

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
187            NaN         Russia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
187        0        0        0        0  ...     2212     2305     2418

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
187     2537     2631     2722     2837     2972     3099     3249

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
184            NaN         Russia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
184        0        0        0        0  ...    48003    53530    58226

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
184    63166    67373    70209    76130    85392    92681    99825

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
188            NaN         Rwanda        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
188        0        0        0        0  ...      287      287      287

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
188      289      292      297      308      314      320      321

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
188            NaN         Rwanda        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
188        0        0        0        0  ...        0        0        0

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
188        0        0        0        0        0        0        0

[1 rows x 124 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
185            NaN         Rwanda        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
185        0        0        0        0  ...      164      168      177

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
185      178      197      203      209      216      217      222

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
189            NaN    Saint Lucia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
189        0        0        0        0  ...       18       18       18

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
189       18       18       18       18       18       18       18

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
189            NaN    Saint Lucia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
189        0        0        0        0  ...        0        0        0

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
189        0        0        0        0        0        0        0

[1 rows x 124 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
187            NaN    Saint Lucia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
187        0        0        0        0  ...       18       18       18

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
187       18       18       18       18       18       18       18

[1 rows x 124 columns]
Region
    Province/State                    Country/Region  1/22/20  1/23/20  \
190            NaN  Saint Vincent and the Grenadines        0        0

     1/24/20  1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  \
190        0        0        0        0        0        0  ...       17

     5/14/20  5/15/20  5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  \
190       17       17       17       17       17       17       18       18

     5/22/20
190       18

[1 rows x 124 columns]
Region
    Province/State                    Country/Region  1/22/20  1/23/20  \
190            NaN  Saint Vincent and the Grenadines        0        0

     1/24/20  1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  \
190        0        0        0        0        0        0  ...        0

     5/14/20  5/15/20  5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  \
190        0        0        0        0        0        0        0        0

     5/22/20
190        0

[1 rows x 124 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Region
    Province/State                    Country/Region  1/22/20  1/23/20  \
188            NaN  Saint Vincent and the Grenadines        0        0

     1/24/20  1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  \
188        0        0        0        0        0        0  ...       12

     5/14/20  5/15/20  5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  \
188       12       14       14       14       14       14       14       14

     5/22/20
188       14

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
191            NaN     San Marino        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
191        0        0        0        0  ...      643      648      652

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
191      653      654      654      655      656      658      661

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
191            NaN     San Marino        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
191        0        0        0        0  ...       41       41       41

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
191       41       41       41       41       41       41       41

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
189            NaN     San Marino        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
189        0        0        0        0  ...      161      172      189

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
189      198      201      203      211      220      235      254

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
192            NaN   Saudi Arabia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
192        0        0        0        0  ...    44830    46869    49176

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
192    52016    54752    57345    59854    62545    65077    67719

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
192            NaN   Saudi Arabia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
192        0        0        0        0  ...      273      283      292

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
192      302      312      320      329      339      351      364

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
190            NaN   Saudi Arabia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
190        0        0        0        0  ...    17622    19051    21869

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
190    23666    25722    28748    31634    33478    36040    39003

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
193            NaN        Senegal        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
193        0        0        0        0  ...     2105     2189     2310

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
193     2429     2480     2544     2617     2714     2812     2909

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
193            NaN        Senegal        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
193        0        0        0        0  ...       21       23       25

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
193       25       25       26       30       30       33       33

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
191            NaN        Senegal        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
191        0        0        0        0  ...      782      842      890

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
191      949      973     1076     1133     1186     1251     1311

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
194            NaN         Serbia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
194        0        0        0        0  ...    10295    10374    10438

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
194    10496    10610    10699    10733    10833    10919    11024

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
194            NaN         Serbia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
194        0        0        0        0  ...      222      224      225

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
194      228      230      231      234      235      237      237

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
192            NaN         Serbia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
192        0        0        0        0  ...     3824     4084     4301

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
192     4479     4713     4799     4904     5067     5370     5541

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
195            NaN     Seychelles        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
195        0        0        0        0  ...       11       11       11

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
195       11       11       11       11       11       11       11

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
195            NaN     Seychelles        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
195        0        0        0        0  ...        0        0        0

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
195        0        0        0        0        0        0        0

[1 rows x 124 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
193            NaN     Seychelles        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
193        0        0        0        0  ...       10       10       10

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
193       10       10       11       11       11       11       11

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
196            NaN      Singapore        0        1        3        3

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
196        4        5        7        7  ...    25346    26098    26891

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
196    27356    28038    28343    28794    29364    29812    30426

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
196            NaN      Singapore        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
196        0        0        0        0  ...       21       21       21

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
196       22       22       22       22       22       23       23

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
194            NaN      Singapore        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
194        0        0        0        0  ...     4809     5973     7248

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
194     8342     9340     9835    10365    11207    12117    12995

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
197            NaN       Slovakia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
197        0        0        0        0  ...     1469     1477     1480

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
197     1493     1494     1495     1495     1496     1502     1503

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
197            NaN       Slovakia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
197        0        0        0        0  ...       27       27       27

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
197       28       28       28       28       28       28       28

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
195            NaN       Slovakia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
195        0        0        0        0  ...     1060     1112     1131

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
195     1151     1163     1185     1192     1231     1245     1256

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
198            NaN       Slovenia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
198        0        0        0        0  ...     1463     1464     1465

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
198     1465     1466     1466     1467     1468     1468     1468

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
198            NaN       Slovenia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
198        0        0        0        0  ...      103      103      103

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
198      103      104      104      104      105      106      106

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
196            NaN       Slovenia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
196        0        0        0        0  ...      260      267      270

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
196      272      273     1335     1338     1340     1340     1340

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
199            NaN        Somalia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
199        0        0        0        0  ...     1219     1284     1284

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
199     1357     1421     1455     1502     1573     1594     1594

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
199            NaN        Somalia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
199        0        0        0        0  ...       52       53       53

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
199       55       56       57       59       61       61       61

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
197            NaN        Somalia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
197        0        0        0        0  ...      130      135      135

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
197      148      152      163      178      188      204      204

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
200            NaN   South Africa        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
200        0        0        0        0  ...    12074    12739    13524

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
200    14355    15515    16433    17200    18003    19137    20125

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
200            NaN   South Africa        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
200        0        0        0        0  ...      219      238      247

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
200      261      264      286      312      339      369      397

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
198            NaN   South Africa        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
198        0        0        0        0  ...     4745     5676     6083

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
198     6478     7006     7298     7960     8950     8950    10104

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
201            NaN          Spain        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
201        0        0        0        0  ...   228691   229540   230183

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
201   230698   230698   231606   232037   232555   233037   234824

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
201            NaN          Spain        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
201        0        0        0        0  ...    27104    27321    27459

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
201    27563    27563    27709    27778    27888    27940    28628

[1 rows x 124 columns]

Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
199            NaN          Spain        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
199        0        0        0        0  ...   140823   143374   144783

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
199   146446   146446   150376   150376   150376   150376   150376

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
202            NaN      Sri Lanka        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
202        0        1        1        1  ...      915      925      935

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
202      960      981      992     1027     1028     1055     1068

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
202            NaN      Sri Lanka        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
202        0        0        0        0  ...        9        9        9

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
202        9        9        9        9        9        9        9

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
200            NaN      Sri Lanka        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
200        0        0        0        0  ...      382      445      477

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
200      520      538      559      569      584      604      620

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
203            NaN          Sudan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
203        0        0        0        0  ...     1818     1818     1964

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
203     2289     2289     2591     2728     2728     3138     3378

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
203            NaN          Sudan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
203        0        0        0        0  ...       90       90       91

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
203       97       97      105      111      111      121      137

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
201            NaN          Sudan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
201        0        0        0        0  ...      198      198      205

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
201      222      222      247      286      286      309      372

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
204            NaN       Suriname        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
204        0        0        0        0  ...       10       10       10

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
204       10       10       11       11       11       11       11

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
204            NaN       Suriname        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
204        0        0        0        0  ...        1        1        1

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
204        1        1        1        1        1        1        1

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
202            NaN       Suriname        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
202        0        0        0        0  ...        9        9        9

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
202        9        9        9        9        9        9        9

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
205            NaN         Sweden        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
205        0        0        0        0  ...    27909    28582    29207

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
205    29677    30143    30377    30799    31523    32172    32809

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
205            NaN         Sweden        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
205        0        0        0        0  ...     3460     3529     3646

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
205     3674     3679     3698     3743     3831     3871     3925

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
203            NaN         Sweden        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
203        0        0        0        0  ...     4971     4971     4971

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
203     4971     4971     4971     4971     4971     4971     4971

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
206            NaN    Switzerland        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
206        0        0        0        0  ...    30413    30463    30514

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
206    30572    30587    30597    30618    30658    30694    30707

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
206            NaN    Switzerland        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
206        0        0        0        0  ...     1870     1872     1878

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
206     1879     1881     1886     1891     1892     1898     1903

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
204            NaN    Switzerland        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
204        0        0        0        0  ...    27100    27100    27100

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
204    27400    27500    27600    27700    27800    27900    27900

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
207            NaN        Taiwan*        1        1        3        3

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
207        4        5        8        8  ...      440      440      440

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
207      440      440      440      440      440      440      441

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
207            NaN        Taiwan*        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
207        0        0        0        0  ...        7        7        7

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
207        7        7        7        7        7        7        7

[1 rows x 124 columns]

Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
206            NaN        Taiwan*        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
206        0        0        0        0  ...      375      383      387

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
206      389      395      398      398      398      398      408

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
208            NaN       Tanzania        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
208        0        0        0        0  ...      509      509      509

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
208      509      509      509      509      509      509      509

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
208            NaN       Tanzania        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
208        0        0        0        0  ...       21       21       21

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
208       21       21       21       21       21       21       21

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
207            NaN       Tanzania        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
207        0        0        0        0  ...      183      183      183

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
207      183      183      183      183      183      183      183

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
209            NaN       Thailand        2        3        5        7

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
209        8        8       14       14  ...     3017     3018     3025

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
209     3025     3028     3031     3033     3034     3037     3037

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
209            NaN       Thailand        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
209        0        0        0        0  ...       56       56       56

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
209       56       56       56       56       56       56       56

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
208            NaN       Thailand        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
208        2        2        5        5  ...     2844     2850     2854

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
208     2855     2856     2857     2857     2888     2897     2910

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
210            NaN           Togo        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
210        0        0        0        0  ...      219      238      263

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
210      298      301      330      338      340      354      363

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
210            NaN           Togo        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
210        0        0        0        0  ...       11       11       11

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
210       11       11       12       12       12       12       12

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
210            NaN           Togo        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
210        0        0        0        0  ...       96       96       96

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
210       99      104      106      107      110      118      121

[1 rows x 124 columns]
Region
    Province/State       Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
211            NaN  Trinidad and Tobago        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
211        0        0        0        0  ...      116      116      116

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
211      116      116      116      116      116      116      116

[1 rows x 124 columns]
Region
    Province/State       Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
211            NaN  Trinidad and Tobago        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
211        0        0        0        0  ...        8        8        8

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
211        8        8        8        8        8        8        8

[1 rows x 124 columns]
Region
    Province/State       Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
211            NaN  Trinidad and Tobago        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
211        0        0        0        0  ...      107      107      107

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
211      107      107      107      107      107      108      108

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
212            NaN        Tunisia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
212        0        0        0        0  ...     1032     1032     1035

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
212     1037     1037     1043     1044     1045     1046     1048

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
212            NaN        Tunisia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
212        0        0        0        0  ...       45       45       45

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
212       45       45       46       47       47       47       47

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
212            NaN        Tunisia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
212        0        0        0        0  ...      759      770      802

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
212      807      816      819      826      862      883      903

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
213            NaN         Turkey        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
213        0        0        0        0  ...   143114   144749   146457

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
213   148067   149435   150593   151615   152587   153548   154500

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
213            NaN         Turkey        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
213        0        0        0        0  ...     3952     4007     4055

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
213     4096     4140     4171     4199     4222     4249     4276

[1 rows x 124 columns]

Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
213            NaN         Turkey        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
213        0        0        0        0  ...   101715   104030   106133

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
213   108137   109962   111577   112895   113987   114990   116111

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
214            NaN         Uganda        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
214        0        0        0        0  ...      139      160      203

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
214      227      227      248      260      264      160      175

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
214            NaN         Uganda        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
214        0        0        0        0  ...        0        0        0

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
214        0        0        0        0        0        0        0

[1 rows x 124 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
214            NaN         Uganda        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
214        0        0        0        0  ...       55       63       63

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
214       63       63       63       63       65       66       68

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
215            NaN        Ukraine        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
215        0        0        0        0  ...    16425    16847    17330

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
215    17858    18291    18616    18876    19230    19706    20148

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
215            NaN        Ukraine        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
215        0        0        0        0  ...      439      456      476

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
215      497      514      535      548      564      579      588

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
215            NaN        Ukraine        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
215        0        0        0        0  ...     3716     4143     4473

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
215     4906     5116     5276     5632     5955     6227     6585

[1 rows x 124 columns]
Region
    Province/State        Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
216            NaN  United Arab Emirates        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
216        0        0        0        4  ...    20386    21084    21831

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
216    22627    23358    24190    25063    26004    26898    27892

[1 rows x 124 columns]
Region
    Province/State        Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
216            NaN  United Arab Emirates        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
216        0        0        0        0  ...      206      208      210

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
216      214      220      224      227      233      237      241

[1 rows x 124 columns]
Region
    Province/State        Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
216            NaN  United Arab Emirates        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
216        0        0        0        0  ...     6523     6930     7328

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
216     7931     8512     9577    10791    11809    12755    13798

[1 rows x 124 columns]
Hi
United Kingdom
Bermuda
Region
    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
217        Bermuda  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
217        0        0        0        0  ...      121      122      122

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
217      123      123      125      125      125      125      128

[1 rows x 124 columns]
Hi
United Kingdom
Bermuda
Region
    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
217        Bermuda  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
217        0        0        0        0  ...        8        9        9

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
217        9        9        9        9        9        9        9

[1 rows x 124 columns]
Hi
United Kingdom
Bermuda
Region
    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
217        Bermuda  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
217        0        0        0        0  ...       66       66       66

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
217       73       73       77       78       80       80       81

[1 rows x 124 columns]
Hi
United Kingdom
Cayman Islands
Region
     Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
218  Cayman Islands  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
218        0        0        0        0  ...       86       93       94

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
218       94       94       94      111      111      121      129

[1 rows x 124 columns]
Hi
United Kingdom
Cayman Islands
Region
     Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
218  Cayman Islands  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
218        0        0        0        0  ...        1        1        1

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
218        1        1        1        1        1        1        1

[1 rows x 124 columns]
Hi
United Kingdom
Cayman Islands
Region
     Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
218  Cayman Islands  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
218        0        0        0        0  ...       54       54       55

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
218       55       55       55       55       55       55       61

[1 rows x 124 columns]
Hi
United Kingdom
Channel Islands
Region
      Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
219  Channel Islands  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
219        0        0        0        0  ...      548      549      549

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
219      554      554      555      555      558      558      558

[1 rows x 124 columns]
Hi
United Kingdom
Channel Islands
Region
      Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
219  Channel Islands  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
219        0        0        0        0  ...       43       43       43

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
219       43       43       43       44       45       45       45

[1 rows x 124 columns]
Hi
United Kingdom
Channel Islands
Region
      Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
219  Channel Islands  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
219        0        0        0        0  ...      456      456      457

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
219      458      458      475      479      492      508      508

[1 rows x 124 columns]
Hi
United Kingdom
Gibraltar
Region
    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
220      Gibraltar  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
220        0        0        0        0  ...      147      147      147

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
220      147      147      147      147      149      151      151

[1 rows x 124 columns]

Hi
United Kingdom
Gibraltar
Region
    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
220      Gibraltar  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
220        0        0        0        0  ...        0        0        0

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
220        0        0        0        0        0        0        0

[1 rows x 124 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Hi
United Kingdom
Gibraltar
Region
    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
220      Gibraltar  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
220        0        0        0        0  ...      144      144      144

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
220      145      145      145      145      145      146      147

[1 rows x 124 columns]
Hi
United Kingdom
Isle of Man
Region
    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
221    Isle of Man  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
221        0        0        0        0  ...      332      332      334

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
221      335      335      335      335      336      336      336

[1 rows x 124 columns]
Hi
United Kingdom
Isle of Man
Region
    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
221    Isle of Man  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
221        0        0        0        0  ...       23       23       24

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
221       24       24       24       24       24       24       24

[1 rows x 124 columns]
Hi
United Kingdom
Isle of Man
Region
    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
221    Isle of Man  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
221        0        0        0        0  ...      274      285      285

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
221      285      285      296      300      302      303      303

[1 rows x 124 columns]
Hi
United Kingdom
Montserrat
Region
    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
222     Montserrat  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
222        0        0        0        0  ...       11       11       11

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
222       11       11       11       11       11       11       11

[1 rows x 124 columns]
Hi
United Kingdom
Montserrat
Region
    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
222     Montserrat  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
222        0        0        0        0  ...        1        1        1

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
222        1        1        1        1        1        1        1

[1 rows x 124 columns]
Hi
United Kingdom
Montserrat
Region
    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
222     Montserrat  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
222        0        0        0        0  ...        8        8        8

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
222       10       10       10       10       10       10       10

[1 rows x 124 columns]
Region
    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
223            NaN  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
223        0        0        0        0  ...   229705   233151   236711

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
223   240161   243695   246406   248818   248293   250908   254195

[1 rows x 124 columns]
Region
    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
223            NaN  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
223        0        0        0        0  ...    33186    33614    33998

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
223    34466    34636    34796    35341    35704    36042    36393

[1 rows x 124 columns]
Region
    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
223            NaN  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
223        0        0        0        0  ...        0        0        0

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
223        0        0        0        0        0        0        0

[1 rows x 124 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
224            NaN        Uruguay        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
224        0        0        0        0  ...      719      724      732

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
224      733      734      737      738      746      749      753

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
224            NaN        Uruguay        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
224        0        0        0        0  ...       19       19       19

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
224       19       20       20       20       20       20       20

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
224            NaN        Uruguay        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
224        0        0        0        0  ...      545      547      553

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
224      558      564      569      579      588      594      603

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
225            NaN             US        1        1        2        2

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
225        5        5        5        5  ...  1390406  1417774  1442824

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
225  1467820  1486757  1508308  1528568  1551853  1577147  1600937

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
225            NaN             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
225        0        0        0        0  ...    84119    85898    87530

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
225    88754    89562    90347    91921    93439    94702    95979

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
225            NaN             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
225        0        0        0        0  ...   243430   246414   250747

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
225   268376   272265   283178   289392   294312   298418   350135

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
226            NaN     Uzbekistan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
226        0        0        0        0  ...     2612     2645     2686

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
226     2738     2753     2791     2855     2939     2964     3028

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
226            NaN     Uzbekistan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
226        0        0        0        0  ...       11       11       11

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
226       11       12       13       13       13       13       13

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
226            NaN     Uzbekistan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
226        0        0        0        0  ...     2076     2136     2158

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
226     2213     2247     2314     2338     2372     2407     2492

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
227            NaN      Venezuela        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
227        0        0        0        0  ...      423      455      459

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
227      504      541      618      749      824      882      944

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
227            NaN      Venezuela        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
227        0        0        0        0  ...       10       10       10

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
227       10       10       10       10       10       10       10

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
227            NaN      Venezuela        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
227        0        0        0        0  ...      220      220      229

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
227      241      241      253      253      262      262      262

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
228            NaN        Vietnam        0        2        2        2

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
228        2        2        2        2  ...      288      312      314

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
228      318      320      324      324      324      324      324

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
228            NaN        Vietnam        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
228        0        0        0        0  ...        0        0        0

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
228        0        0        0        0        0        0        0

[1 rows x 124 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
228            NaN        Vietnam        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
228        0        0        0        0  ...      252      260      260

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
228      260      260      263      263      263      266      267

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
229            NaN         Zambia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
229        0        0        0        0  ...      446      654      654

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
229      679      753      761      772      832      866      920

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
229            NaN         Zambia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
229        0        0        0        0  ...        7        7        7

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
229        7        7        7        7        7        7        7

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
229            NaN         Zambia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
229        0        0        0        0  ...      124      124      124

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
229      183      188      192      192      197      302      336

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
230            NaN       Zimbabwe        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
230        0        0        0        0  ...       37       37       42

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
230       42       44       46       46       48       51       51

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
230            NaN       Zimbabwe        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
230        0        0        0        0  ...        4        4        4

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
230        4        4        4        4        4        4        4

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
230            NaN       Zimbabwe        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
230        0        0        0        0  ...       12       13       13

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
230       13       17       18       18       18       18       18

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
231            NaN       Dominica        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
231        0        0        0        0  ...       16       16       16

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
231       16       16       16       16       16       16       16

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
231            NaN       Dominica        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
231        0        0        0        0  ...        0        0        0

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
231        0        0        0        0        0        0        0

[1 rows x 124 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
87            NaN       Dominica        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
87        0        0        0  ...       15       15       15       15

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
87       16       16       16       16       16       16

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
232            NaN        Grenada        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
232        0        0        0        0  ...       21       21       22

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
232       22       22       22       22       22       22       22

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
232            NaN        Grenada        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
232        0        0        0        0  ...        0        0        0

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
232        0        0        0        0        0        0        0

[1 rows x 124 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
114            NaN        Grenada        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
114        0        0        0        0  ...       13       14       14

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
114       14       14       14       14       17       17       17

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
233            NaN     Mozambique        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
233        0        0        0        0  ...      104      115      119

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
233      129      137      145      146      156      162      164

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
233            NaN     Mozambique        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
233        0        0        0        0  ...        0        0        0

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
233        0        0        0        0        0        0        0

[1 rows x 124 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
160            NaN     Mozambique        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
160        0        0        0        0  ...       34       35       42

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
160       43       44       44       44       48       48       48

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
234            NaN          Syria        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
234        0        0        0        0  ...       48       48       50

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
234       51       58       58       58       58       58       59

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
234            NaN          Syria        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
234        0        0        0        0  ...        3        3        3

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
234        3        3        3        3        3        3        4

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
205            NaN          Syria        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
205        0        0        0        0  ...       29       29       36

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
205       36       36       36       36       36       36       37

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
235            NaN    Timor-Leste        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
235        0        0        0        0  ...       24       24       24

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
235       24       24       24       24       24       24       24

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
235            NaN    Timor-Leste        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
235        0        0        0        0  ...        0        0        0

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
235        0        0        0        0        0        0        0

[1 rows x 124 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
209            NaN    Timor-Leste        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
209        0        0        0        0  ...       21       21       24

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
209       24       24       24       24       24       24       24

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
236            NaN         Belize        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
236        0        0        0        0  ...       18       18       18

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
236       18       18       18       18       18       18       18

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
236            NaN         Belize        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
236        0        0        0        0  ...        2        2        2

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
236        2        2        2        2        2        2        2

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
24            NaN         Belize        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
24        0        0        0  ...       16       16       16       16

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
24       16       16       16       16       16       16

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
237            NaN           Laos        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
237        0        0        0        0  ...       19       19       19

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
237       19       19       19       19       19       19       19

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
237            NaN           Laos        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
237        0        0        0        0  ...        0        0        0

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
237        0        0        0        0        0        0        0

[1 rows x 124 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
232            NaN           Laos        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
232        0        0        0        0  ...       14       14       14

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
232       14       14       14       14       14       14       14

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
238            NaN          Libya        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
238        0        0        0        0  ...       64       64       64

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
238       65       65       65       68       69       71       72

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
238            NaN          Libya        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
238        0        0        0        0  ...        3        3        3

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
238        3        3        3        3        3        3        3

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
143            NaN          Libya        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
143        0        0        0        0  ...       28       28       28

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
143       28       35       35       35       35       35       38

[1 rows x 124 columns]
Region
    Province/State      Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
239            NaN  West Bank and Gaza        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
239        0        0        0        0  ...      375      375      375

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
239      376      381      388      391      398      423      423

[1 rows x 124 columns]
Region
    Province/State      Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
239            NaN  West Bank and Gaza        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
239        0        0        0        0  ...        2        2        2

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
239        2        2        2        2        2        2        2

[1 rows x 124 columns]
Region
    Province/State      Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
231            NaN  West Bank and Gaza        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
231        0        0        0        0  ...      310      310      315

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
231      329      335      337      346      346      346      346

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
240            NaN  Guinea-Bissau        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
240        0        0        0        0  ...      836      913      913

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
240      969      990     1032     1038     1089     1109     1114

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
240            NaN  Guinea-Bissau        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
240        0        0        0        0  ...        3        3        3

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
240        4        4        4        6        6        6        6

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
118            NaN  Guinea-Bissau        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
118        0        0        0        0  ...       26       26       26

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
118       26       26       38       42       42       42       42

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
241            NaN           Mali        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
241        0        0        0        0  ...      758      779      806

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
241      835      860      874      901      931      947      969

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
241            NaN           Mali        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
241        0        0        0        0  ...       44       46       46

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
241       48       52       52       53       55       60       62

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
150            NaN           Mali        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
150        0        0        0        0  ...      412      436      455

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
150      479      494      512      529      543      558      560

[1 rows x 124 columns]
Region
    Province/State         Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
242            NaN  Saint Kitts and Nevis        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
242        0        0        0        0  ...       15       15       15

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
242       15       15       15       15       15       15       15

[1 rows x 124 columns]
Region
    Province/State         Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
242            NaN  Saint Kitts and Nevis        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
242        0        0        0        0  ...        0        0        0

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
242        0        0        0        0        0        0        0

[1 rows x 124 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Region
    Province/State         Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
186            NaN  Saint Kitts and Nevis        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
186        0        0        0        0  ...       14       14       14

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
186       14       14       14       15       15       15       15

[1 rows x 124 columns]
Hi
Canada
Northwest Territories
Region
            Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
243  Northwest Territories         Canada        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
243        0        0        0        0  ...        5        5        5

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
243        5        5        5        5        5        5        5

[1 rows x 124 columns]
Hi
Canada
Northwest Territories
Region
            Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
243  Northwest Territories         Canada        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
243        0        0        0        0  ...        0        0        0

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
243        0        0        0        0        0        0        0

[1 rows x 124 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Hi
Canada
Yukon
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
244          Yukon         Canada        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
244        0        0        0        0  ...       11       11       11

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
244       11       11       11       11       11       11       11

[1 rows x 124 columns]
Hi
Canada
Yukon
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
244          Yukon         Canada        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
244        0        0        0        0  ...        0        0        0

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
244        0        0        0        0        0        0        0

[1 rows x 124 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
245            NaN         Kosovo        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
245        0        0        0        0  ...      919      944      944

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
245      944      955      955      989      989     1003     1004

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
245            NaN         Kosovo        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
245        0        0        0        0  ...       29       29       29

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
245       29       29       29       29       29       29       29

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
233            NaN         Kosovo        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
233        0        0        0        0  ...      671      690      690

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
233      690      691      691      769      769      772      772

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
246            NaN          Burma        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
246        0        0        0        0  ...      181      181      182

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
246      182      184      191      193      199      199      199

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
246            NaN          Burma        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
246        0        0        0        0  ...        6        6        6

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
246        6        6        6        6        6        6        6

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
234            NaN          Burma        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
234        0        0        0        0  ...       79       84       89

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
234       96       97      101      104      108      108      116

[1 rows x 124 columns]
Hi
United Kingdom
Anguilla
Region
    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
247       Anguilla  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
247        0        0        0        0  ...        3        3        3

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
247        3        3        3        3        3        3        3

[1 rows x 124 columns]
Hi
United Kingdom
Anguilla
Region
    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
247       Anguilla  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
247        0        0        0        0  ...        0        0        0

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
247        0        0        0        0        0        0        0

[1 rows x 124 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Hi
United Kingdom
Anguilla
Region
    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
235       Anguilla  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
235        0        0        0        0  ...        3        3        3

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
235        3        3        3        3        3        3        3

[1 rows x 124 columns]
Hi
United Kingdom
British Virgin Islands
Region
             Province/State  Country/Region  1/22/20  1/23/20  1/24/20  \
248  British Virgin Islands  United Kingdom        0        0        0

     1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  \
248        0        0        0        0        0  ...        7        7

     5/15/20  5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
248        8        8        8        8        8        8        8        8

[1 rows x 124 columns]
Hi
United Kingdom
British Virgin Islands
Region
             Province/State  Country/Region  1/22/20  1/23/20  1/24/20  \
248  British Virgin Islands  United Kingdom        0        0        0

     1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  \
248        0        0        0        0        0  ...        1        1

     5/15/20  5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
248        1        1        1        1        1        1        1        1

[1 rows x 124 columns]
Hi
United Kingdom
British Virgin Islands
Region
             Province/State  Country/Region  1/22/20  1/23/20  1/24/20  \
236  British Virgin Islands  United Kingdom        0        0        0

     1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  \
236        0        0        0        0        0  ...        4        4

     5/15/20  5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
236        6        6        6        6        6        6        6        6

[1 rows x 124 columns]
Hi
United Kingdom
Turks and Caicos Islands
Region
               Province/State  Country/Region  1/22/20  1/23/20  1/24/20  \
249  Turks and Caicos Islands  United Kingdom        0        0        0

     1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  \
249        0        0        0        0        0  ...       12       12

     5/15/20  5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
249       12       12       12       12       12       12       12       12

[1 rows x 124 columns]
Hi
United Kingdom
Turks and Caicos Islands
Region
               Province/State  Country/Region  1/22/20  1/23/20  1/24/20  \
249  Turks and Caicos Islands  United Kingdom        0        0        0

     1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  \
249        0        0        0        0        0  ...        1        1

     5/15/20  5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
249        1        1        1        1        1        1        1        1

[1 rows x 124 columns]
Hi
United Kingdom
Turks and Caicos Islands
Region
               Province/State  Country/Region  1/22/20  1/23/20  1/24/20  \
237  Turks and Caicos Islands  United Kingdom        0        0        0

     1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  \
237        0        0        0        0        0  ...       10       10

     5/15/20  5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
237       10       10       10       10       10       10       10       10

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
250            NaN     MS Zaandam        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
250        0        0        0        0  ...        9        9        9

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
250        9        9        9        9        9        9        9

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
250            NaN     MS Zaandam        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
250        0        0        0        0  ...        2        2        2

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
250        2        2        2        2        2        2        2

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
238            NaN     MS Zaandam        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
238        0        0        0        0  ...        0        0        0

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
238        0        0        0        0        0        0        0

[1 rows x 124 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
251            NaN       Botswana        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
251        0        0        0        0  ...       24       24       24

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
251       24       25       25       25       25       29       30

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
251            NaN       Botswana        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
251        0        0        0        0  ...        1        1        1

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
251        1        1        1        1        1        1        1

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
239            NaN       Botswana        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
239        0        0        0        0  ...       17       17       17

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
239       17       17       17       17       17       19       19

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
252            NaN        Burundi        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
252        0        0        0        0  ...       15       15       15

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
252       15       23       42       42       42       42       42

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
252            NaN        Burundi        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
252        0        0        0        0  ...        1        1        1

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
252        1        1        1        1        1        1        1

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
240            NaN        Burundi        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
240        0        0        0        0  ...        7        7        7

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
240        7       15       20       20       20       20       20

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
253            NaN   Sierra Leone        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
253        0        0        0        0  ...      387      408      447

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
253      462      505      519      534      570      585      606

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
253            NaN   Sierra Leone        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
253        0        0        0        0  ...       26       26       27

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
253       29       32       33       33       34       35       38

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
241            NaN   Sierra Leone        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
241        0        0        0        0  ...       97       97       97

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
241      106      141      148      167      205      205      230

[1 rows x 124 columns]
Hi
Netherlands
Bonaire, Sint Eustatius and Saba
Region
                       Province/State Country/Region  1/22/20  1/23/20  \
254  Bonaire, Sint Eustatius and Saba    Netherlands        0        0

     1/24/20  1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  \
254        0        0        0        0        0        0  ...        6

     5/14/20  5/15/20  5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  \
254        6        6        6        6        6        6        6        6

     5/22/20
254        6

[1 rows x 124 columns]
Hi
Netherlands
Bonaire, Sint Eustatius and Saba
Region
                       Province/State Country/Region  1/22/20  1/23/20  \
254  Bonaire, Sint Eustatius and Saba    Netherlands        0        0

     1/24/20  1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  \
254        0        0        0        0        0        0  ...        0

     5/14/20  5/15/20  5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  \
254        0        0        0        0        0        0        0        0

     5/22/20
254        0

[1 rows x 124 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Hi
Netherlands
Bonaire, Sint Eustatius and Saba
Region
                       Province/State Country/Region  1/22/20  1/23/20  \
242  Bonaire, Sint Eustatius and Saba    Netherlands        0        0

     1/24/20  1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  \
242        0        0        0        0        0        0  ...        6

     5/14/20  5/15/20  5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  \
242        6        6        6        6        6        6        6        6

     5/22/20
242        6

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
255            NaN         Malawi        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
255        0        0        0        0  ...       63       63       63

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
255       65       70       70       70       71       72       82

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
255            NaN         Malawi        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
255        0        0        0        0  ...        3        3        3

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
255        3        3        3        3        3        3        3

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
243            NaN         Malawi        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
243        0        0        0        0  ...       24       24       24

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
243       24       27       27       27       27       27       28

[1 rows x 124 columns]
Hi
United Kingdom
Falkland Islands (Malvinas)
Region
                  Province/State  Country/Region  1/22/20  1/23/20  1/24/20  \
256  Falkland Islands (Malvinas)  United Kingdom        0        0        0

     1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  \
256        0        0        0        0        0  ...       13       13

     5/15/20  5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
256       13       13       13       13       13       13       13       13

[1 rows x 124 columns]
Hi
United Kingdom
Falkland Islands (Malvinas)
Region
                  Province/State  Country/Region  1/22/20  1/23/20  1/24/20  \
256  Falkland Islands (Malvinas)  United Kingdom        0        0        0

     1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  \
256        0        0        0        0        0  ...        0        0

     5/15/20  5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
256        0        0        0        0        0        0        0        0

[1 rows x 124 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Hi
United Kingdom
Falkland Islands (Malvinas)
Region
                  Province/State  Country/Region  1/22/20  1/23/20  1/24/20  \
244  Falkland Islands (Malvinas)  United Kingdom        0        0        0

     1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  \
244        0        0        0        0        0  ...       13       13

     5/15/20  5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
244       13       13       13       13       13       13       13       13

[1 rows x 124 columns]
Hi
France
Saint Pierre and Miquelon
Region
                Province/State Country/Region  1/22/20  1/23/20  1/24/20  \
257  Saint Pierre and Miquelon         France        0        0        0

     1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  \
257        0        0        0        0        0  ...        1        1

     5/15/20  5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
257        1        1        1        1        1        1        1        1

[1 rows x 124 columns]
Hi
France
Saint Pierre and Miquelon
Region
                Province/State Country/Region  1/22/20  1/23/20  1/24/20  \
257  Saint Pierre and Miquelon         France        0        0        0

     1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  \
257        0        0        0        0        0  ...        0        0

     5/15/20  5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
257        0        0        0        0        0        0        0        0

[1 rows x 124 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Hi
France
Saint Pierre and Miquelon
Region
                Province/State Country/Region  1/22/20  1/23/20  1/24/20  \
245  Saint Pierre and Miquelon         France        0        0        0

     1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  \
245        0        0        0        0        0  ...        1        1

     5/15/20  5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
245        1        1        1        1        1        1        1        1

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
258            NaN    South Sudan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
258        0        0        0        0  ...      203      203      236

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
258      236      290      290      290      290      481      563

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
258            NaN    South Sudan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
258        0        0        0        0  ...        0        0        4

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
258        4        4        4        4        4        4        6

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
246            NaN    South Sudan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
246        0        0        0        0  ...        2        3        4

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
246        4        4        4        4        4        4        6

[1 rows x 124 columns]
Region
    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
259            NaN  Western Sahara        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
259        0        0        0        0  ...        6        6        6

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
259        6        6        6        6        6        6        6

[1 rows x 124 columns]
Region
    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
259            NaN  Western Sahara        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
259        0        0        0        0  ...        0        0        0

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
259        0        0        0        0        0        0        0

[1 rows x 124 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Region
    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
247            NaN  Western Sahara        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
247        0        0        0        0  ...        6        6        6

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
247        6        6        6        6        6        6        6

[1 rows x 124 columns]
Region
    Province/State         Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
260            NaN  Sao Tome and Principe        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
260        0        0        0        0  ...      220      235      235

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
260      235      235      246      251      251      251      251

[1 rows x 124 columns]
Region
    Province/State         Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
260            NaN  Sao Tome and Principe        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
260        0        0        0        0  ...        6        7        7

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
260        7        7        7        8        8        8        8

[1 rows x 124 columns]
Region
    Province/State         Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
248            NaN  Sao Tome and Principe        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
248        0        0        0        0  ...        4        4        4

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
248        4        4        4        4        4        4        4

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
261            NaN          Yemen        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
261        0        0        0        0  ...       70       85      106

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
261      122      128      130      167      184      197      209

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
261            NaN          Yemen        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
261        0        0        0        0  ...       12       12       15

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
261       18       20       20       28       30       33       33

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
249            NaN          Yemen        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
249        0        0        0        0  ...        1        1        1

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
249        1        1        1        5        5        5       11

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
264            NaN        Lesotho        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
264        0        0        0        0  ...        1        1        1

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
264        1        1        1        1        1        1        2

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
264            NaN        Lesotho        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
264        0        0        0        0  ...        0        0        0

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
264        0        0        0        0        0        0        0

[1 rows x 124 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
252            NaN        Lesotho        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
252        0        0        0        0  ...        0        0        0

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
252        0        0        0        0        0        0        0

[1 rows x 124 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Hi
US
Alabama
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
265        Alabama             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
265        0        0        0        0  ...    10700    11101    11373

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
265    11674    11771    12086    12376    13052    13288    13670

[1 rows x 124 columns]
Hi
US
Alabama
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
265        Alabama             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
265        0        0        0        0  ...      450      473      483

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
265      485      488      489      504      522      529      541

[1 rows x 124 columns]
Hi
US
Alaska
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
266         Alaska             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
266        0        0        0        0  ...      383      383      388

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
266      388      388      388      400      401      401      403

[1 rows x 124 columns]
Hi
US
Alaska
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
266         Alaska             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
266        0        0        0        0  ...       10       10       10

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
266       10       10       10       10       10       10       10

[1 rows x 124 columns]
Hi
US
American Samoa
Region
     Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
267  American Samoa             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
267        0        0        0        0  ...        0        0        0

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
267        0        0        0        0        0        0        0

[1 rows x 124 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Hi
US
American Samoa
Region
     Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
267  American Samoa             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
267        0        0        0        0  ...        0        0        0

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
267        0        0        0        0        0        0        0

[1 rows x 124 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:49: RuntimeWarning: invalid value encountered in double_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:50: RuntimeWarning: invalid value encountered in double_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:51: RuntimeWarning: invalid value encountered in double_scalars

Hi
US
Arizona
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
268        Arizona             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
268        1        1        1        1  ...    12216    12674    13169

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
268    13666    13945    14208    14576    14906    15348    15624

[1 rows x 124 columns]
Hi
US
Arizona
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
268        Arizona             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
268        0        0        0        0  ...      595      624      651

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
268      679      680      687      705      747      764      775

[1 rows x 124 columns]
Hi
US
Arkansas
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
269       Arkansas             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
269        0        0        0        0  ...     4236     4366     4463

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
269     4578     4759     4813     4923     5003     5458     5612

[1 rows x 124 columns]
Hi
US
Arkansas
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
269       Arkansas             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
269        0        0        0        0  ...       97       98       98

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
269       98       98      100      102      107      110      113

[1 rows x 124 columns]
Hi
US
California
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
270     California             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
270        2        2        2        2  ...    72798    74871    76693

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
270    78725    80166    81457    83752    85997    88031    90252

[1 rows x 124 columns]
Hi
US
California
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
270     California             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
270        0        0        0        0  ...     2957     3052     3136

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
270     3208     3240     3279     3403     3497     3583     3666

[1 rows x 124 columns]
Hi
US
Colorado
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
271       Colorado             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
271        0        0        0        0  ...    20475    20838    21232

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
271    21633    21938    22202    22482    22797    23191    23487

[1 rows x 124 columns]
Hi
US
Colorado
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
271       Colorado             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
271        0        0        0        0  ...     1062     1086     1150

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
271     1192     1215     1224     1257     1299     1310     1324

[1 rows x 124 columns]
Hi
US
Connecticut
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
272    Connecticut             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
272        0        0        0        0  ...    34855    35464    36085

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
272    36703    37419    38116    38430    39017    39208    39640

[1 rows x 124 columns]
Hi
US
Connecticut
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
272    Connecticut             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
272        0        0        0        0  ...     3125     3219     3285

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
272     3339     3408     3450     3472     3529     3583     3637

[1 rows x 124 columns]
Hi
US
Delaware
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
273       Delaware             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
273        0        0        0        0  ...     6952     7223     7373

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
273     7547     7670     7869     8037     8194     8386     8529

[1 rows x 124 columns]
Hi
US
Delaware
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
273       Delaware             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
273        0        0        0        0  ...      247      260      271

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
273      286      290      297      304      310      317      322

[1 rows x 124 columns]
Hi
US
Diamond Princess
Region
       Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
274  Diamond Princess             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
274        0        0        0        0  ...       49       49       49

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
274       49       49       49       49       49       49       49

[1 rows x 124 columns]
Hi
US
Diamond Princess
Region
       Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
274  Diamond Princess             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
274        0        0        0        0  ...        0        0        0

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
274        0        0        0        0        0        0        0

[1 rows x 124 columns]

/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/iliana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Hi
US
District of Columbia
Region
           Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
275  District of Columbia             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
275        0        0        0        0  ...     6584     6736     6871

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
275     7042     7123     7270     7434     7551     7788     7893

[1 rows x 124 columns]
Hi
US
District of Columbia
Region
           Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
275  District of Columbia             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
275        0        0        0        0  ...      350      358      368

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
275      375      383      392      400      407      412      418

[1 rows x 124 columns]
Hi
US
Florida
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
276        Florida             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
276        0        0        0        0  ...    42402    43210    44138

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
276    44811    45588    46442    46944    47471    48675    49451

[1 rows x 124 columns]
Hi
US
Florida
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
276        Florida             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
276        0        0        0        0  ...     1827     1875     1917

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
276     1964     1973     1997     2052     2096     2144     2190

[1 rows x 124 columns]
Hi
US
Georgia
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
277        Georgia             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
277        0        0        0        0  ...    35427    35977    36772

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
277    37212    37579    38283    38855    39801    40663    41482

[1 rows x 124 columns]
Hi
US
Georgia
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
277        Georgia             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
277        0        0        0        0  ...     1517     1545     1588

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
277     1598     1610     1649     1675     1697     1775     1808

[1 rows x 124 columns]
Hi
US
Grand Princess
Region
     Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
278  Grand Princess             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
278        0        0        0        0  ...      103      103      103

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
278      103      103      103      103      103      103      103

[1 rows x 124 columns]
Hi
US
Grand Princess
Region
     Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
278  Grand Princess             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
278        0        0        0        0  ...        3        3        3

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
278        3        3        3        3        3        3        3

[1 rows x 124 columns]
Hi
US
Guam
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
279           Guam             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
279        0        0        0        0  ...      152      152      154

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
279      154      154      154      154      154      165      165

[1 rows x 124 columns]
Hi
US
Guam
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
279           Guam             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
279        0        0        0        0  ...        5        5        5

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
279        5        5        5        5        5        5        5

[1 rows x 124 columns]
Hi
US
Hawaii
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
280         Hawaii             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
280        0        0        0        0  ...      638      637      638

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
280      639      640      640      641      643      647      642

[1 rows x 124 columns]
Hi
US
Hawaii
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
280         Hawaii             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
280        0        0        0        0  ...       17       17       17

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
280       17       17       17       17       17       17       17

[1 rows x 124 columns]
Hi
US
Idaho
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
281          Idaho             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
281        0        0        0        0  ...     2293     2351     2351

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
281     2419     2419     2455     2455     2506     2506     2595

[1 rows x 124 columns]
Hi
US
Idaho
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
281          Idaho             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
281        0        0        0        0  ...       69       72       72

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
281       73       73       74       74       77       77       79

[1 rows x 124 columns]
Hi
US
Illinois
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
282       Illinois             US        0        0        1        1

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
282        1        1        1        1  ...    84694    87937    90369

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
282    92457    94191    96485    98030   100418   102688   105444

[1 rows x 124 columns]
Hi
US
Illinois
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
282       Illinois             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
282        0        0        0        0  ...     3792     3928     4059

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
282     4129     4177     4234     4379     4525     4607     4715

[1 rows x 124 columns]
Hi
US
Indiana
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
283        Indiana             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
283        0        0        0        0  ...    25473    26053    26656

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
283    27280    27778    28255    28705    29274    29936    30409

[1 rows x 124 columns]

Hi
US
Indiana
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
283        Indiana             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
283        0        0        0        0  ...     1619     1646     1691

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
283     1741     1751     1765     1824     1864     1913     1941

[1 rows x 124 columns]
Hi
US
Iowa
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
284           Iowa             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
284        0        0        0        0  ...    13289    13675    14049

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
284    14328    14651    14955    15296    15620    16170    16492

[1 rows x 124 columns]
Hi
US
Iowa
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
284           Iowa             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
284        0        0        0        0  ...      306      318      336

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
284      346      351      355      367      393      410      424

[1 rows x 124 columns]
Hi
US
Kansas
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
285         Kansas             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
285        0        0        0        0  ...     7518     7705     7886

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
285     7939     7953     8303     8353     8507     8625     8909

[1 rows x 124 columns]
Hi
US
Kansas
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
285         Kansas             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
285        0        0        0        0  ...      188      189      193

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
285      195      195      198      199      202      204      205

[1 rows x 124 columns]
Hi
US
Kentucky
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
286       Kentucky             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
286        0        0        0        0  ...     6853     7225     7444

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
286     7688     7688     7935     8069     8167     8286     8426

[1 rows x 124 columns]
Hi
US
Kentucky
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
286       Kentucky             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
286        0        0        0        0  ...      321      328      332

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
286      334      334      346      366      376      386      391

[1 rows x 124 columns]
Hi
US
Louisiana
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
287      Louisiana             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
287        0        0        0        0  ...    32662    33489    33837

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
287    34117    34432    34709    35038    35316    36504    36925

[1 rows x 124 columns]
Hi
US
Louisiana
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
287      Louisiana             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
287        0        0        0        0  ...     2381     2417     2448

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
287     2479     2491     2563     2581     2608     2629     2668

[1 rows x 124 columns]
Hi
US
Maine
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
288          Maine             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
288        0        0        0        0  ...     1515     1565     1603

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
288     1648     1687     1713     1741     1819     1877     1948

[1 rows x 124 columns]
Hi
US
Maine
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
288          Maine             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
288        0        0        0        0  ...       66       69       69

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
288       70       70       71       73       73       73       75

[1 rows x 124 columns]
Hi
US
Maryland
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
289       Maryland             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
289        0        0        0        0  ...    34812    35903    36986

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
289    37968    38804    39762    41546    42323    43531    44424

[1 rows x 124 columns]
Hi
US
Maryland
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
289       Maryland             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
289        0        0        0        0  ...     1809     1866     1911

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
289     1957     1992     2023     2081     2123     2159     2207

[1 rows x 124 columns]
Hi
US
Massachusetts
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
290  Massachusetts             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
290        0        0        0        0  ...    80497    82182    83421

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
290    84933    86010    87052    87925    88970    90084    90889

[1 rows x 124 columns]
Hi
US
Massachusetts
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
290  Massachusetts             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
290        0        0        0        0  ...     5315     5482     5592

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
290     5705     5797     5862     5938     6066     6148     6228

[1 rows x 124 columns]
Hi
US
Michigan
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
291       Michigan             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
291        0        0        0        0  ...    48391    49582    50079

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
291    50538    51142    51915    52350    53009    53510    53913

[1 rows x 124 columns]
Hi
US
Michigan
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
291       Michigan             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
291        0        0        0        0  ...     4714     4787     4825

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
291     4881     4891     4915     5017     5060     5129     5158

[1 rows x 124 columns]
Hi
US
Minnesota
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
292      Minnesota             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
292        0        0        0        0  ...    12917    13435    14240

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
292    14969    15668    16372    17029    17670    18200    19005

[1 rows x 124 columns]

Hi
US
Minnesota
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
292      Minnesota             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
292        0        0        0        0  ...      638      672      692

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
292      709      731      740      757      786      818      851

[1 rows x 124 columns]
Hi
US
Mississippi
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
293    Mississippi             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
293        0        0        0        0  ...    10090    10483    10801

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
293    11123    11296    11432    11704    11967    12222    12625

[1 rows x 124 columns]
Hi
US
Mississippi
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
293    Mississippi             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
293        0        0        0        0  ...      465      480      493

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
293      510      521      527      554      570      580      595

[1 rows x 124 columns]
Hi
US
Missouri
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
294       Missouri             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
294        0        0        0        0  ...    10404    10594    10766

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
294    10959    11108    11242    11393    11528    11689    11836

[1 rows x 124 columns]
Hi
US
Missouri
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
294       Missouri             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
294        0        0        0        0  ...      551      566      581

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
294      594      600      611      631      640      668      677

[1 rows x 124 columns]
Hi
US
Montana
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
295        Montana             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
295        0        0        0        0  ...      462      462      466

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
295      468      468      470      471      478      479      479

[1 rows x 124 columns]
Hi
US
Montana
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
295        Montana             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
295        0        0        0        0  ...       16       16       16

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
295       16       16       16       16       16       16       16

[1 rows x 124 columns]
Hi
US
Nebraska
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
296       Nebraska             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
296        0        0        0        0  ...     8912     9260     9610

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
296    10220    10177    10625    10854    11122    11427    11662

[1 rows x 124 columns]
Hi
US
Nebraska
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
296       Nebraska             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
296        0        0        0        0  ...      103      103      113

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
296      123      123      123      123      138      138      147

[1 rows x 124 columns]
Hi
US
Nevada
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
297         Nevada             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
297        0        0        0        0  ...     6476     6504     6733

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
297     6813     6949     7061     7096     7388     7400     7525

[1 rows x 124 columns]
Hi
US
Nevada
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
297         Nevada             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
297        0        0        0        0  ...      331      333      343

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
297      347      350      358      358      377      383      386

[1 rows x 124 columns]
Hi
US
New Hampshire
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
298  New Hampshire             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
298        0        0        0        0  ...     3299     3382     3453

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
298     3556     3596     3652     3721     3868     3935     4014

[1 rows x 124 columns]
Hi
US
New Hampshire
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
298  New Hampshire             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
298        0        0        0        0  ...      150      151      151

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
298      171      172      172      172      190      199      204

[1 rows x 124 columns]
Hi
US
New Jersey
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
299     New Jersey             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
299        0        0        0        0  ...   141560   142704   143984

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
299   145089   146504   148240   149356   150776   151586   152579

[1 rows x 124 columns]
Hi
US
New Jersey
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
299     New Jersey             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
299        0        0        0        0  ...     9714     9946    10148

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
299    10261    10363    10439    10587    10749    10846    10985

[1 rows x 124 columns]
Hi
US
New Mexico
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
300     New Mexico             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
300        0        0        0        0  ...     5364     5503     5662

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
300     5847     5938     6096     6192     6317     6472     6625

[1 rows x 124 columns]
Hi
US
New Mexico
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
300     New Mexico             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
300        0        0        0        0  ...      231      242      253

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
300      259      265      270      276      283      294      302

[1 rows x 124 columns]

Hi
US
New York
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
301       New York             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
301        0        0        0        0  ...   340661   343051   345813

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
301   348232   350121   351371   352845   354370   356458   358154

[1 rows x 124 columns]
Hi
US
New York
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
301       New York             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
301        0        0        0        0  ...    27477    27641    27878

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
301    28049    28232    28339    28558    28636    28743    28853

[1 rows x 124 columns]
Hi
US
North Carolina
Region
     Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
302  North Carolina             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
302        0        0        0        0  ...    16352    16968    17494

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
302    18130    18673    19207    19239    20262    20512    22110

[1 rows x 124 columns]
Hi
US
North Carolina
Region
     Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
302  North Carolina             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
302        0        0        0        0  ...      625      641      667

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
302      676      686      693      693      726      728      775

[1 rows x 124 columns]
Hi
US
North Dakota
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
303   North Dakota             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
303        0        0        0        0  ...     1647     1712     1761

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
303     1848     1900     1931     1994     2095     2229     2317

[1 rows x 124 columns]
Hi
US
North Dakota
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
303   North Dakota             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
303        0        0        0        0  ...       40       40       42

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
303       42       43       44       45       49       51       52

[1 rows x 124 columns]
Hi
US
Northern Mariana Islands
Region
               Province/State Country/Region  1/22/20  1/23/20  1/24/20  \
304  Northern Mariana Islands             US        0        0        0

     1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  \
304        0        0        0        0        0  ...       19       19

     5/15/20  5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
304       19       21       21       21       21       21       22       22

[1 rows x 124 columns]
Hi
US
Northern Mariana Islands
Region
               Province/State Country/Region  1/22/20  1/23/20  1/24/20  \
304  Northern Mariana Islands             US        0        0        0

     1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  \
304        0        0        0        0        0  ...        2        2

     5/15/20  5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
304        2        2        2        2        2        2        2        2

[1 rows x 124 columns]
Hi
US
Ohio
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
305           Ohio             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
305        0        0        0        0  ...    25721    26357    26954

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
305    27474    27923    28454    28952    29436    30167    30794

[1 rows x 124 columns]
Hi
US
Ohio
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
305           Ohio             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
305        0        0        0        0  ...     1483     1534     1581

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
305     1610     1625     1657     1720     1781     1837     1872

[1 rows x 124 columns]
Hi
US
Oklahoma
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
306       Oklahoma             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
306        0        0        0        0  ...     4858     4963     5087

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
306     5237     5310     5398     5489     5532     5680     5849

[1 rows x 124 columns]
Hi
US
Oklahoma
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
306       Oklahoma             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
306        0        0        0        0  ...      278      284      285

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
306      288      288      288      293      299      304      307

[1 rows x 124 columns]
Hi
US
Oregon
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
307         Oregon             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
307        0        0        0        0  ...     3416     3479     3541

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
307     3612     3623     3687     3726     3801     3817     3864

[1 rows x 124 columns]
Hi
US
Oregon
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
307         Oregon             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
307        0        0        0        0  ...      134      137      137

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
307      137      137      138      140      144      145      147

[1 rows x 124 columns]
Hi
US
Pennsylvania
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
308   Pennsylvania             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
308        0        0        0        0  ...    62101    63105    64136

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
308    65185    65700    66669    67311    68126    69252    70211

[1 rows x 124 columns]
Hi
US
Pennsylvania
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
308   Pennsylvania             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
308        0        0        0        0  ...     4094     4288     4422

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
308     4480     4495     4515     4628     4770     4869     5010

[1 rows x 124 columns]
Hi
US
Puerto Rico
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
309    Puerto Rico             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
309        0        0        0        0  ...     2329     2427     2542

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
309     2589     2646     2710     2805     2866     2913     3030

[1 rows x 124 columns]

Hi
US
Puerto Rico
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
309    Puerto Rico             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
309        0        0        0        0  ...      115      117      122

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
309      122      123      124      124      125      126      126

[1 rows x 124 columns]
Hi
US
Rhode Island
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
310   Rhode Island             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
310        0        0        0        0  ...    11835    12016    12219

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
310    12434    12674    12795    12951    13356    13571    13736

[1 rows x 124 columns]
Hi
US
Rhode Island
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
310   Rhode Island             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
310        0        0        0        0  ...      462      468      479

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
310      489      499      506      532      538      556      579

[1 rows x 124 columns]
Hi
US
South Carolina
Region
     Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
311  South Carolina             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
311        0        0        0        0  ...     8030     8189     8407

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
311     8661     8816     8942     9056     9175     9381     9638

[1 rows x 124 columns]
Hi
US
South Carolina
Region
     Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
311  South Carolina             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
311        0        0        0        0  ...      362      371      380

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
311      380      385      391      399      407      416      419

[1 rows x 124 columns]
Hi
US
South Dakota
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
312   South Dakota             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
312        0        0        0        0  ...     3732     3792     3887

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
312     3959     3987     4027     4085     4177     4177     4356

[1 rows x 124 columns]
Hi
US
South Dakota
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
312   South Dakota             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
312        0        0        0        0  ...       39       43       44

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
312       44       44       44       46       46       48       50

[1 rows x 124 columns]
Hi
US
Tennessee
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
313      Tennessee             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
313        0        0        0        0  ...    16370    16699    16960

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
313    17263    17359    18011    18412    18412    18961    19394

[1 rows x 124 columns]
Hi
US
Tennessee
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
313      Tennessee             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
313        0        0        0        0  ...      273      287      290

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
313      295      298      301      305      305      313      315

[1 rows x 124 columns]
Hi
US
Texas
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
314          Texas             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
314        0        0        0        0  ...    43020    44480    45721

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
314    47452    48396    49177    50552    51673    53053    53539

[1 rows x 124 columns]
Hi
US
Texas
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
314          Texas             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
314        0        0        0        0  ...     1172     1235     1280

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
314     1318     1343     1350     1388     1426     1460     1470

[1 rows x 124 columns]
Hi
US
Utah
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
315           Utah             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
315        0        0        0        0  ...     6620     6749     6913

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
315     7068     7238     7384     7518     7710     7874     8057

[1 rows x 124 columns]
Hi
US
Utah
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
315           Utah             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
315        0        0        0        0  ...       75       75       77

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
315       78       80       80       88       90       92       93

[1 rows x 124 columns]
Hi
US
Vermont
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
316        Vermont             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
316        0        0        0        0  ...      929      932      933

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
316      934      940      940      944      944      950      952

[1 rows x 124 columns]
Hi
US
Vermont
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
316        Vermont             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
316        0        0        0        0  ...       53       53       53

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
316       53       54       54       54       54       54       54

[1 rows x 124 columns]
Hi
US
Virgin Islands
Region
     Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
317  Virgin Islands             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
317        0        0        0        0  ...       69       69       69

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
317       69       69       69       69       69       69       69

[1 rows x 124 columns]
Hi
US
Virgin Islands
Region
     Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
317  Virgin Islands             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
317        0        0        0        0  ...        6        6        6

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
317        6        6        6        6        6        6        6

[1 rows x 124 columns]

Hi
US
Virginia
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
318       Virginia             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
318        0        0        0        0  ...    26746    27813    28672

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
318    29683    30388    31140    32145    32908    34137    34950

[1 rows x 124 columns]
Hi
US
Virginia
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
318       Virginia             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
318        0        0        0        0  ...      928      956      978

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
318     1003     1010     1015     1042     1075     1100     1136

[1 rows x 124 columns]
Hi
US
Washington
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
319     Washington             US        1        1        1        1

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
319        1        1        1        1  ...    17512    17773    17951

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
319    18288    18433    18611    18811    18971    19117    19265

[1 rows x 124 columns]
Hi
US
Washington
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
319     Washington             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
319        0        0        0        0  ...      974      983      991

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
319      999     1001     1002     1031     1037     1044     1050

[1 rows x 124 columns]
Hi
US
West Virginia
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
320  West Virginia             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
320        0        0        0        0  ...     1398     1427     1447

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
320     1470     1492     1502     1502     1567     1593     1705

[1 rows x 124 columns]
Hi
US
West Virginia
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
320  West Virginia             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
320        0        0        0        0  ...       58       60       64

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
320       64       67       68       68       69       70       72

[1 rows x 124 columns]
Hi
US
Wisconsin
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
321      Wisconsin             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
321        0        0        0        0  ...    10902    11275    11685

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
321    12187    12543    12687    12885    13413    13885    14396

[1 rows x 124 columns]
Hi
US
Wisconsin
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
321      Wisconsin             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
321        0        0        0        0  ...      421      434      445

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
321      453      453      459      467      481      487      496

[1 rows x 124 columns]
Hi
US
Wyoming
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
322        Wyoming             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
322        0        0        0        0  ...      688      701      716

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
322      741      754      766      776      787      801      803

[1 rows x 124 columns]
Hi
US
Wyoming
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
322        Wyoming             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
322        0        0        0        0  ...        7        7        7

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
322        7        8       10       10       11       12       12

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
323            NaN         Canada        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
323        1        1        2        2  ...    73567    74780    75958

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
323    77205    78331    79410    80492    81574    82741    83946

[1 rows x 124 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
323            NaN         Canada        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  \
323        0        0        0        0  ...     5424     5591     5678

     5/16/20  5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
323     5799     5902     5959     6027     6149     6266     6359

[1 rows x 124 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
36            NaN         Canada        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  5/13/20  5/14/20  5/15/20  5/16/20  \
36        0        0        0  ...    35177    36104    36908    37832

    5/17/20  5/18/20  5/19/20  5/20/20  5/21/20  5/22/20
36    38563    39251    40069    40793    41731    42608

[1 rows x 124 columns]