In [1]:
import numpy as np 
import matplotlib.pyplot as plt 
import pandas as pd 
import random
import math
import time
from sklearn.model_selection import RandomizedSearchCV, train_test_split
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error, mean_absolute_error
import operator 
import matplotlib.dates as mdates
import matplotlib.ticker as ticker
import datetime
from datetime import date
import operator
from matplotlib import pyplot
#import rpy2 as r
#from tslearn.utils import to_time_series_dataset
#from tslearn.preprocessing import TimeSeriesScalerMinMax
from sklearn import model_selection
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from statsmodels.tsa.stattools import adfuller

In [2]:
#put the files in the same folder with code
confirmed_cases=pd.read_csv('confirmed_cases_total.csv')

In [3]:
deaths_cases=pd.read_csv('deaths_cases_total.csv')

In [4]:
recoveries_cases=pd.read_csv('recoveries_cases_total.csv')

In [5]:
colnames = confirmed_cases.columns.values

In [6]:
colonames = recoveries_cases.columns.values

In [7]:
confirmed = confirmed_cases.loc[:, colnames[4]:colnames[-1]]
deaths = deaths_cases.loc[:, colnames[4]:colnames[-1]]
recoveries = recoveries_cases.loc[:, colonames[4]:colonames[-1]]

In [8]:
time_date = confirmed.columns.values

In [9]:
all_days = np.array([i for i in range(len(time_date))]).reshape(-1, 1)

In [10]:
pred_days_ahead = 30
predictions_ahead = np.array([i for i in range(len(time_date)+pred_days_ahead)]).reshape(-1, 1)

predictions_ahead_plus_day2 = np.array([i for i in range(len(time_date)+2+1)]).reshape(-1, 1)
predictions_ahead_plus_day7 = np.array([i for i in range(len(time_date)+7+1)]).reshape(-1, 1)
predictions_ahead_plus_day30 = np.array([i for i in range(len(time_date)+30+1)]).reshape(-1, 1)

In [11]:
#start = datetime.datetime.strptime(colnames[4], "%m/%d/%y")
#end = datetime.datetime.strptime(colnames[-1], "%m/%d/%y")
#predictions_ahead_dates = [start + datetime.timedelta(days=d) for d in range(len(predictions_ahead_plus_day))]

start = datetime.datetime.strptime(colnames[4], "%m/%d/%y")
end = datetime.datetime.strptime(colnames[-1], "%m/%d/%y")
predictions_ahead_dates2 = [start + datetime.timedelta(days=d) for d in range(len(predictions_ahead_plus_day2))]
predictions_ahead_dates7 = [start + datetime.timedelta(days=d) for d in range(len(predictions_ahead_plus_day7))]
predictions_ahead_dates30 = [start + datetime.timedelta(days=d) for d in range(len(predictions_ahead_plus_day30))]

In [12]:
confirmed_cases = confirmed_cases[~confirmed_cases['Country/Region'].isin(['Tajikistan', 'Comoros'])]

In [13]:
countries=confirmed_cases['Country/Region'].tolist()
province=confirmed_cases['Province/State'].tolist()

In [14]:
def takensEmbedding (data, delay, dimension):
    "This function returns the Takens embedding of data with delay into dimension, delay*dimension must be < len(data)"
    if delay*dimension > len(data):
        raise NameError('Delay times dimension exceed length of data!')    
    embeddedData = np.array([data[0:len(data)-delay*dimension]])
    for i in range(1, dimension):
        embeddedData = np.append(embeddedData, [data[i*delay:len(data) - delay*(dimension - i)]], axis=0)
    return embeddedData;

In [15]:
def prepare_data (region, delay=1 , dimension=31):
    #create a dataframe for timeseries analysis
    date_rng = pd.date_range(start=colnames[4], end=colnames[-1], freq='D') #creates the days
    df = pd.DataFrame(date_rng, columns=['date'])
    df['cases']=np.transpose(region) #this is a dataframe with dates and cases.
#     df = df.set_index('date')
#     timeseries=df[df['cases'] != 0]
#     #find the optimal d 
#     diff=timeseries-timeseries.shift(1)
#     for d in range(1,10):
#         if (test_stationarity(diff.dropna())['p-value']<0.1):
#             break
#         else: 
#             d=d+1 
#             diff=diff-diff.shift(1)
#     for i in range (1,d):
#         i=i+1 
#         diff=diff-diff.shift(1)
#         df['diff'+str(i)]=diff
    #df['diff']=diff #column of the dataframe with the stationary timeseries, might contain Na's!
    df['diff']=df['cases']-df['cases'].shift(1)
    t_diff=(df['diff'].dropna()).to_numpy() 
    timeseries_embedded=np.transpose(takensEmbedding(t_diff,delay,dimension))
    Y_train=timeseries_embedded[:,-1]
    X_train=timeseries_embedded[:,:-1] #keep all apart from the last column
    X_test=t_diff[-(dimension-1):] #predict using as feature the last 'dimension' lags
    return X_train , Y_train, X_test , t_diff

In [31]:
def predict_with_ML(region, pred_days_ahead, delay=1,dimension=30):
    predictions=np.zeros(pred_days_ahead)
    X_train = prepare_data(region, delay, dimension)[0] 
    Y_train = prepare_data(region, delay, dimension)[1]
    X_test = prepare_data(region, delay, dimension)[2]
    for i in range(pred_days_ahead):
        regressor = RandomForestRegressor(n_estimators = 500, random_state = 42)
        r=regressor.fit(X_train, Y_train)
        predictions[i] = regressor.predict(X_test.reshape(1, -1))
        X_test=np.append(X_test[1:],int(predictions[i])) 
        #in every iteration remove the first element of X_test and add prediction
    predictions #we have to go back to the original scale
    #d = prepare_data(region, delay, dimension)[3]
    t_diff = prepare_data(region, delay, dimension)[3]
    together=np.append(t_diff,predictions)
    #for i in range(1,d):
    together=np.cumsum(together)
    return together #returns an array with all the cases and the predictions (we want the last elements of it)

In [49]:
import operator
def subpopulation_Analysis(cases,country,province, all_days,subpopulation, pred_days_ahead=30):
    
    pred  = list()
    if pd.isnull(province):
        region = cases.loc[(cases['Country/Region'] == country) & (pd.isnull(cases['Province/State']))]
    else:
        print("Hi")
        print(country)
        print(province)
        region = cases.loc[(cases['Country/Region'] == country)& (cases['Province/State'] == province)]
    print("Region")
    print(region)
    
    reg =  np.array(region.loc[:, colnames[4]:colnames[-1]])
    region =  np.array(region.loc[:, colnames[4]:colnames[-1]]).reshape(-1, 1)
        
    #train_x, test_x, train_y, test_y = model_selection.train_test_split(all_days,region,test_size = 0.04,random_state = 42,shuffle=False)
    
    #pred_svm =  SVM_regression(train_x, train_y.ravel(), test_x, test_y, predictions_ahead,subpopulation,all_days,region.ravel())
    #pred.append(pred_svm)
    
    #TODO: a for loop
    daily_increase_threshold1=np.absolute((reg[-1][-1]-reg[-1][-2])/reg[-1][-2])*100
    daily_increase_threshold2=np.absolute((reg[-1][-2]-reg[-1][-3])/reg[-1][-3])*100
    daily_increase_threshold3=np.absolute((reg[-1][-3]-reg[-1][-4])/reg[-1][-4])*100
    daily_increase_threshold4=np.absolute((reg[-1][-4]-reg[-1][-5])/reg[-1][-5])*100
    daily_increase_bound=1000
    daily_increase_threshold = max(daily_increase_threshold1,daily_increase_threshold2,daily_increase_threshold3,daily_increase_threshold4)
    
    if (daily_increase_threshold>daily_increase_bound):
        best_pred_ahead2 = 0 
        best_pred_ahead7 = 0 
        best_pred_ahead30 = 0 
        region = region
        best_pred = 0
        #best_conf_int = np.zeros(2)
        reject_country = 1
        return(best_pred_ahead2,best_pred_ahead7,best_pred_ahead30, region, best_pred, reject_country)
     
    
    pred_arima=predict_with_ML(reg, pred_days_ahead, delay=1,dimension=31)
    #pred.append(pred_svm)
    #pred_RF = RF_regression(train_x, train_y.ravel(), test_x, test_y, predictions_ahead,subpopulation,all_days,region.ravel())
    #pred.append(pred_RF)

    
   # pred_gb =  Grad_Boost_regression(train_x, train_y.ravel(), test_x, test_y, predictions_ahead,subpopulation,all_days,region.ravel())
   # pred.append(pred_gb)


    if (subpopulation == 'confirmed'): 
        if (len(pred_arima)==0):
            min_idx, (min_key, min_val) = min(enumerate(prediction_models_confirmed.items()), key=lambda x: x[1][1])
            best_pred = pred[min_idx]
            #conf_int=np.zeros(2)
        else:
            best_pred=pred_arima
            #conf_int=conf_int
    elif (subpopulation == 'deaths'):
        if (len(pred_arima)==0):
            min_idx, (min_key, min_val) = min(enumerate(prediction_models_deaths.items()), key=lambda x: x[1][1])
            best_pred = pred[min_idx]
            #conf_int=np.zeros(2)
        else:
            best_pred=pred_arima
            #conf_int=conf_int
    else :
        if (len(pred_arima)==0):
            min_idx, (min_key, min_val) = min(enumerate(prediction_models_recoveries.items()), key=lambda x: x[1][1])
            best_pred = pred[min_idx]
            #conf_int=np.zeros(2)
        else:
            best_pred=pred_arima
            #conf_int=conf_int
        
    #print(best_pred)
    #print(type(best_pred))
    best_pred_ahead2 = best_pred[-pred_days_ahead+1]
    #print("gntm2")
    #print(best_pred_ahead2)
    best_pred_ahead7= best_pred[-pred_days_ahead+6]
    #print("gntm7")
    #print(best_pred_ahead7)
    best_pred_ahead30= best_pred[-pred_days_ahead-1]
    #print("gntm30")
    #print(best_pred_ahead30)
    #best_conf_int=conf_int[-1]
   
    #best_conf_int[0]=max(reg[-1][-1], best_conf_int[0])
    #if (best_conf_int[0]>best_conf_int[1]):
        #best_conf_int[1]=2*reg[-1][-1]

    if(best_pred_ahead2<reg[-1][-1]):
        best_pred_ahead2= reg[-1][-1]+2
    
    if(best_pred_ahead7<reg[-1][-1]):
        best_pred_ahead7= reg[-1][-1]+7   
    
    if(best_pred_ahead7<reg[-1][-1]):
        best_pred_ahead7= reg[-1][-1]+30     
    
    reject_country = 0
    
    return best_pred_ahead2,best_pred_ahead7,best_pred_ahead30, region, best_pred, reject_country

In [50]:
pred_file2 = str(2)+"day_prediction_random_forest" +  date.today().strftime('%Y-%m-%d') + ".csv"
pred_file2

'2day_prediction_random_forest2020-06-12.csv'

In [51]:
pred_file7 = str(7)+"day_prediction_random_forest" + date.today().strftime('%Y-%m-%d') + ".csv"
pred_file7

'7day_prediction_random_forest2020-06-12.csv'

In [52]:
pred_file30 = str(30)+"day_prediction_random_forest" + date.today().strftime('%Y-%m-%d') + ".csv"
pred_file30

'30day_prediction_random_forest2020-06-12.csv'

In [53]:
columns = ['Province/State','Country','Target/Date','N','low95N','high95N',
          'R','low95R','high95R','D','low95D','high95D','T','low95T','high95T',
           'M','low95M','high95M','C','low95C','high95C']

            

k = 0

for co in range(len(countries)):
    
    ignore_recoveries = 0    
    
    total_predictions2 = pd.DataFrame(columns = columns)
    total_predictions7 = pd.DataFrame(columns = columns)
    total_predictions30 = pd.DataFrame(columns = columns)
    
    k = k + 1
    

    best_pred_confirmed2,best_pred_confirmed7,best_pred_confirmed30, region_con, best_pred_con, reject_country = subpopulation_Analysis(confirmed_cases,countries[co],province[co],
                                                 all_days,"confirmed",pred_days_ahead)
    
    if (reject_country==1):
        print('rejected_conf')
        continue
        
    best_pred_deaths2,best_pred_deaths7,best_pred_deaths30, region_d, best_pred_d, reject_country = subpopulation_Analysis(deaths_cases,countries[co],province[co],
                                              all_days,"deaths",pred_days_ahead)
    if (reject_country==1):
        print('rejected_d')
        continue
        
    if ((countries[co] == 'US' or countries[co] == 'Canada' ) & (pd.notnull(province[co]))):
        ignore_recoveries=1   
    else:
        best_pred_recoveries2,best_pred_recoveries7,best_pred_recoveries30, region_r, best_pred_r, reject_country = subpopulation_Analysis(recoveries_cases,countries[co],province[co],
                                                  all_days,"recoveries",pred_days_ahead)
    
    if (reject_country==1):
        print('rejected_r')
        continue
    
    # Mortality rate
    #if (conf_int_con[0]==0):
       # mort_pred=0
        #mort_pred_low=0
        #mort_pred_up=0
    #else:
    mort_pred2  = best_pred_deaths2/best_pred_confirmed2
    mort_pred7  = best_pred_deaths7/best_pred_confirmed7
    mort_pred30  = best_pred_deaths30/best_pred_confirmed30
        #mort_pred_low= conf_int_d[0]/conf_int_con[1]
        #mort_pred_up=conf_int_d[1]/conf_int_con[0]
    
    #fix province
    province_name=''
    if (pd.notnull(province[co])) :
        province_name=province[co]
    
    if (ignore_recoveries==0):
        R_value2=int(best_pred_recoveries2) 
        R_value7=int(best_pred_recoveries7) 
        R_value30=int(best_pred_recoveries30) 
        #low_R=int(conf_int_r[0])
        #high_R=int(conf_int_r[1])
    else:
        R_value2=''
        R_value7=''
        R_value30=''
        #low_R=''
        #high_R=''
        
    #Critical Cases:
    #Assume that 5% of all cases are critical and need hospitalization:
    serious_percentage=0.05
    critical2=serious_percentage*best_pred_confirmed2
    critical7=serious_percentage*best_pred_confirmed7
    critical30=serious_percentage*best_pred_confirmed30
    #low_critical=serious_percentage*conf_int_con[0]
    #high_critical=serious_percentage*conf_int_con[1]
    
    total_predictions2 = total_predictions2.append({'Province/State': province_name,
                                                'Country': countries[co],
                                                'Target/Date': predictions_ahead_dates2[-1].strftime('%Y-%m-%d'), 
                                                'N': int(best_pred_confirmed2) ,
                                                'low95N':'',
                                                'high95N': '',
                                                'R': R_value2 ,
                                                'low95R' : '',
                                                'high95R' : '',
                                                'D': int(best_pred_deaths2) ,
                                                'low95D' : '',
                                                'high95D': '',
                                                'T': '',
                                                'low95T' : '' ,
                                                'high95T' : '',
                                                'M': mort_pred2,
                                                'low95M': '',
                                                'high95M': '' ,
                                                'C': int(critical2) ,
                                                'low95C':  '' ,
                                                'high95C': '' },ignore_index = True)
        
    total_predictions7 = total_predictions7.append({'Province/State': province_name,
                                                'Country': countries[co],
                                                'Target/Date': predictions_ahead_dates7[-1].strftime('%Y-%m-%d'), 
                                                'N': int(best_pred_confirmed7) ,
                                                'low95N':'',
                                                'high95N': '',
                                                'R': R_value7 ,
                                                'low95R' : '',
                                                'high95R' : '',
                                                'D': int(best_pred_deaths7) ,
                                                'low95D' : '',
                                                'high95D': '',
                                                'T': '',
                                                'low95T' : '' ,
                                                'high95T' : '',
                                                'M': mort_pred7,
                                                'low95M': '',
                                                'high95M': '' ,
                                                'C': int(critical7) ,
                                                'low95C':  '' ,
                                                'high95C': '' },ignore_index = True)
            
    total_predictions30 = total_predictions30.append({'Province/State': province_name,
                                                'Country': countries[co],
                                                'Target/Date': predictions_ahead_dates30[-1].strftime('%Y-%m-%d'), 
                                                'N': int(best_pred_confirmed30) ,
                                                'low95N':'',
                                                'high95N': '',
                                                'R': R_value30 ,
                                                'low95R' : '',
                                                'high95R' : '',
                                                'D': int(best_pred_deaths30) ,
                                                'low95D' : '',
                                                'high95D': '',
                                                'T': '',
                                                'low95T' : '' ,
                                                'high95T' : '',
                                                'M': mort_pred30,
                                                'low95M': '',
                                                'high95M': '' ,
                                                'C': int(critical30) ,
                                                'low95C':  '' ,
                                                'high95C': '' },ignore_index = True)
    
    if (k==1):
        header = True
    else:
        header = False
    
    total_predictions2.to_csv(pred_file2, sep=',',index = False,  mode='a', header = header)
    total_predictions7.to_csv(pred_file7, sep=',',index = False,  mode='a', header = header)
    total_predictions30.to_csv(pred_file30, sep=',',index = False,  mode='a', header = header)

Region
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
0            NaN    Afghanistan        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
0        0        0        0  ...   16509   17267   18054   18969   19551

   6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
0   20342   20917   21459    22142    22890

[1 rows x 144 columns]
Region
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
0            NaN    Afghanistan        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
0        0        0        0  ...     270     294     300     309     327

   6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
0     357     369     384      405      426

[1 rows x 144 columns]
Region
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
0            NaN    Afghanistan        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
0        0        0        0  ...    1450    1522    1585    1762    1830

   6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
0    1875    2171    2651     3013     3326

[1 rows x 144 columns]
Region
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
1            NaN        Albania        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
1        0        0        0  ...    1164    1184    1197    1212    1232

   6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
1    1246    1263    1299     1341     1385

[1 rows x 144 columns]
Region
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
1            NaN        Albania        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
1        0        0        0  ...      33      33      33      33      34

   6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
1      34      34      34       34       35

[1 rows x 144 columns]
Region
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
1            NaN        Albania        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
1        0        0        0  ...     891     898     898     910     925

   6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
1     938     945     960      980     1001

[1 rows x 144 columns]
Region
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
2            NaN        Algeria        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
2        0        0        0  ...    9626    9733    9831    9935   10050

   6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
2   10154   10265   10382    10484    10589

[1 rows x 144 columns]
Region
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
2            NaN        Algeria        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
2        0        0        0  ...     667     673     681     690     698

   6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
2     707     715     724      732      741

[1 rows x 144 columns]
Region
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
2            NaN        Algeria        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
2        0        0        0  ...    6067    6218    6297    6453    6631

   6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
2    6717    6799    6951     7074     7255

[1 rows x 144 columns]
Region
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
3            NaN        Andorra        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
3        0        0        0  ...     844     851     852     852     852

   6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
3     852     852     852      852      852

[1 rows x 144 columns]
Region
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
3            NaN        Andorra        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
3        0        0        0  ...      51      51      51      51      51

   6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
3      51      51      51       51       51

[1 rows x 144 columns]
Region
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
3            NaN        Andorra        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
3        0        0        0  ...     733     735     738     741     741

   6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
3     744     751     757      759      780

[1 rows x 144 columns]
Region
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
4            NaN         Angola        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
4        0        0        0  ...      86      86      86      86      88

   6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
4      91      92      96      113      118

[1 rows x 144 columns]
Region
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
4            NaN         Angola        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
4        0        0        0  ...       4       4       4       4       4

   6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
4       4       4       4        4        5

[1 rows x 144 columns]
Region
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
4            NaN         Angola        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
4        0        0        0  ...      18      18      18      21      24

   6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
4      24      38      38       40       41

[1 rows x 144 columns]
Region
  Province/State       Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
5            NaN  Antigua and Barbuda        0        0        0        0

   1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
5        0        0        0        0  ...      26      26      26      26

   6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
5      26      26      26      26       26       26

[1 rows x 144 columns]
Region
  Province/State       Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
5            NaN  Antigua and Barbuda        0        0        0        0

   1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
5        0        0        0        0  ...       3       3       3       3

   6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
5       3       3       3       3        3        3

[1 rows x 144 columns]
Region
  Province/State       Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
5            NaN  Antigua and Barbuda        0        0        0        0

   1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
5        0        0        0        0  ...      20      20      20      20

   6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
5      20      20      20      20       20       20

[1 rows x 144 columns]
Region
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
6            NaN      Argentina        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
6        0        0        0  ...   18319   19268   20197   21037   22020

   6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
6   22794   23620   24761    25987    27373

[1 rows x 144 columns]

Region
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
6            NaN      Argentina        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
6        0        0        0  ...     569     583     608     632     648

   6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
6     664     693     717      735      765

[1 rows x 144 columns]
Region
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
6            NaN      Argentina        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
6        0        0        0  ...    5709    5896    5993    6088    6180

   6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
6    6909    7305    7568     7991     8332

[1 rows x 144 columns]
Region
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
7            NaN        Armenia        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
7        0        0        0  ...   10009   10524   11221   11817   12364

   6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
7   13130   13325   13675    14103    14669

[1 rows x 144 columns]
Region
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
7            NaN        Armenia        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
7        0        0        0  ...     158     170     176     183     190

   6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
7     200     211     217      227      245

[1 rows x 144 columns]
Region
  Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
7            NaN        Armenia        0        0        0        0        0

   1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
7        0        0        0  ...    3427    3454    3468    3513    3720

   6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
7    4014    4099    4451     5226     5466

[1 rows x 144 columns]
Hi
Australia
Australian Capital Territory
Region
                 Province/State Country/Region  1/22/20  1/23/20  1/24/20  \
8  Australian Capital Territory      Australia        0        0        0

   1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  \
8        0        0        0        0        0  ...     107     107     107

   6/5/20  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
8     107     108     108     108     108      108      108

[1 rows x 144 columns]
Hi
Australia
Australian Capital Territory
Region
                 Province/State Country/Region  1/22/20  1/23/20  1/24/20  \
8  Australian Capital Territory      Australia        0        0        0

   1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  \
8        0        0        0        0        0  ...       3       3       3

   6/5/20  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
8       3       3       3       3       3        3        3

[1 rows x 144 columns]
Hi
Australia
Australian Capital Territory
Region
                 Province/State Country/Region  1/22/20  1/23/20  1/24/20  \
8  Australian Capital Territory      Australia        0        0        0

   1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  \
8        0        0        0        0        0  ...     104     104     104

   6/5/20  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
8     104     104     104     104     104      104      104

[1 rows x 144 columns]
Hi
Australia
New South Wales
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
9  New South Wales      Australia        0        0        0        0

   1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
9        3        4        4        4  ...    3104    3106    3110    3110

   6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
9    3109    3112    3114    3117     3117     3115

[1 rows x 144 columns]
Hi
Australia
New South Wales
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
9  New South Wales      Australia        0        0        0        0

   1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
9        0        0        0        0  ...      48      48      48      48

   6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
9      48      48      48      48       48       48

[1 rows x 144 columns]
Hi
Australia
New South Wales
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
9  New South Wales      Australia        0        0        0        0

   1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
9        0        0        0        0  ...    2691    2700    2714    2719

   6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
9    2723    2724    2729    2735     2738     2743

[1 rows x 144 columns]
Hi
Australia
Northern Territory
Region
        Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
10  Northern Territory      Australia        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
10        0        0        0        0  ...      29      29      29      29

    6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
10      29      29      29      29       29       29

[1 rows x 144 columns]
Hi
Australia
Northern Territory
Region
        Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
10  Northern Territory      Australia        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
10        0        0        0        0  ...       0       0       0       0

    6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
10       0       0       0       0        0        0

[1 rows x 144 columns]

/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Hi
Australia
Northern Territory
Region
        Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
10  Northern Territory      Australia        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
10        0        0        0        0  ...      29      29      29      29

    6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
10      29      29      29      29       29       29

[1 rows x 144 columns]
Hi
Australia
Queensland
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
11     Queensland      Australia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
11        0        0        1  ...    1059    1060    1060    1061    1061

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
11    1062    1062    1062     1063     1064

[1 rows x 144 columns]
Hi
Australia
Queensland
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
11     Queensland      Australia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
11        0        0        0  ...       6       6       6       6       6

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
11       6       6       6        6        6

[1 rows x 144 columns]
Hi
Australia
Queensland
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
11     Queensland      Australia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
11        0        0        0  ...    1047    1046    1049    1049    1050

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
11    1050    1051    1051     1051     1051

[1 rows x 144 columns]
Hi
Australia
South Australia
Region
     Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
12  South Australia      Australia        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
12        0        0        0        0  ...     440     440     440     440

    6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
12     440     440     440     440      440      440

[1 rows x 144 columns]
Hi
Australia
South Australia
Region
     Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
12  South Australia      Australia        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
12        0        0        0        0  ...       4       4       4       4

    6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
12       4       4       4       4        4        4

[1 rows x 144 columns]
Hi
Australia
South Australia
Region
     Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
12  South Australia      Australia        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
12        0        0        0        0  ...     435     435     436     436

    6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
12     436     436     436     436      436      436

[1 rows x 144 columns]
Hi
Australia
Tasmania
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
13       Tasmania      Australia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
13        0        0        0  ...     228     228     228     228     228

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
13     228     228     228      228      228

[1 rows x 144 columns]
Hi
Australia
Tasmania
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
13       Tasmania      Australia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
13        0        0        0  ...      13      13      13      13      13

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
13      13      13      13       13       13

[1 rows x 144 columns]
Hi
Australia
Tasmania
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
13       Tasmania      Australia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
13        0        0        0  ...     208     208     208     208     209

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
13     209     209     209      209      212

[1 rows x 144 columns]
Hi
Australia
Victoria
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
14       Victoria      Australia        0        0        0        0        1

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
14        1        1        1  ...    1670    1678    1681    1681    1685

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
14    1687    1687    1691     1699     1703

[1 rows x 144 columns]
Hi
Australia
Victoria
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
14       Victoria      Australia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
14        0        0        0  ...      19      19      19      19      19

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
14      19      19      19       19       19

[1 rows x 144 columns]
Hi
Australia
Victoria
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
14       Victoria      Australia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
14        0        0        0  ...    1569    1569    1586    1586    1593

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
14    1595    1602    1616     1621     1632

[1 rows x 144 columns]
Hi
Australia
Western Australia
Region
       Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
15  Western Australia      Australia        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
15        0        0        0        0  ...     592     592     592     596

    6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
15     599     599     599     599      601      602

[1 rows x 144 columns]
Hi
Australia
Western Australia
Region
       Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
15  Western Australia      Australia        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
15        0        0        0        0  ...       9       9       9       9

    6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
15       9       9       9       9        9        9

[1 rows x 144 columns]
Hi
Australia
Western Australia
Region
       Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
15  Western Australia      Australia        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
15        0        0        0        0  ...     553     557     557     557

    6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
15     559     559     560     560      571      575

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
16            NaN        Austria        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
16        0        0        0  ...   16759   16771   16805   16843   16898

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
16   16902   16968   16979    17005    17034

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
16            NaN        Austria        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
16        0        0        0  ...     669     670     670     672     672

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
16     672     672     672      673      674

[1 rows x 144 columns]

Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
16            NaN        Austria        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
16        0        0        0  ...   15629   15672   15717   15742   15789

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
16   15793   15839   15875    15910    15949

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
17            NaN     Azerbaijan        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
17        0        0        0  ...    5935    6260    6522    6860    7239

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
17    7553    7876    8191     8530     8882

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
17            NaN     Azerbaijan        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
17        0        0        0  ...      71      76      78      82      84

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
17      88      93      98      102      108

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
17            NaN     Azerbaijan        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
17        0        0        0  ...    3564    3665    3737    3871    4024

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
17    4149    4377    4606     4720     4930

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
18            NaN        Bahamas        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
18        0        0        0  ...     102     102     102     102     103

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
18     103     103     103      103      103

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
18            NaN        Bahamas        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
18        0        0        0  ...      11      11      11      11      11

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
18      11      11      11       11       11

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
18            NaN        Bahamas        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
18        0        0        0  ...      49      55      55      55      62

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
18      62      64      64       67       68

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
19            NaN        Bahrain        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
19        0        0        0  ...   12311   12815   13296   13835   14383

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
19   14763   15417   15731    16200    16667

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
19            NaN        Bahrain        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
19        0        0        0  ...      19      20      21      22      24

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
19      26      27      29       31       34

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
19            NaN        Bahrain        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
19        0        0        0  ...    7407    7410    7728    8585    9056

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
19    9468   10326   10606    11109    11487

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
20            NaN     Bangladesh        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
20        0        0        0  ...   52445   55140   57563   60391   63026

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
20   65769   68504   71675    74865    78052

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
20            NaN     Bangladesh        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
20        0        0        0  ...     709     746     781     811     846

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
20     888     930     975     1012     1049

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
20            NaN     Bangladesh        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
20        0        0        0  ...   11120   11590   12161   12804   13325

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
20   13903   14560   15337    15900    16747

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
21            NaN       Barbados        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
21        0        0        0  ...      92      92      92      92      92

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
21      92      92      92       96       96

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
21            NaN       Barbados        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
21        0        0        0  ...       7       7       7       7       7

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
21       7       7       7        7        7

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
21            NaN       Barbados        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
21        0        0        0  ...      76      81      81      81      81

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
21      81      81      81       83       83

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
22            NaN        Belarus        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
22        0        0        0  ...   44255   45116   45981   46868   47751

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
22   48630   49453   50265    51066    51816

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
22            NaN        Belarus        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
22        0        0        0  ...     243     248     253     259     263

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
22     269     276     282      288      293

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
22            NaN        Belarus        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
22        0        0        0  ...   19195   20171   21162   22066   23015

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
22   23647   23880   24506    25667    26643

[1 rows x 144 columns]

Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
23            NaN        Belgium        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
23        0        0        0  ...   58615   58685   58767   58907   59072

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
23   59226   59348   59437    59569    59711

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
23            NaN        Belgium        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
23        0        0        0  ...    9505    9522    9548    9566    9580

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
23    9595    9606    9619     9629     9636

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
23            NaN        Belgium        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
23        0        0        0  ...   15934   15959   16048   16112   16190

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
23   16291   16315   16324    16392    16453

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
24            NaN          Benin        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
24        0        0        0  ...     244     244     261     261     261

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
24     261     288     305      305      305

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
24            NaN          Benin        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
24        0        0        0  ...       3       3       3       3       3

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
24       3       4       4        4        4

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
25            NaN          Benin        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
25        0        0        0  ...     148     148     151     151     151

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
25     151     186     188      188      188

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
25            NaN         Bhutan        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
25        0        0        0  ...      47      47      47      48      48

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
25      59      59      59       59       62

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
25            NaN         Bhutan        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
25        0        0        0  ...       0       0       0       0       0

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
25       0       0       0        0        0

[1 rows x 144 columns]

/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
26            NaN         Bhutan        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
26        0        0        0  ...       9       9       9      11      11

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
26      11      14      17       18       19

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
26            NaN        Bolivia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
26        0        0        0  ...   10991   11638   12245   12728   13358

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
26   13643   13949   14644    15281    16165

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
26            NaN        Bolivia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
26        0        0        0  ...     376     400     415     427     454

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
26     465     475     487      512      533

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
27            NaN        Bolivia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
27        0        0        0  ...    1298    1507    1658    1739    1902

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
27    2086    2159    2190     2261     2372

[1 rows x 144 columns]
Region
   Province/State          Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
27            NaN  Bosnia and Herzegovina        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
27        0        0        0        0  ...    2535    2551    2594    2606

    6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
27    2606    2606    2704    2728     2775     2832

[1 rows x 144 columns]
Region
   Province/State          Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
27            NaN  Bosnia and Herzegovina        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
27        0        0        0        0  ...     157     157     159     159

    6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
27     159     159     160     160      161      161

[1 rows x 144 columns]
Region
   Province/State          Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
28            NaN  Bosnia and Herzegovina        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
28        0        0        0        0  ...    1910    1939    1951    1968

    6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
28    1968    1968    2023    2049     2063     2100

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
28            NaN         Brazil        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
28        0        0        0  ...  555383  584016  614941  645771  672846

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
28  691758  707412  739503   772416   802828

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
28            NaN         Brazil        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
28        0        0        0  ...   31199   32548   34021   35026   35930

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
28   36455   37134   38406    39680    40919

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
29            NaN         Brazil        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
29        0        0        0  ...  223638  238617  254963  266940  277149

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
29  283952  378257  396737   413916   429965

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
29            NaN         Brunei        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
29        0        0        0  ...     141     141     141     141     141

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
29     141     141     141      141      141

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
29            NaN         Brunei        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
29        0        0        0  ...       2       2       2       2       2

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
29       2       2       2        2        2

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
30            NaN         Brunei        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
30        0        0        0  ...     138     138     138     138     138

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
30     138     138     138      138      138

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
30            NaN       Bulgaria        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
30        0        0        0  ...    2538    2560    2585    2627    2711

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
30    2727    2810    2889     2993     3086

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
30            NaN       Bulgaria        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
30        0        0        0  ...     144     146     147     159     160

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
30     160     164     167      167      168

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
31            NaN       Bulgaria        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
31        0        0        0  ...    1123    1206    1322    1390    1545

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
31    1548    1587    1623     1664     1688

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
31            NaN   Burkina Faso        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
31        0        0        0  ...     881     884     885     888     888

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
31     889     890     891      891      892

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
31            NaN   Burkina Faso        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
31        0        0        0  ...      53      53      53      53      53

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
31      53      53      53       53       53

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
32            NaN   Burkina Faso        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
32        0        0        0  ...     720     753     760     760     765

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
32     765     765     765      765      790

[1 rows x 144 columns]

Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
32            NaN     Cabo Verde        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
32        0        0        0  ...     466     477     502     536     542

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
32     554     567     585      615      657

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
32            NaN     Cabo Verde        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
32        0        0        0  ...       5       5       5       5       5

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
32       5       5       5        5        6

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
33            NaN     Cabo Verde        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
33        0        0        0  ...     237     238     239     239     240

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
33     240     266     270      294      294

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
33            NaN       Cambodia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
33        1        1        1  ...     125     125     125     125     125

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
33     126     126     126      126      126

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
33            NaN       Cambodia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
33        0        0        0  ...       0       0       0       0       0

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
33       0       0       0        0        0

[1 rows x 144 columns]

/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
34            NaN       Cambodia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
34        0        0        0  ...     123     123     123     123     123

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
34     123     123     125      125      125

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
34            NaN       Cameroon        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
34        0        0        0  ...    6585    6585    6789    7392    7599

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
34    7908    8060    8312     8681     8681

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
34            NaN       Cameroon        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
34        0        0        0  ...     200     200     203     205     212

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
34     212     212     212      212      212

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
35            NaN       Cameroon        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
35        0        0        0  ...    3676    3676    3705    4575    4587

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
35    4735    4748    4794     4836     4836

[1 rows x 144 columns]
Hi
Canada
Alberta
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
35        Alberta         Canada        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
35        0        0        0  ...    7057    7076    7091    7098    7138

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
35    7138    7202    7229     7276     7316

[1 rows x 144 columns]
Hi
Canada
Alberta
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
35        Alberta         Canada        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
35        0        0        0  ...     143     145     146     146     146

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
35     146     149     151      151      149

[1 rows x 144 columns]
Hi
Canada
British Columbia
Region
      Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
36  British Columbia         Canada        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
36        0        0        1        1  ...    2601    2623    2632    2632

    6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
36    2632    2632    2659    2669     2680     2694

[1 rows x 144 columns]
Hi
Canada
British Columbia
Region
      Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
36  British Columbia         Canada        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
36        0        0        0        0  ...     165     166     166     167

    6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
36     167     167     167     167      167      167

[1 rows x 144 columns]
Hi
Canada
Grand Princess
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
37  Grand Princess         Canada        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
37        0        0        0        0  ...      13      13      13      13

    6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
37      13      13      13      13       13       13

[1 rows x 144 columns]
Hi
Canada
Grand Princess
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
37  Grand Princess         Canada        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
37        0        0        0        0  ...       0       0       0       0

    6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
37       0       0       0       0        0        0

[1 rows x 144 columns]

/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Hi
Canada
Manitoba
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
38       Manitoba         Canada        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
38        0        0        0  ...     297     298     298     300     300

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
38     300     300     300      300      300

[1 rows x 144 columns]
Hi
Canada
Manitoba
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
38       Manitoba         Canada        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
38        0        0        0  ...       7       7       7       7       7

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
38       7       7       7        7        7

[1 rows x 144 columns]
Hi
Canada
New Brunswick
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
39  New Brunswick         Canada        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
39        0        0        0  ...     133     135     136     136     136

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
39     137     146     147      151      153

[1 rows x 144 columns]
Hi
Canada
New Brunswick
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
39  New Brunswick         Canada        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
39        0        0        0  ...       0       0       1       1       1

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
39       1       1       1        1        1

[1 rows x 144 columns]
Hi
Canada
Newfoundland and Labrador
Region
               Province/State Country/Region  1/22/20  1/23/20  1/24/20  \
40  Newfoundland and Labrador         Canada        0        0        0

    1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  \
40        0        0        0        0        0  ...     261     261     261

    6/5/20  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
40     261     261     261     261     261      261      261

[1 rows x 144 columns]
Hi
Canada
Newfoundland and Labrador
Region
               Province/State Country/Region  1/22/20  1/23/20  1/24/20  \
40  Newfoundland and Labrador         Canada        0        0        0

    1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  \
40        0        0        0        0        0  ...       3       3       3

    6/5/20  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
40       3       3       3       3       3        3        3

[1 rows x 144 columns]
Hi
Canada
Nova Scotia
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
41    Nova Scotia         Canada        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
41        0        0        0  ...    1057    1058    1058    1058    1058

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
41    1059    1059    1060     1061     1061

[1 rows x 144 columns]
Hi
Canada
Nova Scotia
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
41    Nova Scotia         Canada        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
41        0        0        0  ...      60      60      61      61      61

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
41      61      61      62       62       62

[1 rows x 144 columns]
Hi
Canada
Ontario
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
42        Ontario         Canada        0        0        0        0        1

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
42        1        1        1  ...   30259   30603   30946   31359   31620

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
42   32096   32395   32678    32936    33173

[1 rows x 144 columns]
Hi
Canada
Ontario
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
42        Ontario         Canada        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
42        0        0        0  ...    2375    2392    2436    2446    2483

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
42    2502    2524    2536     2552     2563

[1 rows x 144 columns]
Hi
Canada
Prince Edward Island
Region
          Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
43  Prince Edward Island         Canada        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
43        0        0        0        0  ...      27      27      27      27

    6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
43      27      27      27      27       27       27

[1 rows x 144 columns]
Hi
Canada
Prince Edward Island
Region
          Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
43  Prince Edward Island         Canada        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
43        0        0        0        0  ...       0       0       0       0

    6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
43       0       0       0       0        0        0

[1 rows x 144 columns]

/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Hi
Canada
Quebec
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
44         Quebec         Canada        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
44        0        0        0  ...   51593   51884   52143   52398   52624

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
44   52849   53047   53185    53341    53485

[1 rows x 144 columns]
Hi
Canada
Quebec
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
44         Quebec         Canada        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
44        0        0        0  ...    4713    4794    4885    4935    4970

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
44    4978    4984    5029     5081     5105

[1 rows x 144 columns]
Hi
Canada
Saskatchewan
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
45   Saskatchewan         Canada        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
45        0        0        0  ...     646     647     648     649     650

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
45     650     654     656      658      660

[1 rows x 144 columns]
Hi
Canada
Saskatchewan
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
45   Saskatchewan         Canada        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
45        0        0        0  ...      11      11      11      11      11

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
45      11      13      13       13       13

[1 rows x 144 columns]
Region
   Province/State            Country/Region  1/22/20  1/23/20  1/24/20  \
46            NaN  Central African Republic        0        0        0

    1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  \
46        0        0        0        0        0  ...    1069    1173    1288

    6/5/20  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
46    1451    1570    1634    1850    1850     1888     1952

[1 rows x 144 columns]
Region
   Province/State            Country/Region  1/22/20  1/23/20  1/24/20  \
46            NaN  Central African Republic        0        0        0

    1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  \
46        0        0        0        0        0  ...       4       4       4

    6/5/20  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
46       4       5       5       5       5        5        5

[1 rows x 144 columns]
Region
   Province/State            Country/Region  1/22/20  1/23/20  1/24/20  \
37            NaN  Central African Republic        0        0        0

    1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  \
37        0        0        0        0        0  ...      23      23      23

    6/5/20  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
37      29      37      38      38      38       38       38

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
47            NaN           Chad        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
47        0        0        0  ...     803     820     828     836     836

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
47     837     839     844      846      848

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
47            NaN           Chad        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
47        0        0        0  ...      66      66      66      68      69

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
47      69      70      71       72       72

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
38            NaN           Chad        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
38        0        0        0  ...     562     590     633     657     672

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
38     672     685     706      706      706

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
48            NaN          Chile        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
48        0        0        0  ...  108686  113628  118292  122499  127745

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
48  134150  138846  142759   148456   154092

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
48            NaN          Chile        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
48        0        0        0  ...    1188    1275    1356    1448    1541

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
48    1637    2264    2283     2475     2648

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
39            NaN          Chile        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
39        0        0        0  ...   86173   90748   95631   99358  103817

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
39  108150  112248  117361   121780   126444

[1 rows x 144 columns]
Hi
China
Anhui
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
49          Anhui          China        1        9       15       39       60

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
49       70      106      152  ...     991     991     991     991     991

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
49     991     991     991      991      991

[1 rows x 144 columns]
Hi
China
Anhui
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
49          Anhui          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
49        0        0        0  ...       6       6       6       6       6

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
49       6       6       6        6        6

[1 rows x 144 columns]
Hi
China
Anhui
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
40          Anhui          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
40        0        0        2  ...     985     985     985     985     985

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
40     985     985     985      985      985

[1 rows x 144 columns]
Hi
China
Beijing
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
50        Beijing          China       14       22       36       41       68

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
50       80       91      111  ...     593     594     594     594     594

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
50     594     594     594      594      595

[1 rows x 144 columns]
Hi
China
Beijing
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
50        Beijing          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
50        1        1        1  ...       9       9       9       9       9

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
50       9       9       9        9        9

[1 rows x 144 columns]

Hi
China
Beijing
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
41        Beijing          China        0        0        1        2        2

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
41        2        4        4  ...     581     583     583     583     583

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
41     583     584     584      584      584

[1 rows x 144 columns]
Hi
China
Chongqing
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
51      Chongqing          China        6        9       27       57       75

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
51      110      132      147  ...     579     579     579     579     579

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
51     579     579     579      579      579

[1 rows x 144 columns]
Hi
China
Chongqing
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
51      Chongqing          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
51        0        0        0  ...       6       6       6       6       6

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
51       6       6       6        6        6

[1 rows x 144 columns]
Hi
China
Chongqing
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
42      Chongqing          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
42        0        0        1  ...     573     573     573     573     573

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
42     573     573     573      573      573

[1 rows x 144 columns]
Hi
China
Fujian
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
52         Fujian          China        1        5       10       18       35

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
52       59       80       84  ...     358     358     358     358     359

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
52     359     359     359      360      361

[1 rows x 144 columns]
Hi
China
Fujian
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
52         Fujian          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
52        0        0        0  ...       1       1       1       1       1

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
52       1       1       1        1        1

[1 rows x 144 columns]
Hi
China
Fujian
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
43         Fujian          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
43        0        0        0  ...     356     356     356     356     356

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
43     356     356     356      356      356

[1 rows x 144 columns]
Hi
China
Gansu
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
53          Gansu          China        0        2        2        4        7

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
53       14       19       24  ...     139     139     139     139     139

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
53     139     139     139      139      139

[1 rows x 144 columns]
Hi
China
Gansu
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
53          Gansu          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
53        0        0        0  ...       2       2       2       2       2

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
53       2       2       2        2        2

[1 rows x 144 columns]
Hi
China
Gansu
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
44          Gansu          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
44        0        0        0  ...     137     137     137     137     137

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
44     137     137     137      137      137

[1 rows x 144 columns]
Hi
China
Guangdong
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
54      Guangdong          China       26       32       53       78      111

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
54      151      207      277  ...    1597    1598    1598    1601    1602

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
54    1602    1604    1604     1607     1607

[1 rows x 144 columns]
Hi
China
Guangdong
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
54      Guangdong          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
54        0        0        0  ...       8       8       8       8       8

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
54       8       8       8        8        8

[1 rows x 144 columns]
Hi
China
Guangdong
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
45      Guangdong          China        0        2        2        2        2

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
45        4        4        5  ...    1583    1583    1584    1584    1584

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
45    1585    1586    1587     1588     1589

[1 rows x 144 columns]
Hi
China
Guangxi
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
55        Guangxi          China        2        5       23       23       36

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
55       46       51       58  ...     254     254     254     254     254

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
55     254     254     254      254      254

[1 rows x 144 columns]
Hi
China
Guangxi
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
55        Guangxi          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
55        0        0        0  ...       2       2       2       2       2

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
55       2       2       2        2        2

[1 rows x 144 columns]
Hi
China
Guangxi
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
46        Guangxi          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
46        0        2        2  ...     252     252     252     252     252

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
46     252     252     252      252      252

[1 rows x 144 columns]
Hi
China
Guizhou
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
56        Guizhou          China        1        3        3        4        5

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
56        7        9        9  ...     147     147     147     147     147

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
56     147     147     147      147      147

[1 rows x 144 columns]
Hi
China
Guizhou
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
56        Guizhou          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
56        0        0        0  ...       2       2       2       2       2

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
56       2       2       2        2        2

[1 rows x 144 columns]

Hi
China
Guizhou
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
47        Guizhou          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
47        0        0        1  ...     145     145     145     145     145

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
47     145     145     145      145      145

[1 rows x 144 columns]
Hi
China
Hainan
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
57         Hainan          China        4        5        8       19       22

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
57       33       40       43  ...     169     169     169     169     170

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
57     170     170     170      170      170

[1 rows x 144 columns]
Hi
China
Hainan
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
57         Hainan          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
57        1        1        1  ...       6       6       6       6       6

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
57       6       6       6        6        6

[1 rows x 144 columns]
Hi
China
Hainan
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
48         Hainan          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
48        0        0        0  ...     163     163     163     163     162

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
48     162     162     162      162      162

[1 rows x 144 columns]
Hi
China
Hebei
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
58          Hebei          China        1        1        2        8       13

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
58       18       33       48  ...     328     328     328     328     328

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
58     328     328     328      328      328

[1 rows x 144 columns]
Hi
China
Hebei
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
58          Hebei          China        0        1        1        1        1

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
58        1        1        1  ...       6       6       6       6       6

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
58       6       6       6        6        6

[1 rows x 144 columns]
Hi
China
Hebei
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
49          Hebei          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
49        0        0        0  ...     322     322     322     322     322

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
49     322     322     322      322      322

[1 rows x 144 columns]
Hi
China
Heilongjiang
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
59   Heilongjiang          China        0        2        4        9       15

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
59       21       33       38  ...     945     947     947     947     947

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
59     947     947     947      947      947

[1 rows x 144 columns]
Hi
China
Heilongjiang
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
59   Heilongjiang          China        0        0        1        1        1

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
59        1        1        1  ...      13      13      13      13      13

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
59      13      13      13       13       13

[1 rows x 144 columns]
Hi
China
Heilongjiang
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
50   Heilongjiang          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
50        0        0        0  ...     932     934     934     934     934

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
50     934     934     934      934      934

[1 rows x 144 columns]
Hi
China
Henan
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
60          Henan          China        5        5        9       32       83

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
60      128      168      206  ...    1276    1276    1276    1276    1276

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
60    1276    1276    1276     1276     1276

[1 rows x 144 columns]
Hi
China
Henan
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
60          Henan          China        0        0        0        0        1

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
60        1        1        2  ...      22      22      22      22      22

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
60      22      22      22       22       22

[1 rows x 144 columns]
Hi
China
Henan
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
51          Henan          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
51        0        0        1  ...    1254    1254    1254    1254    1254

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
51    1254    1254    1254     1254     1254

[1 rows x 144 columns]
Hi
China
Hong Kong
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
61      Hong Kong          China        0        2        2        5        8

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
61        8        8       10  ...    1093    1093    1099    1102    1105

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
61    1106    1107    1107     1107     1107

[1 rows x 144 columns]
Hi
China
Hong Kong
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
61      Hong Kong          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
61        0        0        0  ...       4       4       4       4       4

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
61       4       4       4        4        4

[1 rows x 144 columns]
Hi
China
Hong Kong
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
52      Hong Kong          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
52        0        0        0  ...    1038    1039    1042    1045    1048

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
52    1049    1049    1050     1051     1055

[1 rows x 144 columns]
Hi
China
Hubei
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
62          Hubei          China      444      444      549      761     1058

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
62     1423     3554     3554  ...   68135   68135   68135   68135   68135

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
62   68135   68135   68135    68135    68135

[1 rows x 144 columns]
Hi
China
Hubei
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
62          Hubei          China       17       17       24       40       52

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
62       76      125      125  ...    4512    4512    4512    4512    4512

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
62    4512    4512    4512     4512     4512

[1 rows x 144 columns]

Hi
China
Hubei
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
53          Hubei          China       28       28       31       32       42

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
53       45       80       88  ...   63620   63620   63623   63623   63623

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
53   63623   63623   63623    63623    63623

[1 rows x 144 columns]
Hi
China
Hunan
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
63          Hunan          China        4        9       24       43       69

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
63      100      143      221  ...    1019    1019    1019    1019    1019

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
63    1019    1019    1019     1019     1019

[1 rows x 144 columns]
Hi
China
Hunan
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
63          Hunan          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
63        0        0        0  ...       4       4       4       4       4

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
63       4       4       4        4        4

[1 rows x 144 columns]
Hi
China
Hunan
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
54          Hunan          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
54        0        0        0  ...    1015    1015    1015    1015    1015

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
54    1015    1015    1015     1015     1015

[1 rows x 144 columns]
Hi
China
Inner Mongolia
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
64  Inner Mongolia          China        0        0        1        7

    1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
64        7       11       15       16  ...     235     235     235     235

    6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
64     235     235     235     237      237      237

[1 rows x 144 columns]
Hi
China
Inner Mongolia
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
64  Inner Mongolia          China        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
64        0        0        0        0  ...       1       1       1       1

    6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
64       1       1       1       1        1        1

[1 rows x 144 columns]
Hi
China
Inner Mongolia
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
55  Inner Mongolia          China        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
55        0        0        0        0  ...     209     212     213     213

    6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
55     213     218     226     230      230      231

[1 rows x 144 columns]
Hi
China
Jiangsu
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
65        Jiangsu          China        1        5        9       18       33

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
65       47       70       99  ...     653     653     653     653     653

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
65     653     653     653      653      653

[1 rows x 144 columns]
Hi
China
Jiangsu
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
65        Jiangsu          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
65        0        0        0  ...       0       0       0       0       0

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
65       0       0       0        0        0

[1 rows x 144 columns]

/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Hi
China
Jiangsu
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
56        Jiangsu          China        0        0        0        1        1

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
56        1        1        1  ...     653     653     653     653     653

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
56     653     653     653      653      653

[1 rows x 144 columns]
Hi
China
Jiangxi
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
66        Jiangxi          China        2        7       18       18       36

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
66       72      109      109  ...     937     932     932     932     932

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
66     932     932     932      932      932

[1 rows x 144 columns]
Hi
China
Jiangxi
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
66        Jiangxi          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
66        0        0        0  ...       1       1       1       1       1

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
66       1       1       1        1        1

[1 rows x 144 columns]
Hi
China
Jiangxi
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
57        Jiangxi          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
57        2        3        3  ...     936     931     931     931     931

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
57     931     931     931      931      931

[1 rows x 144 columns]
Hi
China
Jilin
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
67          Jilin          China        0        1        3        4        4

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
67        6        8        9  ...     155     155     155     155     155

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
67     155     155     155      155      155

[1 rows x 144 columns]
Hi
China
Jilin
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
67          Jilin          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
67        0        0        0  ...       2       2       2       2       2

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
67       2       2       2        2        2

[1 rows x 144 columns]
Hi
China
Jilin
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
58          Jilin          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
58        0        0        0  ...     147     148     149     150     151

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
58     153     153     153      153      153

[1 rows x 144 columns]
Hi
China
Liaoning
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
68       Liaoning          China        2        3        4       17       21

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
68       27       34       39  ...     149     149     149     149     149

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
68     149     149     149      149      149

[1 rows x 144 columns]
Hi
China
Liaoning
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
68       Liaoning          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
68        0        0        0  ...       2       2       2       2       2

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
68       2       2       2        2        2

[1 rows x 144 columns]
Hi
China
Liaoning
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
59       Liaoning          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
59        0        0        1  ...     147     147     147     147     147

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
59     147     147     147      147      147

[1 rows x 144 columns]
Hi
China
Macau
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
69          Macau          China        1        2        2        2        5

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
69        6        7        7  ...      45      45      45      45      45

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
69      45      45      45       45       45

[1 rows x 144 columns]
Hi
China
Macau
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
69          Macau          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
69        0        0        0  ...       0       0       0       0       0

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
69       0       0       0        0        0

[1 rows x 144 columns]

/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Hi
China
Macau
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
60          Macau          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
60        0        0        0  ...      45      45      45      45      45

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
60      45      45      45       45       45

[1 rows x 144 columns]
Hi
China
Ningxia
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
70        Ningxia          China        1        1        2        3        4

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
70        7       11       12  ...      75      75      75      75      75

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
70      75      75      75       75       75

[1 rows x 144 columns]
Hi
China
Ningxia
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
70        Ningxia          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
70        0        0        0  ...       0       0       0       0       0

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
70       0       0       0        0        0

[1 rows x 144 columns]

/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Hi
China
Ningxia
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
61        Ningxia          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
61        0        0        0  ...      75      75      75      75      75

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
61      75      75      75       75       75

[1 rows x 144 columns]
Hi
China
Qinghai
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
71        Qinghai          China        0        0        0        1        1

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
71        6        6        6  ...      18      18      18      18      18

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
71      18      18      18       18       18

[1 rows x 144 columns]
Hi
China
Qinghai
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
71        Qinghai          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
71        0        0        0  ...       0       0       0       0       0

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
71       0       0       0        0        0

[1 rows x 144 columns]

/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Hi
China
Qinghai
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
62        Qinghai          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
62        0        0        0  ...      18      18      18      18      18

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
62      18      18      18       18       18

[1 rows x 144 columns]
Hi
China
Shaanxi
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
72        Shaanxi          China        0        3        5       15       22

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
72       35       46       56  ...     309     309     309     309     311

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
72     311     311     311      311      311

[1 rows x 144 columns]
Hi
China
Shaanxi
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
72        Shaanxi          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
72        0        0        0  ...       3       3       3       3       3

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
72       3       3       3        3        3

[1 rows x 144 columns]
Hi
China
Shaanxi
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
63        Shaanxi          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
63        0        0        0  ...     305     305     305     305     305

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
63     305     305     305      306      306

[1 rows x 144 columns]
Hi
China
Shandong
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
73       Shandong          China        2        6       15       27       46

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
73       75       95      130  ...     792     792     792     792     792

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
73     792     792     792      792      792

[1 rows x 144 columns]
Hi
China
Shandong
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
73       Shandong          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
73        0        0        0  ...       7       7       7       7       7

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
73       7       7       7        7        7

[1 rows x 144 columns]
Hi
China
Shandong
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
64       Shandong          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
64        0        0        1  ...     780     780     780     780     780

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
64     781     781     781      781      781

[1 rows x 144 columns]
Hi
China
Shanghai
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
74       Shanghai          China        9       16       20       33       40

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
74       53       66       96  ...     673     673     677     677     677

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
74     678     678     678      684      689

[1 rows x 144 columns]
Hi
China
Shanghai
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
74       Shanghai          China        0        0        0        0        1

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
74        1        1        1  ...       7       7       7       7       7

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
74       7       7       7        7        7

[1 rows x 144 columns]
Hi
China
Shanghai
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
65       Shanghai          China        0        0        1        1        1

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
65        3        4        5  ...     661     661     662     663     664

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
65     664     664     665      665      666

[1 rows x 144 columns]
Hi
China
Shanxi
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
75         Shanxi          China        1        1        1        6        9

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
75       13       27       27  ...     198     198     198     198     198

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
75     198     198     198      198      198

[1 rows x 144 columns]
Hi
China
Shanxi
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
75         Shanxi          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
75        0        0        0  ...       0       0       0       0       0

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
75       0       0       0        0        0

[1 rows x 144 columns]

/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Hi
China
Shanxi
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
66         Shanxi          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
66        0        0        1  ...     198     198     198     198     198

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
66     198     198     198      198      198

[1 rows x 144 columns]
Hi
China
Sichuan
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
76        Sichuan          China        5        8       15       28       44

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
76       69       90      108  ...     577     577     578     578     578

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
76     581     582     582      582      582

[1 rows x 144 columns]
Hi
China
Sichuan
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
76        Sichuan          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
76        0        0        1  ...       3       3       3       3       3

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
76       3       3       3        3        3

[1 rows x 144 columns]
Hi
China
Sichuan
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
67        Sichuan          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
67        0        0        1  ...     558     558     558     558     558

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
67     558     558     558      560      561

[1 rows x 144 columns]
Hi
China
Tianjin
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
77        Tianjin          China        4        4        8       10       14

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
77       23       24       27  ...     192     192     192     192     193

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
77     193     193     194      195      195

[1 rows x 144 columns]
Hi
China
Tianjin
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
77        Tianjin          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
77        0        0        0  ...       3       3       3       3       3

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
77       3       3       3        3        3

[1 rows x 144 columns]
Hi
China
Tianjin
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
68        Tianjin          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
68        0        0        0  ...     188     188     189     189     189

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
68     189     189     189      189      189

[1 rows x 144 columns]
Hi
China
Tibet
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
78          Tibet          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
78        0        0        0  ...       1       1       1       1       1

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
78       1       1       1        1        1

[1 rows x 144 columns]
Hi
China
Tibet
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
78          Tibet          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
78        0        0        0  ...       0       0       0       0       0

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
78       0       0       0        0        0

[1 rows x 144 columns]

/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Hi
China
Tibet
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
69          Tibet          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
69        0        0        0  ...       1       1       1       1       1

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
69       1       1       1        1        1

[1 rows x 144 columns]
Hi
China
Xinjiang
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
79       Xinjiang          China        0        2        2        3        4

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
79        5       10       13  ...      76      76      76      76      76

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
79      76      76      76       76       76

[1 rows x 144 columns]
Hi
China
Xinjiang
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
79       Xinjiang          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
79        0        0        0  ...       3       3       3       3       3

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
79       3       3       3        3        3

[1 rows x 144 columns]
Hi
China
Xinjiang
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
70       Xinjiang          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
70        0        0        0  ...      73      73      73      73      73

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
70      73      73      73       73       73

[1 rows x 144 columns]
Hi
China
Yunnan
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
80         Yunnan          China        1        2        5       11       16

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
80       26       44       55  ...     185     185     185     185     185

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
80     185     185     185      185      185

[1 rows x 144 columns]
Hi
China
Yunnan
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
80         Yunnan          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
80        0        0        0  ...       2       2       2       2       2

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
80       2       2       2        2        2

[1 rows x 144 columns]
Hi
China
Yunnan
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
71         Yunnan          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
71        0        0        0  ...     183     183     183     183     183

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
71     183     183     183      183      183

[1 rows x 144 columns]
Hi
China
Zhejiang
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
81       Zhejiang          China       10       27       43       62      104

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
81      128      173      296  ...    1268    1268    1268    1268    1268

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
81    1268    1268    1268     1268     1268

[1 rows x 144 columns]
Hi
China
Zhejiang
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
81       Zhejiang          China        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
81        0        0        0  ...       1       1       1       1       1

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
81       1       1       1        1        1

[1 rows x 144 columns]
Hi
China
Zhejiang
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
72       Zhejiang          China        0        0        1        1        1

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
72        1        3        3  ...    1267    1267    1267    1267    1267

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
72    1267    1267    1267     1267     1267

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
82            NaN       Colombia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
82        0        0        0  ...   30593   31935   33466   36759   36759

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
82   38149   40847   40847    42206    43810

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
82            NaN       Colombia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
82        0        0        0  ...    1014    1057    1099    1204    1204

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
82    1265    1373    1373     1439     1505

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
73            NaN       Colombia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
73        0        0        0  ...    9689   11171   12319   13670   13670

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
73   14414   16459   16459    16566    17366

[1 rows x 144 columns]
Region
   Province/State       Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
83            NaN  Congo (Brazzaville)        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
83        0        0        0        0  ...     611     611     611     635

    6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
83     683     683     683     728      728      728

[1 rows x 144 columns]
Region
   Province/State       Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
83            NaN  Congo (Brazzaville)        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
83        0        0        0        0  ...      20      20      20      20

    6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
83      22      22      22      24       24       24

[1 rows x 144 columns]
Region
   Province/State       Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
74            NaN  Congo (Brazzaville)        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
74        0        0        0        0  ...     179     179     179     182

    6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
74     210     210     210     221      221      221

[1 rows x 144 columns]
Region
   Province/State    Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
84            NaN  Congo (Kinshasa)        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
84        0        0        0        0  ...    3326    3495    3644    3764

    6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
84    3878    4016    4106    4259     4390     4515

[1 rows x 144 columns]
Region
   Province/State    Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
84            NaN  Congo (Kinshasa)        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
84        0        0        0        0  ...      72      75      78      81

    6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
84      82      85      88      90       96       98

[1 rows x 144 columns]

Region
   Province/State    Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
75            NaN  Congo (Kinshasa)        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
75        0        0        0        0  ...     482     492     495     512

    6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
75     537     537     537     539      565      567

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
85            NaN     Costa Rica        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
85        0        0        0  ...    1105    1157    1194    1228    1263

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
85    1318    1342    1375     1461     1538

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
85            NaN     Costa Rica        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
85        0        0        0  ...      10      10      10      10      10

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
85      10      11      11       12       12

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
76            NaN     Costa Rica        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
76        0        0        0  ...     682     685     687     695     701

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
76     704     712     717      722      722

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
86            NaN  Cote d'Ivoire        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
86        0        0        0  ...    3024    3110    3262    3431    3557

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
86    3739    3881    3995     4181     4404

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
86            NaN  Cote d'Ivoire        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
86        0        0        0  ...      33      35      35      36      36

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
86      36      38      38       41       41

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
77            NaN  Cote d'Ivoire        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
77        0        0        0  ...    1501    1530    1584    1604    1750

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
77    1818    1869    2045     2174     2212

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
87            NaN        Croatia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
87        0        0        0  ...    2246    2246    2247    2247    2247

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
87    2247    2247    2247     2249     2249

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
87            NaN        Croatia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
87        0        0        0  ...     103     103     103     103     104

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
87     104     104     106      106      106

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
78            NaN        Croatia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
78        0        0        0  ...    2088    2095    2105    2113    2121

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
78    2126    2128    2130     2130     2132

[1 rows x 144 columns]
Region
   Province/State    Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
88            NaN  Diamond Princess        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
88        0        0        0        0  ...     712     712     712     712

    6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
88     712     712     712     712      712      712

[1 rows x 144 columns]
Region
   Province/State    Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
88            NaN  Diamond Princess        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
88        0        0        0        0  ...      13      13      13      13

    6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
88      13      13      13      13       13       13

[1 rows x 144 columns]
Region
   Province/State    Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
79            NaN  Diamond Princess        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
79        0        0        0        0  ...     651     651     651     651

    6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
79     651     651     651     651      651      651

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
89            NaN           Cuba        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
89        0        0        0  ...    2092    2107    2119    2133    2173

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
89    2191    2200    2205     2211     2219

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
89            NaN           Cuba        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
89        0        0        0  ...      83      83      83      83      83

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
89      83      83      83       83       84

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
80            NaN           Cuba        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
80        0        0        0  ...    1827    1830    1839    1848    1855

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
80    1862    1868    1880     1886     1893

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
90            NaN         Cyprus        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
90        0        0        0  ...     952     958     958     960     960

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
90     964     970     972      974      975

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
90            NaN         Cyprus        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
90        0        0        0  ...      17      17      17      17      18

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
90      18      18      18       18       18

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
81            NaN         Cyprus        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
81        0        0        0  ...     790     790     790     807     807

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
81     807     807     807      807      807

[1 rows x 144 columns]

Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
91            NaN        Czechia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
91        0        0        0  ...    9364    9438    9494    9529    9567

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
91    9628    9697    9751     9824     9855

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
91            NaN        Czechia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
91        0        0        0  ...     323     325     326     327     327

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
91     327     328     328      330      328

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
82            NaN        Czechia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
82        0        0        0  ...    6686    6749    6809    6881    6885

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
82    6891    6994    7053     7111     7166

[1 rows x 144 columns]
Hi
Denmark
Faroe Islands
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
92  Faroe Islands        Denmark        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
92        0        0        0  ...     187     187     187     187     187

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
92     187     187     187      187      187

[1 rows x 144 columns]
Hi
Denmark
Faroe Islands
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
92  Faroe Islands        Denmark        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
92        0        0        0  ...       0       0       0       0       0

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
92       0       0       0        0        0

[1 rows x 144 columns]

/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Hi
Denmark
Faroe Islands
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
83  Faroe Islands        Denmark        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
83        0        0        0  ...     187     187     187     187     187

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
83     187     187     187      187      187

[1 rows x 144 columns]
Hi
Denmark
Greenland
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
93      Greenland        Denmark        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
93        0        0        0  ...      13      13      13      13      13

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
93      13      13      13       13       13

[1 rows x 144 columns]
Hi
Denmark
Greenland
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
93      Greenland        Denmark        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
93        0        0        0  ...       0       0       0       0       0

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
93       0       0       0        0        0

[1 rows x 144 columns]

/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Hi
Denmark
Greenland
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
84      Greenland        Denmark        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
84        0        0        0  ...      11      11      13      13      13

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
84      13      13      13       13       13

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
94            NaN        Denmark        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
94        0        0        0  ...   11734   11771   11811   11875   11924

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
94   11948   11962   12001    12016    12035

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
94            NaN        Denmark        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
94        0        0        0  ...     580     580     582     586     587

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
94     589     593     593      593      593

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
85            NaN        Denmark        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
85        0        0        0  ...   10489   10552   10620   10653   10721

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
85   10755   10792   10849    10904    10955

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
95            NaN       Djibouti        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
95        0        0        0  ...    3779    3935    4054    4123    4169

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
95    4207    4278    4331     4373     4398

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
95            NaN       Djibouti        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
95        0        0        0  ...      25      26      26      26      26

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
95      28      31      34       34       37

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
86            NaN       Djibouti        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
86        0        0        0  ...    1607    1636    1685    1707    1815

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
86    1877    2013    2139     2260     2519

[1 rows x 144 columns]
Region
   Province/State      Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
96            NaN  Dominican Republic        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
96        0        0        0        0  ...   17752   18040   18319   18708

    6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
96   19195   19600   20126   20415    20808    21437

[1 rows x 144 columns]
Region
   Province/State      Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
96            NaN  Dominican Republic        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
96        0        0        0        0  ...     515     516     520     525

    6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
96     536     538     539     544      550      561

[1 rows x 144 columns]
Region
   Province/State      Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
88            NaN  Dominican Republic        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
88        0        0        0        0  ...   11075   11224   11474   11736

    6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
88   11919   12007   12158   12208    12318    12541

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
97            NaN        Ecuador        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
97        0        0        0  ...   40414   40966   40966   41575   42728

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
97   43120   43378   43917    44440    44440

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
97            NaN        Ecuador        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
97        0        0        0  ...    3438    3486    3486    3534    3608

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
97    3621    3642    3690     3720     3720

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
89            NaN        Ecuador        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
89        0        0        0  ...   20019   20019   20019   20568   21020

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
89   21020   21020   21020    21862    21862

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
98            NaN          Egypt        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
98        0        0        0  ...   27536   28615   29767   31115   32612

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
98   34079   35444   36829    38284    39726

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
98            NaN          Egypt        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
98        0        0        0  ...    1052    1088    1126    1166    1198

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
98    1237    1271    1306     1342     1377

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
90            NaN          Egypt        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
90        0        0        0  ...    6827    7350    7756    8158    8538

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
90    8961    9375    9786    10289    10691

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
99            NaN    El Salvador        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
99        0        0        0  ...    2653    2705    2781    2849    2934

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
99    3015    3104    3191     3274     3373

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
99            NaN    El Salvador        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
99        0        0        0  ...      49      51      52      53      53

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
99      53      56      60       64       68

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
91            NaN    El Salvador        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
91        0        0        0  ...    1160    1186    1214    1249    1281

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
91    1305    1379    1419     1438     1504

[1 rows x 144 columns]

Region
    Province/State     Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
100            NaN  Equatorial Guinea        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
100        0        0        0        0  ...    1306    1306    1306    1306

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
100    1306    1306    1306    1306     1306     1306

[1 rows x 144 columns]
Region
    Province/State     Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
100            NaN  Equatorial Guinea        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
100        0        0        0        0  ...      12      12      12      12

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
100      12      12      12      12       12       12

[1 rows x 144 columns]
Region
   Province/State     Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
92            NaN  Equatorial Guinea        0        0        0        0

    1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
92        0        0        0        0  ...     200     200     200     200

    6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
92     200     200     200     200      200      200

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
101            NaN        Eritrea        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
101        0        0        0        0  ...      39      39      39      39

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
101      39      39      39      39       41       41

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
101            NaN        Eritrea        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
101        0        0        0        0  ...       0       0       0       0

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
101       0       0       0       0        0        0

[1 rows x 144 columns]

/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
93            NaN        Eritrea        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
93        0        0        0  ...      39      39      39      39      39

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
93      39      39      39       39       39

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
102            NaN        Estonia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
102        0        0        0        0  ...    1870    1880    1890    1910

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
102    1931    1939    1940    1947     1958     1965

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
102            NaN        Estonia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
102        0        0        0        0  ...      68      69      69      69

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
102      69      69      69      69       69       69

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
94            NaN        Estonia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
94        0        0        0  ...    1632    1650    1663    1667    1675

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
94    1681    1683    1684     1690     1697

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
103            NaN       Eswatini        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
103        0        0        0        0  ...     294     295     300     305

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
103     322     333     340     371      398      449

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
103            NaN       Eswatini        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
103        0        0        0        0  ...       3       3       3       3

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
103       3       3       3       3        3        3

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
95            NaN       Eswatini        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
95        0        0        0  ...     198     201     201     221     224

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
95     225     229     232      236      238

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
104            NaN       Ethiopia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
104        0        0        0        0  ...    1344    1486    1636    1805

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
104    1934    2020    2156    2336     2506     2670

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
104            NaN       Ethiopia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
104        0        0        0        0  ...      14      17      18      19

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
104      20      27      27      32       35       40

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
96            NaN       Ethiopia        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
96        0        0        0  ...     231     246     250     262     281

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
96     344     361     379      401      434

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
105            NaN           Fiji        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
105        0        0        0        0  ...      18      18      18      18

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
105      18      18      18      18       18       18

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
105            NaN           Fiji        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
105        0        0        0        0  ...       0       0       0       0

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
105       0       0       0       0        0        0

[1 rows x 144 columns]

/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
97            NaN           Fiji        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
97        0        0        0  ...      15      15      18      18      18

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
97      18      18      18       18       18

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
106            NaN        Finland        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
106        0        0        0        1  ...    6887    6911    6911    6941

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
106    6964    6981    7001    7025     7040     7064

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
106            NaN        Finland        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
106        0        0        0        0  ...     320     321     322     322

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
106     322     323     323     324      324      325

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
98            NaN        Finland        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
98        0        0        0  ...    5500    5500    5800    5800    5800

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
98    5800    5800    5800     5800     6200

[1 rows x 144 columns]
Hi
France
French Guiana
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
107  French Guiana         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
107        0        0        0        0  ...     517     533     556     589

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
107     639     689     729     773      865      917

[1 rows x 144 columns]
Hi
France
French Guiana
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
107  French Guiana         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
107        0        0        0        0  ...       1       1       1       1

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
107       1       1       2       2        2        2

[1 rows x 144 columns]
Hi
France
French Guiana
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
99  French Guiana         France        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
99        0        0        0  ...     207     254     296     321     348

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
99     383     400     427      457      462

[1 rows x 144 columns]
Hi
France
French Polynesia
Region
       Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
108  French Polynesia         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
108        0        0        0        0  ...      60      60      60      60

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
108      60      60      60      60       60       60

[1 rows x 144 columns]
Hi
France
French Polynesia
Region
       Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
108  French Polynesia         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
108        0        0        0        0  ...       0       0       0       0

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
108       0       0       0       0        0        0

[1 rows x 144 columns]

/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Hi
France
French Polynesia
Region
       Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
100  French Polynesia         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
100        0        0        0        0  ...      60      60      60      60

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
100      60      60      60      60       60       60

[1 rows x 144 columns]
Hi
France
Guadeloupe
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
109     Guadeloupe         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
109        0        0        0        0  ...     162     162     162     164

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
109     164     164     164     164      164      164

[1 rows x 144 columns]
Hi
France
Guadeloupe
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
109     Guadeloupe         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
109        0        0        0        0  ...      14      14      14      14

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
109      14      14      14      14       14       14

[1 rows x 144 columns]
Hi
France
Guadeloupe
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
101     Guadeloupe         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
101        0        0        0        0  ...     138     138     138     144

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
101     144     144     144     144      144      144

[1 rows x 144 columns]
Hi
France
Mayotte
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
110        Mayotte         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
110        0        0        0        0  ...    1986    1993    2058    2079

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
110    2079    2079    2151    2175     2226     2240

[1 rows x 144 columns]
Hi
France
Mayotte
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
110        Mayotte         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
110        0        0        0        0  ...      24      24      25      25

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
110      25      25      25      28       28       28

[1 rows x 144 columns]
Hi
France
Mayotte
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
103        Mayotte         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
103        0        0        0        0  ...    1473    1523    1523    1523

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
103    1523    1523    1654    1654     1654     1654

[1 rows x 144 columns]
Hi
France
New Caledonia
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
111  New Caledonia         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
111        0        0        0        0  ...      20      20      20      20

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
111      20      20      20      21       21       21

[1 rows x 144 columns]
Hi
France
New Caledonia
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
111  New Caledonia         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
111        0        0        0        0  ...       0       0       0       0

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
111       0       0       0       0        0        0

[1 rows x 144 columns]

/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Hi
France
New Caledonia
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
104  New Caledonia         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
104        0        0        0        0  ...      18      18      18      18

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
104      18      19      20      20       20       20

[1 rows x 144 columns]
Hi
France
Reunion
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
112        Reunion         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
112        0        0        0        0  ...     477     478     479     480

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
112     480     480     481     481      486      487

[1 rows x 144 columns]
Hi
France
Reunion
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
112        Reunion         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
112        0        0        0        0  ...       1       1       1       1

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
112       1       1       1       1        1        1

[1 rows x 144 columns]
Hi
France
Reunion
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
105        Reunion         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
105        0        0        0        0  ...     411     411     411     411

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
105     411     411     447     447      447      447

[1 rows x 144 columns]
Hi
France
Saint Barthelemy
Region
       Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
113  Saint Barthelemy         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
113        0        0        0        0  ...       6       6       6       6

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
113       6       6       6       6        6        6

[1 rows x 144 columns]
Hi
France
Saint Barthelemy
Region
       Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
113  Saint Barthelemy         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
113        0        0        0        0  ...       0       0       0       0

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
113       0       0       0       0        0        0

[1 rows x 144 columns]

/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Hi
France
Saint Barthelemy
Region
       Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
106  Saint Barthelemy         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
106        0        0        0        0  ...       6       6       6       6

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
106       6       6       6       6        6        6

[1 rows x 144 columns]
Hi
France
St Martin
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
114      St Martin         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
114        0        0        0        0  ...      41      41      41      41

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
114      41      41      41      41       41       41

[1 rows x 144 columns]
Hi
France
St Martin
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
114      St Martin         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
114        0        0        0        0  ...       3       3       3       3

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
114       3       3       3       3        3        3

[1 rows x 144 columns]
Hi
France
St Martin
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
107      St Martin         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
107        0        0        0        0  ...      33      33      33      33

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
107      33      33      33      33       33       33

[1 rows x 144 columns]
Hi
France
Martinique
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
115     Martinique         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
115        0        0        0        0  ...     200     200     200     202

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
115     202     202     202     202      202      202

[1 rows x 144 columns]
Hi
France
Martinique
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
115     Martinique         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
115        0        0        0        0  ...      14      14      14      14

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
115      14      14      14      14       14       14

[1 rows x 144 columns]
Hi
France
Martinique
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
102     Martinique         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
102        0        0        0        0  ...      98      98      98      98

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
102      98      98      98      98       98       98

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
116            NaN         France        0        0        2        3

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
116        3        3        4        5  ...  184980  188836  185986  186538

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
116  187067  187360  187458  187599   187996   188354

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
116            NaN         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
116        0        0        0        0  ...   28886   28967   29010   29056

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
116   29087   29100   29153   29237    29260    29287

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
108            NaN         France        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
108        0        0        0        0  ...   66485   67031   67510   68007

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
108   68282   68283   68319   68736    69032    69344

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
117            NaN          Gabon        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
117        0        0        0        0  ...    2803    2902    2955    3101

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
117    3101    3101    3101    3247     3375     3463

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
117            NaN          Gabon        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
117        0        0        0        0  ...      20      20      21      21

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
117      21      21      21      21       22       23

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
109            NaN          Gabon        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
109        0        0        0        0  ...     779     801     818     833

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
109     833     833     833     938      978     1024

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
118            NaN         Gambia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
118        0        0        0        0  ...      25      26      26      26

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
118      26      26      28      28       28       28

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
118            NaN         Gambia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
118        0        0        0        0  ...       1       1       1       1

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
118       1       1       1       1        1        1

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
110            NaN         Gambia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
110        0        0        0        0  ...      20      20      20      21

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
110      21      21      21      21       22       22

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
119            NaN        Georgia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
119        0        0        0        0  ...     796     800     801     805

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
119     808     809     812     818      827      831

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
119            NaN        Georgia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
119        0        0        0        0  ...      13      13      13      13

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
119      13      13      13      13       13       13

[1 rows x 144 columns]

Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
111            NaN        Georgia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
111        0        0        0        0  ...     634     640     644     650

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
111     663     674     683     686      690      694

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
120            NaN        Germany        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
120        0        1        4        4  ...  183879  184121  184472  184924

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
120  185450  185750  186109  186506   186522   186691

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
120            NaN        Germany        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
120        0        0        0        0  ...    8563    8602    8635    8658

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
120    8673    8685    8695    8736     8752     8772

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
112            NaN        Germany        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
112        0        0        0        0  ...  166609  167453  167909  168480

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
112  168958  169224  169556  170129   170630   170961

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
121            NaN          Ghana        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
121        0        0        0        0  ...    8297    8548    8885    9168

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
121    9462    9638    9910   10201    10201    10358

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
121            NaN          Ghana        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
121        0        0        0        0  ...      38      38      38      42

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
121      44      44      48      48       48       48

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
113            NaN          Ghana        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
113        0        0        0        0  ...    2986    3132    3189    3457

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
113    3547    3636    3645    3755     3755     3824

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
122            NaN         Greece        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
122        0        0        0        0  ...    2937    2937    2952    2967

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
122    2980    2997    3049    3058     3068     3088

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
122            NaN         Greece        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
122        0        0        0        0  ...     179     179     180     180

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
122     180     180     182     183      183      183

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
115            NaN         Greece        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
115        0        0        0        0  ...    1374    1374    1374    1374

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
115    1374    1374    1374    1374     1374     1374

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
123            NaN      Guatemala        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
123        0        0        0        0  ...    5586    5760    6154    6485

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
123    6792    7055    7502    7866     8221     8561

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
123            NaN      Guatemala        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
123        0        0        0        0  ...     123     143     158     216

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
123     230     252     267     289      316      334

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
116            NaN      Guatemala        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
116        0        0        0        0  ...     824     929     979    1053

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
116    1133    1261    1323    1413     1504     1567

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
124            NaN         Guinea        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
124        0        0        0        0  ...    3886    3933    3991    4060

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
124    4117    4117    4216    4258     4258     4372

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
124            NaN         Guinea        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
124        0        0        0        0  ...      23      23      23      23

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
124      23      23      23      23       23       23

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
117            NaN         Guinea        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
117        0        0        0        0  ...    2267    2332    2512    2667

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
117    2857    2877    2918    2942     2942     3033

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
125            NaN         Guyana        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
125        0        0        0        0  ...     153     153     153     153

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
125     154     154     154     156      156      158

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
125            NaN         Guyana        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
125        0        0        0        0  ...      12      12      12      12

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
125      12      12      12      12       12       12

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
119            NaN         Guyana        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
119        0        0        0        0  ...      70      70      77      77

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
119      80      80      84      86       92       92

[1 rows x 144 columns]

Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
126            NaN          Haiti        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
126        0        0        0        0  ...    2226    2507    2640    2740

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
126    3072    3334    3538    3662     3796     3941

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
126            NaN          Haiti        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
126        0        0        0        0  ...      45      48      50      50

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
126      50      51      54      56       58       64

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
120            NaN          Haiti        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
120        0        0        0        0  ...      24      24      24      24

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
120      24      24      24      24       24       24

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
127            NaN       Holy See        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
127        0        0        0        0  ...      12      12      12      12

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
127      12      12      12      12       12       12

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
127            NaN       Holy See        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
127        0        0        0        0  ...       0       0       0       0

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
127       0       0       0       0        0        0

[1 rows x 144 columns]

/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
121            NaN       Holy See        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
121        0        0        0        0  ...       2       2       2       2

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
121      12      12      12      12       12       12

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
128            NaN       Honduras        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
128        0        0        0        0  ...    5527    5690    5880    5971

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
128    6155    6327    6450    6935     7360     7669

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
128            NaN       Honduras        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
128        0        0        0        0  ...     225     234     243     248

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
128     250     258     262     271      290      294

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
122            NaN       Honduras        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
122        0        0        0        0  ...     563     617     648     677

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
122     697     712     740     787      809      837

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
129            NaN        Hungary        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
129        0        0        0        0  ...    3921    3931    3954    3970

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
129    3990    4008    4014    4017     4027     4039

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
129            NaN        Hungary        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
129        0        0        0        0  ...     532     534     539     542

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
129     545     546     548     550      551      553

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
123            NaN        Hungary        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
123        0        0        0        0  ...    2160    2190    2205    2245

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
123    2279    2279    2284    2324     2355     2391

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
130            NaN        Iceland        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
130        0        0        0        0  ...    1806    1806    1806    1806

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
130    1806    1807    1807    1807     1807     1807

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
130            NaN        Iceland        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
130        0        0        0        0  ...      10      10      10      10

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
130      10      10      10      10       10       10

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
124            NaN        Iceland        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
124        0        0        0        0  ...    1794    1794    1794    1794

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
124    1794    1794    1794    1794     1794     1794

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
131            NaN          India        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
131        0        0        0        0  ...  207191  216824  226713  236184

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
131  246622  257486  265928  276146   276583   297535

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
131            NaN          India        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
131        0        0        0        0  ...    5829    6088    6363    6649

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
131    6946    7207    7473    7750     7745     8498

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
125            NaN          India        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
125        0        0        0        0  ...  100285  104071  108450  113233

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
125  118695  123848  129095  134670   135206   147195

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
132            NaN      Indonesia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
132        0        0        0        0  ...   27549   28233   28818   29521

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
132   30514   31186   32033   33076    34316    35295

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
132            NaN      Indonesia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
132        0        0        0        0  ...    1663    1698    1721    1770

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
132    1801    1851    1883    1923     1959     2000

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
126            NaN      Indonesia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
126        0        0        0        0  ...    7935    8406    8892    9443

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
126    9907   10498   10904   11414    12129    12636

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
133            NaN           Iran        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
133        0        0        0        0  ...  157562  160696  164270  167156

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
133  169425  171789  173832  175927   177938   180156

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
133            NaN           Iran        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
133        0        0        0        0  ...    7942    8012    8071    8134

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
133    8209    8281    8351    8425     8506     8584

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
127            NaN           Iran        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
127        0        0        0        0  ...  123077  125206  127485  129741

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
127  132038  134349  136360  138457   140590   142663

[1 rows x 144 columns]

Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
134            NaN           Iraq        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
134        0        0        0        0  ...    7387    8168    8840    9846

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
134   11098   12366   13481   14268    15414    16675

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
134            NaN           Iraq        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
134        0        0        0        0  ...     235     256     271     285

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
134     318     346     370     392      426      457

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
128            NaN           Iraq        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
128        0        0        0        0  ...    3508    4095    4338    4573

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
128    4904    5186    5572    5831     6214     6568

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
135            NaN        Ireland        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
135        0        0        0        0  ...   25066   25111   25142   25163

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
135   25183   25201   25207   25215    25231    25238

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
135            NaN        Ireland        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
135        0        0        0        0  ...    1658    1659    1664    1670

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
135    1678    1679    1683    1691     1695     1703

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
129            NaN        Ireland        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
129        0        0        0        0  ...   22089   22698   22698   22698

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
129   22698   22698   22698   22698    22698    22698

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
136            NaN         Israel        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
136        0        0        0        0  ...   17285   17377   17495   17562

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
136   17752   17863   18032   18180    18355    18569

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
136            NaN         Israel        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
136        0        0        0        0  ...     290     291     291     291

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
136     295     298     298     299      299      300

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
130            NaN         Israel        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
130        0        0        0        0  ...   14940   14983   15013   15026

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
130   15042   15091   15102   15159    15168    15250

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
137            NaN          Italy        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
137        0        0        0        0  ...  233515  233836  234013  234531

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
137  234801  234998  235278  235561   235763   236142

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
137            NaN          Italy        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
137        0        0        0        0  ...   33530   33601   33689   33774

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
137   33846   33899   33964   34043    34114    34167

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
131            NaN          Italy        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
131        0        0        0        0  ...  160092  160938  161895  163781

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
131  165078  165837  166584  168646   169939   171338

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
138            NaN        Jamaica        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
138        0        0        0        0  ...     590     591     591     595

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
138     596     598     599     605      605      611

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
138            NaN        Jamaica        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
138        0        0        0        0  ...       9      10      10      10

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
138      10      10      10      10       10       10

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
132            NaN        Jamaica        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
132        0        0        0        0  ...     356     361     368     385

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
132     404     405     405     405      407      408

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
139            NaN          Japan        2        2        2        2

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
139        4        4        7        7  ...   16837   16867   16911   16958

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
139   17000   17039   17060   17111    17146    17187

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
139            NaN          Japan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
139        0        0        0        0  ...     902     905     911     916

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
139     915     917     920     920      922      922

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
133            NaN          Japan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
133        1        1        1        1  ...   14585   14702   14785   14925

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
133   14927   14990   15043   15141    15217    15233

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
140            NaN         Jordan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
140        0        0        0        0  ...     755     757     765     784

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
140     795     808     831     845      863      890

[1 rows x 144 columns]

Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
140            NaN         Jordan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
140        0        0        0        0  ...       9       9       9       9

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
140       9       9       9       9        9        9

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
134            NaN         Jordan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
134        0        0        0        0  ...     549     561     566     571

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
134     586     607     627     657      663      670

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
141            NaN     Kazakhstan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
141        0        0        0        0  ...   11571   12067   12067   12312

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
141   12511   12694   12859   13074    13319    13872

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
141            NaN     Kazakhstan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
141        0        0        0        0  ...      44      48      52      52

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
141      53      56      56      61       67       67

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
135            NaN     Kazakhstan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
135        0        0        0        0  ...    5941    6240    6606    6903

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
135    7135    7376    7376    8015     8345     8593

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
142            NaN          Kenya        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
142        0        0        0        0  ...    2093    2216    2340    2474

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
142    2600    2767    2872    2989     3094     3215

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
142            NaN          Kenya        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
142        0        0        0        0  ...      71      74      78      79

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
142      83      84      85      88       89       92

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
136            NaN          Kenya        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
136        0        0        0        0  ...     499     553     592     643

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
136     706     752     849     873     1048     1092

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
143            NaN   Korea, South        1        1        2        2

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
143        3        4        4        4  ...   11590   11629   11668   11719

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
143   11776   11814   11852   11902    11947    12003

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
143            NaN   Korea, South        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
143        0        0        0        0  ...     273     273     273     273

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
143     273     273     274     276      276      277

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
137            NaN   Korea, South        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
137        0        0        0        0  ...   10467   10499   10506   10531

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
137   10552   10563   10589   10611    10654    10669

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
144            NaN         Kuwait        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
144        0        0        0        0  ...   28649   29359   29921   30644

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
144   31131   31848   32510   33140    33823    34432

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
144            NaN         Kuwait        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
144        0        0        0        0  ...     226     230     236     244

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
144     254     264     269     273      275      279

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
138            NaN         Kuwait        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
138        0        0        0        0  ...   14281   15750   17223   18277

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
138   19282   20205   21242   22162    23288    24137

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
145            NaN     Kyrgyzstan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
145        0        0        0        0  ...    1845    1871    1899    1936

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
145    1974    2007    2032    2055     2093     2166

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
145            NaN     Kyrgyzstan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
145        0        0        0        0  ...      17      20      20      22

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
145      22      22      23      24       26       26

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
139            NaN     Kyrgyzstan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
139        0        0        0        0  ...    1219    1265    1292    1340

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
139    1360    1425    1445    1483     1572     1668

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
146            NaN         Latvia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
146        0        0        0        0  ...    1071    1079    1082    1085

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
146    1086    1088    1088    1089     1092     1094

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
146            NaN         Latvia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
146        0        0        0        0  ...      24      24      25      25

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
146      25      25      26      26       26       26

[1 rows x 144 columns]

Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
140            NaN         Latvia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
140        0        0        0        0  ...     760     760     760     781

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
140     781     781     781     794      794      818

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
147            NaN        Lebanon        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
147        0        0        0        0  ...    1242    1256    1306    1312

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
147    1320    1331    1350    1368     1388     1402

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
147            NaN        Lebanon        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
147        0        0        0        0  ...      27      27      28      28

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
147      29      30      30      30       30       31

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
141            NaN        Lebanon        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
141        0        0        0        0  ...     719     724     731     768

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
141     768     768     779     795      832      845

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
148            NaN        Liberia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
148        0        0        0        0  ...     311     316     321     334

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
148     345     359     370     383      397      410

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
148            NaN        Liberia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
148        0        0        0        0  ...      28      28      28      30

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
148      30      30      30      31       31       31

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
142            NaN        Liberia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
142        0        0        0        0  ...     167     169     175     176

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
142     185     194     195     199      200      206

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
149            NaN  Liechtenstein        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
149        0        0        0        0  ...      82      82      82      82

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
149      82      82      82      82       82       82

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
149            NaN  Liechtenstein        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
149        0        0        0        0  ...       1       1       1       1

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
149       1       1       1       1        1        1

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
144            NaN  Liechtenstein        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
144        0        0        0        0  ...      55      55      55      55

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
144      55      55      55      55       55       55

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
150            NaN      Lithuania        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
150        0        0        0        0  ...    1682    1684    1687    1694

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
150    1705    1714    1720    1727     1733     1752

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
150            NaN      Lithuania        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
150        0        0        0        0  ...      71      71      71      71

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
150      71      71      71      72       74       74

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
145            NaN      Lithuania        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
145        0        0        0        0  ...    1249    1260    1273    1302

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
145    1321    1328    1331    1338     1369     1372

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
151            NaN     Luxembourg        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
151        0        0        0        0  ...    4020    4024    4027    4032

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
151    4035    4039    4040    4046     4049     4052

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
151            NaN     Luxembourg        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
151        0        0        0        0  ...     110     110     110     110

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
151     110     110     110     110      110      110

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
146            NaN     Luxembourg        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
146        0        0        0        0  ...    3848    3861    3874    3885

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
146    3888    3899    3901    3902     3904     3910

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
152            NaN     Madagascar        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
152        0        0        0        0  ...     845     908     957     975

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
152    1026    1052    1094    1138     1162     1203

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
152            NaN     Madagascar        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
152        0        0        0        0  ...       6       6       7       7

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
152       8       9       9       9       10       10

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
147            NaN     Madagascar        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
147        0        0        0        0  ...     185     195     200     201

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
147     212     233     254     274      296      312

[1 rows x 144 columns]

Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
153            NaN       Malaysia        0        0        0        3

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
153        4        4        4        7  ...    7877    7970    8247    8266

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
153    8303    8322    8329    8336     8338     8369

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
153            NaN       Malaysia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
153        0        0        0        0  ...     115     115     115     116

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
153     117     117     117     117      118      118

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
148            NaN       Malaysia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
148        0        0        0        0  ...    6470    6531    6559    6610

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
148    6635    6674    6694    6975     7014     7065

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
154            NaN       Maldives        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
154        0        0        0        0  ...    1841    1850    1872    1883

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
154    1901    1903    1916    1942     1962     1976

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
154            NaN       Maldives        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
154        0        0        0        0  ...       7       7       7       7

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
154       8       8       8       8        8        8

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
149            NaN       Maldives        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
149        0        0        0        0  ...     608     644     648     717

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
149     763     827     925    1010     1121     1153

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
155            NaN          Malta        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
155        0        0        0        0  ...     620     622     622     625

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
155     627     629     630     632      635      640

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
155            NaN          Malta        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
155        0        0        0        0  ...       9       9       9       9

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
155       9       9       9       9        9        9

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
151            NaN          Malta        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
151        0        0        0        0  ...     554     562     576     583

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
151     596     596     596     597      597      600

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
156            NaN     Mauritania        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
156        0        0        0        0  ...     668     745     784     883

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
156     947    1049    1104    1162     1283     1439

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
156            NaN     Mauritania        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
156        0        0        0        0  ...      31      34      39      43

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
156      49      55      59      61       71       74

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
152            NaN     Mauritania        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
152        0        0        0        0  ...      55      57      65      69

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
152     104     108     119     139      142      250

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
157            NaN      Mauritius        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
157        0        0        0        0  ...     335     335     335     337

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
157     337     337     337     337      337      337

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
157            NaN      Mauritius        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
157        0        0        0        0  ...      10      10      10      10

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
157      10      10      10      10       10       10

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
153            NaN      Mauritius        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
153        0        0        0        0  ...     322     322     322     324

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
153     324     324     324     324      325      325

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
158            NaN         Mexico        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
158        0        0        0        0  ...   97326  101238  105680  110026

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
158  113619  117103  120102  124301   129184   133974

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
158            NaN         Mexico        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
158        0        0        0        0  ...   10637   11729   12545   13170

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
158   13511   13699   14053   14649    15357    15944

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
154            NaN         Mexico        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
154        0        0        0        0  ...   69749   72680   74758   77841

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
154   80830   83775   87633   90748    93930    97198

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
159            NaN        Moldova        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
159        0        0        0        0  ...    8548    8795    9018    9247

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
159    9511    9700    9807   10025    10321    10727

[1 rows x 144 columns]

Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
159            NaN        Moldova        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
159        0        0        0        0  ...     307     310     315     323

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
159     331     341     353     365      371      375

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
155            NaN        Moldova        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
155        0        0        0        0  ...    4738    4863    5009    5240

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
155    5450    5638    5738    5797     5930     6072

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
160            NaN         Monaco        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
160        0        0        0        0  ...      99      99      99      99

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
160      99      99      99      99       99       99

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
160            NaN         Monaco        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
160        0        0        0        0  ...       4       4       4       4

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
160       4       4       4       4        4        4

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
156            NaN         Monaco        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
156        0        0        0        0  ...      90      90      92      93

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
156      93      93      93      93       93       93

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
161            NaN       Mongolia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
161        0        0        0        0  ...     185     185     186     191

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
161     193     193     194     194      194      197

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
161            NaN       Mongolia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
161        0        0        0        0  ...       0       0       0       0

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
161       0       0       0       0        0        0

[1 rows x 144 columns]

/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
157            NaN       Mongolia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
157        0        0        0        0  ...      44      44      65      70

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
157      75      75      75      87       89       95

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
162            NaN     Montenegro        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
162        0        0        0        0  ...     324     324     324     324

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
162     324     324     324     324      324      324

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
162            NaN     Montenegro        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
162        0        0        0        0  ...       9       9       9       9

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
162       9       9       9       9        9        9

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
158            NaN     Montenegro        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
158        0        0        0        0  ...     315     315     315     315

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
158     315     315     315     315      315      315

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
163            NaN        Morocco        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
163        0        0        0        0  ...    7866    7922    8003    8071

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
163    8151    8224    8302    8437     8508     8537

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
163            NaN        Morocco        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
163        0        0        0        0  ...     206     206     208     208

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
163     208     208     208     210      211      211

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
159            NaN        Morocco        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
159        0        0        0        0  ...    6410    6866    7195    7268

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
159    7315    7364    7408    7493     7565     7583

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
164            NaN        Namibia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
164        0        0        0        0  ...      25      25      25      25

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
164      29      29      31      31       31       31

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
164            NaN        Namibia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
164        0        0        0        0  ...       0       0       0       0

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
164       0       0       0       0        0        0

[1 rows x 144 columns]

/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
161            NaN        Namibia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
161        0        0        0        0  ...      16      16      16      16

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
161      16      16      16      16       17       17

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
165            NaN          Nepal        0        0        0        1

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
165        1        1        1        1  ...    2099    2300    2634    2912

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
165    3235    3448    3762    4086     4364     4614

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
165            NaN          Nepal        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
165        0        0        0        0  ...       8       9      10      11

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
165      13      13      14      15       15       15

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
162            NaN          Nepal        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
162        0        0        0        0  ...     266     278     290     333

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
162     365     467     488     584      674      861

[1 rows x 144 columns]
Hi
Netherlands
Aruba
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
166          Aruba    Netherlands        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
166        0        0        0        0  ...     101     101     101     101

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
166     101     101     101     101      101      101

[1 rows x 144 columns]
Hi
Netherlands
Aruba
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
166          Aruba    Netherlands        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
166        0        0        0        0  ...       3       3       3       3

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
166       3       3       3       3        3        3

[1 rows x 144 columns]
Hi
Netherlands
Aruba
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
163          Aruba    Netherlands        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
163        0        0        0        0  ...      98      98      98      98

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
163      98      98      98      98       98       98

[1 rows x 144 columns]
Hi
Netherlands
Curacao
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
167        Curacao    Netherlands        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
167        0        0        0        0  ...      20      21      21      21

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
167      21      21      21      21       22       22

[1 rows x 144 columns]
Hi
Netherlands
Curacao
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
167        Curacao    Netherlands        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
167        0        0        0        0  ...       1       1       1       1

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
167       1       1       1       1        1        1

[1 rows x 144 columns]
Hi
Netherlands
Curacao
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
164        Curacao    Netherlands        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
164        0        0        0        0  ...      15      15      15      15

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
164      15      15      15      15       15       15

[1 rows x 144 columns]
Hi
Netherlands
Sint Maarten
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
168   Sint Maarten    Netherlands        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
168        0        0        0        0  ...      77      77      77      77

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
168      77      77      77      77       77       77

[1 rows x 144 columns]
Hi
Netherlands
Sint Maarten
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
168   Sint Maarten    Netherlands        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
168        0        0        0        0  ...      15      15      15      15

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
168      15      15      15      15       15       15

[1 rows x 144 columns]
Hi
Netherlands
Sint Maarten
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
165   Sint Maarten    Netherlands        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
165        0        0        0        0  ...      60      60      60      61

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
165      61      61      61      61       61       61

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
169            NaN    Netherlands        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
169        0        0        0        0  ...   46647   46733   46942   47152

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
169   47335   47574   47739   47903    48087    48251

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
169            NaN    Netherlands        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
169        0        0        0        0  ...    5967    5977    5990    6005

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
169    6011    6013    6016    6031     6042     6044

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
166            NaN    Netherlands        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
166        0        0        0        0  ...       0       0       0       0

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
166       0       0       0       0        0        0

[1 rows x 144 columns]

/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
170            NaN    New Zealand        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
170        0        0        0        0  ...    1504    1504    1504    1504

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
170    1504    1504    1504    1504     1504     1504

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
170            NaN    New Zealand        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
170        0        0        0        0  ...      22      22      22      22

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
170      22      22      22      22       22       22

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
167            NaN    New Zealand        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
167        0        0        0        0  ...    1481    1481    1481    1481

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
167    1481    1482    1482    1482     1482     1482

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
171            NaN      Nicaragua        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
171        0        0        0        0  ...    1118    1118    1118    1118

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
171    1118    1118    1118    1464     1464     1464

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
171            NaN      Nicaragua        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
171        0        0        0        0  ...      46      46      46      46

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
171      46      46      46      55       55       55

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
168            NaN      Nicaragua        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
168        0        0        0        0  ...     370     370     370     370

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
168     370     370     370     953      953      953

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
172            NaN          Niger        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
172        0        0        0        0  ...     960     961     963     966

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
172     970     973     973     974      974      974

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
172            NaN          Niger        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
172        0        0        0        0  ...      65      65      65      65

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
172      65      65      65      65       65       65

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
169            NaN          Niger        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
169        0        0        0        0  ...     848     857     860     863

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
169     867     867     869     871      876      878

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
173            NaN        Nigeria        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
173        0        0        0        0  ...   10819   11166   11516   11844

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
173   12233   12486   12801   13464    13873    14554

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
173            NaN        Nigeria        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
173        0        0        0        0  ...     314     315     323     333

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
173     342     354     361     365      382      387

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
170            NaN        Nigeria        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
170        0        0        0        0  ...    3240    3329    3535    3696

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
170    3826    3959    4040    4206     4351     4494

[1 rows x 144 columns]
Region
    Province/State   Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
174            NaN  North Macedonia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
174        0        0        0        0  ...    2391    2492    2611    2790

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
174    2915    3025    3152    3239     3364     3538

[1 rows x 144 columns]
Region
    Province/State   Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
174            NaN  North Macedonia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
174        0        0        0        0  ...     141     145     147     149

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
174     151     153     156     157      164      169

[1 rows x 144 columns]
Region
    Province/State   Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
171            NaN  North Macedonia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
171        0        0        0        0  ...    1595    1605    1621    1632

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
171    1640    1646    1653    1658     1664     1682

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
175            NaN         Norway        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
175        0        0        0        0  ...    8455    8477    8504    8522

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
175    8531    8547    8561    8576     8594     8608

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
175            NaN         Norway        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
175        0        0        0        0  ...     237     237     238     238

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
175     238     238     239     239      239      242

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
172            NaN         Norway        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
172        0        0        0        0  ...    7727    7727    8138    8138

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
172    8138    8138    8138    8138     8138     8138

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
176            NaN           Oman        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
176        0        0        0        0  ...   12799   13537   14316   15086

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
176   16016   16882   17486   18198    18887    19954

[1 rows x 144 columns]

Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
176            NaN           Oman        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
176        0        0        0        0  ...      59      67      67      72

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
176      72      75      81      83       84       89

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
173            NaN           Oman        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
173        0        0        0        0  ...    2812    2845    3451    3451

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
173    3451    3451    3793    4152     5640     6623

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
177            NaN       Pakistan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
177        0        0        0        0  ...   80463   85264   89249   93983

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
177   98943  103671  108317  113702   113702   125933

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
177            NaN       Pakistan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
177        0        0        0        0  ...    1688    1770    1838    1935

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
177    2002    2067    2172    2255     2255     2463

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
174            NaN       Pakistan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
174        0        0        0        0  ...   28923   30128   31198   32581

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
174   33465   34355   35018   36308    36308    40247

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
178            NaN         Panama        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
178        0        0        0        0  ...   14095   14609   15044   15463

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
178   16004   16425   16854   17233    17889    18586

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
178            NaN         Panama        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
178        0        0        0        0  ...     352     357     363     370

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
178     386     393     398     403      413      418

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
175            NaN         Panama        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
175        0        0        0        0  ...    9514    9519    9619    9719

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
175   10118   10218   10401   10561    10977    10977

[1 rows x 144 columns]
Region
    Province/State    Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
179            NaN  Papua New Guinea        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
179        0        0        0        0  ...       8       8       8       8

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
179       8       8       8       8        8        8

[1 rows x 144 columns]
Region
    Province/State    Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
179            NaN  Papua New Guinea        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
179        0        0        0        0  ...       0       0       0       0

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
179       0       0       0       0        0        0

[1 rows x 144 columns]

/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Region
    Province/State    Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
176            NaN  Papua New Guinea        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
176        0        0        0        0  ...       8       8       8       8

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
176       8       8       8       8        8        8

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
180            NaN       Paraguay        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
180        0        0        0        0  ...    1013    1070    1086    1087

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
180    1090    1135    1145    1187     1202     1230

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
180            NaN       Paraguay        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
180        0        0        0        0  ...      11      11      11      11

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
180      11      11      11      11       11       11

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
177            NaN       Paraguay        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
177        0        0        0        0  ...     498     511     511     516

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
177     532     575     603     604      619      624

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
181            NaN           Peru        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
181        0        0        0        0  ...  170039  178914  183198  187400

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
181  191758  196515  199696  203736   208823   214788

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
181            NaN           Peru        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
181        0        0        0        0  ...    4634    4894    5031    5162

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
181    5301    5465    5571    5738     5903     6088

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
178            NaN           Peru        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
178        0        0        0        0  ...   69257   72319   76228   79214

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
178   82731   86219   89556   92929    98031   102429

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
182            NaN    Philippines        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
182        0        0        0        0  ...   18997   19748   20382   20626

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
182   21340   21895   22474   22992    23732    24175

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
182            NaN    Philippines        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
182        0        0        0        0  ...     966     974     984     987

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
182     994    1003    1011    1017     1027     1036

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
179            NaN    Philippines        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
179        0        0        0        0  ...    4063    4153    4248    4330

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
179    4441    4530    4637    4736     4895     5165

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
183            NaN         Poland        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
183        0        0        0        0  ...   24395   24687   25048   25410

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
183   25986   26561   27160   27560    27842    28201

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
183            NaN         Poland        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
183        0        0        0        0  ...    1092    1115    1117    1137

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
183    1153    1157    1166    1183     1206     1215

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
180            NaN         Poland        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
180        0        0        0        0  ...   11726   12014   12227   12410

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
180   12641   12855   12998   13196    13411    13696

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
184            NaN       Portugal        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
184        0        0        0        0  ...   32895   33261   33592   33969

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
184   34351   34693   34885   35306    35600    35910

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
184            NaN       Portugal        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
184        0        0        0        0  ...    1436    1447    1455    1465

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
184    1474    1479    1485    1492     1497     1504

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
181            NaN       Portugal        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
181        0        0        0        0  ...   19869   20079   20323   20526

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
181   20807   20995   21156   21339    21742    22002

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
185            NaN          Qatar        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
185        0        0        0        0  ...   60259   62160   63741   65495

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
185   67195   68790   70158   71879    73595    75071

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
185            NaN          Qatar        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
185        0        0        0        0  ...      43      45      45      49

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
185      51      54      57      62       66       69

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
182            NaN          Qatar        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
182        0        0        0        0  ...   36036   37542   39468   40935

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
182   42527   44338   45935   47569    49413    51331

[1 rows x 144 columns]

Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
186            NaN        Romania        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
186        0        0        0        0  ...   19517   19669   19907   20103

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
186   20290   20479   20604   20749    20945    21182

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
186            NaN        Romania        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
186        0        0        0        0  ...    1288    1296    1305    1316

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
186    1322    1333    1339    1354     1360     1369

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
183            NaN        Romania        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
183        0        0        0        0  ...   13526   13800   13919   14145

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
183   14419   14638   14826   14910    15103    15283

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
187            NaN         Russia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
187        0        0        0        0  ...  423186  431715  440538  449256

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
187  458102  467073  476043  484630   493023   501800

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
187            NaN         Russia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
187        0        0        0        0  ...    5031    5208    5376    5520

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
187    5717    5851    5963    6134     6350     6522

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
184            NaN         Russia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
184        0        0        0        0  ...  186602  195559  204197  212237

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
184  220935  226272  230226  241917   252295   260649

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
188            NaN         Rwanda        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
188        0        0        0        0  ...     384     397     410     420

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
188     431     439     451     463      476      494

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
188            NaN         Rwanda        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
188        0        0        0        0  ...       2       2       2       2

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
188       2       2       2       2        2        2

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
185            NaN         Rwanda        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
185        0        0        0        0  ...     269     271     280     282

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
185     283     290     297     300      307      313

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
189            NaN    Saint Lucia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
189        0        0        0        0  ...      18      18      19      19

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
189      19      19      19      19       19       19

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
189            NaN    Saint Lucia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
189        0        0        0        0  ...       0       0       0       0

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
189       0       0       0       0        0        0

[1 rows x 144 columns]

/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
187            NaN    Saint Lucia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
187        0        0        0        0  ...      18      18      18      18

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
187      18      18      18      18       18       18

[1 rows x 144 columns]
Region
    Province/State                    Country/Region  1/22/20  1/23/20  \
190            NaN  Saint Vincent and the Grenadines        0        0

     1/24/20  1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  \
190        0        0        0        0        0        0  ...      26

     6/3/20  6/4/20  6/5/20  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
190      26      26      26      26      27      27      27       27       27

[1 rows x 144 columns]
Region
    Province/State                    Country/Region  1/22/20  1/23/20  \
190            NaN  Saint Vincent and the Grenadines        0        0

     1/24/20  1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  \
190        0        0        0        0        0        0  ...       0

     6/3/20  6/4/20  6/5/20  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
190       0       0       0       0       0       0       0        0        0

[1 rows x 144 columns]

/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Region
    Province/State                    Country/Region  1/22/20  1/23/20  \
188            NaN  Saint Vincent and the Grenadines        0        0

     1/24/20  1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  \
188        0        0        0        0        0        0  ...      15

     6/3/20  6/4/20  6/5/20  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
188      15      15      15      15      16      16      25       25       25

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
191            NaN     San Marino        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
191        0        0        0        0  ...     672     674     678     680

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
191     680     680     687     688      691      691

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
191            NaN     San Marino        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
191        0        0        0        0  ...      42      42      42      42

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
191      42      42      42      42       42       42

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
189            NaN     San Marino        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
189        0        0        0        0  ...     384     391     408     428

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
189     428     428     478     483      496      496

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
192            NaN   Saudi Arabia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
192        0        0        0        0  ...   89011   91182   93157   95748

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
192   98869  101914  105283  108571   112288   116021

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
192            NaN   Saudi Arabia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
192        0        0        0        0  ...     549     579     611     642

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
192     676     712     746     783      819      857

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
190            NaN   Saudi Arabia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
190        0        0        0        0  ...   65790   68159   68965   70616

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
190   71791   72817   74524   76339    77954    80019

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
193            NaN        Senegal        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
193        0        0        0        0  ...    3836    3932    4021    4155

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
193    4249    4328    4427    4516     4640     4759

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
193            NaN        Senegal        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
193        0        0        0        0  ...      43      45      45      45

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
193      47      49      49      52       52       55

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
191            NaN        Senegal        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
191        0        0        0        0  ...    1954    2063    2162    2276

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
191    2512    2588    2699    2809     2885     2994

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
194            NaN         Serbia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
194        0        0        0        0  ...   11454   11523   11571   11667

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
194   11741   11823   11896   11965    12031    12102

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
194            NaN         Serbia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
194        0        0        0        0  ...     245     245     246     247

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
194     248     249     250     250      251      252

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
192            NaN         Serbia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
192        0        0        0        0  ...    6766    6852    6910    6931

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
192   11056   11348   11189   11268    11348    11362

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
195            NaN     Seychelles        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
195        0        0        0        0  ...      11      11      11      11

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
195      11      11      11      11       11       11

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
195            NaN     Seychelles        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
195        0        0        0        0  ...       0       0       0       0

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
195       0       0       0       0        0        0

[1 rows x 144 columns]

/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
193            NaN     Seychelles        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
193        0        0        0        0  ...      11      11      11      11

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
193      11      11      11      11       11       11

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
196            NaN      Singapore        0        1        3        3

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
196        4        5        7        7  ...   35836   36405   36922   37183

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
196   37527   37910   38296   38514    38965    39387

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
196            NaN      Singapore        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
196        0        0        0        0  ...      24      24      24      24

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
196      25      25      25      25       25       25

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
194            NaN      Singapore        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
194        0        0        0        0  ...   23175   23582   23904   24209

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
194   24559   24886   25368   25877    26532    27286

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
197            NaN       Slovakia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
197        0        0        0        0  ...    1522    1525    1526    1526

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
197    1528    1528    1530    1531     1533     1541

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
197            NaN       Slovakia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
197        0        0        0        0  ...      28      28      28      28

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
197      28      28      28      28       28       28

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
195            NaN       Slovakia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
195        0        0        0        0  ...    1372    1375    1376    1379

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
195    1379    1389    1396    1402     1404     1409

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
198            NaN       Slovenia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
198        0        0        0        0  ...    1475    1477    1477    1479

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
198    1484    1485    1485    1486     1488     1488

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
198            NaN       Slovenia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
198        0        0        0        0  ...     109     109     109     109

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
198     109     109     109     109      109      109

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
196            NaN       Slovenia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
196        0        0        0        0  ...    1358    1358    1359    1359

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
196    1359    1359    1359    1359     1359     1359

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
199            NaN        Somalia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
199        0        0        0        0  ...    2089    2146    2204    2204

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
199    2289    2334    2368    2416     2452     2513

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
199            NaN        Somalia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
199        0        0        0        0  ...      79      79      79      79

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
199      82      83      84      85       85       85

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
197            NaN        Somalia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
197        0        0        0        0  ...     361     406     418     418

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
197     431     441     470     489      506      532

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
200            NaN   South Africa        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
200        0        0        0        0  ...   35812   37525   40792   43434

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
200   45973   48285   50879   52991    55421    58568

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
200            NaN   South Africa        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
200        0        0        0        0  ...     755     792     848     908

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
200     952     998    1080    1162     1210     1284

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
198            NaN   South Africa        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
198        0        0        0        0  ...   18313   19682   21311   23088

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
198   24258   24364   26099   29006    31505    33252

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
201            NaN          Spain        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
201        0        0        0        0  ...  239932  240326  240660  240978

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
201  241310  241550  241717  241966   242280   242707

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
201            NaN          Spain        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
201        0        0        0        0  ...   27127   27128   27133   27134

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
201   27135   27136   27136   27136    27136    27136

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
199            NaN          Spain        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
199        0        0        0        0  ...  150376  150376  150376  150376

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
199  150376  150376  150376  150376   150376   150376

[1 rows x 144 columns]

Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
202            NaN      Sri Lanka        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
202        0        1        1        1  ...    1683    1749    1797    1801

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
202    1814    1835    1857    1859     1869     1877

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
202            NaN      Sri Lanka        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
202        0        0        0        0  ...      11      11      11      11

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
202      11      11      11      11       11       11

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
200            NaN      Sri Lanka        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
200        0        0        0        0  ...     823     836     839     858

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
200     891     941     990    1057     1122     1150

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
203            NaN          Sudan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
203        0        0        0        0  ...    5310    5499    5714    5865

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
203    6081    6081    6242    6427     6582     6730

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
203            NaN          Sudan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
203        0        0        0        0  ...     307     314     333     347

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
203     359     359     372     389      401      413

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
201            NaN          Sudan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
201        0        0        0        0  ...    1625    1711    1825    1924

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
201    2014    2014    2059    2127     2202     2278

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
204            NaN       Suriname        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
204        0        0        0        0  ...      54      74      82      90

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
204     100     122     128     137      144      168

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
204            NaN       Suriname        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
204        0        0        0        0  ...       1       1       1       1

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
204       1       1       2       2        2        2

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
202            NaN       Suriname        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
202        0        0        0        0  ...       9       9       9       9

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
202       9       9       9       9        9        9

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
205            NaN         Sweden        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
205        0        0        0        0  ...   38589   40803   41883   42939

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
205   43887   44730   45133   45924    46814    48288

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
205            NaN         Sweden        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
205        0        0        0        0  ...    4468    4542    4562    4639

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
205    4656    4659    4694    4717     4795     4814

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
203            NaN         Sweden        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
203        0        0        0        0  ...       0       0       0       0

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
203       0       0       0       0        0        0

[1 rows x 144 columns]

/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
206            NaN    Switzerland        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
206        0        0        0        0  ...   30874   30893   30913   30936

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
206   30956   30965   30972   30988    31011    31044

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
206            NaN    Switzerland        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
206        0        0        0        0  ...    1920    1921    1921    1921

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
206    1921    1921    1923    1934     1936     1937

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
204            NaN    Switzerland        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
204        0        0        0        0  ...   28500   28600   28600   28600

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
204   28700   28700   28700   28700    28700    28800

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
207            NaN        Taiwan*        1        1        3        3

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
207        4        5        8        8  ...     443     443     443     443

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
207     443     443     443     443      443      443

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
207            NaN        Taiwan*        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
207        0        0        0        0  ...       7       7       7       7

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
207       7       7       7       7        7        7

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
206            NaN        Taiwan*        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
206        0        0        0        0  ...     427     428     428     429

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
206     429     430     430     431      431      431

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
208            NaN       Tanzania        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
208        0        0        0        0  ...     509     509     509     509

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
208     509     509     509     509      509      509

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
208            NaN       Tanzania        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
208        0        0        0        0  ...      21      21      21      21

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
208      21      21      21      21       21       21

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
207            NaN       Tanzania        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
207        0        0        0        0  ...     183     183     183     183

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
207     183     183     183     183      183      183

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
209            NaN       Thailand        2        3        5        7

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
209        8        8       14       14  ...    3083    3084    3101    3102

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
209    3104    3112    3119    3121     3125     3125

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
209            NaN       Thailand        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
209        0        0        0        0  ...      58      58      58      58

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
209      58      58      58      58       58       58

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
208            NaN       Thailand        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
208        2        2        5        5  ...    2966    2968    2968    2971

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
208    2971    2972    2973    2973     2981     2987

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
210            NaN           Togo        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
210        0        0        0        0  ...     445     452     465     485

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
210     487     495     497     501      522      524

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
210            NaN           Togo        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
210        0        0        0        0  ...      13      13      13      13

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
210      13      13      13      13       13       13

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
210            NaN           Togo        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
210        0        0        0        0  ...     230     236     239     240

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
210     240     248     251     260      265      271

[1 rows x 144 columns]
Region
    Province/State       Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
211            NaN  Trinidad and Tobago        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
211        0        0        0        0  ...     117     117     117     117

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
211     117     117     117     117      117      117

[1 rows x 144 columns]
Region
    Province/State       Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
211            NaN  Trinidad and Tobago        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
211        0        0        0        0  ...       8       8       8       8

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
211       8       8       8       8        8        8

[1 rows x 144 columns]
Region
    Province/State       Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
211            NaN  Trinidad and Tobago        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
211        0        0        0        0  ...     108     108     108     108

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
211     108     108     109     109      109      109

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
212            NaN        Tunisia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
212        0        0        0        0  ...    1086    1087    1087    1087

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
212    1087    1087    1087    1087     1087     1087

[1 rows x 144 columns]

Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
212            NaN        Tunisia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
212        0        0        0        0  ...      48      49      49      49

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
212      49      49      49      49       49       49

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
212            NaN        Tunisia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
212        0        0        0        0  ...     965     965     968     969

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
212     977     982     982     982      983      989

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
213            NaN         Turkey        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
213        0        0        0        0  ...  165555  166422  167410  168340

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
213  169218  170132  171121  172114   173036   174023

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
213            NaN         Turkey        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
213        0        0        0        0  ...    4585    4609    4630    4648

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
213    4669    4692    4711    4729     4746     4763

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
213            NaN         Turkey        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
213        0        0        0        0  ...  129921  130852  131778  133400

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
213  135322  137969  141380  144598   146839   147860

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
214            NaN         Uganda        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
214        0        0        0        0  ...     489     507     522     557

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
214     593     616     646     657      665      679

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
214            NaN         Uganda        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
214        0        0        0        0  ...       0       0       0       0

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
214       0       0       0       0        0        0

[1 rows x 144 columns]

/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
214            NaN         Uganda        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
214        0        0        0        0  ...      82      82      82      82

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
214      82      96     103     118      119      161

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
215            NaN        Ukraine        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
215        0        0        0        0  ...   24895   25385   25981   26542

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
215   27101   27599   28077   28479    29015    29706

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
215            NaN        Ukraine        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
215        0        0        0        0  ...     733     742     755     770

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
215     785     796     805     818      841      864

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
215            NaN        Ukraine        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
215        0        0        0        0  ...   10461   10838   11468   11815

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
215   12265   12513   12657   12892    13257    13642

[1 rows x 144 columns]
Region
    Province/State        Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
216            NaN  United Arab Emirates        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
216        0        0        0        4  ...   35788   36359   37018   37642

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
216   38268   38808   39376   39904    40507    40986

[1 rows x 144 columns]
Region
    Province/State        Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
216            NaN  United Arab Emirates        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
216        0        0        0        0  ...     269     270     273     274

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
216     275     276     281     283      284      286

[1 rows x 144 columns]
Region
    Province/State        Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
216            NaN  United Arab Emirates        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
216        0        0        0        0  ...   18726   19153   19572   20337

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
216   21061   21806   22275   22740    24017    25234

[1 rows x 144 columns]
Hi
United Kingdom
Bermuda
Region
    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
217        Bermuda  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
217        0        0        0        0  ...     141     141     141     141

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
217     141     141     141     141      141      141

[1 rows x 144 columns]
Hi
United Kingdom
Bermuda
Region
    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
217        Bermuda  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
217        0        0        0        0  ...       9       9       9       9

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
217       9       9       9       9        9        9

[1 rows x 144 columns]
Hi
United Kingdom
Bermuda
Region
    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
217        Bermuda  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
217        0        0        0        0  ...     113     113     113     114

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
217     114     114     120     120      125      127

[1 rows x 144 columns]
Hi
United Kingdom
Cayman Islands
Region
     Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
218  Cayman Islands  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
218        0        0        0        0  ...     151     156     160     164

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
218     164     164     171     176      180      186

[1 rows x 144 columns]
Hi
United Kingdom
Cayman Islands
Region
     Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
218  Cayman Islands  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
218        0        0        0        0  ...       1       1       1       1

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
218       1       1       1       1        1        1

[1 rows x 144 columns]
Hi
United Kingdom
Cayman Islands
Region
     Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
218  Cayman Islands  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
218        0        0        0        0  ...      77      78      85      93

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
218      93      93     102     104      107      112

[1 rows x 144 columns]
Hi
United Kingdom
Channel Islands
Region
      Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
219  Channel Islands  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
219        0        0        0        0  ...     560     561     561     561

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
219     563     563     564     565      565      565

[1 rows x 144 columns]
Hi
United Kingdom
Channel Islands
Region
      Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
219  Channel Islands  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
219        0        0        0        0  ...      46      46      46      46

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
219      46      46      46      48       48       48

[1 rows x 144 columns]
Hi
United Kingdom
Channel Islands
Region
      Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
219  Channel Islands  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
219        0        0        0        0  ...     528     512     512     512

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
219     512     512     512     512      512      512

[1 rows x 144 columns]
Hi
United Kingdom
Gibraltar
Region
    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
220      Gibraltar  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
220        0        0        0        0  ...     172     173     173     174

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
220     175     176     176     176      176      176

[1 rows x 144 columns]
Hi
United Kingdom
Gibraltar
Region
    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
220      Gibraltar  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
220        0        0        0        0  ...       0       0       0       0

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
220       0       0       0       0        0        0

[1 rows x 144 columns]

/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Hi
United Kingdom
Gibraltar
Region
    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
220      Gibraltar  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
220        0        0        0        0  ...     151     153     153     153

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
220     155     164     165     165      169      171

[1 rows x 144 columns]
Hi
United Kingdom
Isle of Man
Region
    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
221    Isle of Man  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
221        0        0        0        0  ...     336     336     336     336

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
221     336     336     336     336      336      336

[1 rows x 144 columns]
Hi
United Kingdom
Isle of Man
Region
    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
221    Isle of Man  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
221        0        0        0        0  ...      24      24      24      24

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
221      24      24      24      24       24       24

[1 rows x 144 columns]
Hi
United Kingdom
Isle of Man
Region
    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
221    Isle of Man  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
221        0        0        0        0  ...     311     312     312     312

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
221     312     312     312     312      312      312

[1 rows x 144 columns]
Hi
United Kingdom
Montserrat
Region
    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
222     Montserrat  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
222        0        0        0        0  ...      11      11      11      11

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
222      11      11      11      11       11       11

[1 rows x 144 columns]
Hi
United Kingdom
Montserrat
Region
    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
222     Montserrat  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
222        0        0        0        0  ...       1       1       1       1

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
222       1       1       1       1        1        1

[1 rows x 144 columns]
Hi
United Kingdom
Montserrat
Region
    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
222     Montserrat  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
222        0        0        0        0  ...      10      10      10      10

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
222      10      10      10      10       10       10

[1 rows x 144 columns]
Region
    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
223            NaN  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
223        0        0        0        0  ...  277985  279856  281661  283311

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
223  284868  286194  287399  289140   290143   291409

[1 rows x 144 columns]
Region
    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
223            NaN  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
223        0        0        0        0  ...   39369   39728   39904   40261

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
223   40465   40542   40597   40883    41128    41279

[1 rows x 144 columns]
Region
    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
223            NaN  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
223        0        0        0        0  ...       0       0       0       0

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
223       0       0       0       0        0        0

[1 rows x 144 columns]

/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
224            NaN        Uruguay        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
224        0        0        0        0  ...     826     828     832     834

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
224     845     845     845     846      847      847

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
224            NaN        Uruguay        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
224        0        0        0        0  ...      23      23      23      23

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
224      23      23      23      23       23       23

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
224            NaN        Uruguay        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
224        0        0        0        0  ...     691     698     709     721

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
224     726     730     738     754      758      772

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
225            NaN             US        1        1        2        2

     1/26/20  1/27/20  1/28/20  1/29/20  ...   6/2/20   6/3/20   6/4/20  \
225        5        5        5        5  ...  1831821  1851520  1872660

      6/5/20   6/6/20   6/7/20   6/8/20   6/9/20  6/10/20  6/11/20
225  1902632  1925765  1943882  1961428  1979489  2000464  2023347

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
225            NaN             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
225        0        0        0        0  ...  106180  107161  108197  109359

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
225  110068  110511  111011  111994   112924   113820

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
225            NaN             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
225        0        0        0        0  ...  463868  479258  485002  491706

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
225  500849  506367  518522  524855   533504   540292

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
226            NaN     Uzbekistan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
226        0        0        0        0  ...    3760    3843    3939    4007

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
226    4094    4331    4440    4520     4623     4741

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
226            NaN     Uzbekistan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
226        0        0        0        0  ...      15      16      16      16

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
226      17      17      18      18       19       19

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
226            NaN     Uzbekistan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
226        0        0        0        0  ...    2908    3014    3087    3247

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
226    3268    3354    3357    3459     3532     3637

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
227            NaN      Venezuela        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
227        0        0        0        0  ...    1819    1952    2087    2145

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
227    2316    2377    2473    2632     2738     2814

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
227            NaN      Venezuela        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
227        0        0        0        0  ...      18      20      20      20

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
227      22      22      22      23       23       23

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
227            NaN      Venezuela        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
227        0        0        0        0  ...     334     334     334     334

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
227     385     487     487     487      487      487

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
228            NaN        Vietnam        0        2        2        2

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
228        2        2        2        2  ...     328     328     328     328

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
228     329     331     332     332      332      332

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
228            NaN        Vietnam        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
228        0        0        0        0  ...       0       0       0       0

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
228       0       0       0       0        0        0

[1 rows x 144 columns]

/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
228            NaN        Vietnam        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
228        0        0        0        0  ...     298     302     302     307

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
228     307     307     316     316      320      321

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
229            NaN         Zambia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
229        0        0        0        0  ...    1089    1089    1089    1089

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
229    1089    1089    1200    1200     1200     1200

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
229            NaN         Zambia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
229        0        0        0        0  ...       7       7       7       7

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
229       7       7      10      10       10       10

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
229            NaN         Zambia        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
229        0        0        0        0  ...     912     912     912     912

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
229     912     912     912     912      912      912

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
230            NaN       Zimbabwe        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
230        0        0        0        0  ...     206     222     237     265

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
230     279     282     287     314      320      332

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
230            NaN       Zimbabwe        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
230        0        0        0        0  ...       4       4       4       4

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
230       4       4       4       4        4        4

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
230            NaN       Zimbabwe        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
230        0        0        0        0  ...      29      29      31      33

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
230      33      34      46      46       49       51

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
231            NaN       Dominica        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
231        0        0        0        0  ...      18      18      18      18

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
231      18      18      18      18       18       18

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
231            NaN       Dominica        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
231        0        0        0        0  ...       0       0       0       0

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
231       0       0       0       0        0        0

[1 rows x 144 columns]

/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
87            NaN       Dominica        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
87        0        0        0  ...      16      16      16      16      16

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
87      16      16      16       16       16

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
232            NaN        Grenada        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
232        0        0        0        0  ...      23      23      23      23

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
232      23      23      23      23       23       23

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
232            NaN        Grenada        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
232        0        0        0        0  ...       0       0       0       0

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
232       0       0       0       0        0        0

[1 rows x 144 columns]

/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
114            NaN        Grenada        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
114        0        0        0        0  ...      18      18      18      22

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
114      22      22      22      22       22       22

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
233            NaN     Mozambique        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
233        0        0        0        0  ...     307     316     352     354

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
233     409     424     433     453      472      489

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
233            NaN     Mozambique        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
233        0        0        0        0  ...       2       2       2       2

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
233       2       2       2       2        2        2

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
160            NaN     Mozambique        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
160        0        0        0        0  ...      98     109     114     119

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
160     126     127     131     136      138      144

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
234            NaN          Syria        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
234        0        0        0        0  ...     123     123     124     124

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
234     125     141     144     146      152      164

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
234            NaN          Syria        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
234        0        0        0        0  ...       6       6       6       6

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
234       6       6       6       6        6        6

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
205            NaN          Syria        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
205        0        0        0        0  ...      50      53      53      53

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
205      58      58      62      62       68       68

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
235            NaN    Timor-Leste        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
235        0        0        0        0  ...      24      24      24      24

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
235      24      24      24      24       24       24

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
235            NaN    Timor-Leste        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
235        0        0        0        0  ...       0       0       0       0

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
235       0       0       0       0        0        0

[1 rows x 144 columns]

/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
209            NaN    Timor-Leste        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
209        0        0        0        0  ...      24      24      24      24

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
209      24      24      24      24       24       24

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
236            NaN         Belize        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
236        0        0        0        0  ...      18      18      18      19

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
236      19      19      19      20       20       20

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
236            NaN         Belize        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
236        0        0        0        0  ...       2       2       2       2

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
236       2       2       2       2        2        2

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
24            NaN         Belize        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
24        0        0        0  ...      16      16      16      16      16

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
24      16      16      16       16       16

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
237            NaN           Laos        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
237        0        0        0        0  ...      19      19      19      19

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
237      19      19      19      19       19       19

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
237            NaN           Laos        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
237        0        0        0        0  ...       0       0       0       0

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
237       0       0       0       0        0        0

[1 rows x 144 columns]

/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
232            NaN           Laos        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
232        0        0        0        0  ...      16      18      18      18

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
232      18      18      18      19       19       19

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
238            NaN          Libya        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
238        0        0        0        0  ...     182     196     209     239

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
238     256     256     332     359      378      393

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
238            NaN          Libya        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
238        0        0        0        0  ...       5       5       5       5

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
238       5       5       5       5        5        5

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
143            NaN          Libya        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
143        0        0        0        0  ...      52      52      52      52

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
143      52      52      57      58       59       59

[1 rows x 144 columns]
Region
    Province/State      Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
239            NaN  West Bank and Gaza        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
239        0        0        0        0  ...     451     457     464     464

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
239     464     472     473     481      485      487

[1 rows x 144 columns]
Region
    Province/State      Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
239            NaN  West Bank and Gaza        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
239        0        0        0        0  ...       3       3       3       3

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
239       3       3       3       3        3        3

[1 rows x 144 columns]
Region
    Province/State      Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
231            NaN  West Bank and Gaza        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
231        0        0        0        0  ...     372     372     377     377

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
231     400     403     404     404      410      410

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
240            NaN  Guinea-Bissau        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
240        0        0        0        0  ...    1339    1339    1339    1368

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
240    1368    1368    1389    1389     1389     1389

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
240            NaN  Guinea-Bissau        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
240        0        0        0        0  ...       8       8       8      12

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
240      12      12      12      12       12       12

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
118            NaN  Guinea-Bissau        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
118        0        0        0        0  ...      53      53      53     153

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
118     153     153     153     153      153      153

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
241            NaN           Mali        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
241        0        0        0        0  ...    1351    1386    1461    1485

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
241    1523    1533    1547    1586     1667     1722

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
241            NaN           Mali        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
241        0        0        0        0  ...      78      79      85      87

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
241      90      90      92      94       96       97

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
150            NaN           Mali        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
150        0        0        0        0  ...     769     788     806     816

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
150     845     873     916     931      948      989

[1 rows x 144 columns]
Region
    Province/State         Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
242            NaN  Saint Kitts and Nevis        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
242        0        0        0        0  ...      15      15      15      15

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
242      15      15      15      15       15       15

[1 rows x 144 columns]
Region
    Province/State         Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
242            NaN  Saint Kitts and Nevis        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
242        0        0        0        0  ...       0       0       0       0

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
242       0       0       0       0        0        0

[1 rows x 144 columns]

/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Region
    Province/State         Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
186            NaN  Saint Kitts and Nevis        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
186        0        0        0        0  ...      15      15      15      15

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
186      15      15      15      15       15       15

[1 rows x 144 columns]
Hi
Canada
Northwest Territories
Region
            Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
243  Northwest Territories         Canada        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
243        0        0        0        0  ...       5       5       5       5

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
243       5       5       5       5        5        5

[1 rows x 144 columns]
Hi
Canada
Northwest Territories
Region
            Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
243  Northwest Territories         Canada        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
243        0        0        0        0  ...       0       0       0       0

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
243       0       0       0       0        0        0

[1 rows x 144 columns]

/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Hi
Canada
Yukon
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
244          Yukon         Canada        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
244        0        0        0        0  ...      11      11      11      11

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
244      11      11      11      11       11       11

[1 rows x 144 columns]
Hi
Canada
Yukon
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
244          Yukon         Canada        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
244        0        0        0        0  ...       0       0       0       0

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
244       0       0       0       0        0        0

[1 rows x 144 columns]

/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
245            NaN         Kosovo        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
245        0        0        0        0  ...    1064    1142    1142    1142

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
245    1142    1142    1263    1263     1298     1326

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
245            NaN         Kosovo        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
245        0        0        0        0  ...      30      30      30      30

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
245      30      30      31      31       31       31

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
233            NaN         Kosovo        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
233        0        0        0        0  ...     829     871     871     871

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
233     871     871     912     912      913      921

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
246            NaN          Burma        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
246        0        0        0        0  ...     232     233     236     236

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
246     240     242     244     246      248      260

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
246            NaN          Burma        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
246        0        0        0        0  ...       6       6       6       6

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
246       6       6       6       6        6        6

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
234            NaN          Burma        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
234        0        0        0        0  ...     143     145     148     151

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
234     156     156     159     159      165      165

[1 rows x 144 columns]
Hi
United Kingdom
Anguilla
Region
    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
247       Anguilla  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
247        0        0        0        0  ...       3       3       3       3

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
247       3       3       3       3        3        3

[1 rows x 144 columns]
Hi
United Kingdom
Anguilla
Region
    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
247       Anguilla  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
247        0        0        0        0  ...       0       0       0       0

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
247       0       0       0       0        0        0

[1 rows x 144 columns]

/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Hi
United Kingdom
Anguilla
Region
    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
235       Anguilla  United Kingdom        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
235        0        0        0        0  ...       3       3       3       3

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
235       3       3       3       3        3        3

[1 rows x 144 columns]
Hi
United Kingdom
British Virgin Islands
Region
             Province/State  Country/Region  1/22/20  1/23/20  1/24/20  \
248  British Virgin Islands  United Kingdom        0        0        0

     1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  \
248        0        0        0        0        0  ...       8       8       8

     6/5/20  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
248       8       8       8       8       8        8        8

[1 rows x 144 columns]
Hi
United Kingdom
British Virgin Islands
Region
             Province/State  Country/Region  1/22/20  1/23/20  1/24/20  \
248  British Virgin Islands  United Kingdom        0        0        0

     1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  \
248        0        0        0        0        0  ...       1       1       1

     6/5/20  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
248       1       1       1       1       1        1        1

[1 rows x 144 columns]
Hi
United Kingdom
British Virgin Islands
Region
             Province/State  Country/Region  1/22/20  1/23/20  1/24/20  \
236  British Virgin Islands  United Kingdom        0        0        0

     1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  \
236        0        0        0        0        0  ...       7       7       7

     6/5/20  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
236       7       7       7       7       7        7        7

[1 rows x 144 columns]
Hi
United Kingdom
Turks and Caicos Islands
Region
               Province/State  Country/Region  1/22/20  1/23/20  1/24/20  \
249  Turks and Caicos Islands  United Kingdom        0        0        0

     1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  \
249        0        0        0        0        0  ...      12      12      12

     6/5/20  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
249      12      12      12      12      12       12       12

[1 rows x 144 columns]
Hi
United Kingdom
Turks and Caicos Islands
Region
               Province/State  Country/Region  1/22/20  1/23/20  1/24/20  \
249  Turks and Caicos Islands  United Kingdom        0        0        0

     1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  \
249        0        0        0        0        0  ...       1       1       1

     6/5/20  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
249       1       1       1       1       1        1        1

[1 rows x 144 columns]
Hi
United Kingdom
Turks and Caicos Islands
Region
               Province/State  Country/Region  1/22/20  1/23/20  1/24/20  \
237  Turks and Caicos Islands  United Kingdom        0        0        0

     1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  \
237        0        0        0        0        0  ...      11      11      11

     6/5/20  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
237      11      11      11      11      11       11       11

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
250            NaN     MS Zaandam        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
250        0        0        0        0  ...       9       9       9       9

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
250       9       9       9       9        9        9

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
250            NaN     MS Zaandam        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
250        0        0        0        0  ...       2       2       2       2

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
250       2       2       2       2        2        2

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
238            NaN     MS Zaandam        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
238        0        0        0        0  ...       0       0       0       0

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
238       0       0       0       0        0        0

[1 rows x 144 columns]

/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
251            NaN       Botswana        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
251        0        0        0        0  ...      40      40      40      40

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
251      40      40      42      42       48       48

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
251            NaN       Botswana        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
251        0        0        0        0  ...       1       1       1       1

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
251       1       1       1       1        1        1

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
239            NaN       Botswana        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
239        0        0        0        0  ...      23      23      23      23

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
239      23      23      24      24       24       24

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
252            NaN        Burundi        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
252        0        0        0        0  ...      63      63      63      63

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
252      83      83      83      83       83       85

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
252            NaN        Burundi        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
252        0        0        0        0  ...       1       1       1       1

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
252       1       1       1       1        1        1

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
240            NaN        Burundi        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
240        0        0        0        0  ...      33      33      33      33

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
240      45      45      45      45       45       45

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
253            NaN   Sierra Leone        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
253        0        0        0        0  ...     896     909     914     929

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
253     946     969    1001    1025     1062     1085

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
253            NaN   Sierra Leone        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
253        0        0        0        0  ...      46      47      47      47

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
253      48      48      49      50       50       50

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
241            NaN   Sierra Leone        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
241        0        0        0        0  ...     480     491     491     580

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
241     600     608     611     621      637      642

[1 rows x 144 columns]
Hi
Netherlands
Bonaire, Sint Eustatius and Saba
Region
                       Province/State Country/Region  1/22/20  1/23/20  \
254  Bonaire, Sint Eustatius and Saba    Netherlands        0        0

     1/24/20  1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  \
254        0        0        0        0        0        0  ...       7

     6/3/20  6/4/20  6/5/20  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
254       7       7       7       7       7       7       7        7        7

[1 rows x 144 columns]
Hi
Netherlands
Bonaire, Sint Eustatius and Saba
Region
                       Province/State Country/Region  1/22/20  1/23/20  \
254  Bonaire, Sint Eustatius and Saba    Netherlands        0        0

     1/24/20  1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  \
254        0        0        0        0        0        0  ...       0

     6/3/20  6/4/20  6/5/20  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
254       0       0       0       0       0       0       0        0        0

[1 rows x 144 columns]

/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Hi
Netherlands
Bonaire, Sint Eustatius and Saba
Region
                       Province/State Country/Region  1/22/20  1/23/20  \
242  Bonaire, Sint Eustatius and Saba    Netherlands        0        0

     1/24/20  1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  \
242        0        0        0        0        0        0  ...       7

     6/3/20  6/4/20  6/5/20  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
242       7       7       7       7       7       7       7        7        7

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
255            NaN         Malawi        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
255        0        0        0        0  ...     358     369     393     409

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
255     409     438     443     455      455      481

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
255            NaN         Malawi        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
255        0        0        0        0  ...       4       4       4       4

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
255       4       4       4       4        4        4

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
243            NaN         Malawi        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
243        0        0        0        0  ...      42      51      51      55

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
243      55      55      55      55       55       55

[1 rows x 144 columns]
Hi
United Kingdom
Falkland Islands (Malvinas)
Region
                  Province/State  Country/Region  1/22/20  1/23/20  1/24/20  \
256  Falkland Islands (Malvinas)  United Kingdom        0        0        0

     1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  \
256        0        0        0        0        0  ...      13      13      13

     6/5/20  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
256      13      13      13      13      13       13       13

[1 rows x 144 columns]
Hi
United Kingdom
Falkland Islands (Malvinas)
Region
                  Province/State  Country/Region  1/22/20  1/23/20  1/24/20  \
256  Falkland Islands (Malvinas)  United Kingdom        0        0        0

     1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  \
256        0        0        0        0        0  ...       0       0       0

     6/5/20  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
256       0       0       0       0       0        0        0

[1 rows x 144 columns]

/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Hi
United Kingdom
Falkland Islands (Malvinas)
Region
                  Province/State  Country/Region  1/22/20  1/23/20  1/24/20  \
244  Falkland Islands (Malvinas)  United Kingdom        0        0        0

     1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  \
244        0        0        0        0        0  ...      13      13      13

     6/5/20  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
244      13      13      13      13      13       13       13

[1 rows x 144 columns]
Hi
France
Saint Pierre and Miquelon
Region
                Province/State Country/Region  1/22/20  1/23/20  1/24/20  \
257  Saint Pierre and Miquelon         France        0        0        0

     1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  \
257        0        0        0        0        0  ...       1       1       1

     6/5/20  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
257       1       1       1       1       1        1        1

[1 rows x 144 columns]
Hi
France
Saint Pierre and Miquelon
Region
                Province/State Country/Region  1/22/20  1/23/20  1/24/20  \
257  Saint Pierre and Miquelon         France        0        0        0

     1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  \
257        0        0        0        0        0  ...       0       0       0

     6/5/20  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
257       0       0       0       0       0        0        0

[1 rows x 144 columns]

/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Hi
France
Saint Pierre and Miquelon
Region
                Province/State Country/Region  1/22/20  1/23/20  1/24/20  \
245  Saint Pierre and Miquelon         France        0        0        0

     1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  \
245        0        0        0        0        0  ...       1       1       1

     6/5/20  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
245       1       1       1       1       1        1        1

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
258            NaN    South Sudan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
258        0        0        0        0  ...     994     994     994     994

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
258     994    1317    1604    1604     1604     1670

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
258            NaN    South Sudan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
258        0        0        0        0  ...      10      10      10      10

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
258      10      14      19      19       19       24

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
246            NaN    South Sudan        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
246        0        0        0        0  ...       6       6       6       6

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
246       6       6      15      15       15       48

[1 rows x 144 columns]
Region
    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
259            NaN  Western Sahara        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
259        0        0        0        0  ...       9       9       9       9

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
259       9       9       9       9        9        9

[1 rows x 144 columns]
Region
    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
259            NaN  Western Sahara        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
259        0        0        0        0  ...       1       1       1       1

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
259       1       1       1       1        1        1

[1 rows x 144 columns]
Region
    Province/State  Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
247            NaN  Western Sahara        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
247        0        0        0        0  ...       6       6       6       6

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
247       6       6       6       6        6        6

[1 rows x 144 columns]
Region
    Province/State         Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
260            NaN  Sao Tome and Principe        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
260        0        0        0        0  ...     484     484     485     499

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
260     499     513     513     514      611      632

[1 rows x 144 columns]
Region
    Province/State         Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
260            NaN  Sao Tome and Principe        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
260        0        0        0        0  ...      12      12      12      12

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
260      12      12      12      12       12       12

[1 rows x 144 columns]
Region
    Province/State         Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
248            NaN  Sao Tome and Principe        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
248        0        0        0        0  ...      68      68      68      68

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
248      68      68      68      76      135      146

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
261            NaN          Yemen        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
261        0        0        0        0  ...     399     419     453     469

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
261     482     484     496     524      560      591

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
261            NaN          Yemen        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
261        0        0        0        0  ...      87      95     103     111

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
261     111     112     112     127      129      136

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
249            NaN          Yemen        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
249        0        0        0        0  ...      15      17      17      23

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
249      23      23      23      23       23       23

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
264            NaN        Lesotho        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
264        0        0        0        0  ...       2       4       4       4

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
264       4       4       4       4        4        4

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
264            NaN        Lesotho        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
264        0        0        0        0  ...       0       0       0       0

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
264       0       0       0       0        0        0

[1 rows x 144 columns]

/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
252            NaN        Lesotho        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
252        0        0        0        0  ...       1       2       2       2

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
252       2       2       2       2        2        2

[1 rows x 144 columns]
Hi
US
Alabama
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
265        Alabama             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
265        0        0        0        0  ...   18766   18851   19072   19387

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
265   20043   20500   20925   21422    21989    22845

[1 rows x 144 columns]
Hi
US
Alabama
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
265        Alabama             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
265        0        0        0        0  ...     653     653     653     676

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
265     689     692     718     729      744      755

[1 rows x 144 columns]
Hi
US
Alaska
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
266         Alaska             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
266        0        0        0        0  ...     486     504     512     523

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
266     535     543     562     572      592      609

[1 rows x 144 columns]
Hi
US
Alaska
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
266         Alaska             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
266        0        0        0        0  ...      10      10      10      10

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
266      10      10      10      11       11       11

[1 rows x 144 columns]
Hi
US
American Samoa
Region
     Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
267  American Samoa             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
267        0        0        0        0  ...       0       0       0       0

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
267       0       0       0       0        0        0

[1 rows x 144 columns]

/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Hi
US
American Samoa
Region
     Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
267  American Samoa             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
267        0        0        0        0  ...       0       0       0       0

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
267       0       0       0       0        0        0

[1 rows x 144 columns]

/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:49: RuntimeWarning: invalid value encountered in double_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:50: RuntimeWarning: invalid value encountered in double_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:51: RuntimeWarning: invalid value encountered in double_scalars

Hi
US
Arizona
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
268        Arizona             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
268        1        1        1        1  ...   21264   22356   22886   24439

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
268   25451   26989   27678   28296    29852    31267

[1 rows x 144 columns]
Hi
US
Arizona
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
268        Arizona             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
268        0        0        0        0  ...     943     983     999    1015

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
268    1043    1051    1053    1076     1101     1135

[1 rows x 144 columns]
Hi
US
Arkansas
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
269       Arkansas             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
269        0        0        0        0  ...    7818    8067    8425    8651

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
269    9101    9426    9740   10080    10368    10816

[1 rows x 144 columns]
Hi
US
Arkansas
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
269       Arkansas             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
269        0        0        0        0  ...     136     142     151     152

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
269     154     154     155     161      165      171

[1 rows x 144 columns]
Hi
US
California
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
270     California             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
270        2        2        2        2  ...  117215  119348  122168  125738

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
270  128593  130615  133816  136641   139715   143377

[1 rows x 144 columns]
Hi
US
California
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
270     California             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
270        0        0        0        0  ...    4305    4374    4444    4529

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
270    4606    4632    4657    4745     4854     4934

[1 rows x 144 columns]
Hi
US
Colorado
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
271       Colorado             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
271        0        0        0        0  ...   26774   27046   27346   27601

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
271   27834   27987   28169   28333    28484    28632

[1 rows x 144 columns]
Hi
US
Colorado
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
271       Colorado             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
271        0        0        0        0  ...    1474    1494    1512    1524

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
271    1527    1527    1543    1553     1572     1582

[1 rows x 144 columns]
Hi
US
Connecticut
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
272    Connecticut             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
272        0        0        0        0  ...   42979   43091   43239   43460

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
272   43818   43968   44092   44179    44347    44461

[1 rows x 144 columns]
Hi
US
Connecticut
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
272    Connecticut             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
272        0        0        0        0  ...    3972    3989    4007    4038

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
272    4055    4071    4084    4097     4120     4146

[1 rows x 144 columns]
Hi
US
Delaware
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
273       Delaware             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
273        0        0        0        0  ...    9685    9712    9746    9773

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
273    9845    9942    9972   10020    10056    10106

[1 rows x 144 columns]
Hi
US
Delaware
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
273       Delaware             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
273        0        0        0        0  ...     373     375     386     388

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
273     390     398     398     410      413      414

[1 rows x 144 columns]
Hi
US
Diamond Princess
Region
       Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
274  Diamond Princess             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
274        0        0        0        0  ...      49      49      49      49

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
274      49      49      49      49       49       49

[1 rows x 144 columns]
Hi
US
Diamond Princess
Region
       Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
274  Diamond Princess             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
274        0        0        0        0  ...       0       0       0       0

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
274       0       0       0       0        0        0

[1 rows x 144 columns]

/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/home/chrysa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

Hi
US
District of Columbia
Region
           Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
275  District of Columbia             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
275        0        0        0        0  ...    8886    9016    9120    9199

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
275    9269    9332    9389    9474     9537     9589

[1 rows x 144 columns]
Hi
US
District of Columbia
Region
           Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
275  District of Columbia             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
275        0        0        0        0  ...     470     473     475     479

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
275     483     489     491     495      499      502

[1 rows x 144 columns]
Hi
US
Florida
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
276        Florida             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
276        0        0        0        0  ...   57447   58764   60183   61488

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
276   62758   63938   64904   66000    67371    69069

[1 rows x 144 columns]
Hi
US
Florida
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
276        Florida             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
276        0        0        0        0  ...    2530    2566    2607    2660

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
276    2688    2700    2712    2765     2801     2848

[1 rows x 144 columns]
Hi
US
Georgia
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
277        Georgia             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
277        0        0        0        0  ...   48207   48894   49859   50621

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
277   51359   51898   52497   53249    53980    54973

[1 rows x 144 columns]
Hi
US
Georgia
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
277        Georgia             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
277        0        0        0        0  ...    2102    2123    2149    2174

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
277    2178    2180    2208    2285     2329     2375

[1 rows x 144 columns]
Hi
US
Grand Princess
Region
     Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
278  Grand Princess             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
278        0        0        0        0  ...     103     103     103     103

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
278     103     103     103     103      103      103

[1 rows x 144 columns]
Hi
US
Grand Princess
Region
     Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
278  Grand Princess             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
278        0        0        0        0  ...       3       3       3       3

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
278       3       3       3       3        3        3

[1 rows x 144 columns]
Hi
US
Guam
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
279           Guam             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
279        0        0        0        0  ...     175     177     179     179

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
279     179     179     179     180      180      183

[1 rows x 144 columns]
Hi
US
Guam
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
279           Guam             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
279        0        0        0        0  ...       5       5       5       5

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
279       5       5       5       5        5        5

[1 rows x 144 columns]
Hi
US
Hawaii
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
280         Hawaii             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
280        0        0        0        0  ...     653     653     655     664

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
280     673     675     676     682      685      692

[1 rows x 144 columns]
Hi
US
Hawaii
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
280         Hawaii             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
280        0        0        0        0  ...      17      17      17      17

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
280      17      17      17      17       17       17

[1 rows x 144 columns]
Hi
US
Idaho
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
281          Idaho             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
281        0        0        0        0  ...    2933    2933    2990    3111

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
281    3139    3139    3189    3221     3260     3260

[1 rows x 144 columns]
Hi
US
Idaho
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
281          Idaho             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
281        0        0        0        0  ...      83      83      83      83

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
281      83      83      83      85       85       85

[1 rows x 144 columns]
Hi
US
Illinois
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
282       Illinois             US        0        0        1        1

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
282        1        1        1        1  ...  122848  123830  124759  125915

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
282  126890  127757  128415  129212   129837   130603

[1 rows x 144 columns]
Hi
US
Illinois
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
282       Illinois             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
282        0        0        0        0  ...    5525    5621    5736    5795

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
282    5864    5904    5924    6018     6095     6185

[1 rows x 144 columns]
Hi
US
Indiana
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
283        Indiana             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
283        0        0        0        0  ...   35237   35712   36096   36578

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
283   36997   37397   37623   38033    38337    38748

[1 rows x 144 columns]
Hi
US
Indiana
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
283        Indiana             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
283        0        0        0        0  ...    2197    2207    2231    2258

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
283    2292    2303    2316    2339     2355     2380

[1 rows x 144 columns]

Hi
US
Iowa
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
284           Iowa             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
284        0        0        0        0  ...   20019   20300   20806   21154

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
284   21478   21712   22007   22237    22626    22973

[1 rows x 144 columns]
Hi
US
Iowa
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
284           Iowa             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
284        0        0        0        0  ...     561     574     583     593

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
284     599     605     617     626      631      640

[1 rows x 144 columns]
Hi
US
Kansas
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
285         Kansas             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
285        0        0        0        0  ...    9965   10092   10167   10306

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
285   10361   10406   10544   10609    10750    10823

[1 rows x 144 columns]
Hi
US
Kansas
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
285         Kansas             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
285        0        0        0        0  ...     222     226     227     232

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
285     233     233     236     237      240      243

[1 rows x 144 columns]
Hi
US
Kentucky
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
286       Kentucky             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
286        0        0        0        0  ...   10185   10410   10705   10977

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
286   11287   11287   11476   11707    11883    11945

[1 rows x 144 columns]
Hi
US
Kentucky
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
286       Kentucky             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
286        0        0        0        0  ...     442     450     458     466

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
286     470     470     472     477      484      493

[1 rows x 144 columns]
Hi
US
Louisiana
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
287      Louisiana             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
287        0        0        0        0  ...   40746   41133   41562   41989

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
287   42486   42816   43050   43612    44030    44472

[1 rows x 144 columns]
Hi
US
Louisiana
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
287      Louisiana             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
287        0        0        0        0  ...    2835    2870    2883    2912

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
287    2925    2936    2944    2957     2968     2987

[1 rows x 144 columns]
Hi
US
Maine
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
288          Maine             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
288        0        0        0        0  ...    2377    2418    2446    2482

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
288    2524    2570    2588    2606     2637     2667

[1 rows x 144 columns]
Hi
US
Maine
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
288          Maine             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
288        0        0        0        0  ...      94      95      95      98

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
288      98      99      99     100      100      100

[1 rows x 144 columns]
Hi
US
Maryland
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
289       Maryland             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
289        0        0        0        0  ...   54175   54982   55858   56770

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
289   57482   57973   58404   58904    59465    60197

[1 rows x 144 columns]
Hi
US
Maryland
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
289       Maryland             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
289        0        0        0        0  ...    2597    2641    2668    2702

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
289    2740    2749    2776    2811     2844     2875

[1 rows x 144 columns]
Hi
US
Massachusetts
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
290  Massachusetts             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
290        0        0        0        0  ...  101163  101592  102063  102557

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
290  103132  103436  103626  103889   104156   104667

[1 rows x 144 columns]
Hi
US
Massachusetts
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
290  Massachusetts             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
290        0        0        0        0  ...    7085    7152    7201    7235

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
290    7289    7316    7353    7408     7454     7492

[1 rows x 144 columns]
Hi
US
Michigan
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
291       Michigan             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
291        0        0        0        0  ...   57731   58035   58241   63777

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
291   64229   64648   64944   64998    65182    65449

[1 rows x 144 columns]
Hi
US
Michigan
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
291       Michigan             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
291        0        0        0        0  ...    5553    5570    5595    5854

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
291    5894    5898    5916    5948     5955     5985

[1 rows x 144 columns]
Hi
US
Minnesota
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
292      Minnesota             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
292        0        0        0        0  ...   25508   25870   26273   26980

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
292   27501   27886   28224   28523    28869    29316

[1 rows x 144 columns]
Hi
US
Minnesota
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
292      Minnesota             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
292        0        0        0        0  ...    1082    1097    1126    1159

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
292    1181    1197    1208    1228     1267     1280

[1 rows x 144 columns]

Hi
US
Mississippi
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
293    Mississippi             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
293        0        0        0        0  ...   16041   16322   16560   16769

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
293   17039   17270   17768   18123    18483    18483

[1 rows x 144 columns]
Hi
US
Mississippi
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
293    Mississippi             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
293        0        0        0        0  ...     767     782     794     803

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
293     811     817     837     847      868      868

[1 rows x 144 columns]
Hi
US
Missouri
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
294       Missouri             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
294        0        0        0        0  ...   14015   14189   14438   14572

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
294   14951   15023   15158   15352    15512    15699

[1 rows x 144 columns]
Hi
US
Missouri
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
294       Missouri             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
294        0        0        0        0  ...     786     791     795     805

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
294     815     815     823     845      851      862

[1 rows x 144 columns]
Hi
US
Montana
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
295        Montana             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
295        0        0        0        0  ...     523     525     539     541

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
295     540     545     548     554      561      563

[1 rows x 144 columns]
Hi
US
Montana
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
295        Montana             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
295        0        0        0        0  ...      17      17      17      18

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
295      18      18      18      18       18       18

[1 rows x 144 columns]
Hi
US
Nebraska
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
296       Nebraska             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
296        0        0        0        0  ...   14616   14885   15139   15406

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
296   15572   15664   15786   15918    16058    16315

[1 rows x 144 columns]
Hi
US
Nebraska
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
296       Nebraska             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
296        0        0        0        0  ...     170     170     187     187

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
296     187     187     188     189      191      212

[1 rows x 144 columns]
Hi
US
Nevada
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
297         Nevada             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
297        0        0        0        0  ...    8858    8951    9129    9309

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
297    9491    9669    9816   10045    10218    10473

[1 rows x 144 columns]
Hi
US
Nevada
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
297         Nevada             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
297        0        0        0        0  ...     417     431     430     436

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
297     437     438     442     446      449      459

[1 rows x 144 columns]
Hi
US
New Hampshire
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
298  New Hampshire             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
298        0        0        0        0  ...    4749    4795    4876    4953

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
298    5019    5043    5079    5079     5178     5209

[1 rows x 144 columns]
Hi
US
New Hampshire
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
298  New Hampshire             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
298        0        0        0        0  ...     256     265     273     278

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
298     283     286     286     286      301      308

[1 rows x 144 columns]
Hi
US
New Jersey
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
299     New Jersey             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
299        0        0        0        0  ...  161545  162068  162530  163336

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
299  163893  164164  164497  164796   165346   165816

[1 rows x 144 columns]
Hi
US
New Jersey
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
299     New Jersey             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
299        0        0        0        0  ...   11771   11880   11970   12049

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
299   12106   12176   12214   12303    12377    12443

[1 rows x 144 columns]
Hi
US
New Mexico
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
300     New Mexico             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
300        0        0        0        0  ...    8024    8140    8353    8672

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
300    8800    8940    9062    9105     9250     9367

[1 rows x 144 columns]
Hi
US
New Mexico
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
300     New Mexico             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
300        0        0        0        0  ...     367     375     383     387

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
300     392     396     400     404      410      420

[1 rows x 144 columns]
Hi
US
New York
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
301       New York             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
301        0        0        0        0  ...  373040  374085  375133  376208

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
301  377316  378097  378799  379482   380156   380892

[1 rows x 144 columns]
Hi
US
New York
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
301       New York             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
301        0        0        0        0  ...   29968   30019   30174   30236

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
301   30280   30374   30417   30458    30542    30580

[1 rows x 144 columns]

Hi
US
North Carolina
Region
     Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
302  North Carolina             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
302        0        0        0        0  ...   30023   31276   32075   33295

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
302   34718   35625   36517   37227    38473    39584

[1 rows x 144 columns]
Hi
US
North Carolina
Region
     Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
302  North Carolina             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
302        0        0        0        0  ...     961     999    1006    1015

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
302    1028    1032    1041    1068     1090     1106

[1 rows x 144 columns]
Hi
US
North Dakota
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
303   North Dakota             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
303        0        0        0        0  ...    2646    2679    2706    2745

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
303    2816    2861    2880    2901     2941     2980

[1 rows x 144 columns]
Hi
US
North Dakota
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
303   North Dakota             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
303        0        0        0        0  ...      65      66      66      71

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
303      72      72      72      72       73       74

[1 rows x 144 columns]
Hi
US
Northern Mariana Islands
Region
               Province/State Country/Region  1/22/20  1/23/20  1/24/20  \
304  Northern Mariana Islands             US        0        0        0

     1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  \
304        0        0        0        0        0  ...      23      24      26

     6/5/20  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
304      26      26      27      28      30       30       30

[1 rows x 144 columns]
Hi
US
Northern Mariana Islands
Region
               Province/State Country/Region  1/22/20  1/23/20  1/24/20  \
304  Northern Mariana Islands             US        0        0        0

     1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  \
304        0        0        0        0        0  ...       2       2       2

     6/5/20  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
304       2       2       2       2       2        2        2

[1 rows x 144 columns]
Hi
US
Ohio
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
305           Ohio             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
305        0        0        0        0  ...   36350   36792   37282   37758

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
305   38111   38476   38837   39162    39575    40004

[1 rows x 144 columns]
Hi
US
Ohio
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
305           Ohio             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
305        0        0        0        0  ...    2259    2300    2340    2357

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
305    2372    2379    2406    2423     2459     2492

[1 rows x 144 columns]
Hi
US
Oklahoma
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
306       Oklahoma             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
306        0        0        0        0  ...    6692    6805    6907    7007

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
306    7059    7150    7205    7363     7483     7626

[1 rows x 144 columns]
Hi
US
Oklahoma
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
306       Oklahoma             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
306        0        0        0        0  ...     339     341     344     345

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
306     347     348     348     354      356      358

[1 rows x 144 columns]
Hi
US
Oregon
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
307         Oregon             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
307        0        0        0        0  ...    4335    4399    4474    4570

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
307    4570    4662    4922    4988     5060     5237

[1 rows x 144 columns]
Hi
US
Oregon
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
307         Oregon             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
307        0        0        0        0  ...     157     159     159     161

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
307     161     163     164     169      169      171

[1 rows x 144 columns]
Hi
US
Pennsylvania
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
308   Pennsylvania             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
308        0        0        0        0  ...   77225   77780   78335   78815

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
308   79505   79908   80339   80870    81316    81848

[1 rows x 144 columns]
Hi
US
Pennsylvania
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
308   Pennsylvania             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
308        0        0        0        0  ...    5667    5742    5832    5898

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
308    5931    5943    5953    6014     6062     6113

[1 rows x 144 columns]
Hi
US
Puerto Rico
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
309    Puerto Rico             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
309        0        0        0        0  ...    3935    4023    4508    4620

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
309    4915    4985    5046    5185     5329     5352

[1 rows x 144 columns]
Hi
US
Puerto Rico
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
309    Puerto Rico             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
309        0        0        0        0  ...     138     140     140     141

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
309     142     142     142     142      143      144

[1 rows x 144 columns]
Hi
US
Rhode Island
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
310   Rhode Island             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
310        0        0        0        0  ...   15112   15219   15325   15441

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
310   15441   15441   15642   15691    15756    15862

[1 rows x 144 columns]
Hi
US
Rhode Island
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
310   Rhode Island             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
310        0        0        0        0  ...     732     742     756     772

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
310     772     772     799     808      812      823

[1 rows x 144 columns]

Hi
US
South Carolina
Region
     Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
311  South Carolina             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
311        0        0        0        0  ...   12415   12415   12415   13453

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
311   13453   14286   14800   15228    15759    16441

[1 rows x 144 columns]
Hi
US
South Carolina
Region
     Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
311  South Carolina             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
311        0        0        0        0  ...     501     501     501     539

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
311     539     546     557     568      575      588

[1 rows x 144 columns]
Hi
US
South Dakota
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
312   South Dakota             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
312        0        0        0        0  ...    5067    5162    5247    5277

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
312    5367    5438    5471    5523     5604     5665

[1 rows x 144 columns]
Hi
US
South Dakota
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
312   South Dakota             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
312        0        0        0        0  ...      62      62      64      64

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
312      65      65      65      68       69       73

[1 rows x 144 columns]
Hi
US
Tennessee
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
313      Tennessee             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
313        0        0        0        0  ...   24342   24833   25190   25664

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
313   26177   26493   27005   27575    27930    28340

[1 rows x 144 columns]
Hi
US
Tennessee
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
313      Tennessee             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
313        0        0        0        0  ...     381     388     401     408

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
313     417     418     421     435      437      441

[1 rows x 144 columns]
Hi
US
Texas
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
314          Texas             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
314        0        0        0        0  ...   67310   68877   70555   72548

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
314   74470   75408   76463   78208    80777    82658

[1 rows x 144 columns]
Hi
US
Texas
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
314          Texas             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
314        0        0        0        0  ...    1716    1744    1776    1812

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
314    1833    1841    1848    1867     1905     1930

[1 rows x 144 columns]
Hi
US
Utah
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
315           Utah             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
315        0        0        0        0  ...   10202   10497   10813   11252

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
315   11798   12066   12322   12559    12864    13252

[1 rows x 144 columns]
Hi
US
Utah
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
315           Utah             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
315        0        0        0        0  ...     113     117     117     120

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
315     121     121     124     127      128      131

[1 rows x 144 columns]
Hi
US
Vermont
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
316        Vermont             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
316        0        0        0        0  ...     988     990    1026    1027

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
316    1046    1063    1075    1084     1095     1110

[1 rows x 144 columns]
Hi
US
Vermont
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
316        Vermont             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
316        0        0        0        0  ...      55      55      55      55

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
316      55      55      55      55       55       55

[1 rows x 144 columns]
Hi
US
Virgin Islands
Region
     Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
317  Virgin Islands             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
317        0        0        0        0  ...      70      70      71      71

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
317      71      71      71      71       72       72

[1 rows x 144 columns]
Hi
US
Virgin Islands
Region
     Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
317  Virgin Islands             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
317        0        0        0        0  ...       6       6       6       6

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
317       6       6       6       6        6        6

[1 rows x 144 columns]
Hi
US
Virginia
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
318       Virginia             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
318        0        0        0        0  ...   46239   46905   47856   48532

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
318   49397   50681   51251   51738    52177    52647

[1 rows x 144 columns]
Hi
US
Virginia
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
318       Virginia             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
318        0        0        0        0  ...    1407    1428    1445    1454

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
318    1461    1472    1477    1496     1514     1520

[1 rows x 144 columns]
Hi
US
Washington
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
319     Washington             US        1        1        1        1

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
319        1        1        1        1  ...   22157   22484   22729   22993

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
319   23442   23729   24041   24354    24354    24779

[1 rows x 144 columns]
Hi
US
Washington
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
319     Washington             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
319        0        0        0        0  ...    1129    1135    1138    1149

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
319    1153    1157    1161    1176     1176     1194

[1 rows x 144 columns]

Hi
US
West Virginia
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
320  West Virginia             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
320        0        0        0        0  ...    2056    2077    2102    2119

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
320    2136    2144    2161    2169     2194     2217

[1 rows x 144 columns]
Hi
US
West Virginia
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
320  West Virginia             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
320        0        0        0        0  ...      78      78      79      84

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
320      84      84      84      84       85       86

[1 rows x 144 columns]
Hi
US
Wisconsin
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
321      Wisconsin             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
321        0        0        0        0  ...   18917   19400   19892   20249

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
321   20571   20835   21038   21308    21593    21926

[1 rows x 144 columns]
Hi
US
Wisconsin
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
321      Wisconsin             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
321        0        0        0        0  ...     607     616     626     633

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
321     645     647     646     661      671      682

[1 rows x 144 columns]
Hi
US
Wyoming
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
322        Wyoming             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
322        0        0        0        0  ...     912     915     921     933

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
322     939     947     960     970      980     1009

[1 rows x 144 columns]
Hi
US
Wyoming
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
322        Wyoming             US        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
322        0        0        0        0  ...      17      17      17      17

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
322      17      17      17      17       18       18

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
323            NaN         Canada        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
323        1        1        2        2  ...   93960   94641   95269   95947

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
323   96475   97178   97779   98241    98720    99159

[1 rows x 144 columns]
Region
    Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  \
323            NaN         Canada        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  \
323        0        0        0        0  ...    7477    7578    7716    7777

     6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
323    7849    7876    7909    7969     8037     8070

[1 rows x 144 columns]
Region
   Province/State Country/Region  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
36            NaN         Canada        0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20  \
36        0        0        0  ...   50725   51506   52184   53074   54087

    6/7/20  6/8/20  6/9/20  6/10/20  6/11/20
36   54675   55343   56117    57215    58131

[1 rows x 144 columns]